@import "variables";

/* BEGIN STYLE */

.abou01 {
    text-align: center;
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include small-device {
        padding: 40px 0;
    }

    &__title {
        font-size: $T2;
        font-family: $font-primary;
        color: $color-one;
        display: block;

        @include small-device {
            font-size: $T2-mobile;
        }
    }
    &__subtitle {
        font-size: $T4;
        font-family: $font-primary;
        color: $color-one;
        display: block;

        @include small-device {
            font-size: $T4-mobile;
        }
    }
    &__line {
        width: 100%;
        background-color: $color-one;
        margin: 30px 0;
    }
    &__paragraph {
        font: $paragraph;
        font-weight: $weight-500;
        padding: 0 30px;
        color: $color-one;
        line-height: 25px;

        @include small-device {
            font: $paragraph-mobile;
        }
    }
    &__cta {
        font: $paragraph;
        font-weight: $weight-700;
        color: $color-black;
        display: block;
        margin: 30px auto 0;
        max-width: 177px;
        padding: 10px 15px;
        background-color: $bg-soft;

        &:hover {
            color: $color-white;
            background-color: $bg-black;
        }

        &:hover &__icon {
            filter: invert(1) grayscale(1);
        }

        @include small-device {
            font: $paragraph-mobile;
        }
    }
}
// END .abou01

.abou01-page {
    &__banner {
        @include backG;
        @include disFlex(column, start, center);

        height: 352px;
        padding: 112px 5vw 92px;

        &__title {
            font: 700 $T1 $font-primary;
            text-align: center;
            line-height: 140%;
            color: $color-black;

            margin-bottom: 1.5rem;

            @include large-device-down {
                font-size: $T1-mobile;
            }
        }

        &__subtitle {
            font-size: 700 $T4 $font-primary;
            color: $color-two;
            text-align: center;
            margin-bottom: 1.75rem;

            @include large-device-down {
                font-size: $T4-mobile;
            }
        }

        &__line {
            width: 100%;
            max-width: 610px;
            border-top: 1px solid $color-black;
        }
    }

    &__main {
        @include backG;
        @include disFlex($justify: space-between);

        padding: 48px 5vw 0;

        @include large-device-down {
            flex-direction: column;
            gap: 80px;

            padding: 48px 5vw;
        }

        &:has(&__image) &__information {
            width: 65%;

            @include large-device-down {
                width: 100%;
            }
        }

        &__information {
            @include disFlex(column, start, start);

            padding-bottom: 40px;
            width: 100%;

            @include large-device-down {
                width: 100%;
                padding-bottom: 0px;
            }

            &__header {
                margin-bottom: 30px;
                width: 100%;

                &__title {
                    font: 700 $T2 $font-primary;
                    line-height: 100%;
                    text-align: left;
                    color: $color-black;

                    margin-bottom: 1.5rem;

                    @include large-device-down {
                        font-size: $T2-mobile;
                    }
                }

                &__subtitle {
                    font-size: 700 $T4 $font-primary;
                    color: $color-two;
                    text-align: left;
                    margin-bottom: 1.75rem;

                    @include large-device-down {
                        font-size: $T4-mobile;
                    }
                }
            }

            &__paragraph {
                font: $paragraph;
                line-height: 170%;
                color: $color-one;

                @include large-device-down {
                    font-size: $P1-mobile;
                }
            }
        }

        &:has(&__information) &__image {
            width: 30%;

            @include large-device-down {
                width: 100%;
            }
        }

        &__image {
            width: 100%;
            height: 517px;

            @include large-device-down {
                width: 100%;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center bottom;
            }
        }
    }

    &__topics {
        @include backG;

        padding: 125px 5vw;

        &__content {
            min-height: 100%;

            &:hover {
                transform: scale(1.01);
            }
        }

        &__carousel {
            width: 100%;

            &:not(.owl-carousel) {
                @include disFlex;
                gap: 26px;
                flex-wrap: wrap;
            }
        }

        &__item {
            @include disFlex(column);
            width: 100%;
            padding: 2.8rem 2.25rem;

            background-color: $color-four;

            &__header {
                @include disFlex;
                margin-bottom: 28px;

                &__icon {
                    width: 32px !important;
                    height: auto;
                    aspect-ratio: 1/1;
                    margin-right: 19px;
                    object-fit: contain;
                    object-position: center;
                }

                &__title {
                    font: 700 $T3 $font-primary;
                    color: $color-black;
                    text-align: left;
                    margin-bottom: 0;

                    @include large-device-down {
                        font-size: $T3-mobile;
                    }
                }
            }

            &__paragraph {
                font: $paragraph;
                color: $color-two;
                text-align: left;
                line-height: 170%;

                @include large-device-down {
                    font-size: $P1-mobile;
                }
            }
        }
    }
    // END __topic

    &__section {
        @extend .abou01-page__main;

        &__information {
            @extend .abou01-page__main__information;

            &__header {
                @extend .abou01-page__main__information__header;

                &__title {
                    @extend .abou01-page__main__information__header__title;
                }

                &__subtitle {
                    @extend .abou01-page__main__information__header__subtitle;
                }
            }

            &__paragraph {
                @extend .abou01-page__main__information__paragraph;
            }

            &__cta {
                @include disFlex(row, center, center);
                align-self: end;
                padding: 0.5rem 2.5rem;
                margin-top: 1rem;

                font: 700 $P1 $font-primary;
                color: $color-black;
                text-align: center;

                background-color: #f2f2f2;

                &__icon {
                    height: auto;
                    width: 1.5rem;
                    margin-right: 1rem;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        &__image {
            @extend .abou01-page__main__image;

            // NEXT: CTA
            &__img {
                @extend .abou01-page__main__image__img;
            }
        }
    }
    // END __section
}

// END .abou01-page
