@import "variables";

/* BEGIN STYLE */

.abou01 {
    overflow: hidden; /* prevenção do shift da animação*/
    @extend %theme__padding;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 3rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
            text-align: center;
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    &__paragraph {
        width: 100%;
        max-width: 1206px;
        margin: 0 auto 2rem;

        @extend %theme__p1-c2;
        text-align: center;
    }

    &__cta {
        @extend %theme__cta;
        margin-inline: auto;
    }
}
// END .abou01

.abou01-page {
    &__banner {
        @extend %theme__banner;
        padding-top: 14rem;

        &__title {
            @extend %theme__banner__title;
            width: 100%;
            max-width: 200px;
        }
    }

    &__top {
        @extend %theme__padding;
        padding-right: 10vw;
        @include disFlex(row, space-between, center);

        &__title {
            color:#2E368E;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            width: 100%;
            max-width: 415px;
        }

        &__paragraph {
            color: #242424;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            width: 100%;
            max-width: 415px;
        }
    }

    &__main {
        @include disFlex($justify: space-between);
        background-color: #1A2069;

        // @extend %theme__padding;
        // padding-bottom: 0;

        @include large-device-down {
            flex-direction: column;
            gap: 5rem;

            padding-bottom: 3rem;
        }

        &:has(&__image) &__information {
            width: 50%;

            @include large-device-down {
                width: 100%;
            }
        }

        &:has(&__information) &__image {
            width: 50%;

            @include large-device-down {
                width: 100%;
            }
        }

        &__information {
            @include disFlex(column, center);
            padding: 4rem 5rem;
            padding-right: 9vw;
            clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);

            &__header {

                &__title {
                    color:#FFF;
                    text-align: right;
                    font-family: $font-primary;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    width: 100%;
                    max-width: 290px;
                    margin: 0 0 20px auto;
                }

            }

            &__paragraph {
                color: #FFF;
                text-align: right;
                font-family: $font-primary;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                width: 100%;
                max-width: 370px;
                margin: 0 0 0 auto;
            }

            &__cta {
                @extend %theme__cta--two;
                background-color: #FFF;
                color: #1A2069;
                margin: 40px 0 0 auto;

                &:hover {
                    border: 1px solid #FFF;
                    color: #FFF;
                }

                span {
                    transform: skew(10deg, 0deg) !important;
                }
            }
        }

        &__image {
            width: 100%;
            height: auto;
            // aspect-ratio: 436/528;
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);

            &__img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__topics {
        @extend %theme__padding;
        padding-left: 7vw;
        padding-right: 10vw;

        &__title {
            color: #2E368E;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
            width: 100%;
            max-width: 950px;
        }

        &__item {
            @extend %theme__accordion__item;

            &__title {
                @extend %theme__accordion__item__title;

                &__icon {
                    @extend %theme__accordion__item__title__icon;
                }
            }

            &__paragraph {
                @extend %theme__accordion__item__paragraph;
            }
        }
    }

    &__section {
        @extend .abou01-page__main;
        flex-direction: row-reverse;
        position: relative;
        height: 573px;

        &__information {
            @extend .abou01-page__main__information;
            padding-left: 7vw;
            width: 100% !important;

            &__header {
                @extend .abou01-page__main__information__header;

                &__title {
                    @extend .abou01-page__main__information__header__title;
                    text-align: left;
                    margin: 0;
                    margin-bottom: 20px;
                }

            }

            &__paragraph {
                @extend .abou01-page__main__information__paragraph;
                text-align: left;
                margin: 0;
                width: 100%;
                max-width: 480px;
            }

            &__cta {
                @extend %theme__cta--two;
                background-color: #FFF;
                color: #1A2069;
                margin-top: 37px;

                &:hover {
                    border: 1px solid #FFF;
                    color: #FFF;
                }

                span {
                    transform: skew(10deg, 0deg) !important;
                }
            }
        }

        &__image {
            @extend .abou01-page__main__image;
            height: auto;
            aspect-ratio: 964/763;
            position: absolute;
            z-index: 1;
            bottom: 0;

            &__img {
                @extend .abou01-page__main__image__img;
            }
        }
    }
}
