@import "variables";

/* BEGIN STYLE */
.serv09 {
    overflow: hidden; /* prevenção do shift da animação*/
    @extend %theme__padding;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 2rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__paragraph {
            width: 100%;
            max-width: 938px;

            @extend %theme__p1-c2;
            text-align: center;
        }
    }

    &__categories {
        margin-bottom: 3.5rem;

        &__item {
            @extend %theme__category;

            &__icon {
                width: 2rem;
                height: auto;
                aspect-ratio: 1/1;

                margin-right: 0.5rem;

                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__main {
        @include disFlex(column);
        width: 100%;

        &__carousel {
            overflow: hidden;

            @include large-device-down {
                overflow: visible;
            }

            @extend %theme__pagination;
        }

        &__item {
            @include disFlex;
            width: calc(50% - 0.5rem);
            position: relative;
            height: auto;

            @include large-device-down {
                flex-direction: column-reverse;
                width: 290px;
            }

            &__information {
                width: 50%;
                padding: 2rem 1.25rem;
                background-color: $color-five;

                @include disFlex(column, start, start);

                @include large-device-down {
                    width: 100%;
                }

                &__title {
                    @extend %theme__t3-c1;
                    margin-bottom: 0.5rem;
                }

                &__subtitle {
                    @extend %theme__t5-c2;
                }

                &__price {
                    @extend %theme__p1-c3;
                    margin-bottom: 1.25rem;
                }

                &__paragraph {
                    @extend %theme__p1-c2;
                    margin-bottom: 2rem;
                }

                &__topics {
                    @include disFlex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    width: 100%;
                    margin-bottom: 0.5rem;

                    padding-left: 0;
                    list-style: none;

                    &__item {
                        @include disFlex(row, start, center);
                        @extend %theme__p2-cb;
                        font-weight: 700;

                        &__icon {
                            width: 1rem;
                            height: auto;
                            margin-right: 0.5rem;

                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }

                &__progress {
                    @include disFlex(row, start, center);
                    gap: 0.5rem;
                    flex-wrap: wrap;
                    width: 100%;

                    &__title {
                        width: 100%;
                        @extend %theme__p1-cb;
                    }

                    &__bar {
                        height: 0.5rem;
                        width: auto;
                        flex: 1 0 auto;
                        background-color: $color-white;

                        &__fill {
                            display: block;
                            height: 100%;
                            background-color: $color-black;
                            margin: 0 auto 0 0;
                        }
                    }

                    &__number {
                        @extend %theme__p2-c2;
                    }
                }
            }

            &__image {
                width: 50%;
                height: auto;
                object-fit: cover;
                object-position: center;

                @include large-device-down {
                    width: 100%;
                    aspect-ratio: 290/262;
                }
            }
        }

        &__cta {
            @extend %theme__cta;
            align-self: end;
        }
    }
}

.serv09-page {
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__aside {
        @extend %theme__padding;
        @include disFlex(row, space-between, center);
        flex-wrap: wrap;
        width: 100%;

        &__categories {
            width: 75%;
            overflow: hidden;

            @include medium-device-down {
                width: 100%;
                margin-bottom: 1rem;
                overflow: visible;
            }

            &__swiper-wrapper {
                padding-left: 0;
            }

            &__item {
                @extend .serv09__categories__item;

                &__icon {
                    @extend .serv09__categories__item__icon;
                }
            }
        }

        &__filter {
            @include disFlex(row, end, center);
            width: 10rem;
            position: relative;

            @include medium-device-down {
                width: 100%;
            }

            &__btn {
                @include disFlex;
                gap: 1rem;
                padding-right: 0;
                padding: 0.5rem;

                @extend %theme__p2-cb;
                font-weight: 700;

                &::after {
                    display: none;
                }
            }

            &__content {
                padding: 1rem;
                top: 100%;

                &__form {
                    &__cta {
                        @extend %theme__cta;
                    }
                }
            }
        }
    }

    &__main {
        @include disFlex(column, start, center);
        @extend %theme__padding;
        padding-top: 0;

        &__list {
            @include disFlex;
            flex-wrap: wrap;
            gap: 1rem;

            margin-bottom: 1.5rem;

            &__item {
                @extend .serv09__main__item;

                @include large-device-down {
                    width: calc(50% - 0.5rem);
                }

                @include medium-device-down {
                    width: 100%;
                }

                &__information {
                    @extend .serv09__main__item__information;

                    &__title {
                        @extend .serv09__main__item__information__title;
                    }

                    &__subtitle {
                        @extend .serv09__main__item__information__subtitle;
                    }

                    &__price {
                        @extend .serv09__main__item__information__price;
                    }

                    &__paragraph {
                        @extend .serv09__main__item__information__paragraph;
                    }

                    &__topics {
                        @extend .serv09__main__item__information__topics;

                        &__item {
                            @extend .serv09__main__item__information__topics__item;

                            &__icon {
                                @extend .serv09__main__item__information__topics__item__icon;
                            }
                        }
                    }

                    &__progress {
                        @extend .serv09__main__item__information__progress;

                        &__title {
                            @extend .serv09__main__item__information__progress__title;
                        }

                        &__bar {
                            @extend .serv09__main__item__information__progress__bar;

                            &__fill {
                                @extend .serv09__main__item__information__progress__bar__fill;
                            }
                        }

                        &__number {
                            @extend .serv09__main__item__information__progress__number;
                        }
                    }
                }

                &__image {
                    @extend .serv09__main__item__image;
                }
            }
        }

        .pagination {
            .page-item {
                gap: 0 0.75rem;

                &:first-of-type,
                &:last-of-type {
                    display: none;
                }
                &.active .page-link,
                &:hover .page-link {
                    background-color: $color-one;
                    border: 1px solid $color-one !important;
                    color: $color-white;
                }
                .page-link {
                    @extend %theme__p1-cb;
                    font-weight: $weight-700;
                    background-color: $color-three;
                    border: 1px solid $color-three !important;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

.serv09-show {
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }

        &__progress {
            @extend .serv09__main__item__information__progress;
            width: 356px;

            &__title {
                @extend .serv09__main__item__information__progress__title;
            }

            &__bar {
                @extend .serv09__main__item__information__progress__bar;

                &__fill {
                    @extend .serv09__main__item__information__progress__bar__fill;
                }
            }

            &__number {
                @extend .serv09__main__item__information__progress__number;
            }
        }
    }

    &__topics {
        @extend %theme__padding;
        width: 100%;

        &__item {
            @include disFlex(column, center, center);
            width: 186px; //calc(16.7% - 15px);
            padding: 1.5rem 1rem;
            gap: 2rem;

            &__icon {
                width: 4rem;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
                object-position: center;
            }

            &__title {
                @extend %theme__t3-cb;
                text-align: center;
            }
        }
    }

    &__main {
        @extend %theme__padding;
        @include disFlex(row, space-between, start);
        flex-wrap: wrap;

        &__information {
            @include disFlex(column);
            width: 50%;

            @include large-device-down {
                width: 100%;
                margin-bottom: 7rem;
            }

            &__title {
                @extend %theme__t2-cb;
                text-align: left;
            }

            &__subtitle {
                @extend %theme__t4-cb;
                text-align: left;
                margin-bottom: 2rem;
            }

            &__paragraph {
                @extend %theme__p1-c2;
                margin-bottom: 3rem;
            }

            &__topics {
                @extend .serv09__main__item__information__topics;

                &__item {
                    @extend .serv09__main__item__information__topics__item;

                    &__icon {
                        @extend .serv09__main__item__information__topics__item__icon;
                    }
                }
            }
        }

        &__form-area {
            @include disFlex(column);
            width: 35%;

            @include large-device-down {
                width: 100%;
            }

            &__title {
                @extend %theme__t4-c2;
                text-align: left;
                margin-bottom: 0.5rem;
            }

            &__price {
                @extend %theme__t2-c1;
                text-align: left;
                margin-bottom: 0.5rem;
            }

            &__paragraph {
                @extend %theme__p2-c1;
                margin-bottom: 1.25rem;
            }

            &__cta {
                @extend %theme__cta;
            }

            &__form {
                @include disFlex(column);
                width: 100%;

                .input__item {
                    width: 100%;
                }
            }
        }
    }

    &__gallery {
        @extend %theme__padding;
        width: 100%;

        @extend %theme__pagination;

        &__item {
            width: 18rem;
            height: auto;
            aspect-ratio: 290/338;
            object-fit: cover;
            object-position: center;
        }
    }

    &__faq {
        @extend %theme__padding;

        &__item {
            @extend %theme__accordion__item;

            &__title {
                @extend %theme__accordion__item__title;
            }

            &__paragraph {
                @extend %theme__accordion__item__paragraph;
            }
        }
    }

    &__feedbacks {
        @include disFlex(column, start, center);
        @extend %theme__padding;

        &__header {
            @include disFlex(row, center);
            margin-bottom: 2.5rem;

            &__title {
                @extend %theme__t2-c1;
            }
        }

        &__carousel {
            width: 100%;
            max-width: 680px;
            margin-inline: auto;
            overflow: hidden;

            &__nav {
                @extend %theme__nav;
            }

            &__item {
                @include disFlex(column, start, center);
                width: 100%;

                &__paragraph {
                    @extend %theme__p1-c2;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                &__avatar {
                    width: 3.75rem;
                    height: auto;
                    overflow: hidden;
                    aspect-ratio: 1/1;
                    margin-bottom: 0.5rem;
                    border-radius: 50%;

                    &__img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                &__name {
                    @extend %theme__p1-c2;
                    text-align: center;
                    font-weight: 700;
                }

                &__role {
                    @extend %theme__p2-c2;
                    text-align: center;
                }
            }
        }
    }

    &__map {
        @extend %theme__padding;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;

        iframe {
            height: 100%;
            width: 100%;
        }
    }

    &__related {
        &__categories {
            @extend .serv09__categories;
            @extend %theme__padding;
            padding-bottom: 0;

            &__swiper-wrapper {
                padding-left: 0;
            }

            &__item {
                @extend .serv09__categories__item;

                &__icon {
                    @extend .serv09__categories__item__icon;
                }
            }
        }

        &__main {
            @extend .serv09__main;
            @extend %theme__padding;
            padding-top: 0;

            &__carousel {
                @extend .serv09__main__carousel;
            }

            &__item {
                @extend .serv09__main__item;

                &__information {
                    @extend .serv09__main__item__information;

                    &__title {
                        @extend .serv09__main__item__information__title;
                    }

                    &__subtitle {
                        @extend .serv09__main__item__information__subtitle;
                    }

                    &__price {
                        @extend .serv09__main__item__information__price;
                    }

                    &__paragraph {
                        @extend .serv09__main__item__information__paragraph;
                    }

                    &__topics {
                        @extend .serv09__main__item__information__topics;

                        &__item {
                            @extend .serv09__main__item__information__topics__item;

                            &__icon {
                                @extend .serv09__main__item__information__topics__item__icon;
                            }
                        }
                    }

                    &__progress {
                        @extend .serv09__main__item__information__progress;

                        &__title {
                            @extend .serv09__main__item__information__progress__title;
                        }

                        &__bar {
                            @extend .serv09__main__item__information__progress__bar;

                            &__fill {
                                @extend .serv09__main__item__information__progress__bar__fill;
                            }
                        }

                        &__number {
                            @extend .serv09__main__item__information__progress__number;
                        }
                    }
                }

                &__image {
                    @extend .serv09__main__item__image;
                }
            }

            &__cta {
                @extend .serv09__main__cta;
            }
        }
    }
}
