@import "variables";

.cont02v2{
    // @extend %theme__padding;
    // padding-bottom: 0;
    @include disFlex(row, space-between, stretch);
    background-color: #FFF;

    /* Quando não houver imagem cadastrada, o box information receberá width de 100%*/
    &:not(:has(&__image)) &__information {
        width: 100%;
        padding-top: unset;
    }

    @include large-device-down {
        flex-direction: column-reverse;
    }

    &__image {
        width: 53%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        
        // aspect-ratio: 905/510;

        // @include large-device-down {
        //     width: 100%;
        //     aspect-ratio: 256/351;
        // }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__information {
        padding: 0 4rem;
        width: 47.6%;
        @include disFlex(column, center);

        clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);

        @include large-device-down {
            width: 100%;
        }

        &__title {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
        }

        &__subtitle {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 25px;
        }

        &__paragraph {
            color: #242424;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }

        &__cta {
            @extend %theme__cta;
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        background-color: #1A2069;
    }

    &:nth-child(even) .cont02v2__image {
        clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
    }

    &:nth-child(even) .cont02v2__information {
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }

    &:nth-child(even) .cont02v2__information__title{
        color: #FFF;
    }

    &:nth-child(even) .cont02v2__information__subtitle{
        color: #FFF;
    }

    &:nth-child(even) .cont02v2__information__paragraph {
        color: #FFF;
    }
}
