@import "variables";

.cont02v1{
    @extend %theme__padding;
    padding-top: 0;
    padding-bottom: 0;
    @include disFlex(row-reverse, space-between, center);

    /* Quando não houver imagem cadastrada, o box information receberá width de 100%*/
    &:not(:has(&__image)) &__information {
        width: 100%;
        padding-top: unset;
    }

    @include large-device-down {
        flex-direction: column-reverse;
    }

    &__image {
        width: 50%;
        height: auto;
        aspect-ratio: 965/750;

        @include large-device-down {
            display: none;
        }

        // align-self: end;
        // margin-inline: auto;

        // @include large-device-down {
        //     width: 100%;
        //     aspect-ratio: 256/351;
        // }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__information {
        padding: 4rem 2rem;
        width: 50%;

        @include large-device-down {
            width: 100%;
            padding: 2rem 0;
        }

        &__title {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 22px;
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 1.25rem;
        }


        &__paragraph {
            color: #242424;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }

        &__cta {
            @extend %theme__cta--two;
            margin-top: 41px;

            span {
                transform: skew(10deg, 0deg) !important;
            }
        }
    }
}
