@import "variables";

/* BEGIN STYLE */
.gall01 {
    overflow: hidden; /* prevenção do shift da animação */
    @include disFlex;
    flex-wrap: wrap;

    &__item{
        width: 25%;
        height: auto;
        aspect-ratio: 1/1;

        flex: 1 0 auto;

        @include large-device-down{
            width: 33.33%;
        }

        @include medium-device-down{
            width: 50%;
        }
    }
}
