@mixin Flex($dFlex:flex, $direction:row, $justify:center, $align:center) {
    display:$dFlex;
    flex-direction: $direction;
    justify-content:$justify;
    align-items: $align;
}
@mixin Img ($Width:100%, $Height: 100%, $ObjectFit: contain){
    width: $Width !important;
    height: $Height !important;
    object-fit: $ObjectFit !important;
}

@mixin backG ($BackgroundSize: cover, $backgroundPosition: center, $backgroundRepeat: no-repeat){
    background-size: $BackgroundSize;
    background-position: $backgroundPosition;
    background-repeat: $backgroundRepeat;
}
@mixin hoverScale($transition: 0.5s, $scale:1.01,$z-index:100){
	-moz-transform: scale($scale);
	-webkit-transform: scale($scale);
	-o-transform: scale($scale);
	-ms-transform: scale($scale);
	transform: scale($scale);
	z-index: $z-index;
	transition: all $transition ease;
}
@mixin trans($transition: 0.5s){
    transition: all $transition ease;
}
@mixin hoverButton($background-color: transparent, $color:#35444A, $transition: 0.5s ){
        background-color: $background-color;
        color:$color;
        transition: all $transition ease;
}
