@import 'variables';

/* BEGIN STYLE */
.cont10{
    .container--pd{
        padding:84px 0 89px 0 ;
    }
    &__encompass{
        padding-bottom:20px;
        margin-bottom:68px;
        border-bottom:1px solid $color-one;

        &__title{
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-black;
            font-family:$font-primary;

            @include large-device-down{
                font-size: $T2-mobile;
            }
        }
        &__subtitle{
            font-size: $T4;
            font-weight: $weight-700;
            color: $color-two;
            font-family:$font-primary;

            @include large-device-down{
                font-size: $T4-mobile;
            }
        }
    }
    &__content{
        background: #CACACA;
        height: 555px;
        max-width: 449px;
        width:100%;
        margin-left: auto;
        padding: 28px 35px;

        @include large-device-down{
            margin: 0 auto;
            width: 93%;
            padding: 28px 7px;
        }
        &__navigation{
            border-bottom: 1px solid rgb(64 64 64 / 15%);
            padding: 10px 17px 10px 12px;
            display:flex;
            margin-bottom:0;

            &__title{
                list-style:none;
                flex: 0 0 auto;
                width: 33.33333333%;
                font-family:$font-primary;
                color: $color-black;
                font-weight: $weight-700;
                font-size: 15px;
                line-height: 14px;
            } 
        } 

        &__list{
            height: 500px;

            &__item{
                list-style:none;
                border-bottom: 1px solid rgb(64 64 64 / 15%);
                padding: 10px 17px 10px 12px;
                display:flex;
                margin-bottom:0;

                &__title{
                    flex: 0 0 auto;
                    width: 33.33333333%;
                    font-family:$font-primary;
                    color: #707070;
                    font-weight: $weight-700;
                }
            } 

            &:last-of-type{
                border-bottom:1px solid transparent;
            }  
        } 


        &__cta{
            font: $paragraph;
            font-weight: $weight-700;
            color: $color-black;
            font-size: 15px;
            display: block;
            height: 30px;
            max-width: 128px;
            width: 100%;
            background-color: #EFEFEF;

            @include large-device-down{
                font: $paragraph-mobile;
            }
            &__icon{
                width: 16.65px !important;
            }
            &:hover{
                color: $color-white;
                background-color: $bg-black;

                .cont10__content__cta__icon{
                    filter: invert(1) grayscale(1);
                }
            }
        }
    }
    .caroulsel-cont10 .owl-nav {
        display: flex !important;
        gap: 0 18px;
        justify-content: space-between;
        position: absolute;
        transform: translate(0, 50%);
        left: 50%;
        bottom: 0;
      }
      
      .caroulsel-cont10 .owl-nav .owl-prev{
        left: -52px;
      }
      .caroulsel-cont10 .owl-nav .owl-next{
        right: -52px;
      }
      .caroulsel-cont10 .owl-nav .owl-prev,
      .caroulsel-cont10 .owl-nav .owl-next {
        height: 29px;
        width: 29px;
        border-radius: 100%;
        background-color: #404040;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        position: absolute;

        @include small-device-down{
            height:13.49px;
        }
      }
      .caroulsel-cont10 .owl-nav .owl-prev span,
      .caroulsel-cont10 .owl-nav .owl-next span {
        color: #fff;
        font-size: 32px;
        height: 58px;

        @include small-device-down{
            font-size: 22px;
        }
      }

}