@import "variables";

/* BEGIN STYLE */
.cont11 {
    @include Flex($align: stretch);
    width: 100%;

    @include medium-device-down {
        flex-direction: column;
    }

    &__carousel {
        position: relative;
        width: 50%;
        height: auto;
        aspect-ratio: 749/759;

        @include medium-device-down {
            width: 100%;
        }

        &__item {
            width: 100%;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .owl-nav {
            width: 100%;
            margin-top: 0px;
            position: absolute;
            left: 0;
            bottom: 38px;
        }
    }

    &__right {
        width: 50%;
        height: 100%;
        padding: 5%;

        @include medium-device-down {
            width: 100%;
        }
    }

    &__title {
        font-family: $font-primary;
        font-size: $T2;
        font-weight: 700;
        line-height: $font-46;
        margin-bottom: 20px;
        color: $color-one;
        text-align: center;

        @include medium-device-down {
            font-size: $T2-mobile;
        }
    }

    &__subtitle {
        font-family: $font-primary;
        font-size: $T4;
        font-weight: 700;
        margin-bottom: 20px;
        color: $color-three;
        text-align: center;

        @include medium-device-down {
            font-size: $T4-mobile;
        }
    }

    &__line {
        width: 100%;
        border-top: 1px solid $color-black;
        margin: 17px auto 30px auto;
        opacity: 1;
    }

    &__text {
        font: $paragraph-min;
        font-weight: 400;
        color: $color-two;
        text-align: start;

        @include medium-device-down {
            font: $paragraph-min-mobile;
            font-weight: 400;
        }

        p {
            font: inherit;
            font-weight: inherit;
            color: inherit;
            text-align: inherit;
        }
    }

    &__cta {
        @include Flex();
        gap: 16px;
        white-space: nowrap;
        background-color: $color-four;
        padding: 10px 40px;
        margin-top: 0px;

        font: $paragraph-min;
        font-weight: 700;
        color: $color-one;

        &:hover {
            background-color: $color-one;
            color: $color-four;
        }

        &__icon {
            height: 19px;
            width: 19px;
            object-fit: contain;
            object-position: center;
            @include trans($transition: 0.5s);
        }

        &:hover &__icon {
            filter: brightness(1) contrast(1) invert(1) grayscale(1);
        }
    }
}
