@import "variables";

/* BEGIN STYLE */
.cota03 {
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__content {
        overflow: hidden;
        @extend %theme__padding;
        @include disFlex(row, space-between, center);

        @include large-device-down {
            flex-direction: column;
            justify-content: start;
            gap: 2rem;
        }

        &__image {
            width: calc(50% - 120px);

            @include large-device-down {
                width: 100%;
            }

            &__img {
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center;
            }
        }

        &__header {
            width: 50%;
            @include disFlex(column);

            @include large-device-down {
                width: 100%;
            }

            &__title {
                @extend %theme__t2-cb;
                text-align: left;
            }

            &__subtitle {
                @extend %theme__t4-cb;
                text-align: left;
                margin-bottom: 2rem;
            }

            &__paragraph {
                width: 100%;
                @extend %theme__p1-cb;
                text-align: left;
            }

            &__cta {
                @extend %theme__cta;
            }
        }
    }

    &__form {
        @extend %theme__padding;
        @include disFlex(row, start, start);
        flex-wrap: wrap;
        width: 100%;
        gap: 0 1.5rem;

        &__header {
            width: 100%;
            margin-bottom: 3rem;

            &__title {
                @extend %theme__t2-c1;
            }
            &__paragraph {
                @extend %theme__p1-c1;
                text-align: center;
            }
        }
        // CONFIGURAÇÕES GERAIS
        .input__item {
            width: calc(50% - 0.75rem);

            @include large-device-down {
                width: 100%;
            }

            // CONFIGURAÇÕES PONTUAIS
            &--textarea {
                width: 100%;
                .form-control {
                    padding-top: 1.5rem;
                }
            }
        }

        &__footer {
            width: 100%;
            @include disFlex(row, space-between, center);
            gap: 0.5rem;
            flex-wrap: wrap;

            &__compliance {
                display: inline;
                @extend %theme__p1-cb;

                &__link {
                    @extend %theme__p1-cb;
                    text-decoration: underline;
                }

                &__checkbox[type="checkbox"] {
                    border: 1px solid $color-black;

                    &:checked {
                        accent-color: $color-three;
                    }
                }
            }

            &__cta {
                @extend %theme__cta;
            }
        }
    }
}
