@import "variables";

/* BEGIN STYLE */
.cota03 {
    &__banner {
        @extend %theme__banner;

        @extend .abou01-page__banner;

        &__title {
            @extend .abou01-page__banner__title;
            max-width: 250px;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__content {
        overflow: hidden;
        padding-bottom: 1rem;
        padding-top: 2rem;
        padding-right: 9vw;

        @extend %theme__padding;
        @include disFlex(row, space-between, center);

        background-color: #ffffff;

        @include large-device-down {
            flex-direction: column;
            justify-content: start;
            gap: 2rem;
        }

        &__image {
            width: calc(35% - 120px);

            @include large-device-down {
                width: 100%;
            }

            &__img {
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center;
            }
        }

        &__header {
            width: 39rem;
            @include disFlex(column);

            @include large-device-down {
                width: 100%;
            }

            &__title {
                @extend .abou01-page__main__information__header__title;
                color: #1A2069;
                text-align: right;
                max-width: 100%;
            }

            &__subtitle {
                @extend .abou01-page__main__information__paragraph;
                max-width: 100%;
                text-align: right;
                margin-bottom: 2rem;
                color: #1A2069;
            }

            &__paragraph {
                width: 100%;
                @extend %theme__p1-cb;
                text-align: left;
            }

            &__cta {
                @extend %theme__cta;

                background-color: #1A2069;
                border: 1px solid #1A2069;
                color: #ffffff;

                margin-left: auto;

                &:hover {
                    background-color: #ffffff;
                    color: #1A2069;
                    border: 1px solid #1A2069;
                }
            }
        }
    }

    &__form {
        @extend %theme__padding;

        padding-left: 10vw;
        padding-right: 10vw;

        @include disFlex(row, start, start);
        flex-wrap: wrap;
        width: 100%;
        gap: 0 1.5rem;
        background-color: #1A2069;

        &__header {
            width: 100%;
            margin-bottom: 3rem;

            &__title {
                @extend .cota02__form__header__title;
                color: #FFFFFF;
            }

            &__paragraph {
                @extend %theme__p1-c1;
                text-align: left;

                color: #FFFFFF;
            }
        }

        .form-placeholder {
            background-color: #FFFFFF;

            select {
                background-color: #FFFFFF !important;

                &:focus {
                    border-color: #000;
                    box-shadow: inherit;
                }
            }
        }

        // CONFIGURAÇÕES GERAIS
        .input__item {
            width: calc(50% - 0.75rem);

            @include large-device-down {
                width: 100%;
            }

            // CONFIGURAÇÕES PONTUAIS
            &--textarea {
                width: 100%;

                .form-placeholder .placeholder--custom {
                    top: 10% !important;
                }

                .form-placeholder.focusing .placeholder--custom {
                    top: 5% !important;
                }

                .form-control {
                    padding-top: 1.5rem;
                    background-color: #FFFFFF;
                }
            }
        }

        &__footer {
            width: 100%;
            @include disFlex(row, space-between, center);
            gap: 0.5rem;
            flex-wrap: wrap;

            &__compliance {
                display: inline;

                @extend .cota02__form__footer__compliance;
                color: #FFFFFF;

                &__link {
                    @extend .cota02__form__footer__compliance;
                    color: #FFFFFF;

                    text-decoration: underline;
                }

                &__checkbox[type="checkbox"] {
                    border: 1px solid $color-black;

                    &:checked {
                        accent-color: $color-three;
                    }
                }
            }

            &__cta {
                @extend .cota02__form__footer__cta;
                background-color: #FFFFFF;
                border: 1px solid #FFFFFF;
                color: #1A2069;

                &:hover {
                    background-color: transparent;
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                }

                @include small-device-down{
                    margin: 0 auto;
                }
            }
        }
    }
}