@import 'variables';

/* BEGIN STYLE */
/* BEGIN STYLE */
.blog03{
    .container{
        display: flex;
        flex-direction: column;
        padding: 81.12px 0 75px 0;

        @include medium-device-down{
            padding: 50px 0;
            width: 90%;
            max-width: inherit;
            margin: 0 auto;
        }
    }
    &__header{
        text-align: center;
        margin-bottom: 85px;
        @include medium-device-down{
            margin-bottom: 40px;
        }
        &__title{
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-one;
            display: block;

            @include medium-device-down{
                font-size: $T2-mobile;
            }
        }
        &__subtitle{
            font-size: $T4;
            font-weight: $weight-700;
            color: $color-three;

            @include medium-device-down{
                font-size: $T4-mobile;
            }
        }
        &__line{
            background-color: $bg-main;
            width: 100%;
            display: block;
            margin: 17px 0 30px;
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-two;

            @include medium-device-down{
                font: $paragraph-mobile;
            }
        }
    }
    // END __header

    &__boxs{
        @include medium-device-down{
            margin: 0;
            padding: 0 40px 0 0;
        }
        .owl-stage-outer{
            @include medium-device-down{
                padding: 0;
                overflow: visible;
            }
        }
        &__item{
            width:91%;

            @include medium-device-down{
                width: 77%;
            }

            &__content{
                background-color: $color-six;
                padding: 28px 46px 28px 23px;
                position: relative;

                @include medium-device-down{
                    padding: 14px 15px;
                }
            }
            &__image{
                margin-bottom: 0;
                height: 276px;
                width: 422px;
                display: block;

                @include medium-device-down{
                    width: 100%;
                }

                &__img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            &__description{
                height: auto;
                padding-left: 38px;
                padding-right: 0;
                @include medium-device-down{
                   padding: 31px 29px;
                }
            }
            &__title{
                font-size: $T4;
                font-weight: $weight-700;
                color: $color-black;
                margin-bottom: 34px;
                display: flex;
                gap: 0 11.24px;


                @include medium-device-down{
                    font-size: $T4-mobile;
                }

                &__icon{
                    width: 34px !important;
                }
            }
            &__paragraph{
                font: $paragraph;
                font-weight: $weight-500;
                color: $color-two;

                @include medium-device-down{
                    font: $paragraph-mobile;
                }

                p{
                    font: $paragraph;
                    font-weight: $weight-500;
                    color: $color-two;

                    @include medium-device-down{
                        font: $paragraph-mobile;
                    }
                }
            }
            &__cta{
                margin-top:28px;
                float: right;

                @include medium-device-down{
                    margin-top: 39px;
                }
                a{
                    @include Flex;
                    color: #7C7C7C;
                    background: #FFFFFF;
                    width: 100%;
                    max-width: 203px;
                    min-width: 177px;
                    height: 45px;
                    font-family:$font-primary;
                    font-weight: $weight-700;
                    gap:0 14.58px;

                   @include medium-device-down{
                        font: $paragraph-mobile;
                        width: 147px;
                    }

                    img{
                        height: 25px !important;
                        width: 25px !important;
                        object-fit:contain;
                    }

                    &:hover{
                        color: $color-white;
                        background-color: $bg-black;

                        .blog03__boxs__item__cta__icon{
                            filter: invert(1) grayscale(1);
                        }
                    }

                }


            }
        }
    }
    // END __boxs

    &__cta{
        margin-top:29px;
        margin-left: auto;

        @include medium-device-down{
            margin: 0 auto;
            margin-top: 39px;
            transform: translate(-36%, 0);
        }
        a{
            @include Flex;
            color: $color-eight;
            background: $color-seven;
            width: 100%;
            max-width: 203px;
            min-width: 177px;
            height: 45px;
            font-family:$font-primary;
            font-weight: $weight-700;
            gap:0 14.58px;

           @include medium-device-down{
                font: $paragraph-mobile;
                width: 147px;
            }

            img{
                height: 25px !important;
                width: 25px !important;
                object-fit:contain;
            }

            &:hover{
                color: $color-white;
                background-color: $color-black;

                img{
                    filter: invert(1) grayscale(1);
                }
            }

        }


    }

    .blog03__boxs__carousel .owl-dots{
        @include medium-device-down{
            position: relative;
            left: inherit;
            bottom: inherit;
            margin-top: 30px;
            justify-content: center;
            width: 69%;
        }
        display: flex !important;
        position: absolute;
        left: 0;
        bottom: -50px;
        margin-top: inherit;
        width: auto;
        padding: 0;
        gap:0 2.5px;
    }
    .blog03__boxs__carousel .owl-dot{
        display: flex !important;
        border-radius:0 !important;
        height: 19px;
        width: 30px;
        background-color: $color-two;
    }
    .blog03__boxs__carousel .owl-dot.active{
        display: flex !important;
        border-radius:0 !important;
        background-color: $color-black;
    }
}
// END .blog03

.blog03-page{
    &__header{
        height: 308px;
        text-align: center;
        @include backG;
        position: relative;

        .container--header{
            z-index:100;
            position: relative;
        }
        &__mask{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 73%);
        }
        &__title{
            font-size: $T1;
            font-weight: $weight-700;
            color: $color-black;
            @include medium-device-down{
                font-size: $T1-mobile;
            }
        }
    }
    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 38px;

        @include x-large-device-down{
            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    &__category{
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        gap: 16px 21px;
        width: 80%;
        flex-wrap: wrap;

        @include x-large-device-down{
            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
        }

        &__item{

            @include medium-device-down{
                min-width: 146px;
            }

            &.active, &:hover, &--active{
                background-color: $color-black;
            }
            &.active a,  &:hover a, &--active a{
                color: $color-white;
            }

            min-width: 190px;
            min-height: 46px;
            display:flex;
            align-items: center;
            justify-content: center;
            background-color: $color-nine;

            &::marker{
                display: none;
            }

           a{
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-black;
                @include medium-device-down{
                    font: $paragraph-mobile;
                    font-weight: $weight-700;
                }
           }


        }
    }
    &__search{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include x-large-device-down{
            margin-top: 35px;
            width:100%;
            max-width:100%;
        }

        &__content{
            position: relative;
            display: flex;
            align-items: center;
            height: 100% !important;

            @include x-large-device-down{
                padding-left: 0px !important;
                width: 100%;
            }

            .form-placeholder{
                @include x-large-device-down{
                    width: 100%;
                    max-width: 100%;
                }

                .placeholder--custom{
                    display: block;
                    left: 20.99px !important;
                    top: 12px !important;
                    font:$paragraph;
                    font-weight: 400;
                    color:$color-black;
                    padding-left: 0 !important;

                    @include x-large-device-down{
                        width: 100%;
                        max-width: 100%;
                    }
                }
                input{
                    display: flex;
                    height: 46px !important;
                    padding: 0;
                    max-width: 336px;
                    width: 336px;
                    background: #D9D9D9;
                    font:$paragraph;
                    font-weight: 400;
                    color:$color-black;
                    border: none;
                    text-shadow: none;
                    padding-left: 20px;

                    @include x-large-device-down{
                        width:100%;
                        max-width:100%;
                    }
                }
            }

            img{
                width: 26.06px;
                position: absolute;
                right: 20.99px;
                top: 11px;
                z-index: 10;
            }
        }





    }

    .container--pg{
        padding: 38px 0 108px 0;
        @include medium-device-down{
            width: 90%;
        }
    }

    &__boxs{
        gap:28px 0;
        @include medium-device-down{
            gap: 15px 0;
        }
        &__item{
            height: 351px;
            position: relative;


            @include medium-device-down{
                height: 351px;
            }

            @include x-large-device-down{
                width: 100%;
                max-width: 100%;
            }
            &__content{
                height: 100%;
                position: relative;
            }
            &__image{
                height: 100%;
                width: 100%;
                display: block;
                &__img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            &__description{
                padding: 44px 44px;
                padding-left: 53px;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                display: flex;
                height: 100%;
                align-items: flex-end;
                background: rgba(0, 0, 0, 0.73);
            }
            &__buttons{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
            }
            &__title{
                font-size: $T4;
                font-weight: $weight-700;
                color: $color-two;
                position: relative;
                width: 56%;

                &::before{
                    content: "";
                    position: absolute;
                    left: -55px;
                    top: 7px;
                    width: 25px;
                    height: 22px;
                    background-color: $color-white;
                }

                @include medium-device-down{
                    font-size: $T4-mobile;

                }
            }
            &__paragraph{
                font: $paragraph;
                font-weight: $weight-500;
                color: $color-two;
                margin-top: 20px;

                @include medium-device-down{
                    font: $paragraph-mobile;
                }
            }
            &__cta{
                margin-top:29px;
                margin-left: auto;

                @include medium-device-down{

                }
                a{
                    @include Flex;
                    color: $color-eight;
                    background: $color-seven;
                    width: 100%;
                    max-width: 203px;
                    min-width: 177px;
                    height: 45px;
                    font-family:$font-primary;
                    font-weight: $weight-700;
                    gap:0 14.58px;

                   @include medium-device-down{
                        font: $paragraph-mobile;
                        width: 78.79px;
                        max-width: inherit;
                        min-width: inherit;
                        gap: 0 3.58px;
                    }

                    img{
                        height: 25px !important;
                        width: 25px !important;
                        object-fit:contain;
                    }

                    &:hover{
                        color: $color-white;
                        background-color: $color-black;

                        .blog03__boxs__item__cta__icon{
                            filter: invert(1) grayscale(1);
                        }
                    }

                }


            }

        }
        // END __item
    }
    &__pagination{
        margin-top: 52px;

       ul{
        gap: 0 3.52px;
        display: flex;

            li{
                display:flex;

                &.active .page-link,&:hover .page-link{
                    background:$color-black;
                    @include trans;
                }
                .page-link{
                    cursor: pointer;
                    display: flex;
                    background: #7C7C7C;
                    font: $paragraph;
                    font-weight: $weight-400;
                    border: 0;
                    color: $color-white;
                    border-radius: 0 !important;
                    width: 33.4px;
                    height: 21px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
       }
    }
}




// END .blog03-page

.blog03-show{
    padding: 80px 0;
    @include medium-device-down{
        padding: 50px 30px;
    }

    &__item{
        &__title{
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-black;
            @include medium-device-down{
                font-size: $T2-mobile;
            }
        }
        &__published{
            font: $paragraph-min;
            font-weight: $weight-500;
            color: $color-two;
            @include medium-device-down{
                font: $paragraph-min-mobile;
            }
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-500;
            color: $color-two;
            margin-top: 20px;
            @include medium-device-down{
                font: $paragraph-mobile;
            }
        }
        &__image{

        }
        &__img{

        }
        &__description{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-two;
            line-height: 27px;
            ul,ol{
                margin: 20px 0;
            }
        }
    }
    // END __item

    &__related{
        @include medium-device-down{
            margin-top: 80px;
        }
        &__title{
            font-size: $T5;
            font-weight: $weight-700;
            color: $color-black;
            margin-bottom: 30px;
            @include medium-device-down{
                font-size: $T5-mobile;
            }
        }
    }
    // END __related

    &__boxs{
        &__item{
            margin-bottom: 75px;
            @include medium-device-down{
                margin: 0;
                margin-bottom: 30px;
            }
            &__content{
                &:hover{
                    transform: scale(1.02);
                    box-shadow: 0 0 5px #ccc;
                }
            }
            &__image{
                margin-bottom: 20px;
                height: 285px;
                display: block;
                &__img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            &__date-publish{
                font: $paragraph-min;
                font-weight: $weight-400;
                color: $color-two;
                @include medium-device-down{
                    font: $paragraph-min-mobile;
                }
            }
            &__description{
                padding: 0 15px;
            }
            &__title{
                font-size: $T4;
                font-weight: $weight-700;
                color: $color-black;

                @include medium-device-down{
                    font-size: $T4-mobile;
                }
            }
            &__paragraph{
                font: $paragraph;
                font-weight: $weight-500;
                color: $color-two;
                margin-top: 20px;

                @include medium-device-down{
                    font: $paragraph-mobile;
                }
            }
            &__icon{
                width: 34px !important;
            }
        }
        // END __item
    }
    // END __boxs
}
