@import "variables";

/* BEGIN STYLE */
/* BEGIN STYLE */
.blog03 {
    @extend %theme__padding;
    overflow: hidden; /* prevenção do shift da animação*/

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 3rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }
        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__paragraph {
            width: 100%;
            max-width: 938px;

            @extend %theme__p1-c2;
            text-align: center;
        }
    }

    &__main {
        overflow: hidden;
        @include large-device-down {
            overflow: visible;
        }
        &__item {
            position: relative;
            width: calc(50% - 1rem);
            height: auto;
            @include disFlex;
            gap: 2rem;

            @include large-device-down {
                flex-direction: column;
                width: 60%;
            }

            @include medium-device-down {
                width: 70%;
            }
            @include small-device-down {
                width: 90%;
            }

            &__image {
                margin: 0;
                width: 50%;
                height: auto;
                aspect-ratio: 422/276;

                @include large-device-down {
                    width: 100%;
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &__information {
                width: 50%;
                @include large-device-down {
                    width: 100%;
                }
                &__title {
                    @extend %theme__t4-cb;
                    margin-bottom: 2rem;
                }
                &__paragraph {
                    @extend %theme__p1-c2;
                }
            }
        }
    }

    &__cta {
        margin: 1.75rem 0 0 auto;
        @extend %theme__cta;
    }
}

.blog03-page {
    &__header {
        height: 308px;
        text-align: center;
        @include backG;
        position: relative;

        .container--header {
            z-index: 100;
            position: relative;
        }
        &__mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 73%);
        }
        &__title {
            font-size: $T1;
            font-weight: $weight-700;
            color: $color-black;
            @include medium-device-down {
                font-size: $T1-mobile;
            }
        }
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 38px;

        @include x-large-device-down {
            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    &__category {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        gap: 16px 21px;
        width: 80%;
        flex-wrap: wrap;

        @include x-large-device-down {
            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
        }

        &__item {
            @include medium-device-down {
                min-width: 146px;
            }

            &.active,
            &:hover,
            &--active {
                background-color: $color-black;
            }
            &.active a,
            &:hover a,
            &--active a {
                color: $color-white;
            }

            min-width: 190px;
            min-height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-nine;

            &::marker {
                display: none;
            }

            a {
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-black;
                @include medium-device-down {
                    font: $paragraph-mobile;
                    font-weight: $weight-700;
                }
            }
        }
    }
    &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include x-large-device-down {
            margin-top: 35px;
            width: 100%;
            max-width: 100%;
        }

        &__content {
            position: relative;
            display: flex;
            align-items: center;
            height: 100% !important;

            @include x-large-device-down {
                padding-left: 0px !important;
                width: 100%;
            }

            .form-placeholder {
                @include x-large-device-down {
                    width: 100%;
                    max-width: 100%;
                }

                .placeholder--custom {
                    display: block;
                    left: 20.99px !important;
                    top: 12px !important;
                    font: $paragraph;
                    font-weight: 400;
                    color: $color-black;
                    padding-left: 0 !important;

                    @include x-large-device-down {
                        width: 100%;
                        max-width: 100%;
                    }
                }
                input {
                    display: flex;
                    height: 46px !important;
                    padding: 0;
                    max-width: 336px;
                    width: 336px;
                    background: #d9d9d9;
                    font: $paragraph;
                    font-weight: 400;
                    color: $color-black;
                    border: none;
                    text-shadow: none;
                    padding-left: 20px;

                    @include x-large-device-down {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }

            img {
                width: 26.06px;
                position: absolute;
                right: 20.99px;
                top: 11px;
                z-index: 10;
            }
        }
    }

    .container--pg {
        padding: 38px 0 108px 0;
        @include medium-device-down {
            width: 90%;
        }
    }

    &__boxs {
        gap: 28px 0;
        @include medium-device-down {
            gap: 15px 0;
        }
        &__item {
            height: 351px;
            position: relative;

            @include medium-device-down {
                height: 351px;
            }

            @include x-large-device-down {
                width: 100%;
                max-width: 100%;
            }
            &__content {
                height: 100%;
                position: relative;
            }
            &__image {
                height: 100%;
                width: 100%;
                display: block;
                &__img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            &__description {
                padding: 44px 44px;
                padding-left: 53px;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                display: flex;
                height: 100%;
                align-items: flex-end;
                background: rgba(0, 0, 0, 0.73);
            }
            &__buttons {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
            }
            &__title {
                font-size: $T4;
                font-weight: $weight-700;
                color: $color-two;
                position: relative;
                width: 56%;

                &::before {
                    content: "";
                    position: absolute;
                    left: -55px;
                    top: 7px;
                    width: 25px;
                    height: 22px;
                    background-color: $color-white;
                }

                @include medium-device-down {
                    font-size: $T4-mobile;
                }
            }
            &__paragraph {
                font: $paragraph;
                font-weight: $weight-500;
                color: $color-two;
                margin-top: 20px;

                @include medium-device-down {
                    font: $paragraph-mobile;
                }
            }
            &__cta {
                margin-top: 29px;
                margin-left: auto;

                @include medium-device-down {
                }
                a {
                    @include Flex;
                    color: $color-eight;
                    background: $color-seven;
                    width: 100%;
                    max-width: 203px;
                    min-width: 177px;
                    height: 45px;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    gap: 0 14.58px;

                    @include medium-device-down {
                        font: $paragraph-mobile;
                        width: 78.79px;
                        max-width: inherit;
                        min-width: inherit;
                        gap: 0 3.58px;
                    }

                    img {
                        height: 25px !important;
                        width: 25px !important;
                        object-fit: contain;
                    }

                    &:hover {
                        color: $color-white;
                        background-color: $color-black;

                        .blog03__boxs__item__cta__icon {
                            filter: invert(1) grayscale(1);
                        }
                    }
                }
            }
        }
        // END __item
    }
    &__pagination {
        margin-top: 52px;

        ul {
            gap: 0 3.52px;
            display: flex;

            li {
                display: flex;

                &.active .page-link,
                &:hover .page-link {
                    background: $color-black;
                    @include trans;
                }
                .page-link {
                    cursor: pointer;
                    display: flex;
                    background: #7c7c7c;
                    font: $paragraph;
                    font-weight: $weight-400;
                    border: 0;
                    color: $color-white;
                    border-radius: 0 !important;
                    width: 33.4px;
                    height: 21px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

// END .blog03-page

.blog03-show {
    padding: 80px 0;
    @include medium-device-down {
        padding: 50px 30px;
    }

    &__item {
        &__title {
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-black;
            @include medium-device-down {
                font-size: $T2-mobile;
            }
        }
        &__published {
            font: $paragraph-min;
            font-weight: $weight-500;
            color: $color-two;
            @include medium-device-down {
                font: $paragraph-min-mobile;
            }
        }
        &__paragraph {
            font: $paragraph;
            font-weight: $weight-500;
            color: $color-two;
            margin-top: 20px;
            @include medium-device-down {
                font: $paragraph-mobile;
            }
        }

        &__description {
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-two;
            line-height: 27px;
            ul,
            ol {
                margin: 20px 0;
            }
        }
    }
    // END __item

    &__related {
        @include medium-device-down {
            margin-top: 80px;
        }
        &__title {
            font-size: $T5;
            font-weight: $weight-700;
            color: $color-black;
            margin-bottom: 30px;
            @include medium-device-down {
                font-size: $T5-mobile;
            }
        }
    }
    // END __related

    &__boxs {
        &__item {
            margin-bottom: 75px;
            @include medium-device-down {
                margin: 0;
                margin-bottom: 30px;
            }
            &__content {
                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 0 5px #ccc;
                }
            }
            &__image {
                margin-bottom: 20px;
                height: 285px;
                display: block;
                &__img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            &__date-publish {
                font: $paragraph-min;
                font-weight: $weight-400;
                color: $color-two;
                @include medium-device-down {
                    font: $paragraph-min-mobile;
                }
            }
            &__description {
                padding: 0 15px;
            }
            &__title {
                font-size: $T4;
                font-weight: $weight-700;
                color: $color-black;

                @include medium-device-down {
                    font-size: $T4-mobile;
                }
            }
            &__paragraph {
                font: $paragraph;
                font-weight: $weight-500;
                color: $color-two;
                margin-top: 20px;

                @include medium-device-down {
                    font: $paragraph-mobile;
                }
            }
            &__icon {
                width: 34px !important;
            }
        }
        // END __item
    }
    // END __boxs
}
