@import "variables";

/* BEGIN STYLE */
/* BEGIN STYLE */
.blog03 {
    @extend %theme__padding;
    overflow: hidden;
    /* prevenção do shift da animação*/
    background-color: #ffffff;

    &__header {
        width: 100%;
        @include disFlex(column, center, flex-start);

        margin-bottom: 5rem;

        &__title {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            position: relative;

            span {
                color: #1A2069;
            }

            &::before {
                content: "";
                position: absolute;
                width: 400px;
                background-color: #1A2069;
                height: 1px;
                left: -77px;
                bottom: -40px;
            }
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__paragraph {
            width: 100%;
            max-width: 938px;

            @extend %theme__p1-c2;
            text-align: center;
        }
    }

    &__main {
        height: auto;
        @extend %theme__pagination--two;

        overflow: hidden;

        @include large-device-down {
            overflow: visible;
        }

        &__item {
            position: relative;
            width: calc(33.333333% - 1rem);
            // height: auto;
            // @include disFlex;
            // gap: 2rem;

            @include large-device-down {
                flex-direction: column;
                width: 60%;
            }

            @include medium-device-down {
                width: 70%;
            }

            @include small-device-down {
                width: 90%;
            }

            &__image {
                margin: 0;
                width: 100%;
                height: auto;

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(0.5);
                }
            }

            &__information {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 0 2rem;
                padding-bottom: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: flex-start;

                &__title {
                    color: #FFF;
                    font-family: $font-primary;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 0;
                    width: 100%;
                    max-width: 160px;

                    span {
                        color: #cacaca;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 39px;
                        width: 250px;
                        background-color: #ffffff;
                        height: 1px;
                    }
                }

                &__paragraph {
                    @extend %theme__p1-c2;
                }

                &__cta {
                    @extend %theme__cta;

                    display: none;
                    margin-top: 39px;
                    // display: none;
                    // transition: all 0.5s ease;

                    span {
                        transform: skew(10deg, 0deg) !important;
                    }
                }
            }

            // &:hover {
            //     .blog03__main__item__information__cta {
            //         display: block;
            //         transition: all 0.5s ease;
            //     }
            // }
        }
    }

    &__cta {
        margin: 2rem 0 0 auto;
        @extend %theme__cta--two;

        span {
            transform: skew(10deg, 0deg) !important;
        }

        @include large-device-down {
            margin-top: 2rem;
        }
    }
}

.blog03-page {
    &__banner {
        @extend %theme__padding;
        @extend .bapa01__banner;

        &__title {
            @extend .bapa01__banner__title;
        }
    }

    // &__navigation {
    //     @extend %theme__padding;
    //     @include disFlex(row, space-between, start);

    //     @include large-device-down {
    //         flex-direction: column;
    //         gap: 2rem;
    //     }

    //     &__categories {
    //         @include disFlex;
    //         gap: 1rem;
    //         flex-wrap: wrap;
    //         width: 70%;

    //         @include large-device-down {
    //             width: 100%;
    //         }
    //         &__item {
    //             @extend %theme__category;

    //             @include large-device-down {
    //                 width: calc(50% - 0.5rem);
    //             }
    //         }
    //     }

    //     &__form {
    //         width: 25%;

    //         @include disFlex(row-reverse, space, center);
    //         border: solid 1px $color-black;

    //         @include large-device-down {
    //             width: 100%;
    //         }

    //         .form-placeholder {
    //             width: 100%;

    //             input[type="search"] {
    //                 border: none;
    //                 outline: none;
    //                 width: 100%;
    //                 padding-left: 15px;

    //                 &::-webkit-search-decoration,
    //                 &::-webkit-search-cancel-button,
    //                 &::-webkit-search-results-button,
    //                 &::-webkit-search-results-decoration {
    //                     display: none;
    //                 }
    //             }
    //         }

    //         &__submit {
    //             border: none;
    //             background-color: transparent;
    //             outline: none;

    //             &__icon {
    //                 width: 1.5rem;
    //                 height: auto;
    //             }
    //         }
    //     }
    // }

    // &__main {
    //     @extend %theme__padding;
    //     gap: 2.5rem;
    //     @include disFlex;
    //     flex-wrap: wrap;
    //     gap: 2rem 1rem;
    //     &__item {
    //         position: relative;
    //         @extend .blog03__main__item;

    //         @include large-device-down {
    //             width: 100%;
    //         }
    //         &__image {
    //             @extend .blog03__main__item__image;

    //             &__img {
    //                 @extend .blog03__main__item__image__img;
    //             }
    //         }
    //         &__information {
    //             @extend .blog03__main__item__information;
    //         }
    //     }
    // }

    &__main {
        @include disFlex(row, space-between, center);
        flex-wrap: wrap;
        gap: 1rem;
        @extend %theme__padding;
        padding-top: 3rem;
        padding-bottom: 7rem;

        // overflow: hidden;
        // @include large-device-down {
        //     overflow: visible;
        // }
        &__item {
            position: relative;
            width: calc(33.333333% - 1rem);

            // @include disFlex;
            // gap: 2rem;


            @include large-device-down {
                flex-direction: column;
                width: 100%;
            }


            &__image {
                margin: 0;
                width: 100%;


                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(0.5);
                }
            }

            &__information {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 0 2rem;
                padding-bottom: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: self-end;
                top: 0;
                left: 0;

                @include large-device-down {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: end;
                }

                &__title {
                    color: #FFF;
                    font-family: $font-primary;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 0;
                    width: 100%;
                    max-width: 160px;

                    span {
                        color: #cacaca;
                    }
                }

                &__paragraph {
                    @extend %theme__p1-c2;
                }

                &__cta {
                    @extend %theme__cta;
                    margin-top: 39px;
                    // display: none;
                    // transition: all 0.5s ease;

                    span {
                        transform: skew(10deg, 0deg) !important;
                    }
                }
            }

            // &:hover {
            //     .blog03__main__item__information__cta {
            //         display: block;
            //         transition: all 0.5s ease;
            //     }
            // }
        }
    }
}

.blog03-show {
    &__banner {
        @extend %theme__padding;
        padding: 0;
        position: relative;

        &__title {
            color: #FFFFFF;
            font-family: $font-primary;
            font-size: 5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            position: absolute;

            bottom: 6.625rem;
            left: 5vw;
            width: 30rem;
        }
    }

    &__galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; // total de 4 colunas
        grid-template-rows: auto auto;
        // gap: 1rem;
        // padding: 2rem 1rem;

        // Define o layout
        grid-template-areas:
            "item1 item1 item2 item3"
            "item4 item5 item6 item6";

        &__item {
            display: block;
            position: relative;
            overflow: hidden;
            // border-radius: 12px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                // border-radius: 12px;
            }

            // Aplicar as áreas dinamicamente (opcional: via nth-child ou classes)
            &:nth-child(1) {
                grid-area: item1;
            }

            &:nth-child(2) {
                grid-area: item2;
            }

            &:nth-child(3) {
                grid-area: item3;
            }

            &:nth-child(4) {
                grid-area: item4;
            }

            &:nth-child(5) {
                grid-area: item5;
            }

            &:nth-child(6) {
                grid-area: item6;
            }
        }

        &__video {
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60px;
                height: 60px;
                transform: translate(-50%, -50%);
                background: rgba(0, 0, 0, 0.5);
                // border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    &__article {
        display: flex;
        align-items: end;
        position: relative;

        overflow: hidden;
        /* Prevenção do shift da animação */
        padding-top: 4.12rem;
        @extend %theme__padding;

        @include large-device-down {
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 36px;

        }

        // &__time {
        //     @extend %theme__p2-c2;
        //     margin-bottom: 0.75rem;
        // }

        // &__description {
        //     @extend %theme__p1-c2;
        //     margin-bottom: 1.5rem;
        // }

        &__firula {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50rem;
            height: 95%;
            object-fit: contain;
            object-position: bottom right;
        }

        &__image {
            width: 100%;
            height: auto;
            aspect-ratio: 1245/524;
            // max-height: 100dvh;

            margin-bottom: 0;

            object-fit: cover;
            object-position: top center;


        }

        &__body {
            color: #242424;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;

            width: 60%;

            @include large-device-down {
                width: 100%;
            }
        }

        &__share {
            @extend %theme__cta;
            background-color: #1A2069;
            border: 1px solid #1A2069;
            margin-left: auto;
            margin-right: 6.75rem;
            margin-top: 25px;
            color: #FFF;

            &:hover {
                border: 1px solid #1A2069;
                background-color: transparent;
                color: #1A2069;
            }

            @include large-device-down {
                margin-right: inherit;
            }

            span {
                transform: skew(10deg, 0deg) !important;
            }
        }

        &__modal {
            opacity: 0;
            width: 90%;
            max-width: 462px;
            border: none;
            padding: 1.5rem;
            border-radius: 0.25rem;

            background-color: $color-three;
            transition: all ease 0.5s;

            transform: translateY(-40%);

            &.open {
                opacity: 1;
                transition: all ease 0.5s;
                transform: translateY(0%);
            }

            &::backdrop {
                background-color: rgba(0, 0, 0, 0.6);
            }

            &__header {
                @include disFlex(row, space-between, center);
                margin-bottom: 1.5rem;

                &__title {
                    @extend %theme__t4-cb;
                    margin-bottom: 0;
                }

                &__close {
                    background-color: transparent;
                    border: none;
                }
            }

            &__main {
                overflow: hidden;

                &__socials {
                    @include disFlex(row, space-around, center);
                    padding-left: 0;

                    &__item {
                        width: 5.5rem;

                        background-color: transparent;
                        border: none;
                        cursor: pointer;

                        &__figure {
                            @include disFlex(column, center, center);
                            gap: 0.25rem;
                            width: fit-content;

                            svg {
                                width: 3rem !important;
                                height: 3rem !important;
                            }

                            &__title {
                                @extend %theme__p1-cb;
                            }
                        }
                    }
                }

                &__copy {
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.5rem;
                    background-color: $color-black;

                    @include disFlex(row, space-between, center);

                    @include medium-device-down {
                        flex-direction: column;
                        gap: 0.5rem;
                    }

                    &__link {
                        @extend %theme__p2-cw;
                    }

                    &__button {
                        border: none;
                        border-radius: 0.5rem;
                        padding: 0.5rem 1rem;
                        background-color: $color-five;
                        @extend %theme__p2-cb;

                        @include medium-device-down {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }


    &__related {
        @extend %theme__padding;
        padding-bottom: 8rem;
        background-color: #2E368E;


        &__title {
            color: #FFF;
            font-family: $font-primary;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 65px;

            span {
                color: #cacaca;
            }
        }

        &__carousel {
            &__item {
                @extend .blog03__main__item;
                height: 605px;

                &__image {
                    @extend .blog03__main__item__image;

                    @include large-device-down {
                        height: 600px;
                    }

                    &__img {
                        @extend .blog03__main__item__image__img;

                    }
                }

                &__information {
                    @extend .blog03__main__item__information;

                    &__title {
                        @extend .blog03__main__item__information__title;
                    }

                    &__paragraph {
                        @extend .blog03__main__item__information__paragraph;
                    }

                    &__cta {
                        @extend .blog03__main__item__information__cta;
                    }
                }
            }
        }

    }
}