@import "variables";

/* BEGIN STYLE */
.foot04 {
    background-color: $color-five;

    &__contacts {
        @include disFlex(row, center, start);
        gap: 3rem;
        @extend %theme__padding;
        padding-bottom: 0;

        @include large-device-down {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            &__title {
                @extend %theme__t4-cb;

                @include large-device-down {
                    text-align: center;
                }
            }

            &__link {
                display: block;
                @extend %theme__p1-c1;
                text-decoration: none;

                @include large-device-down {
                    text-align: center;
                }
            }
        }
    }

    &__logo {
        display: block;
        width: rem(410);
        height: auto;
        aspect-ratio: 410/191;
        margin: rem(140) auto rem(157);
        @extend %theme__padding;
        padding-block: 0;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__copyright {
        position: relative;
        background-color: $color-two;
        @extend %theme__padding;
        padding-block: 2.5rem;

        @include disFlex(row, space-between, center);

        @include large-device-down {
            flex-direction: column;
            gap: 2rem;
        }

        &__list {
            width: calc(100% - rem(147));
            list-style: none;
            @include disFlex(row, start, center);
            gap: rem(84);
            flex-wrap: wrap;

            &__item {
                position: relative;
                @extend %theme__p2-c1;
                font-weight: 700;

                &+& {
                    &::before {
                        width: 1px;
                        background-color: $color-black;
                        height: 100%;
                        position: absolute;
                        left: rem(-42);
                        top: 0;
                        content: '';
                    }
                }
            }
        }

        &__hoom {
            width: rem(147);
            height: auto;
            aspect-ratio: 147/42;
            position: relative;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}