@import "variables";

/* BEGIN STYLE */

.bran01 {
    padding: 40px 5vw 24px;

    &__header {
        width: 100%;
        margin-bottom: 64px;

        @include disFlex(column, center, center);

        &__title {
            margin: 0;

            font: 700 $T2 $font-primary;
            color: $color-one;
            text-align: center;

            @include large-device-down {
                font-size: $T2-mobile;
            }
        }
        &__subtitle {
            margin: 0;

            font: 700 $T4 $font-primary;
            color: $color-three;
            text-align: center;

            @include large-device-down {
                font-size: $T4-mobile;
            }
        }
        &__line {
            margin-bottom: 32px;
            border-top: solid 1px $color-one;
            width: 100%;
        }
        &__paragraph {
            max-width: 890px;
            margin: 0;

            font: 400 $P1 $font-paragraph;
            text-align: center;

            @include large-device-down {
                font-size: $P1-mobile;
            }
        }
    }

    &__content {
        margin-bottom: 48px;
        /* Todas as classes do owl-carousel estarão dentro na classe abaixo */
        &__carousel {
            .owl-stage-outer {
                @include large-device-down {
                    overflow: visible;
                }
                .owl-stage {
                    display: flex;
                }
            }
            .owl-dots {
                justify-content: center;
            }
        }

        &__item {
            position: relative;
            padding: 40px;

            @include backG;
            @include disFlex(row, center, center);

            @include large-device-down {
                width: 322px;
            }

            &__image {
                width: 62px !important ; /* uso do important por conta do owl-carousel */
                height: 62px;

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    &__cta {
        padding: 12px 48px;
        width: fit-content;
        margin-inline: auto;

        @include disFlex(row, center, center);
        gap: 16px;

        background-color: $color-four;

        font: 700 $P1 $font-paragraph;
        color: $color-black;

        transition: all ease 0.2s;

        &:hover {
            background-color: rgba($color-four, 0.5);
            transition: all ease 0.2s;
        }
    }
}

// Inicio-bran01
.bran01-page {
    &__banner {
        width: 100%;
        height: 218px;
        padding: 0 5vw;

        @include backG;
        @include disFlex(column, center, center);

        &__title {
            font: 700 $T1 $font-primary;
            color: $color-one;

            @include large-device-down {
                font-size: $T1-mobile;
            }
        }
        &__subtitle {
            font: 700 $T3 $font-primary;
            color: $color-three;

            @include large-device-down {
                font-size: $T3-mobile;
            }
        }
        &__line {
            margin-bottom: 32px;
            border-top: solid 1px $color-one;
            width: 100%;
        }
    }
    &__main {
        padding: 48px 5vw 120px;

        &__header {
            @extend .bran01__header;

            &__title {
                @extend .bran01__header__title;
            }
            &__subtitle {
                @extend .bran01__header__subtitle;
            }

            &__line {
                @extend .bran01__header__line;
            }

            &__paragraph {
                @extend .bran01__header__paragraph;
            }
        }

        &__content {
            @include disFlex;
            flex-wrap: wrap;
            gap: 20px 24px;

            &__item {
                @extend .bran01__content__item;

                /* (Quantiade de gap * tamanho do gap)/quantidade de elementos */
                width: calc(25% - 18px);

                @include large-device-down {
                    width: calc(33.33% - 16px);
                }

                @include medium-device-down {
                    width: calc(50% - 12px);
                }

                @include small-device-down {
                    width: 100%;
                }

                &__image {
                    @extend .bran01__content__item__image;
                    &__img {
                        @extend .bran01__content__item__image__img;
                    }
                }
            }
        }
    }
}
