@import "variables";

/* BEGIN STYLE */

.bran01 {
    overflow: hidden; /*previne o shift da animação*/
    @extend %theme__padding;
    padding-bottom: 7rem;

    &__header {
        margin-bottom: 5rem;

        &__title {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            position: relative;

            span {
                color: #95D059;
            }

            &::before {
                content: "";
                position: absolute;
                width: 465px;
                height: 1px;
                background-color: #1A2069;
                bottom: -30px;
                left: -70px;
            }
        }
        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__line {
            width: 100%;
            margin-bottom: 2rem;

            border-top: solid 1px $color-three;
        }

        &__paragraph {
            width: 100%;
            max-width: 70%;

            @extend %theme__p1-c2;
            text-align: center;
        }
    }

    &__content {
        height: auto;
        margin-bottom: 1.5rem;

        // &__swiper-wrapper{}

        &__item {
            position: relative;

            width: calc(12% - 1.125rem);
            height: auto;
            aspect-ratio: 321/136;

            @include bg;

            @include disFlex(row, center, center);

            @include large-device-down {
                width: 33%;
            }

            @include medium-device-down {
                width: 50%;
            }

            @include small-device-down {
                width: 90%;
            }

            &__icon {
                width: 4rem;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__cta {
        @extend %theme__cta;
        margin-inline: auto;
    }
}

// Inicio-bran01
.bran01-page {
    background-color: #EFEFEF;
    &__banner {
        @extend %theme__banner;
        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__main {
        @extend %theme__padding;
        padding-top: 3rem;
        padding-bottom: 4.5rem;

        &__header {
            margin-bottom: 4rem;

            &__conteudo {
                @include disFlex(row, flex-start, center);
                gap: 10rem;
            }

            &__title {
                color: #2E368E;
                font-family: $font-primary;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 1rem;
            }

            &__subtitle {
                @extend .bran01__header__subtitle;
            }

            &__line {
                @extend .bran01__header__line;
            }

            &__paragraph {
                color: #242424;
                font-family: $font-primary;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                width: 100%;
                max-width: 710px;
            }

            &__cta {
                @extend %theme__cta--two;

                span {
                    transform: skew(10deg, 0deg) !important;
                }
            }
        }

        &__content {
            @include disFlex;
            flex-wrap: wrap;
            gap: 1.25rem 1.5rem;
            position: relative;
            padding-top: 4rem;
            padding-bottom: 6rem;

            &::before {
                content: "";
                position: absolute;
                background-color: #00000051;
                width: 100%;
                height: 1px;
                top: 0;
                left: 0;
            }

            &__item {
                @extend .bran01__content__item;

                /* (Quantiade de gap * tamanho do gap)/quantidade de elementos */
                width: calc(10% - -0.775rem);
                

                @include large-device-down {
                    width: calc(33.33% - 1rem);
                }

                @include medium-device-down {
                    width: calc(50% - 0.75rem);
                }

                @include small-device-down {
                    width: 100%;
                }

                &__icon {
                    @extend .bran01__content__item__icon;
                }
            }
        }
    }
}
