@import "variables";

.cont03 {
    @extend %theme__padding;
    @include disFlex(row, start, start);
    gap: 3rem;

    &__information{
        width: calc(33.33% - 2rem);
    }

    &__image{
        width: calc(33.33% - 2rem);
        height: 100%;
    }
}
