@import 'variables';

/* BEGIN STYLE */
#CONT03{
    padding: 80px 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include small-device{
        padding: 60px 50px 0;
    }
}
.cont03{
    &__content{
        padding-right: 75px;

        @include small-device{
            padding-right: 0;
            margin-bottom: 60px;
        }

        &__hypertext{
            margin-bottom: 30px;
        }
        &__title{
            display: block;
            font-size: $T3;
            font-weight: $weight-700;
            color: $color-black;

            @include small-device{
                font-size: $T3-mobile;
            }
        }
        &__subtitle{
            font-size: $T4;
            font-weight: $weight-700;
            color: $color-two;

            @include small-device{
                font-size: $T4-mobile;
            }
        }
        &__line{
            width: 100%;
            background-color: $bg-black;
            margin-bottom: 40px;
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-500;
            color: $color-one;
            margin-bottom: 50px;

            @include small-device{
                font: $paragraph-mobile;
            }
        }
        &__cta{
            font: $paragraph;
            font-weight: $weight-700;
            color: $color-one;
            display: block;
            max-width: 177px;
            padding: 10px 15px;
            background-color: $bg-white;

            @include small-device{
                font: $paragraph-mobile;
            }

            &:hover{
                color: $color-white;
                background-color: $bg-black;

                .cont03__content__cta__icon{
                    filter: invert(1) grayscale(1);
                }
            }
        }
    }
    // END __content

    &__figure{
        &__center{
            margin-bottom: 0;
            padding: 0 10px;

            @include small-device{
                padding: 0 30px;
                margin-bottom: 50px;
            }
        }
        &__right{
            margin-bottom: 0;
            padding: 0 10px;

            @include small-device{
                padding: 0 30px;
            }
        }
    }
}
