@import 'variables';

/* BEGIN STYLE */
#TOPI02{
    padding: $topi02-TOPI02-padding;
    @include small-device{
        padding: 35px 20px;
    }
    .header-topic{
        text-align: $topi02-header-topic-text-align;
        .container-title{
            margin-bottom: $topi02-header-container-title-margin-bottom;
            .title{
                font-size: $topi02-header-title-font-size;
                font-weight: $topi02-header-title-font-weight;
                font-family: $topi02-header-title-font-family;
                color: $topi02-header-title-color;
                display: block;
                @include small-device{
                    font-size: $topi02-header-title-font-size-responsive;
                }
            }
            .subtitle{
                font-size: $topi02-header-subtitle-font-size;
                font-weight: $topi02-header-subtitle-font-weight;
                font-family: $topi02-header-subtitle-font-family;
                color: $topi02-header-subtitle-color;
                display: block;
                @include small-device{
                    font-size: $topi02-header-subtitle-font-size-responsive;
                }
            }
        }
        .paragraph{
            font: $topi02-header-paragraph-font;
            font-weight: $topi02-header-paragraph-font-weight;
            width: $topi02-header-paragraph-width;
            margin: $topi02-header-paragraph-margin;
            margin-bottom: $topi02-header-paragraph-margin-bottom;
            margin-top: $topi02-header-paragraph-margin-top;

            @include small-device{
                font: $topi02-header-paragraph-font-responsive;
                width: $topi02-header-paragraph-width-responsive;
            }
        }
        .line{
            background-color: $topi02-header-line-background-color;
        }
    }
    .container-box {
        @include small-device{
            width: 70%;
        }
        .owl-stage-outer{
            @include small-device{
                overflow: visible;
            }
        }
        .box-topic{
            padding-right: $topi02-box-topic-padding-right;
            padding-left: $topi02-box-topic-padding-left;

            .content{
                padding: $topi02-box-topic-content-padding;
                .container-info{
                    position: relative;
                    z-index: 1;
                    min-height: $topi02-box-topic-container-info-min-height;
                    .image{
                        img{
                            width: $topi02-box-topic-image-width;
                        }
                    }
                    .description{
                        text-align: $topi02-box-topic-description-text-align;
                        .title{
                            font-size: $topi02-box-topic-title-font-size;
                            font-family: $topi02-box-topic-title-font-family;
                            color: $topi02-box-topic-title-color;
                            font-weight: $topi02-box-topic-title-font-weight;
                            @include small-device{
                                font-size: $topi02-box-topic-title-font-size-responsive;
                            }
                        }
                        .paragraph{
                            font: $topi02-box-topic-paragraph-font;
                            color: $topi02-box-topic-paragraph-color;
                            font-weight: $topi02-box-topic-paragraph-font-weight;
                            @include small-device{
                                font: $topi02-box-topic-paragraph-font-responsive;
                            }
                        }
                    }
                }

                &:hover{
                    transform: $topi02-box-topic-paragraph-transform-hover;
                    box-shadow: $topi02-box-topic-paragraph-box-shadow-hover;
                }
            }
        }
    }
}
