// HEAD02
$topi02-TOPI02-padding: 70px 0;

// HEADER TOPIC
$topi02-header-topic-text-align: center;

// HEADER CONTAINER
$topi02-header-container-title-margin-bottom: 25px;

// HEADER TITLE
$topi02-header-title-font-size: $T2;
$topi02-header-title-font-weight: $weight-700;
$topi02-header-title-font-family: $font-primary;
$topi02-header-title-color: $color-one;
// RESPONSIVE
$topi02-header-title-font-size-responsive: $T2-mobile;

// HEADER SUBTITLE
$topi02-header-subtitle-font-size: $T4;
$topi02-header-subtitle-font-weight: $weight-700;
$topi02-header-subtitle-font-family: $font-primary;
$topi02-header-subtitle-color: $color-three;
// RESPONSIVE
$topi02-header-subtitle-font-size-responsive: $T4-mobile;

// HEADER PARAGRAPH
$topi02-header-paragraph-font: $paragraph;
$topi02-header-paragraph-font-weight: $weight-500;
$topi02-header-paragraph-width: 100%;
$topi02-header-paragraph-margin: 0 auto;
$topi02-header-paragraph-margin-bottom: 50px;
$topi02-header-paragraph-margin-top: 25px;
// HEADER PARAGRAPH RESPONSIVE
$topi02-header-paragraph-width-responsive: 90%;
$topi02-header-paragraph-font-responsive: $paragraph-mobile;

// HEADER LINE
$topi02-header-line-background-color: $color-one;

// BOX TOPIC
$topi02-box-topic-padding-right: 0.25rem;
$topi02-box-topic-padding-left: 0.25rem;

// BOX TOPIC CONTENT
$topi02-box-topic-content-padding: 0 20px;

// BOX TOPIC CONTAINER INFO
$topi02-box-topic-container-info-min-height: 320px;

// BOX TOPIC IMAGE
$topi02-box-topic-image-width: 61px;

// BOX TOPIC DESCRIPTION
$topi02-box-topic-description-text-align: center;

// BOX TOPIC TITLE
$topi02-box-topic-title-font-size: $T2;
$topi02-box-topic-title-font-weight: $weight-700;
$topi02-box-topic-title-font-family: $font-primary;
$topi02-box-topic-title-color: $color-black;
// RESPONSIVE
$topi02-box-topic-title-font-size-responsive: $T2-mobile;

// BOX TOPIC PARAGRAPH
$topi02-box-topic-paragraph-font: $paragraph-min;
$topi02-box-topic-paragraph-color: $color-two;
$topi02-box-topic-paragraph-font-weight: $weight-500;
$topi02-box-topic-paragraph-transform-hover: scale(1.02);
$topi02-box-topic-paragraph-box-shadow-hover: 0px 0px 5px 0px rgb(0 0 0 / 25%);
// RESPONSIVE
$topi02-box-topic-paragraph-font-responsive: $paragraph-min-mobile;
