@import "variables";

/* BEGIN STYLE */
.cota02 {
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__topics {
        @extend %theme__padding;
        @include disFlex(row, start, center);
        flex-wrap: wrap;
        gap: 3rem;
        &__item {
            @include disFlex(column, start, center);
            flex: 1 0 auto;
            gap: 0.75rem;

            width: fit-content;

            &__icon {
                width: 3.25rem;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
                object-position: center;
            }

            &__title {
                @extend %theme__t3-c1;
            }

            &__paragraph {
                @extend %theme__p1-cb;
                text-align: center;
                max-width: 292px;
            }
        }
    }

    &__form {
        @extend %theme__padding;
        @include disFlex(row, start, start);
        flex-wrap: wrap;
        width: 100%;
        gap: 0 1.5rem;

        &__header {
            width: 100%;
            margin-bottom: 3rem;

            &__title {
                @extend %theme__t2-c1;
            }
            &__paragraph {
                @extend %theme__p1-c1;
                text-align: center;
            }
        }
        // CONFIGURAÇÕES GERAIS
        .input__item {
            width: calc(50% - 0.75rem);

            @include large-device-down {
                width: 100%;
            }

            // CONFIGURAÇÕES PONTUAIS
            &--textarea {
                width: 100%;
                .form-control {
                    padding-top: 1.5rem;
                }
            }
        }

        &__footer {
            width: 100%;
            @include disFlex(row, space-between, center);
            gap: 0.5rem;
            flex-wrap: wrap;

            &__compliance {
                display: inline;
                @extend %theme__p1-cb;

                &__link {
                    @extend %theme__p1-cb;
                    text-decoration: underline;
                }

                &__checkbox[type="checkbox"] {
                    border: 1px solid $color-black;

                    &:checked {
                        accent-color: $color-three;
                    }
                }
            }

            &__cta {
                @extend %theme__cta;
            }
        }
    }
}
