@import 'variables';

/* BEGIN STYLE */
.cont02-page{
    &__header{

        .container-cont02-page__header{
            padding: 44px 0;

            @include small-device-down{
                padding: 44px 20px;
            }
        }
        &__title{
            font-size: $T2;
            color: $color-one;
            font-family: $font-primary;
            font-weight: $weight-700;
            margin-bottom: 0;

            @include small-device-down{
                font-size: $T2-mobile;
            }
        }
        &__subtitle{
            font-size: $T3;
            font-family: $font-paragraph;
            color: $color-one;
            font-weight: $weight-700;

            @include small-device-down{
                font-size: $T3-mobile;
            }
        }
        &__line{
            margin-top: 0;
            color: $color-two;
        }
    }
    &__boxForm{
        .container--boxForm{
            padding: 68px 0 59px 0;

            .row{
                @include small-device-down{
                    margin: 0 auto;
                }

            }
        }
        &__item{

            &:last-of-type &__content::after{
                display: none;
            }

            @include medium-device-down {
                margin: 0 auto;
                padding: 0;
                width: 94%;
            }

            &__content{
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 0 36px;

                &::after{
                    content: "";
                    width: 1px;
                    height: 88%;
                    background: rgb(64 64 64 / 18%);
                    display: flex;
                    position: absolute;
                    right: -10px;
                    top: 0;
                }
                &__image{
                    width: 55px;
                    height: 55px;
                    margin-bottom: 14.04px;

                    @include large-device-down{
                        width: 50px;
                        height: 50px;
                    }

                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }

                &__description{

                    &__title{
                        font-size: $T4;
                        font-weight: $weight-500;
                        color:$color-one;
                        font-family: $font-primary;
                        margin-bottom: 5px;

                        @include large-device-down{
                            font-size: $T4-mobile;
                        }
                    }
                    &__paragraph{
                        font: $paragraph;
                        font-family: $font-primary;
                        font-weight: $weight-400;
                        color:$color-one;

                        p{
                            font: $paragraph;
                            font-family: $font-primary;
                            font-weight: $weight-400;
                            color:$color-one;
                            margin-bottom: 0;

                            @include large-device-down{
                                font: $paragraph-mobile;
                            }
                        }
                    }
                }
            }
        }
    }

    &__form{
        padding: 78px 0 154.45px 0;
        &__header{
            margin-bottom: 50px;

            &__title{
                font-size: $T2;
                color: $color-one;
                font-family: $font-primary;
                font-weight: $weight-700;
                background: linear-gradient(to right, $color-one 14.8%, $color-two 25px);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @include small-device-down{
                    font-size: $T2-mobile;
                    background: linear-gradient(to right, #132229 39.8%, #B34423 25px);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            &__line{
               background: $color-one;
               display: flex;
               margin-top: 15px;
               margin-bottom: 18px;
               display: block;
            }
            &__paragraph{
                p{
                    font: $paragraph;
                    font-weight: $weight-400;
                    color:$color-black;

                    @include large-device-down{
                        font: $paragraph-mobile;
                    }
                }
            }
        }
        .input__item{
            width: 100%;
        }
        &__inputs{
            &__formIput{

                width: 100%;
                justify-content: space-between;
                display: flex;

                .input__item{
                    width: 100%;
                    font: $paragraph;
                    font-weight: $weight-400;
                    color:$color-one;

                    .form-control{
                        height: 52px;
                        border-radius: 0 !important;
                    }
                }
                // .input-submit{
                //     height: 45px;
                //     width: 177px;
                //     background-color: $color-white;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     border: 2px solid $color-white;
                //     margin-right: 45px;
                //     font: $paragraph;
                //     font-weight: $weight-400;
                //     color:$color-one;




                //     &:hover{
                //         background-color: $color-black;

                //     }
                //     &:hover img{


                //     }
                // }
            }

            &__compliance{
                display: flex;

                input {
                    border: 1px solid #393939;
                    font: $paragraph-min;
                }
                label {
                    color:#393939;
                    font: $paragraph-min;

                    a{
                        color: #7C7C7C;
                        font: $paragraph-min;
                    }
                }
            }
        }
    }

}

.cota01-show__form__item__input:nth-of-type(5){
    width: 100% !important;
}
.cota01-show__form__item__input .input__item--textarea textarea{
    height: 136px !important;
}
.cota01-show__form__inputs__formIput__input-submit{
    height: 31px;
    width: 165px;
    background-color: $color-two;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-two;
    font: $paragraph;
    font-weight: $weight-400;
    color:$color-white;

    &:hover{
        background-color: transparent;
        color: $color-two;

    }
}
.cota01-show__form__compliance{
    font: $paragraph-min;
    font-weight: $weight-400;
    color:#393939;

    a{
        color: #7C7C7C;
        text-decoration: underline;
    }
}
.form-check-input:checked[type=checkbox]{
    border: 1px solid #393939;
}
.form-check-input:checked {
    background-color: #B34423;
    border-color: #B34423;
}
