@import "variables";

/* BEGIN STYLE */
.cota02 {
    background-color: #95D059;

    &__banner {
        @extend %theme__banner;
        padding-top: 14rem;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__topics {
        // @extend %theme__padding;
        @include disFlex(row, center, center);
        flex-wrap: wrap;
        gap: 2rem;
        // background-color: #95D059;
        margin-top: -60px;

        &__item {
            @include disFlex(column, center, center);
            width: calc(20% - 1rem);
            // flex: 1 0 auto;
            // gap: 0.75rem;
            background-color: #1A2069;
            border-radius: 25px;
            padding: 4rem;

            // width: fit-content;

            &__icon {
                width: 3.25rem;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
                object-position: center;
                margin-bottom: 25px;
            }

            &__title {
                color: #FFF;
                text-align: center;
                font-family: $font-primary;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
                margin-bottom: 7px;
            }

            &__paragraph {
                color: #FFF;
                text-align: center;
                font-family: $font-primary;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }

    &__form {
        @extend %theme__padding;
        padding-left: 10vw;
        padding-right: 10vw;
        @include disFlex(row, start, start);
        flex-wrap: wrap;
        width: 100%;
        gap: 0 1.5rem;
        // background-color: #95D059;

        &__header {
            width: 100%;
            margin-bottom: 1rem;

            &__title {
                color: #2E368E;
                font-family: $font-primary;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            &__paragraph {
                @extend %theme__p1-c1;
                text-align: center;
            }
        }
        // CONFIGURAÇÕES GERAIS
        .input__item {
            width: calc(50% - 0.75rem);

            @include large-device-down {
                width: 100%;
            }

            // CONFIGURAÇÕES PONTUAIS
            &--textarea {
                width: 100%;
                .form-control {
                    padding-top: 1.5rem;
                }
            }
        }

        .form-placeholder {
            background-color: #FFF;
        }

        &__footer {
            width: 100%;
            @include disFlex(row, space-between, center);
            gap: 0.5rem;
            flex-wrap: wrap;

            &__compliance {
                display: inline;
                color: #3F3F3F;
                font-family: $font-primary;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 170.9%; 

                &__link {
                    color: #3F3F3F;
                    font-family: $font-primary;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 170.9%; 
                    text-decoration: underline;
                }

                &__checkbox[type="checkbox"] {
                    border: 1px solid $color-black;

                    &:checked {
                        accent-color: $color-three;
                    }
                }
            }

            &__cta {
                @extend %theme__cta--two;
                
                span {
                    transform: skew(10deg, 0deg) !important;
                }
            }
        }
    }
}
