@import "variables";

/* BEGIN STYLE */
.topi09 {
    @extend %theme__padding;

    &__topics {
        height: auto;

        /*Os elementos do carrossel como pagination e nav devem estar dentro da classe carrosel*/
        &__carousel {
            height: auto;
            overflow: hidden;

            @include large-device-down {
                overflow: visible;
            }
        }

        &__item {
            width: calc(25% - 36px);
            height: auto;
            padding: 0.75rem 0.75rem 1rem 2rem;

            @include disFlex(row, start, center);
            gap: 1.5rem;

            background-color: $color-nine;

            @include x-large-device-down {
                width: 33.33%;
            }

            @include large-device-down {
                width: 50%;
                padding: 1rem;
                flex-direction: column;
            }

            @include medium-device-down {
                width: 72%;
            }

            @include small-device-down {
                width: 80%;
            }

            &__icon {
                width: 3.5rem;
                height: auto;
                aspect-ratio: 1/1;

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            &__information {
                // 3.5rem = largura do icone + gap de 1.5rem do item
                width: calc(100% - 3.5rem + 1.5rem);

                &__title {
                    @extend %theme__p1-cb;
                    font-weight: 700;
                    text-align: center;
                }

                &__paragraph {
                    @extend %theme__p2-c2;
                    text-align: center;
                }
            }
        }
    }
}
