@import "variables";

/* BEGIN STYLE */
.topi09 {
    .container--pd {
        padding: 50px 0 !important;

        @include medium-device-down {
            width: 100% !important;
            max-width: 100% !important;
            // padding-left: 29px;
        }
    }
    &__carousel {
        margin: 0 auto;
        width: 95%;

        @include small-device-down {
            width: 200px;
            margin: 0 auto 0 29px;

            .owl-stage-outer {
                overflow: visible;
            }
        }
    }
    &__box {
        flex: 0 0 auto;
        width: 100%;
        position: relative;

        &::after {
            content: "";
            width: 1px;
            height: 100%;
            display: block;
            background-color: rgba(64, 64, 64, 0.11);
            position: absolute;
            right: 0;
            top: 0;

            @include medium-device-down {
                display: none;
            }
        }
        &:last-of-type::after {
            display: none;
        }
    }
    &__content {
        padding: 16.21px 16.44px;
        background: $color-nine;
        gap: 0 20.84px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include medium-device-down {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    &__description {
        width: 100%;

        @include medium-device-down {
            margin-top: 11px;
        }
    }
    &__image {
        width: 55px;
        height: auto;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__title {
        font: $paragraph;
        font-weight: $weight-700;
        color: $color-black;
        display: block;
        margin-bottom: 5.46px;

        @include small-device {
            font-size: $paragraph-mobile;
        }
    }
    &__paragraph {
        font: $paragraph-min;
        font-family: $font-primary;
        font-weight: $weight-400;
        color: $color-two;

        p {
            font: $paragraph-min;
            font-family: $font-primary;
            font-weight: $weight-400;
            color: $color-two;
            margin-bottom: 0;
            line-height: 19px !important;

            @include large-device-down {
                font: $paragraph-min-mobile;
            }
        }
    }
}
