@import 'variables';

/* BEGIN STYLE */
.pota01{
    padding: 80px 0;
    @include medium-device-down{
        padding: 50px 20px;
    }

    &__header{
        text-align: center;
        margin-bottom: 85px;
        @include medium-device-down{
            margin-bottom: 40px;
        }
        &__title{
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-one;
            display: block;

            @include medium-device-down{
                font-size: $T2-mobile;
            }
        }
        &__subtitle{
            font-size: $T4;
            font-weight: $weight-700;
            color: $color-three;

            @include medium-device-down{
                font-size: $T4-mobile;
            }
        }
        &__line{
            background-color: $bg-main;
            width: 100%;
            display: block;
            margin: 17px 0 30px;
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-500;
            color: $color-two;

            @include medium-device-down{
                font: $paragraph-mobile;
            }
        }
    }
    // END __header

    &__boxs{
        @include medium-device-down{
            margin: 0;
            padding: 0 40px 0 0;
        }
        .owl-stage-outer{
            @include medium-device-down{
                padding: 0;
                overflow: visible;
            }
        }
        &__item{
            &__content{
                &:hover{
                    transform: scale(1.02);
                    box-shadow: 0 0 5px #ccc;
                }
            }
            &__image{
                margin-bottom: 0;
                height: 285px;
                display: block;
                &__img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            &__description{
                height: 107px;
                background-color: #E6E6E6;
                padding: 0 20px;
            }
            &__title{
                font-size: $T4;
                font-weight: $weight-700;
                color: $color-black;

                @include medium-device-down{
                    font-size: $T4-mobile;
                }
            }
            &__icon{
                width: 34px !important;
            }
        }
    }
    // END __boxs
}
// END .pota01

.pota01-page{
    &__header{
        height: 200px;
        text-align: center;
        &__title{
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-black;
            border-bottom: 7px solid $color-one;
            padding-bottom: 15px;
            @include medium-device-down{
                font-size: $T1-mobile;
            }
        }
        &__category{
            margin: 43px 0 0;
            @include medium-device-down{
                padding-right: 60px;
                display: block !important;

                .owl-stage-outer{
                    overflow: visible;
                }
            }
            &__item{
                font: $paragraph;
                font-weight: $weight-700;
                color: $color-black;
                padding: 0 15px;
                margin: 0 23px;
                @include medium-device-down{
                    font: $paragraph-mobile;
                    font-weight: $weight-700;
                    text-align: center;
                    width: 100%;
                    display: block;
                    margin: 0;
                }
                &::after{
                    content: '';
                    display: table;
                    visibility: hidden;
                    opacity: 0;
                    margin: 12px auto 0;
                    border-top: 10px solid #000;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    transition: all ease 0.3s;
                }

                &--active,
                &:hover{
                    color: $color-two;
                    &::after{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
    // END __header

    &__container{
        padding: 0;
    }

    &__categories{
        padding: 20px 0;
        padding-bottom: 0;
        background-color: $color-five;
        &__item{
            font-size: $T5;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;
            margin: 0 40px;
            border-bottom: 12px solid transparent;
            padding-bottom: 20px;

            &:hover, &.active{
                color: $color-two;
                border-color: $color-one;
            }
        }
    }
    // END __categories

    &__boxs{
        padding-bottom: 80px;
        @include medium-device-down{
            padding-bottom: 50px;
            margin: 0;
        }
        &__featured{
            padding: 80px 0;
            padding-top: 0;
            @include medium-device-down{
                padding: 50px 0;
            }
            &__item{
                &__content{
                    @include medium-device-down{
                        padding: 0;
                        margin: 0;
                    }
                }
                &__image{
                    @include medium-device-down{
                        padding: 0;
                        margin: 0 0 20px 0;
                    }
                }
                &__description{
                    padding-left: 68px;
                    @include medium-device-down{
                        padding: 0;
                    }
                }
                &__category{
                    font: $paragraph-min;
                    font-weight: 500;
                    color: $color-black;
                    background-color: #ccc;
                    padding: 10px 30px;
                    margin-bottom: 32px;
                    display: table;
                    @include medium-device-down{
                        font: $paragraph-min-mobile;
                    }
                }
                &__title{
                    font-size: $T2;
                    font-weight: $weight-700;
                    color: $color-black;
                    @include medium-device-down{
                        font-size: $T2-mobile;
                    }
                }
                &__date-publish{
                    font: $paragraph-min;
                    font-weight: $weight-500;
                    color: $color-two;
                    @include medium-device-down{
                        font: $paragraph-min-mobile;
                    }
                }
                &__paragraph{
                    font: $paragraph;
                    font-weight: $weight-500;
                    color: $color-two;
                    margin-top: 32px;
                    @include medium-device-down{
                        font: $paragraph-mobile;
                    }
                }
                &__cta{
                    font: $paragraph;
                    font-weight: $weight-700;
                    color: $color-one;
                    display: block;
                    max-width: 177px;
                    padding: 10px 15px;
                    background-color: $bg-soft;
                    margin-top: 70px;

                    @include medium-device-down{
                        font: $paragraph-mobile;
                    }
                    &__icon{
                        width: 25px !important;
                    }
                    &:hover{
                        color: $color-white;
                        background-color: $bg-black;

                        .pota01-page__boxs__featured__item__cta__icon{
                            filter: invert(1) grayscale(1);
                        }
                    }
                }
            }
            // END __item

            &__carousel{
                .owl-dots{
                    text-align: center;
                    margin-top: 50px;
                    .owl-dot{
                        width: 26px;
                        height: 19px;
                        display: inline-block;
                        background-color: #ccc;
                        margin: 0 6px;
                        &.active{
                            background-color: #3f3f3f;
                        }
                        &:hover{
                            background-color: #3f3f3f;
                        }
                    }
                }
            }
            // END __carousel
        }
        // END __featured


        &__item{
            margin-bottom: 50px;
            &__description{
                padding: 20px;
                border: 1px solid #ccc;
                border-bottom: 6px solid $color-three;
                border-top: none;
            }
            &__publish{
                font: $paragraph-min;
                font-weight: $weight-400;
                color: $color-black;
                margin-bottom: 15px;
                display: block;
            }
            &__title{
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-500;
                color: $color-black;
            }
        }
        // END __item
    }
    // END __boxs
}
// END .pota01-page

.pota01-show{
    padding: 80px 0;
    @include medium-device-down{
        padding: 50px 30px;
    }

    &__item{
        &__title{
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-black;
            @include medium-device-down{
                font-size: $T2-mobile;
            }
        }
        &__published{
            font: $paragraph-min;
            font-weight: $weight-500;
            color: $color-two;
            @include medium-device-down{
                font: $paragraph-min-mobile;
            }
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-500;
            color: $color-two;
            margin-top: 20px;
            @include medium-device-down{
                font: $paragraph-mobile;
            }
        }
        &__description{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-two;
            line-height: 27px;
            ul,ol{
                margin: 20px 0;
            }
        }
    }
    // END __item

    &__related{
        @include medium-device-down{
            margin-top: 80px;
        }
        &__share{
            font-size: $T5;
            font-family: $font-primary;
            font-weight: $weight-400;
            color: $color-black;
            border: 1px solid $color-black;
            padding: 8px 20px;
            margin-bottom: 50px;
            display: table;
            &:hover{
                background-color: $color-black;
                color: $color-white;
            }
        }
        &__title{
            font-size: $T5;
            font-weight: $weight-700;
            color: $color-black;
            margin-bottom: 30px;
            @include medium-device-down{
                font-size: $T5-mobile;
            }
        }
    }
    // END __related

    &__boxs{
        &__item{
            margin-bottom: 0;
            &__image{
                display: none;
            }
            &:first-of-type &__image{
                display: block;
            }
            &__description{
                padding: 20px;
                border: 1px solid #ccc;
                border-bottom: 6px solid $color-three;
                border-top: none;
            }
            &__publish{
                font: $paragraph-min;
                font-weight: $weight-400;
                color: $color-black;
                margin-bottom: 15px;
                display: block;
            }
            &__title{
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-400;
                color: $color-black;
            }
        }
        // END __item
    }
    // END __boxs

    &__footer{
        margin-top: 70px;
        border-top: 7px solid $color-three;
        padding-top: 37px;
        margin-bottom: 100px;
        &__tags{
            &__title{
                font-size: $T5;
                font-weight: $weight-500;
                font-family: $font-primary;
                color: $color-black;
                margin-right: 18px;
                margin-bottom: 0;
            }
            &__item{
                font: $paragraph;
                font-weight: $weight-600;
                color: $color-black;
                background-color: $color-five;
                padding: 5px 20px;
                margin: 0 4px;
            }
        }
        // END __tags

        &__share{
            font-size: $T5;
            font-family: $font-primary;
            font-weight: $weight-400;
            color: $color-white;
            border: 1px solid $color-two;
            background-color: $color-two;
            padding: 8px 20px;
            display: table;
            &:hover{
                background-color: transparent;
                color: $color-two;
            }
        }
    }
    // END __footer
}
// END .pota01-show

.pota01-home{
    padding: 0;
    &__container{
        padding: 0;
    }

    &__categories{
        padding: 15px 0;
        border-bottom: 1px solid $color-four;
        &__item{
            font-size: $T5;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;
            margin: 0 40px;

            &:hover{
                color: $color-two;
            }
        }
    }
    // END __categories

    &__featuredHome{
        padding: 50px 0;
        &__caroussel{
            padding-right: 300px;
            .owl-stage-outer{
                overflow: visible;
            }
        }
        &__item{
            width: 100%;
            height: 500px;
            &__description{
                z-index: 9;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 45px;
                background: linear-gradient(339.61deg, #000000 5.96%, rgba(0, 0, 0, 0) 64.07%);
                @include Flex($direction:column, $justify:end, $align:start)
            }
            &__title{
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-400;
                color: $color-white;
                letter-spacing: 1px;
            }
            &__publishing{
                display: block;
                margin-top: 15px;
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-white;
            }
        }
    }
    // END __featuredHome

    &__news{
        padding-bottom: 80px;
        &__start{
            &__titleSection{
                font-size: $T3;
                font-weight: $weight-700;
                font-family: $font-primary;
                color: $color-two;
                position: relative;
                width: 100%;
                margin-bottom: 30px;
                span{
                    position: relative;
                    z-index: 10;
                    background-color: #fff;
                    padding-right: 30px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    height: 3px;
                    width: 100%;
                    z-index: 1;
                    transform: translate(0, -50%);
                    background-color: $color-three;
                }
            }
        }
    }
    // END __news

    &__boxs{
        &__item{
            margin-bottom: 17px;
            &__description{
                padding: 20px;
                border: 1px solid #ccc;
                border-bottom: 6px solid $color-three;
                border-top: none;
            }
            &__publish{
                font: $paragraph-min;
                font-weight: $weight-400;
                color: $color-black;
                margin-bottom: 15px;
                display: block;
            }
            &__title{
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-500;
                color: $color-black;
            }
        }
    }
    // __boxs



    // ======= PODCAST =======

    &__podcast{
        padding: 0 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        &__titleSection{
            font-size: $T4;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;
            margin-top: 21px;
            margin-bottom: 20px;
            &__icon{
                margin-right: 15px;
            }
        }
        &__item{
            margin-bottom: 24px;
            &__content{
                @include Flex();
            }
            &__image{
                border-radius: 100%;
                overflow: hidden;
                width: 100px;
                height: 100px;
                display: block;
                border: 1px solid #ccc;
                padding: 5px;
                &__img{
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            // END __image

            &__description{
                display: block;
                width: calc(100% - 100px);
                padding-left: 15px;
            }
            &__title{
                font: $paragraph;
                font-weight: $weight-600;
                color: $color-black;
                margin-bottom: 10px;
            }
            &__duration{
                display: block;
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-three;
                margin-bottom: 10px;
            }
            &__publish{
                display: block;
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-one;
            }
        }
        // END __item
        &__link{
            background-color: $color-three;
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-white;
            padding: 10px 20px;
            display: table;
            margin-top: 20px;
            margin-left: auto;
            margin-right: -25px;
            margin-bottom: -5px;
        }
    }
    // END __podcast

    // ======= ADVERTS ========

    &__adverts{
        &__item{
            display: block;
            width: 100%;
            position: relative;
            &__image{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
            &--advertiseHere{
                background-color: #ccc;
                @include Flex()
            }
            &__title{
                font-size: $T4;
                font-weight: $weight-500;
                font-family: $font-primary;
                color: $color-black;
                border-bottom: 7px solid $color-three;
                padding-bottom: 10px;
            }
        }
        // END __item
        &--homeBottomPodcast &__item{
            height: 385px;
            margin-bottom: 11px;
        }

        &--bottomLatestNews &__item{
            height: 144px;
            margin-top: 50px;
            margin-top: 11px;
        }

        &--category &__item{
            height: 144px;
            margin-top: 40px;
        }

        &--categoryInnerBeginPage &__item{
            width: 580px;
            height: 85px;
        }

        &--categoryInnerEndPage &__item{
            height: 144px;
            margin-top: 50px;
        }

        &--blogInner &__item{
            height: 162px;
            margin-top: 50px;
        }

        &--podcastBeforeArticle &__item{
            height: 305px;
            margin-bottom: 65px;
        }

        &--podcastAfterArticle &__item{
            height: 305px;
            margin-top: 60px;
        }
    }

    // ======= VIDEOS =======

    &__videos{
        background-color: $color-three;
        padding: 80px 0;
        &__titleSection{
            font-size: $T3;
            font-weight: $weight-700;
            font-family: $font-primary;
            color: $color-two;
            position: relative;
            width: 100%;
            margin-bottom: 70px;
            display: flex;
            span{
                position: relative;
                z-index: 10;
                background-color: $color-three;
                padding-right: 30px;
            }
            &__link{
                position: relative;
                z-index: 10;
                background-color: $color-four;
                margin-left: auto;
                display: inline-table;
                font: $paragraph;
                font-weight: $weight-400;
                font-family: $font-primary;
                color: $color-white;
                padding: 10px 20px;
            }
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                height: 3px;
                width: 100%;
                z-index: 1;
                transform: translate(0, -50%);
                background-color: $color-four;
            }
        }
        // END __titleSection

        &__item{
            width: 100%;
            height: 481px;
            &__image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &__description{
                z-index: 9;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 45px;
                background: linear-gradient(339.61deg, #000000 5.96%, rgba(0, 0, 0, 0) 64.07%);
                @include Flex($direction:column, $justify:end, $align:start)
            }
            &__title{
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-400;
                color: $color-white;
                letter-spacing: 1px;
            }
            &__publishing{
                display: block;
                margin-top: 15px;
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-white;
            }
        }
        // END __item

        &__boxs{
            &__item{
                &__image{
                    position: relative;
                    height: 150px;
                    &__img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                &__description{
                    padding: 20px 0;
                }
                &__title{
                    font: $paragraph;
                    font-weight: $weight-500;
                    color: $color-white;
                }
            }
        }
        // __boxs

        &__play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    // END __videos


    // ========== CATEGORIES FEATURED HOME ==============

    &__categoriesFeatured{
        padding: 90px 0;
        &__container{
            margin-bottom: 70px;
        }
        &__titleSection{
            font-size: $T3;
            font-weight: $weight-700;
            font-family: $font-primary;
            color: $color-two;
            position: relative;
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            span{
                position: relative;
                z-index: 10;
                background-color: $color-white;
                padding-right: 30px;
            }
            &__link{
                position: relative;
                z-index: 10;
                background-color: $color-four;
                margin-left: auto;
                display: inline-table;
                font: $paragraph;
                font-weight: $weight-400;
                font-family: $font-primary;
                color: $color-white;
                padding: 10px 20px;
            }
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                height: 3px;
                width: 100%;
                z-index: 1;
                transform: translate(0, -50%);
                background-color: $color-four;
            }
        }
        // END __titleSection

        &__news{
            &__item{
                margin-bottom: 17px;
                &__description{
                    padding: 20px;
                    border: 1px solid #ccc;
                    border-bottom: 6px solid $color-three;
                    border-top: none;
                }
                &__publish{
                    font: $paragraph-min;
                    font-weight: $weight-400;
                    color: $color-black;
                    margin-bottom: 15px;
                    display: block;
                }
                &__title{
                    font-size: $T4;
                    font-family: $font-primary;
                    font-weight: $weight-500;
                    color: $color-black;
                }
            }
        }
        // __news
    }
    // END __categoriesFeatured
}
// END .pota01-home

.pota01-podcast{
    padding-bottom: 80px;
    &__header{
        border-bottom: 1px solid $color-two;
        padding: 25px 0;
        margin-bottom: 70px;
        &__title{
            font-size: $T2;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;
        }
    }
    &__end{
        padding-left: 40px;
    }
    &__podcast{
        padding: 0 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        &__titleSection{
            font-size: $T4;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;
            margin-top: 21px;
            margin-bottom: 20px;
            &__icon{
                margin-right: 15px;
            }
        }
        &__item{
            padding: 35px 0;
            border-bottom: 1px solid #ccc;
            &.target{
                background-color: $color-five;
                padding: 15px;
            }
            &__content{
                @include Flex($align:start);
            }
            &__image{
                border-radius: 100%;
                overflow: hidden;
                width: 100px;
                height: 100px;
                display: block;
                border: 1px solid #ccc;
                padding: 5px;
                margin-right: 30px;
                &__img{
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            // END __image

            &__description{
                display: block;
                width: calc(100% - 100px);
                padding-left: 15px;
            }
            &__title{
                font: $paragraph;
                font-weight: $weight-600;
                color: $color-black;
                margin-bottom: 10px;
            }
            &__duration{
                display: block;
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-three;
                margin-bottom: 10px;
            }
            &__publish{
                display: block;
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-one;
            }
            &__paragraph{
                font: $paragraph-min;
                font-weight: $weight-400;
                color: $color-two;
                margin-top: 18px;
                margin-bottom: 0;
            }
        }
        // END __item
        &__link{
            background-color: $color-three;
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-white;
            padding: 10px 20px;
            display: table;
            margin-top: 20px;
            margin-left: auto;
            margin-right: -25px;
            margin-bottom: -5px;
        }
    }
    // END __podcast
}
// END .pota01-podcast
.audioplayer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0 24px;
    width: 100%;
    height: 65px;
    align-items: center;
    border: 1px solid #DDE2E6;
    border-radius: 4px;
    background: #fff;
}

.audioplayer-volume-adjust > div{
    background-color: #BEC8D2;
    height: 8px;
}
.audioplayer-volume-adjust div div{
    background-color: #0059FF;
    height: 8px;
}
.audioplayer-playing .audioplayer-bar-played::after{
    border: 2px solid #0059FF;
}
.audioplayer-bar-played{
    background: -webkit-linear-gradient(left,#0059FF,#09B1FA);
}
.audioplayer-bar-loaded{
    background: #BEC8D2;
}

.audioplayer-time{
    color: rgba(51, 51 ,51, .6)
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{
    margin-left: 2px;
    border-top: 7px solid transparent;
    border-right: none;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #0059FF;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause{
    background: rgba(91, 130, 255, 0);
    border: 1px solid #5B82FF;
}


