@import 'variables';

/* BEGIN STYLE */

.foot03{
    background: #000;

    .container--pd{
        padding: 79px 0 90px 0 !important;

        @include medium-device-down {
            padding: 22px 50px 143px 50px !important;
        }
    }

    .btn-comeBack{
        position: absolute;
        right: 13px;
        bottom: 106px;
        height: 100px;
        width: 58px;
        background: #B3B3B3;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include medium-device-down {
            width: 50px;
            height: 87px;
            bottom: 219px;
        }
        // @include small-width {
        //     bottom: 219px;
        // }
        img{
            width: 23px;
            height: 29px;
            object-fit: contain;

            @include medium-device-down{
                width: 19px;
                height: 20px;
            }
        }
    }
    &__top{
        margin-bottom: 17.3px;

        @include medium-device-down {
            & > div{
                flex-direction: column;
            }

        }
        .content-nv{
            display: flex;
            align-items: center;
            gap:0 30px;
        }
        &__telefone{
            a{
                display: flex;
                align-items: center;
                color:$color-black;
                font: $paragraph;
                font-weight: $weight-700;
                font-family: $font-primary;

                @include medium-device-down{
                    font: $paragraph-min;
                }

                img{
                   width: 35px;
                   margin-right: 9px;
                   object-fit: contain;

                   @include medium-device-down{
                        width: 37px;
                        height: 37px;
                    }
                }
            }
        }
        &__logo{
            height: 125px;
            width: 268px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);

            @include medium-device-down {
                margin-bottom: 40px;
                height: 113px;
                width: 243px;
            }
        }
        &__redeSocial{
            gap:15px 17.5px;
            flex-wrap: wrap;
            max-width: 30%;

            a{
                img{
                    width: 32px;
                    height: auto;
                    object-fit: contain;

                    @include medium-device-down{
                        width: 30px;
                    }
                }
            }
        }
    }
    &__bottom{
        margin-top: 83px;
        z-index: 100;
        position: relative;

        @include medium-device-down{
            margin-top: 43.67px;
        }
        .footer-divider{
            gap:0 37px;
        }
        &__boxLeft{
            gap: 0 86px;

            @include medium-device-down {
                gap:0 16px;
                margin: 0 auto !important;
            }
            &__nav{
                @include medium-device-down {
                  width: 47%;
                }
                &__title{
                    color:$color-black;
                    font-size: $T4;
                    font-weight: $weight-700;
                    font-family: $font-primary;
                    margin-bottom: 21px;

                    @include medium-device-down{
                        font-size: $T4-mobile;
                    }
                }
                ul{
                    gap:8px 0;
                    display: flex;
                    flex-direction: column;

                    li{
                        padding-bottom: 8px;
                        border-bottom: 1px solid $color-three;
                        a{
                            color:$color-black;
                            font-weight: $weight-700;
                            font: $paragraph;
                            max-width: 163px;
                            display: block;
                            @include medium-device-down{
                                font: $paragraph-min;
                            }
                        }
                    }
                }
            }
        }
        &__boxRight{
            gap:0 37px;
            padding-right: 0 !important;

            @include medium-device-down{
                margin-top: 54px;
                padding-right: 0px !important;
                gap:0;
            }

            &__nav{
                &__title{
                    color:$color-black;
                    font-size: $T4;
                    font-weight: $weight-700;
                    font-family: $font-primary;
                    margin-bottom: 21px;

                    @include medium-device-down{
                        font-size: $T4-mobile;
                    }
                }
                ul{
                    li{
                        a{
                            .icone{
                                width: 43px;
                                height: 43px;
                                @include medium-device-down{
                                    width: 37px;
                                    height: 37px;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                            .description {
                                margin-left: 10px;

                                .title{
                                    color:$color-black;
                                    font-weight: $weight-400;
                                    font: $paragraph;
                                    margin-bottom: 0;
                                    @include medium-device-down{
                                        font-size: $paragraph-mobile;
                                    }
                                }
                                span{
                                    color:$color-one;
                                    font-weight: $weight-400;
                                    font: $paragraph-min;

                                    @include medium-device-down{
                                        font-size: $paragraph-min-mobile;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
    &__credits{
        background: #7C7C7C;
        height: 106px;

        @include medium-device-down{
            height: auto;
        }
        .row--mobile{
            @include medium-device-down{
                padding: 13px 53px;
            }
        }
        &__content{
            @include medium-device-down{
                flex-direction:column !important;
                justify-content: center !important;
                align-items: center !important;
            }
        }
        &__nav{
            @include medium-device-down {
                flex-wrap: wrap;
                justify-content: center !important;
            }
            ul{
                gap: 0 32px;

                @include medium-device-down {
                    flex-wrap: wrap;
                    justify-content: center !important;
                    gap: 17px 15px;
                }
                li{
                    display: flex;

                    a{
                        color:$color-one;
                        font-weight: $weight-700 !important;
                        font: $paragraph;
                        display: flex;
                        align-items: center;

                        @include medium-device-down{
                            font: $paragraph-mobile;
                        }

                        &:after{
                            content:'';
                            width: 3px;
                            height: 24px;
                            background: $color-one;
                            background: #404040;
                            margin-left: 29px;

                            @include medium-device-down{
                                margin-left: 15px;
                            }
                        }

                    }
                    &:last-of-type a:after{
                        display: none;
                    }
                }
            }
        }
        &__logo{
            width: 147px;
            height: 72px;

            @include medium-device-down{
                margin-top: 31px;
                width: 127px;
                height: 62px;
            }
        }
    }

    ul{
        padding: 0;

    }
    a {
        color: inherit;
        text-decoration: none;
    }

    li {
        list-style: none;
    }

}
