@import "variables";

/* BEGIN STYLE */
.slid01 {
    padding-top: 5rem;

    @include small-device-down{
        padding-top: 4rem;
    }

    &__item {
        @extend %theme__padding;
        padding-bottom: 0;
        z-index: 0;
        min-height: 88.2dvh;
        @include disFlex(row, space-between, center);
        padding-left: 10vw;
        padding-top: 0;

        // @include large-device-down {
        //     flex-direction: column;
        //     gap: 2.5rem;

        // }

        &__background {
            position: absolute;
            inset: 0;
            z-index: -1;

            &__img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                object-position: center;

                @include large-device-down {
                    filter: brightness(0.8);
                }
            }
        }

        &__header {
            width: 50%;

            @include large-device-down {
                width: 100%;
            }

            &__title {
                color: #FFF;
                font-family: $font-primary;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                margin-bottom: 57px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 410px;
                    height: 1px;
                    background-color: #FFF;
                    bottom: -29px;
                    left: -48%;
                }
            }

            &__subtitle {
                color: #FFF;
                font-family: $font-primary;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                width: 100%;
                max-width: 250px;
                margin-bottom: 0;

                span {
                    color: #ffffff;
                }

            }

            &__description {
                @extend %theme__p1-c2;

                max-width: 525px;

                @include large-device-down {
                    max-width: 100%;
                }
            }

            &__cta {
                @extend %theme__cta;
                margin-top: 3rem;

                span {
                    transform: skew(10deg, 0deg) !important;
                }
            }
        }

        &__image {
            width: 32%;
            height: auto;

            aspect-ratio: 491/676;
            align-self: end;

            object-fit: contain;
            object-position: center;

            @include large-device-down {
                width: 50%;
                margin-inline: auto;
            }
        }
    }
}