@import "variables";

/* BEGIN STYLE */
#SLID01 {
    position: relative;

    // .slid01 {
    // }

    .img-background-slide {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .content-slide {
        height: 100vh;
        position: relative;

        .img-floating-png {
            z-index: 10;
            position: absolute;
            top: 0;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: contain;
                object-position: bottom;
            }

            @include medium-device-down {
                position: relative;
                height: 300px;
                max-width: 476px;
                margin-top: 30px;
            }
        }

        &.start {
            flex-direction: row;
            text-align: left;

            .img-floating-png {
                right: 0;
            }
        }
        &.center {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .img-floating-png {
                display: none;
            }
            .content-description .description {
                margin: 0 auto;
            }
        }
        &.end {
            flex-direction: row-reverse;
            text-align: right;

            .img-floating-png {
                left: 0;
            }
        }

        .content-description {
            z-index: 20;

            .title {
                font-size: $T1;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-one;
                display: block;

                @include medium-device-down {
                    font-size: $T1-mobile;
                }
            }

            .subtitle {
                font-size: $T3;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-two;

                @include medium-device-down {
                    font-size: $T3-mobile;
                }
            }

            .description {
                font: $paragraph;
                font-weight: $weight-500;
                color: $color-two;
                margin: 28px 0 51px 0;
                width: 70%;
                line-height: 25px;

                @include medium-device-down {
                    font: $paragraph-mobile;
                }
            }

            .btn-cta-slide {
                font: $paragraph;
                color: $color-black;
                font-weight: $weight-500;
                border-radius: $edge-rounded-none;
                background-color: $color-white;
                min-width: 177px;
                display: table;
                img {
                    width: 25px;
                    margin-right: 16px;
                }

                &:hover {
                    background-color: $bg-main;
                    color: $color-white;
                    img {
                        filter: grayscale(1) invert(1);
                    }
                }
            }
        }

        @include medium-device-down {
            justify-content: center;
            align-items: end !important;
        }
    }
    #dotsSlideCustom {
        position: absolute;
        top: 50%;
        right: 3%;
        z-index: 5;
        transform: translate(0, -50%);

        .owl-dot {
            width: 13px;
            height: 13px;
            display: block;
            border-radius: $edge-rounded-full;
            background-color: adjust-color($bg-white, $alpha: -0.8);
            padding: 0;
            margin: 0 0 5px 0;
            border: none;
            &:hover,
            &.active {
                background-color: $bg-secondary;
            }
        }
    }
}
