@import 'variables';

/* BEGIN STYLE */
.comp01-page{
    &__header{
        text-align:  center;
        background-color: #EFEFEF;
        padding: 87px 0;
        margin: 0;
        position: relative;
        @include backG;

        &__mask{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 73%);
        }

        &__container{
            margin-bottom: 25px;
            z-index: 100;
            position: relative;
        }
        &__title{
            font-size: $T1;
            font-family: $font-primary;
            color: $color-black;
            display: block;

            @include small-device{
                font-size: $T2-mobile;
            }
        }
    }
    // END __header

    &__content{
        padding: 45px 0 120px;
        &__icon{
            width: 36px;
            margin: 10px auto;
            display: table;
        }
        &__container{
            text-align: center;
            margin-bottom: 35px;
        }
        &__title{
            font-size: $T2;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;
            display: block;

            @include small-device{
                font-size: $T2-mobile;
            }
        }
        &__subtitle{
            font-size: $T4;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;
            display: block;

            @include small-device{
                font-size: $T4-mobile;
            }
        }
        &__line{
            width: 100%;
            background-color: $color-one;
            margin-bottom: 35px;
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-500;
            padding: 0 30px;
            color: $color-one;
            line-height: 25px;

            @include small-device{
                font: $paragraph-mobile;
            }
        }

    }
    // END __content

    &__archives{
        margin-top: 50px;
        &__item{
            font: $paragraph;
            font-weight: $weight-700;
            color: $color-black;
            display: table;
            margin: 0 25px 0 0;
            max-width: 100%;
            padding: 10px 15px;
            background-color: $bg-soft;

            @include small-device{
                font: $paragraph-mobile;
            }

            &:hover{
                color: $color-white;
                background-color: $bg-black;

                .comp01__archives__item__icon{
                    filter: invert(1) grayscale(1);
                }
            }
        }
    }
    // END __arvhives
}
