@import 'variables';

/* BEGIN STYLE */
.topi04{
    &__boxLeft{
        height: 659px;

        &__image{

            img{
                object-fit: cover;
            }
        }
    }
    &__description{
        padding: 102px 102px 114.99px 101px;
    }
    &__boxRight{
        min-height: 659px;

    }
    &__topics{
        &__item{
            height: 224px;
            background: #ccc;
        }
    }
}
