 // CTA
 $topi04-cta-font: $paragraph;
 $topi04-cta-font-weight: $weight-700;
 $topi04-cta-color: $color-black;
 $topi04-cta-display: block;
 $topi04-cta-margin-top: 18px;
 $topi04-cta-max-width: 177px;
 $topi04-cta-padding: 10px 15px;
 $topi04-cta-background-color: $bg-soft;
 // HOVER
 $topi04-cta-color-hover: $color-white;
 $topi04-cta-background-color-hover: $bg-black;
 $topi04-cta-icon-filter-hover: invert(1) grayscale(1);

 // RESPONSIVE
 $topi04-cta-font-responsive: $paragraph-mobile;
