@import "variables";

/* BEGIN STYLE */
.cont05 {
    overflow: hidden; /* prevenção do shift da animação*/
    @extend %theme__padding;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);
        margin-bottom: 2.5rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }

        &__subtitle {
            @extend %theme__t4-c3;
        }
    }

    &__main {
        @include disFlex(column, center, center);

        &__paragraph {
            width: 100%;
            max-width: 680px;

            @extend %theme__p1-c2;
            text-align: center;
            margin-bottom: 2rem;
        }

        &__cta {
            @extend %theme__cta;
        }
    }
}
