@import 'variables';

/* BEGIN STYLE */
#CONT05{
    padding: 63px 0 59px 0;
}
.cont05{
    @include backG();
    &__header{
        width: 85%;
        display: table;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;

        &__title{
            font-size: $T2;
            font-family: $font-primary;
            font-weight: $weight-700;
        }
        &__paragraph{
            font-size: $paragraph;
            font-weight: $weight-400;
            width: 95%;
            max-width: 680px;
            display: table;
            margin: 0 auto;
        }
    }
    &__content{
        &__cta{
            font: $paragraph;
            font-weight: $weight-700;
            color: $color-black;
            display: block;
            margin: 28px auto 0;
            max-width: 177px;
            padding: 10px 15px;
            background-color: $bg-soft;

            @include small-device{
                font: $paragraph-mobile;
                margin: 36px auto 0;
                width: 147px;
            }

            &:hover{
                color: $color-white;
                background-color: $bg-black;

                .cont05__cta__icon{
                    filter: invert(1) grayscale(1);
                }
            }
        }
    }
}
