@import "variables";

/* BEGIN STYLE */
.cont05 {
    overflow: hidden; /* prevenção do shift da animação*/
    @extend %theme__padding;
    background-color: #2E368E;

    &__header {

        &__title {
            color: #FFF;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
        }

        &__subtitle {
            @extend %theme__t4-c3;
        }
    }

    &__main {
        @include disFlex(row, space-between, center);

        &__paragraph {
            color:#FFF;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }

        p {
            color:#FFF;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            text-align: left;
        }

        &__cta {
            @extend %theme__cta;
            background-color: #FFF;

            span {
                transform: skew(10deg, 0deg) !important;
            }
        }
    }
}
