@import "variables";

.cont02 {
    // @extend %theme__padding;
    padding-bottom: 0;
    @include disFlex(row, space-between);

    /* Quando não houver imagem cadastrada, o box information receberá width de 100%*/
    &:not(:has(&__image)) &__information {
        width: 100%;
        padding-top: unset;
    }

    @include large-device-down {
        flex-direction: column-reverse;
    }

    &__image {
        width: 50%;
        // height: 750px;

        clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);

        // aspect-ratio: 430/593;

        // align-self: end;
        // margin-inline: auto;

        @include large-device-down {
            width: 100%;
            // aspect-ratio: 256/351;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__information {
        padding: 0 4rem;
        width: 55.2%;
        background-color: #2E368E;

        @include disFlex(column, center);

        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);

        @include large-device-down {
            width: 100%;
            clip-path: inherit;
            padding: 4rem 5vw;
        }

        &__title {
            color: #FFF;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 42px;
            width: 100%;
            max-width: 530px;

            span {
                color: #cacaca;
            }
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 1.25rem;
        }


        &__paragraph {
            color: #FFF;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            // width: 100%;
            // max-width: 500px;
        }

        &__cta {
            @extend %theme__cta;
            margin: 32px 0 0 auto;

            span {
                transform: skew(10deg, 0deg) !important;
            }
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        @include large-device-down {
            flex-direction: column-reverse;
        }
    }

    &:nth-child(odd) .cont02__image {
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        height: 650px;

        @include large-device-down {
            height: 100%;
        }
    }

    &:nth-child(odd) .cont02__image img{
        object-position: right;
    }

    &:nth-child(odd) .cont02__information {
        clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);

        @include large-device-down {
            clip-path: inherit;
        }
    }
}
