@import 'variables';

/* BEGIN STYLE */
.serv12 {
    overflow: hidden; /* prevenção do shift da animação*/
    @extend %theme__padding;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);
        margin-bottom: 3rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__paragraph {
            width: 100%;
            max-width: 938px;

            @extend %theme__p1-c2;
            text-align: center;
        }
    }
    &__categories {
        @extend %theme__padding;
        padding-top: 0;
        padding-bottom: 1.5rem;
        width: 100%;

        &__swiper-wrapper{
            margin: inherit;
            padding: 0;
        }
        
        &__item {
            @extend %theme__category;
        }
    }

    &__services {
        height: auto;
        background-color: $color-one;
        @extend %theme__padding;

        &__carousel {
            height: auto;
            overflow: hidden;

            @include large-device-down {
                overflow: visible;
            }

            @extend %theme__pagination;
            .swiper-pagination-bullets {
                text-align: center;
            }
        }

        &__item {
            position: relative;
            background-color: $color-five;
            /* Qtde de gaps * tamanho do gap / qtde de elementos */
            width: calc(25% - 6px);
            height: auto;
            padding: 3.75rem 4.5rem 5rem;
            aspect-ratio: 330/327;

            @include disFlex(column, center, center);

            @include x-large-device-down {
                width: 33.33%;
            }
            @include large-device-down {
                width: 50%;
            }
            @include medium-device-down {
                width: 100%;
            }

            &__bg {
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                object-position: center;
                object-fit: cover;
                z-index: -1; /* envia para o fundo o bg do topico */
            }

            &__icon {
                width: 3rem;
                height: auto;
                aspect-ratio: 1/1;

                object-fit: contain;
                object-position: center;

                margin-bottom: 1.5rem;
            }
            &__title {
                @extend %theme__t5-cb;

                margin-bottom: 0.75rem;
            }
            &__paragraph {
                @extend %theme__p2-c2;
                text-align: center;
            }
        }

    }
    &__cta {
        @extend %theme__cta;
        margin-left: auto;
    }
}

.serv12-page{
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }
        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }
    &__categories {
        @extend %theme__padding;
        padding-top: 0;
        padding-bottom: 1.5rem;
        width: 100%;

        &__swiper-wrapper{
            margin: inherit;
            padding: 0;
        }
        
        &__item {
            @extend %theme__category;
        }
    }
}