@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: block;
}
body.no-scroll {
  overflow-y: hidden;
}

p {
  line-height: 27px !important;
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0;
}

#root {
  overflow-x: hidden;
  width: 100%;
  display: block;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgba(64, 64, 64, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: rgba(64, 64, 64, 0.8);
}

body::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

a {
  text-decoration: none;
}

.content {
  position: relative;
}

.link-full {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.text-primary {
  color: #404040 !important;
}

.text-secondary {
  color: #7C7C7C !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px !important;
}

.fw-medium {
  font-weight: 600;
}

.fw-semibold {
  font-weight: 900;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 100% !important;
    padding: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 90% !important;
    padding: 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1112px !important;
  }
}
.btn-icon {
  transform: scale(1);
  transition: ease all 0.4s;
}
.btn-icon:hover {
  transform: scale(1.15);
  transition: ease all 0.4s;
}

.object-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fit-none {
  -o-object-fit: none;
     object-fit: none;
}

.object-fit-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.btn-primary,
.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: #404040;
  border-color: #404040;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active {
  color: #fff;
  background-color: rgba(64, 64, 64, 0.9);
  border-color: rgba(64, 64, 64, 0.9);
}
.btn-primary:focus,
.btn-primary:disabled:focus,
.btn-primary.disabled:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(64, 64, 64, 0.9);
  border-color: rgba(64, 64, 64, 0.9);
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.form-control:focus {
  color: #212529;
  background-color: initial;
  border-color: initial;
  outline: 0;
  box-shadow: none;
}

.body-section {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.parsley-error {
  border-color: #c90000;
}

.parsley-errors-list {
  padding-left: 0;
  font-size: 13px;
  color: #c90000;
}
.parsley-errors-list li {
  list-style: none;
}

.transition {
  transition: ease all 0.2s;
  -webkit-transition: ease all 0.2s;
}

.dropdown-menu {
  padding: 0.3rem;
  -webkit-animation-name: DropDownSlide;
          animation-name: DropDownSlide;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  top: 100%;
}
.dropdown-menu.show {
  top: 100% !important;
}
.dropdown-menu i {
  display: inline-block;
}

.dropdown-menu-end {
  right: 0 !important;
  left: auto !important;
}

.dropdown-menu[data-popper-placement^=right],
.dropdown-menu[data-popper-placement^=top],
.dropdown-menu[data-popper-placement^=left] {
  top: auto !important;
  -webkit-animation: none !important;
          animation: none !important;
}

@-webkit-keyframes DropDownSlide {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(15px);
  }
}

@keyframes DropDownSlide {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(15px);
  }
}
.fixed-floating {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}
.fixed-floating.top {
  top: 0;
}

.menu-arrow {
  display: inline-table;
  vertical-align: middle;
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.form101 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form101 .container--pd {
  padding: 91px 0 45px 0 !important;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101 .container--pd {
    padding: 73px 0 45px 0 !important;
    max-width: 83% !important;
  }
}
.form101__boxLeft__subtitle {
  max-width: 367px;
  background-color: #B3B3B3;
  color: #7C7C7C;
  min-height: 40px;
  padding: 8px;
  font-size: 1.25rem;
  margin-bottom: 18px;
  font-weight: 700;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__subtitle {
    font-size: 1.125rem;
    max-width: 229px;
  }
}
.form101__boxLeft__title {
  font-size: 2.5rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__title {
    font-size: 1.875rem;
    margin-bottom: 17px;
  }
}
.form101__boxLeft__paragraph {
  width: 499px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__paragraph {
    width: 100%;
  }
}
.form101__boxLeft__paragraph p {
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 400;
  color: #7C7C7C;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__paragraph p {
    font: 0.875rem "Montserrat", sans-serif, arial;
  }
}
.form101__boxRight {
  margin-top: 67px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxRight {
    margin-top: 50px;
  }
}
.form101__boxRight__form {
  display: flex;
}
.form101__boxRight__form div {
  padding: 0;
}
.form101__boxRight input {
  height: 42px;
  background: #fff !important;
  border: 0;
  border-radius: 0;
  padding: 0 15px;
}
.form101__boxRight input::-moz-placeholder {
  background-color: #fff !important;
}
.form101__boxRight input::placeholder {
  background-color: #fff !important;
}
.form101__boxRight__cta {
  background-color: #fff;
  color: #404040;
  height: 45px;
  width: 177px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  border: 0;
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 700;
  margin-left: auto;
  transition: 0.5s all ease;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxRight__cta {
    height: 39px;
    width: 153px;
    margin-top: 18px;
  }
}
.form101__boxRight__cta:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s all ease;
}
.form101__boxRight__cta img {
  width: 25.16px;
  height: 25.16px;
  margin-right: 16.87px;
  transition: 0.5s all ease;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxRight__cta img {
    width: 21px;
    height: 21px;
    margin-right: 14.58px;
  }
}
.form101__boxRight__cta:hover img {
  filter: invert(1) grayscale(1);
  transition: 0.5s all ease;
}

.form__file input {
  display: none;
}

.jq-toast-wrap {
  width: 330px;
}

.jq-toast-single {
  font-family: "Montserrat", sans-serif, arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.jq-toast-single h2 {
  font-family: "Ubuntu", sans-serif, arial;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.close-jq-toast-single {
  top: 7px;
  right: 7px;
  font-size: 29px;
}

/* BEGIN STYLE */
#HEAD02 {
  border-bottom: 9px solid #7C7C7C;
}
#HEAD02 .container-header {
  min-height: 100px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #HEAD02 .container-header {
    min-height: auto;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #HEAD02 .container-header #logoHeader img {
    width: 185px;
  }
}
@media (min-width: 0) and (max-width: 575.98px) {
  #HEAD02 .container-header #logoHeader img {
    width: 155px;
  }
}
#HEAD02 .container-navigation .menu-list {
  margin-right: 35px;
  padding-right: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#HEAD02 .container-navigation .menu-list .menu-item {
  margin-right: 44px;
  position: relative;
}
#HEAD02 .container-navigation .menu-list .menu-item:after {
  content: "";
  width: 100%;
  height: 9px;
  display: block;
  background-color: transparent;
  position: absolute;
  bottom: -42px;
  left: 0;
  transition: ease all 0.2s;
}
#HEAD02 .container-navigation .menu-list .menu-item:hover:after {
  background-color: #8a8a8a;
  transition: ease all 0.2s;
}
#HEAD02 .container-navigation .menu-list .menu-item .link {
  font: 1rem "Montserrat", sans-serif, arial;
  color: #7C7C7C;
}
#HEAD02 .container-navigation .menu-list .menu-item .link:hover {
  color: #000;
}
#HEAD02 .container-navigation .menu-list .menu-item:last-child {
  margin-right: 0;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu {
  background-color: #404040;
  border-radius: 0 10px 10px;
  min-width: 165px;
  padding: 10px;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item {
  font: 0.875rem "Montserrat", sans-serif, arial;
  color: #fff;
  margin-bottom: 11px;
  display: table;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:nth-of-type(2n+0), #HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:last-of-type {
  padding-right: 0;
  margin-right: 0;
  border: none;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
  transition: ease all 0.2s;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:hover {
  color: #7C7C7C;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:hover:after {
  width: 90%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #HEAD02 .container-navigation .menu-list {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #HEAD02 .container-navigation .menu-list {
    display: none;
  }
}
#HEAD02 .container-navigation .container-cta {
  margin-right: 35px;
  padding-right: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#HEAD02 .container-navigation .container-cta .btn-cta {
  background-color: #000;
  border-radius: 50px;
  min-width: 125px;
  display: table;
  text-align: center;
  color: #fff;
  padding: 1px 15px;
}
#HEAD02 .container-navigation .container-cta .btn-cta.show {
  border-radius: 17px 17px 0 0;
  background-color: #7C7C7C;
}
#HEAD02 .container-navigation .container-cta .btn-cta:hover {
  background-color: #7C7C7C;
}
#HEAD02 .container-navigation .container-cta .btn-cta .menu-arrow {
  border-top-color: #fff;
  margin-left: 10px;
  margin-right: -25px;
  margin-bottom: 3px;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right {
  background-color: #404040;
  border-radius: 0 10px 10px;
  min-width: 260px;
  flex-wrap: wrap;
  padding: 10px;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right.show {
  display: flex;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right:after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item {
  font: 0.875rem "Montserrat", sans-serif, arial;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 11px;
  margin-right: 11px;
  display: table;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item:nth-of-type(2n+0), #HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item:last-of-type {
  padding-right: 0;
  margin-right: 0;
  border: none;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item:hover {
  color: #7C7C7C;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #HEAD02 .container-navigation .container-cta {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #HEAD02 .container-navigation .container-cta {
    display: none;
  }
}
#HEAD02 .container-navigation .link-translate .btn-translate {
  font-size: 0.9375rem;
  font-family: "Ubuntu", sans-serif, arial;
  font-weight: 600;
  color: #404040;
  border-right: 1px solid rgba(64, 64, 64, 0.3);
  line-height: 15px;
}
#HEAD02 .container-navigation .social-network {
  margin-right: 20px;
}
#HEAD02 .container-navigation .social-network .social-link {
  color: #404040;
  font-size: 22px;
  margin: 0 5px;
}
#HEAD02 .container-navigation .social-network .social-link:hover {
  color: #7C7C7C;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #HEAD02 .container-navigation .social-network {
    display: none !important;
  }
}
#HEAD02 .container-navigation .menu-sidebar-header {
  display: none;
  margin-left: 35px;
}
#HEAD02 .container-navigation .menu-sidebar-header .lines {
  width: 38px;
}
#HEAD02 .container-navigation .menu-sidebar-header .lines > i {
  height: 2px;
  display: block;
  background-color: #000;
}
#HEAD02 .container-navigation .menu-sidebar-header:active .lines > i {
  background-color: rgb(138, 138, 138);
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #HEAD02 .container-navigation .menu-sidebar-header {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #HEAD02 .container-navigation .menu-sidebar-header {
    display: block;
  }
}

/* BEGIN STYLE */
.side02 {
  position: fixed;
  left: -100%;
  top: 2.5%;
  display: none;
  width: 95%;
  height: 95%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 9px solid #7C7C7C;
  transition-duration: 0.6s;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .side02 {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .side02 {
    display: block;
  }
}
.side02--show {
  left: 2.5%;
  transition-duration: 0.6s;
}
.side02__scroll {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
}
.side02__scroll::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background: rgba(64, 64, 64, 0.5);
}
.side02__scroll::-webkit-scrollbar-thumb {
  background: rgba(64, 64, 64, 0.8);
}
.side02__scroll::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
.side02__header {
  padding: 10px 20px;
  margin-bottom: 40px;
}
.side02__header__button-close__icon path {
  fill: #7C7C7C;
}
.side02__header__button-close__icon:hover path {
  fill: #404040;
}
.side02__header__languages__item {
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif, arial;
  font-weight: 400;
  color: #000;
  border-right: 1px solid #404040;
  line-height: 15px;
  padding-right: 10px;
  margin-right: 10px;
}
.side02__header__languages__item:last-of-type {
  border: none;
  padding-right: 0;
  margin-right: 0;
}
.side02__header__languages__item:hover {
  color: #CACACA;
}
.side02__logo {
  width: 202px;
  display: table;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 40px;
}
.side02__navigation {
  padding: 0 30px;
  margin-bottom: 70px;
}
.side02__navigation__wrapper {
  display: table;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  max-width: 412px;
  padding: 0;
}
.side02__navigation__item__link {
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif, arial;
  font-weight: 900;
  color: #000;
  background-color: #EFEFEF;
  width: 100%;
  display: table;
  padding: 15px 21px;
  margin-bottom: 7px;
}
.side02__navigation__item__link:active, .side02__navigation__item__link:focus {
  background-color: #CACACA;
  color: #fff;
}
.side02__navigation__dropdown {
  width: 100%;
  border-radius: 0;
  background-color: #CACACA;
  padding: 0 20px;
}
.side02__navigation__sublink {
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif, arial;
  font-weight: 700;
  color: #000;
  display: block;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #dee2e6;
}
.side02__navigation__sublink:last-of-type {
  border: none;
}
.side02__container-cta {
  padding: 0 60px;
  margin-bottom: 130px;
}
.side02__container-cta__dropdown {
  display: table;
  margin: 0 auto;
}
.side02__container-cta__btn-cta {
  background-color: #000;
  border-radius: 50px;
  min-width: 175px;
  text-align: center;
  color: #fff;
  padding: 1px 15px;
  display: table;
}
.side02__container-cta__btn-cta:hover {
  color: #B3B3B3;
}
.side02__container-cta__btn-cta .menu-arrow {
  border-top-color: #fff;
  margin-left: 10px;
  margin-right: -25px;
  margin-bottom: 3px;
}
.side02__container-cta__sublink {
  background-color: #404040;
  border-radius: 0;
  width: 200px;
  padding: 10px;
  left: 50% !important;
  transform: translate(-50%) !important;
  text-align: center;
}
.side02__container-cta__sublink__item {
  color: #fff;
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #ced4da;
}
.side02__container-cta__sublink__item:last-of-type {
  border: none;
}
.side02__container-cta__sublink__item:hover {
  color: #B3B3B3;
}
.side02__social {
  margin-bottom: 44px;
}
.side02__social__item {
  color: #404040;
  font-size: 25px;
  margin: 0 5px;
}
.side02__footer {
  margin-bottom: 30px;
}
.side02__footer__item {
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 400;
  color: #404040;
  border-right: 2px solid #404040;
  padding: 0 30px 0 0;
  margin: 0 30px 0 0;
}
.side02__footer__item:last-of-type {
  border: none;
  padding: 0;
  margin: 0;
}
.side02__override {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.41);
  z-index: 900;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.8s;
}
.side02__override--show {
  transition-duration: 0.8s;
  visibility: visible;
  opacity: 1;
}

/* BEGIN STYLE */
.foot03 {
  background: #000;
}
.foot03 .container--pd {
  padding: 21px 0 90px 0 !important;
}
@media (max-width: 767.98px) {
  .foot03 .container--pd {
    padding: 22px 50px 143px 50px !important;
  }
}
.foot03 .btn-comeBack {
  position: absolute;
  right: 13px;
  bottom: 106px;
  height: 100px;
  width: 58px;
  background: #B3B3B3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .foot03 .btn-comeBack {
    width: 50px;
    height: 87px;
    bottom: 219px;
  }
}
.foot03 .btn-comeBack img {
  width: 23px;
  height: 29px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .foot03 .btn-comeBack img {
    width: 19px;
    height: 20px;
  }
}
.foot03__top {
  margin-bottom: 17.3px;
}
@media (max-width: 767.98px) {
  .foot03__top > div {
    flex-direction: column;
  }
}
.foot03__top__telefone a {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif, arial;
}
@media (max-width: 767.98px) {
  .foot03__top__telefone a {
    font-size: 1.125rem;
  }
}
.foot03__top__telefone a img {
  width: 43px;
  margin-right: 9px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .foot03__top__telefone a img {
    width: 37px;
    height: 37px;
  }
}
.foot03__top__logo {
  height: 125px;
  width: 268px;
}
@media (max-width: 767.98px) {
  .foot03__top__logo {
    margin-bottom: 40px;
    height: 113px;
    width: 243px;
  }
}
.foot03__top__redeSocial {
  gap: 0 17.5px;
}
.foot03__top__redeSocial a img {
  width: 32px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  .foot03__top__redeSocial a img {
    width: 30px;
  }
}
@media (max-width: 767.98px) {
  .foot03__bottom {
    margin-top: 43.67px;
  }
}
.foot03__bottom__boxLeft {
  gap: 0 108px;
  margin: auto !important;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxLeft {
    gap: 0 16px;
    margin: 0 auto !important;
  }
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxLeft__nav {
    width: 47%;
  }
}
.foot03__bottom__boxLeft__nav__title {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif, arial;
  margin-bottom: 21px;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxLeft__nav__title {
    font-size: 1.125rem;
  }
}
.foot03__bottom__boxLeft__nav ul {
  gap: 8px 0;
  display: flex;
  flex-direction: column;
}
.foot03__bottom__boxLeft__nav ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid #B3B3B3;
}
.foot03__bottom__boxLeft__nav ul li a {
  color: #000;
  font-weight: 700;
  font: 1rem "Montserrat", sans-serif, arial;
  max-width: 163px;
  display: block;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxLeft__nav ul li a {
    font: 0.875rem "Montserrat", sans-serif, arial;
  }
}
.foot03__bottom__boxRight {
  gap: 0 88px;
  padding-right: 27px !important;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxRight {
    margin-top: 54px;
    padding-right: 0px !important;
    gap: 0;
  }
}
.foot03__bottom__boxRight__nav__title {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif, arial;
  margin-bottom: 21px;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxRight__nav__title {
    font-size: 1.125rem;
  }
}
.foot03__bottom__boxRight__nav ul li a .icone {
  width: 43px;
  height: 43px;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxRight__nav ul li a .icone {
    width: 37px;
    height: 37px;
  }
}
.foot03__bottom__boxRight__nav ul li a .icone img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.foot03__bottom__boxRight__nav ul li a .description {
  margin-left: 10px;
}
.foot03__bottom__boxRight__nav ul li a .description .title {
  color: #000;
  font-weight: 400;
  font: 1rem "Montserrat", sans-serif, arial;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxRight__nav ul li a .description .title {
    font-size: 0.938rem "Montserrat", sans-serif, arial;
  }
}
.foot03__bottom__boxRight__nav ul li a .description span {
  color: #404040;
  font-weight: 400;
  font: 0.875rem "Montserrat", sans-serif, arial;
}
@media (max-width: 767.98px) {
  .foot03__bottom__boxRight__nav ul li a .description span {
    font-size: 0.813rem "Montserrat", sans-serif, arial;
  }
}
.foot03__credits {
  background: #7C7C7C;
  height: 106px;
}
@media (max-width: 767.98px) {
  .foot03__credits {
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .foot03__credits .row--mobile {
    padding: 13px 53px;
  }
}
@media (max-width: 767.98px) {
  .foot03__credits__content {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
@media (max-width: 767.98px) {
  .foot03__credits__nav {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
.foot03__credits__nav ul {
  gap: 0 32px;
}
@media (max-width: 767.98px) {
  .foot03__credits__nav ul {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 17px 15px;
  }
}
.foot03__credits__nav ul li {
  display: flex;
}
.foot03__credits__nav ul li a {
  color: #404040;
  font-weight: 700 !important;
  font: 1rem "Montserrat", sans-serif, arial;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .foot03__credits__nav ul li a {
    font: 0.938rem "Montserrat", sans-serif, arial;
  }
}
.foot03__credits__nav ul li a:after {
  content: "";
  width: 3px;
  height: 24px;
  background: #404040;
  background: #404040;
  margin-left: 29px;
}
@media (max-width: 767.98px) {
  .foot03__credits__nav ul li a:after {
    margin-left: 15px;
  }
}
.foot03__credits__nav ul li:last-of-type a:after {
  display: none;
}
.foot03__credits__logo {
  width: 147px;
  height: 72px;
}
@media (max-width: 767.98px) {
  .foot03__credits__logo {
    margin-top: 31px;
    width: 127px;
    height: 62px;
  }
}
.foot03 ul {
  padding: 0;
}
.foot03 a {
  color: inherit;
  text-decoration: none;
}
.foot03 li {
  list-style: none;
}

/* BEGIN STYLE */
.serv04 .container--serv04 {
  padding: 39px 0 60.16px 0;
}
@media (max-width: 575.98px) {
  .serv04 .container--serv04 {
    padding: 37px calc(var(--bs-gutter-x) * 0.5) 58.16px calc(var(--bs-gutter-x) * 0.5);
  }
}
.serv04__encompass__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Montserrat", sans-serif, arial;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .serv04__encompass__title {
    font-size: 1.875rem;
    font-weight: 700;
  }
}
.serv04__encompass__subtitle {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif, arial;
  color: #404040;
  font-weight: 700;
  margin-bottom: 22.03px;
}
@media (max-width: 575.98px) {
  .serv04__encompass__subtitle {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
.serv04__encompass__line {
  margin: 24.99px 0 30px 0;
}
@media (max-width: 575.98px) {
  .serv04__encompass__line {
    margin: 23px 0;
  }
}
.serv04__encompass__paragraph {
  color: #404040;
  font-weight: 400;
  font: 1rem "Montserrat", sans-serif, arial;
  max-width: 890px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .serv04__encompass__paragraph {
    font: 0.938rem "Montserrat", sans-serif, arial;
    font-weight: 400;
  }
}
.serv04__encompass__paragraph p {
  color: #404040;
  font-weight: 400;
  font: 1rem "Montserrat", sans-serif, arial;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .serv04__encompass__paragraph p {
    font: 0.938rem "Montserrat", sans-serif, arial;
    font-weight: 400;
  }
}
.serv04__content {
  margin-top: 58.01px;
  display: flex;
  gap: 21.44px 0;
}
.serv04__box__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 136.84px;
  background-color: #EFEFEF;
}
.serv04__box__image {
  width: 62.29px;
  height: 62.29px;
}
.serv04__box__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.serv04-page__header .container--serv04-page {
  padding: 39px 0 60.16px 0;
}
@media (max-width: 575.98px) {
  .serv04-page__header .container--serv04-page {
    padding: 37px calc(var(--bs-gutter-x) * 0.5) 58.16px calc(var(--bs-gutter-x) * 0.5);
  }
}
.serv04-page__header__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Montserrat", sans-serif, arial;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .serv04-page__header__title {
    font-size: 1.875rem;
    font-weight: 700;
  }
}
.serv04-page__header__subtitle {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif, arial;
  color: #404040;
  font-weight: 700;
  margin-bottom: 22.03px;
}
@media (max-width: 575.98px) {
  .serv04-page__header__subtitle {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
.serv04-page__header__line {
  margin: 24.99px 0 30px 0;
}
@media (max-width: 575.98px) {
  .serv04-page__header__line {
    margin: 23px 0;
  }
}
.serv04-page__header__paragraph {
  color: #404040;
  font-weight: 400;
  font: 1rem "Montserrat", sans-serif, arial;
  max-width: 890px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .serv04-page__header__paragraph {
    font: 0.938rem "Montserrat", sans-serif, arial;
    font-weight: 400;
  }
}
.serv04-page__header__paragraph p {
  color: #404040;
  font-weight: 400;
  font: 1rem "Montserrat", sans-serif, arial;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .serv04-page__header__paragraph p {
    font: 0.938rem "Montserrat", sans-serif, arial;
    font-weight: 400;
  }
}
.serv04-page__encompass__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Montserrat", sans-serif, arial;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .serv04-page__encompass__title {
    font-size: 1.875rem;
    font-weight: 700;
  }
}
.serv04-page__encompass__subtitle {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif, arial;
  color: #404040;
  font-weight: 700;
  margin-bottom: 22.03px;
}
@media (max-width: 575.98px) {
  .serv04-page__encompass__subtitle {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
.serv04-page__encompass__line {
  margin: 24.99px 0 30px 0;
}
@media (max-width: 575.98px) {
  .serv04-page__encompass__line {
    margin: 23px 0;
  }
}
.serv04-page__encompass__paragraph {
  color: #404040;
  font-weight: 400;
  font: 1rem "Montserrat", sans-serif, arial;
  max-width: 890px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .serv04-page__encompass__paragraph {
    font: 0.938rem "Montserrat", sans-serif, arial;
    font-weight: 400;
  }
}
.serv04-page__encompass__paragraph p {
  color: #404040;
  font-weight: 400;
  font: 1rem "Montserrat", sans-serif, arial;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .serv04-page__encompass__paragraph p {
    font: 0.938rem "Montserrat", sans-serif, arial;
    font-weight: 400;
  }
}
.serv04-page .row--serv04-page {
  margin-top: 58.01px;
  display: flex;
  gap: 21.44px 0;
}
.serv04-page .container--serv04-page__main {
  padding: 47px 0 123.16px 0;
}
.serv04-page__box__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 136.84px;
  background-color: #EFEFEF;
  width: 100%;
}
.serv04-page__box__image {
  width: 62.29px;
  height: 62.29px;
}
.serv04-page__box__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* BEGIN STYLE */
.comp01-page__header {
  text-align: center;
  background-color: #EFEFEF;
  padding: 87px 0;
  margin: 0;
}
.comp01-page__header__container {
  margin-bottom: 25px;
}
.comp01-page__header__title {
  font-size: 3.125rem;
  font-family: "Ubuntu", sans-serif, arial;
  color: #000;
  display: block;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .comp01-page__header__title {
    font-size: 1.875rem;
  }
}
.comp01-page__content {
  padding: 45px 0 120px;
}
.comp01-page__content__icon {
  width: 36px;
  margin: 10px auto;
  display: table;
}
.comp01-page__content__container {
  text-align: center;
  margin-bottom: 35px;
}
.comp01-page__content__title {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif, arial;
  font-weight: 700;
  color: #404040;
  display: block;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .comp01-page__content__title {
    font-size: 1.875rem;
  }
}
.comp01-page__content__subtitle {
  font-size: 1.25rem;
  font-family: "Ubuntu", sans-serif, arial;
  font-weight: 700;
  color: #404040;
  display: block;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .comp01-page__content__subtitle {
    font-size: 1.125rem;
  }
}
.comp01-page__content__line {
  width: 100%;
  background-color: #404040;
  margin-bottom: 35px;
}
.comp01-page__content__paragraph {
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 500;
  padding: 0 30px;
  color: #404040;
  line-height: 25px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .comp01-page__content__paragraph {
    font: 0.938rem "Montserrat", sans-serif, arial;
  }
}
.comp01-page__archives {
  margin-top: 50px;
}
.comp01-page__archives__item {
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 700;
  color: #000;
  display: table;
  margin: 0 25px 0 0;
  max-width: 100%;
  padding: 10px 15px;
  background-color: #CACACA;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .comp01-page__archives__item {
    font: 0.938rem "Montserrat", sans-serif, arial;
  }
}
.comp01-page__archives__item:hover {
  color: #fff;
  background-color: #000;
}
.comp01-page__archives__item:hover .comp01__archives__item__icon {
  filter: invert(1) grayscale(1);
}
