@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: block;
}
body.no-scroll {
  overflow-y: hidden;
}

p {
  line-height: 27px !important;
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0;
}

#root {
  overflow-x: hidden;
  width: 100%;
  display: block;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgba(64, 64, 64, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: rgba(64, 64, 64, 0.8);
}

body::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

a {
  text-decoration: none;
}

.content {
  position: relative;
}

.link-full {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.text-primary {
  color: #404040 !important;
}

.text-secondary {
  color: #7C7C7C !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px !important;
}

.fw-medium {
  font-weight: 600;
}

.fw-semibold {
  font-weight: 900;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 100% !important;
    padding: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 90% !important;
    padding: 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1112px !important;
  }
}
.btn-icon {
  transform: scale(1);
  transition: ease all 0.4s;
}
.btn-icon:hover {
  transform: scale(1.15);
  transition: ease all 0.4s;
}

.object-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fit-none {
  -o-object-fit: none;
     object-fit: none;
}

.object-fit-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.btn-primary,
.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: #404040;
  border-color: #404040;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active {
  color: #fff;
  background-color: rgba(64, 64, 64, 0.9);
  border-color: rgba(64, 64, 64, 0.9);
}
.btn-primary:focus,
.btn-primary:disabled:focus,
.btn-primary.disabled:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(64, 64, 64, 0.9);
  border-color: rgba(64, 64, 64, 0.9);
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.form-control:focus {
  color: #212529;
  background-color: initial;
  border-color: initial;
  outline: 0;
  box-shadow: none;
}

.body-section {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.parsley-error {
  border-color: #c90000;
}

.parsley-errors-list {
  padding-left: 0;
  font-size: 13px;
  color: #c90000;
}
.parsley-errors-list li {
  list-style: none;
}

.transition {
  transition: ease all 0.2s;
  -webkit-transition: ease all 0.2s;
}

.dropdown-menu {
  padding: 0.3rem;
  -webkit-animation-name: DropDownSlide;
          animation-name: DropDownSlide;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  top: 100%;
}
.dropdown-menu.show {
  top: 100% !important;
}
.dropdown-menu i {
  display: inline-block;
}

.dropdown-menu-end {
  right: 0 !important;
  left: auto !important;
}

.dropdown-menu[data-popper-placement^=right],
.dropdown-menu[data-popper-placement^=top],
.dropdown-menu[data-popper-placement^=left] {
  top: auto !important;
  -webkit-animation: none !important;
          animation: none !important;
}

@-webkit-keyframes DropDownSlide {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(15px);
  }
}

@keyframes DropDownSlide {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(15px);
  }
}
.fixed-floating {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}
.fixed-floating.top {
  top: 0;
}

.menu-arrow {
  display: inline-table;
  vertical-align: middle;
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.form101 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form101 .container--pd {
  padding: 91px 0 45px 0 !important;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101 .container--pd {
    padding: 73px 0 45px 0 !important;
    max-width: 83% !important;
  }
}
.form101__boxLeft__subtitle {
  max-width: 367px;
  background-color: #B3B3B3;
  color: #7C7C7C;
  min-height: 40px;
  padding: 8px;
  font-size: 1.25rem;
  margin-bottom: 18px;
  font-weight: 700;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__subtitle {
    font-size: 1.125rem;
    max-width: 229px;
  }
}
.form101__boxLeft__title {
  font-size: 2.5rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__title {
    font-size: 1.875rem;
    margin-bottom: 17px;
  }
}
.form101__boxLeft__paragraph {
  width: 499px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__paragraph {
    width: 100%;
  }
}
.form101__boxLeft__paragraph p {
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 400;
  color: #7C7C7C;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxLeft__paragraph p {
    font: 0.875rem "Montserrat", sans-serif, arial;
  }
}
.form101__boxRight {
  margin-top: 67px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxRight {
    margin-top: 50px;
  }
}
.form101__boxRight__form {
  display: flex;
}
.form101__boxRight__form div {
  padding: 0;
}
.form101__boxRight input {
  height: 42px;
  background: #fff !important;
  border: 0;
  border-radius: 0;
  padding: 0 15px;
}
.form101__boxRight input::-moz-placeholder {
  background-color: #fff !important;
}
.form101__boxRight input::placeholder {
  background-color: #fff !important;
}
.form101__boxRight__cta {
  background-color: #fff;
  color: #404040;
  height: 45px;
  width: 177px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  border: 0;
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 700;
  margin-left: auto;
  transition: 0.5s all ease;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxRight__cta {
    height: 39px;
    width: 153px;
    margin-top: 18px;
  }
}
.form101__boxRight__cta:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s all ease;
}
.form101__boxRight__cta img {
  width: 25.16px;
  height: 25.16px;
  margin-right: 16.87px;
  transition: 0.5s all ease;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form101__boxRight__cta img {
    width: 21px;
    height: 21px;
    margin-right: 14.58px;
  }
}
.form101__boxRight__cta:hover img {
  filter: invert(1) grayscale(1);
  transition: 0.5s all ease;
}

.form__file input {
  display: none;
}

.jq-toast-wrap {
  width: 330px;
}

.jq-toast-single {
  font-family: "Montserrat", sans-serif, arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.jq-toast-single h2 {
  font-family: "Ubuntu", sans-serif, arial;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.close-jq-toast-single {
  top: 7px;
  right: 7px;
  font-size: 29px;
}

/* BEGIN STYLE */
.cont10 .container--pd {
  padding: 84px 0 89px 0;
}
.cont10__encompass {
  padding-bottom: 20px;
  margin-bottom: 68px;
  border-bottom: 1px solid #404040;
}
.cont10__encompass__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  font-family: "Ubuntu", sans-serif, arial;
}
@media (max-width: 991.98px) {
  .cont10__encompass__title {
    font-size: 1.875rem;
  }
}
.cont10__encompass__subtitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: #7C7C7C;
  font-family: "Ubuntu", sans-serif, arial;
}
@media (max-width: 991.98px) {
  .cont10__encompass__subtitle {
    font-size: 1.125rem;
  }
}
.cont10__content {
  background: #CACACA;
  height: 404px;
  max-width: 449px;
  width: 100%;
  margin-left: auto;
  padding: 28px 35px;
}
@media (max-width: 991.98px) {
  .cont10__content {
    margin: 0 auto;
    width: 93%;
    padding: 28px 7px;
  }
}
.cont10__content__navigation {
  border-bottom: 1px solid rgba(64, 64, 64, 0.15);
  padding: 10px 17px 10px 12px;
  display: flex;
  margin-bottom: 0;
}
.cont10__content__navigation__title {
  list-style: none;
  flex: 0 0 auto;
  width: 33.33333333%;
  font-family: "Ubuntu", sans-serif, arial;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
}
.cont10__content__list {
  height: 341px;
}
.cont10__content__list__item {
  list-style: none;
  border-bottom: 1px solid rgba(64, 64, 64, 0.15);
  padding: 10px 17px 10px 12px;
  display: flex;
  margin-bottom: 0;
}
.cont10__content__list__item__title {
  flex: 0 0 auto;
  width: 33.33333333%;
  font-family: "Ubuntu", sans-serif, arial;
  color: #707070;
  font-weight: 700;
}
.cont10__content__cta {
  font: 1rem "Montserrat", sans-serif, arial;
  font-weight: 700;
  color: #000;
  font-size: 15px;
  display: block;
  height: 30px;
  max-width: 128px;
  width: 100%;
  background-color: #EFEFEF;
}
@media (max-width: 991.98px) {
  .cont10__content__cta {
    font: 0.938rem "Montserrat", sans-serif, arial;
  }
}
.cont10__content__cta__icon {
  width: 16.65px !important;
}
.cont10__content__cta:hover {
  color: #fff;
  background-color: #000;
}
.cont10__content__cta:hover .cont10__content__cta__icon {
  filter: invert(1) grayscale(1);
}
.cont10 .carousel-cont10 .owl-nav {
  display: flex !important;
  gap: 0 18px;
  justify-content: space-between;
  position: absolute;
  transform: translate(0, 50%);
  left: 50%;
  bottom: 14px;
}
.cont10 .carousel-cont10 .owl-nav .owl-prev {
  left: -52px;
}
.cont10 .carousel-cont10 .owl-nav .owl-next {
  right: -52px;
}
.cont10 .carousel-cont10 .owl-nav .owl-prev,
.cont10 .carousel-cont10 .owl-nav .owl-next {
  height: 29px;
  width: 29px;
  border-radius: 100%;
  background-color: #404040;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
}
.cont10 .carousel-cont10 .owl-nav .owl-prev span,
.cont10 .carousel-cont10 .owl-nav .owl-next span {
  color: #fff;
  font-size: 32px;
  height: 58px;
}
