@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: block;
}
body.no-scroll {
  overflow-y: hidden;
}

p {
  line-height: 24px !important;
}

#root {
  overflow-x: hidden;
  width: 100%;
  display: block;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgba(64, 64, 64, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: rgba(64, 64, 64, 0.8);
}

body::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

a {
  text-decoration: none;
}

.content {
  position: relative;
}

.link-full {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.text-primary {
  color: #404040 !important;
}

.text-secondary {
  color: #7C7C7C !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px !important;
}

.fw-medium {
  font-weight: 600;
}

.fw-semibold {
  font-weight: 900;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

@media (min-width: 360px) and (max-width: 800px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 100% !important;
    padding: 0 !important;
  }
}
@media (min-width: 801px) and (max-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 90% !important;
    padding: 0 !important;
  }
}
@media (min-width: 1024px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1112px !important;
  }
}
.btn-icon {
  transform: scale(1);
  transition: ease all 0.4s;
}
.btn-icon:hover {
  transform: scale(1.15);
  transition: ease all 0.4s;
}

.object-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fit-none {
  -o-object-fit: none;
     object-fit: none;
}

.object-fit-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.btn-primary,
.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: #404040;
  border-color: #404040;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active {
  color: #fff;
  background-color: rgba(64, 64, 64, 0.9);
  border-color: rgba(64, 64, 64, 0.9);
}
.btn-primary:focus,
.btn-primary:disabled:focus,
.btn-primary.disabled:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(64, 64, 64, 0.9);
  border-color: rgba(64, 64, 64, 0.9);
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 64, 0.5);
}

.form-control:focus {
  color: #212529;
  background-color: initial;
  border-color: initial;
  outline: 0;
  box-shadow: none;
}

.body-section {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.parsley-error {
  border-color: #c90000;
}

.parsley-errors-list {
  padding-left: 0;
  font-size: 13px;
  color: #c90000;
}
.parsley-errors-list li {
  list-style: none;
}

.transition {
  transition: ease all 0.2s;
  -webkit-transition: ease all 0.2s;
}

.dropdown-menu {
  padding: 0.3rem;
  animation-name: DropDownSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  top: 100%;
}
.dropdown-menu.show {
  top: 100% !important;
}
.dropdown-menu i {
  display: inline-block;
}

.dropdown-menu-end {
  right: 0 !important;
  left: auto !important;
}

.dropdown-menu[data-popper-placement^=right],
.dropdown-menu[data-popper-placement^=top],
.dropdown-menu[data-popper-placement^=left] {
  top: auto !important;
  animation: none !important;
}

@keyframes DropDownSlide {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(15px);
  }
}
.fixed-floating {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}
.fixed-floating.top {
  top: 0;
}

.menu-arrow {
  display: inline-table;
  vertical-align: middle;
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* BEGIN STYLE */
#HEAD02 {
  border-bottom: 9px solid #7C7C7C;
}
#HEAD02 .container-header {
  min-height: 100px;
}
@media (max-width: 800px) {
  #HEAD02 .container-header {
    min-height: auto;
  }
}
@media (max-width: 800px) {
  #HEAD02 .container-header #logoHeader img {
    width: 185px;
  }
}
@media (max-width: 479px) {
  #HEAD02 .container-header #logoHeader img {
    width: 155px;
  }
}
#HEAD02 .container-navigation .menu-list {
  margin-right: 35px;
  padding-right: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#HEAD02 .container-navigation .menu-list .menu-item {
  margin-right: 44px;
  position: relative;
}
#HEAD02 .container-navigation .menu-list .menu-item:after {
  content: "";
  width: 100%;
  height: 9px;
  display: block;
  background-color: transparent;
  position: absolute;
  bottom: -42px;
  left: 0;
  transition: ease all 0.2s;
}
#HEAD02 .container-navigation .menu-list .menu-item:hover:after {
  background-color: #8a8a8a;
  transition: ease all 0.2s;
}
#HEAD02 .container-navigation .menu-list .menu-item .link {
  font: 1rem "Montserrat", sans-serif, arial;
  color: #7C7C7C;
}
#HEAD02 .container-navigation .menu-list .menu-item .link:hover {
  color: #000;
}
#HEAD02 .container-navigation .menu-list .menu-item:last-child {
  margin-right: 0;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu {
  background-color: #404040;
  border-radius: 0 10px 10px;
  min-width: 165px;
  padding: 10px;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item {
  font: 0.875rem "Montserrat", sans-serif, arial;
  color: #fff;
  margin-bottom: 11px;
  display: table;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:nth-of-type(2n+0), #HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:last-of-type {
  padding-right: 0;
  margin-right: 0;
  border: none;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: 2px;
  transition: ease all 0.2s;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:hover {
  color: #7C7C7C;
}
#HEAD02 .container-navigation .menu-list .menu-item .sublink--menu .sublink-item:hover:after {
  width: 90%;
}
@media (max-width: 800px) {
  #HEAD02 .container-navigation .menu-list {
    display: none;
  }
}
@media (min-width: 801px) and (max-width: 1023px) {
  #HEAD02 .container-navigation .menu-list {
    display: none;
  }
}
#HEAD02 .container-navigation .container-cta {
  margin-right: 35px;
  padding-right: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#HEAD02 .container-navigation .container-cta .btn-cta {
  background-color: #000;
  border-radius: 50px;
  min-width: 125px;
  display: table;
  text-align: center;
  color: #fff;
  padding: 1px 15px;
}
#HEAD02 .container-navigation .container-cta .btn-cta.show {
  border-radius: 17px 17px 0 0;
  background-color: #7C7C7C;
}
#HEAD02 .container-navigation .container-cta .btn-cta:hover {
  background-color: #7C7C7C;
}
#HEAD02 .container-navigation .container-cta .btn-cta .menu-arrow {
  border-top-color: #fff;
  margin-left: 10px;
  margin-right: -25px;
  margin-bottom: 3px;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right {
  background-color: #404040;
  border-radius: 0 10px 10px;
  min-width: 260px;
  flex-wrap: wrap;
  padding: 10px;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right.show {
  display: flex;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right:after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item {
  font: 0.875rem "Montserrat", sans-serif, arial;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 11px;
  margin-right: 11px;
  display: table;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item:nth-of-type(2n+0), #HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item:last-of-type {
  padding-right: 0;
  margin-right: 0;
  border: none;
}
#HEAD02 .container-navigation .container-cta .sublink--cta-right .sublink-item:hover {
  color: #7C7C7C;
}
@media (max-width: 800px) {
  #HEAD02 .container-navigation .container-cta {
    display: none;
  }
}
@media (min-width: 801px) and (max-width: 1023px) {
  #HEAD02 .container-navigation .container-cta {
    display: none;
  }
}
#HEAD02 .container-navigation .link-translate .btn-translate {
  font-size: 0.9375rem;
  font-family: "Ubuntu", sans-serif, arial;
  font-weight: 600;
  color: #404040;
  border-right: 1px solid rgba(64, 64, 64, 0.3);
  line-height: 15px;
}
#HEAD02 .container-navigation .social-network {
  margin-right: 20px;
}
#HEAD02 .container-navigation .social-network .social-link {
  color: #404040;
  font-size: 22px;
  margin: 0 5px;
}
#HEAD02 .container-navigation .social-network .social-link:hover {
  color: #7C7C7C;
}
@media (max-width: 601px) {
  #HEAD02 .container-navigation .social-network {
    display: none !important;
  }
}
#HEAD02 .container-navigation .menu-sidebar-header {
  display: none;
  margin-left: 35px;
}
#HEAD02 .container-navigation .menu-sidebar-header .lines {
  width: 38px;
}
#HEAD02 .container-navigation .menu-sidebar-header .lines > i {
  height: 2px;
  display: block;
  background-color: #000;
}
#HEAD02 .container-navigation .menu-sidebar-header:active .lines > i {
  background-color: rgb(138, 138, 138);
}
@media (max-width: 800px) {
  #HEAD02 .container-navigation .menu-sidebar-header {
    display: block;
  }
}
@media (min-width: 801px) and (max-width: 1023px) {
  #HEAD02 .container-navigation .menu-sidebar-header {
    display: block;
  }
}

/*======= CONTENT PAGE ======= */
/* BEGIN STYLE */
.abou02-page__header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.abou02-page__header .container--abou02-header {
  padding: 112px 0 92px 0;
}
.abou02-page__header__title {
  font-size: 3.125rem;
  font-family: "Montserrat", sans-serif, arial;
  color: #000;
  margin-bottom: 25px;
  font-weight: bold;
}
.abou02-page__header__subtitle {
  font-size: 1.25rem;
  color: #7C7C7C;
  font-family: "Montserrat", sans-serif, arial;
}
.abou02-page__header__line {
  width: 100%;
  margin-top: 28.81px;
}
.abou02-page .container--abou02-page {
  padding: 51px 0 118px;
}
.abou02-page__content__subtitle {
  font-size: 1.25rem;
  color: #404040;
  font-family: "Montserrat", sans-serif, arial;
  margin-bottom: 1px;
}
.abou02-page__content__title {
  font-size: 2.5rem;
  color: #404040;
  font-family: "Montserrat", sans-serif, arial;
}
.abou02-page__content__line {
  width: 100%;
  margin-top: 38.99px;
  margin-bottom: 30.01px;
}
.abou02-page__content__paragraph {
  font: 1rem "Montserrat", sans-serif, arial;
  color: #404040;
}

.abou02-page__topic .container--abou02-page__topic {
  padding: 52px 0 39px 0;
}
.abou02-page__topic__item {
  position: relative;
  min-height: 487px;
}
.abou02-page__topic__title {
  font-size: 2.5rem;
  color: #404040;
  font-family: "Montserrat", sans-serif, arial;
}
.abou02-page__topic__subtitle {
  font-size: 1.25rem;
  color: #404040;
  font-family: "Montserrat", sans-serif, arial;
}
.abou02-page__topic__item__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 48.66px 53px;
}
.abou02-page__topic__item__title {
  font-size: 1.125rem;
  color: #000;
  font-family: "Montserrat", sans-serif, arial;
}
.abou02-page__topic__item__paragraph {
  color: #7C7C7C;
  font: 0.875rem "Montserrat", sans-serif, arial;
}
.abou02-page__topic__item a {
  color: #000;
}
.abou02-page__topic .carousel-abou02-topic {
  margin-top: 59px;
}
.abou02-page__topic .carousel-abou02-topic .owl-nav {
  display: flex;
}
.lightbox-abou02 {
  width: 100%;
  display: none;
  padding: 0;
}
.lightbox-abou02 .carousel__button.is-close {
  right: 17px;
  top: 17px;
  left: inherit;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 5px;
}
