body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: block;

    &.no-scroll {
        overflow-y: hidden;
    }

    /* RESET DE ELEMENTOS */
    hr {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    /* CARROSSEL - SWIPER */
    .swiper-slide {
        display: flex;
    }

    .swiper-autoheight .swiper-slide {
        height: 100%;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
    }
}
/************************************************************ ACCORDION PADRÃO ************************************************************/
details {
    overflow: hidden;

    transition: all ease-out 0.2s;

    &[open] .details-content {
        opacity: 1;

        transition: opacity linear 0.2s 50ms;
    }

    summary {
        position: relative;
        list-style: none;
    }

    .details-content {
        opacity: 0;
        transition: opacity linear 0.2s 50ms;
    }
}
/*******************************************************************************************************************************************/

/************************************************************ QUEDINHA (DROPDOWN PADRÃO) ***************************************************/
/* Utilizado o nome quedinha para que não haja sobreposição de classes com o plugin do bootstrap. Esse plugin está sendo criado para suprir a necessidade que o dropdown do bootstrap não oferecia (segundo nível com clique) */
.quedinha {
    position: relative;

    &__btn {
        position: relative;
        z-index: 3;

        background-color: transparent;
        border: none;
        padding: 0;
        padding-right: 1rem;

        &::after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;

            width: 0.5rem;
            height: auto;
            aspect-ratio: 6/4;

            background-color: $color-two;
            content: "";
            clip-path: polygon(50% 100%, 0 0, 100% 0);

            transition: all ease 0.4s;
        }

        * {
            pointer-events: none;
        }
    }

    &.open > &__btn::after {
        transform: translateY(-50%) rotate(-180deg);
        transition: all ease 0.4s;
    }

    /* edita a poição da seta no submenu  para abrir para o lado*/
    &__content > &.open > &__btn::after {
        transform: translateY(-50%) rotate(-90deg);
    }

    &__content {
        position: absolute;
        z-index: 2;

        list-style: none;

        display: flex;
        flex-direction: column;
        visibility: collapse;

        background-color: $color-four;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        opacity: 0;
        transform: translateY(10%);
        transition: all 0.4s ease-out;

        &--sub-menu {
            top: 0;
            left: 100%;
        }
    }

    &.open > &__content {
        visibility: visible;

        opacity: 1;
        transform: translateY(0);
        transition: all 0.4s ease-out;
    }
}

/*******************************************************************************************************************************************/

/************************************************************ BURGUER (MENU MOBILE PADRÃO) ************************************************************/
.burguer {
    display: flex;
    padding: 0;

    width: fit-content;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    &__icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        span {
            width: 100%;
            height: 2px;

            background-color: $color-black;
        }

        &.dots {
            width: 1.25rem;
            height: 1.25rem;

            flex-wrap: wrap;
            flex-direction: row;
            gap: 4px;

            span {
                width: 4px;
                height: 4px;
                border-radius: 50%;
            }
        }
    }
}

/*******************************************************************************************************************************************/

/* CONFIGURAÇÃO DO TEMA */
%theme {
    &__padding {
        padding-top: 4.5rem;
        padding-right: 5vw;
        padding-bottom: 4.5rem;
        padding-left: 5vw;
    }

    &__t {
        &1 {
            font: 700 $T1 $font-primary;
            line-height: 140%;
            letter-spacing: 0.0125rem;
            text-align: center;

            @include large-device-down {
                font-size: $T1-mobile;
                line-height: 90%;
            }

            &-c {
                &w {
                    @extend %theme__t1;
                    color: $color-white;
                }
                &b {
                    @extend %theme__t1;
                    color: $color-black;
                }

                &1 {
                    @extend %theme__t1;
                    color: $color-one;
                }
                &2 {
                    @extend %theme__t1;
                    color: $color-two;
                }
                &3 {
                    @extend %theme__t1;
                    color: $color-three;
                }
                &4 {
                    @extend %theme__t1;
                    color: $color-four;
                }
                &5 {
                    @extend %theme__t1;
                    color: $color-five;
                }
            }
        }

        &2 {
            font: 700 $T2 $font-primary;
            line-height: normal;
            text-align: center;

            @include large-device-down {
                font-size: $T2-mobile;
            }

            &-c {
                &w {
                    @extend %theme__t2;
                    color: $color-white;
                }
                &b {
                    @extend %theme__t2;
                    color: $color-black;
                }

                &1 {
                    @extend %theme__t2;
                    color: $color-one;
                }
                &2 {
                    @extend %theme__t2;
                    color: $color-two;
                }
                &3 {
                    @extend %theme__t2;
                    color: $color-three;
                }
                &4 {
                    @extend %theme__t2;
                    color: $color-four;
                }
                &5 {
                    @extend %theme__t2;
                    color: $color-five;
                }
            }
        }

        &3 {
            font: 700 $T3 $font-primary;
            line-height: normal;
            text-align: left;

            @include large-device-down {
                font-size: $T3-mobile;
            }

            &-c {
                &w {
                    @extend %theme__t3;
                    color: $color-white;
                }
                &b {
                    @extend %theme__t3;
                    color: $color-black;
                }

                &1 {
                    @extend %theme__t3;
                    color: $color-one;
                }
                &2 {
                    @extend %theme__t3;
                    color: $color-two;
                }
                &3 {
                    @extend %theme__t3;
                    color: $color-three;
                }
                &4 {
                    @extend %theme__t3;
                    color: $color-four;
                }
                &5 {
                    @extend %theme__t3;
                    color: $color-five;
                }
            }
        }

        &4 {
            font: 700 $T4 $font-primary;
            line-height: normal;
            text-align: left;

            @include large-device-down {
                font-size: $T4-mobile;
            }

            &-c {
                &w {
                    @extend %theme__t4;
                    color: $color-white;
                }
                &b {
                    @extend %theme__t4;
                    color: $color-black;
                }

                &1 {
                    @extend %theme__t4;
                    color: $color-one;
                }
                &2 {
                    @extend %theme__t4;
                    color: $color-two;
                }
                &3 {
                    @extend %theme__t4;
                    color: $color-three;
                }
                &4 {
                    @extend %theme__t4;
                    color: $color-four;
                }
                &5 {
                    @extend %theme__t4;
                    color: $color-five;
                }
            }
        }

        &5 {
            font: 700 $T5 $font-primary;
            line-height: normal;
            text-align: left;

            @include large-device-down {
                font-size: $T5-mobile;
            }

            &-c {
                &w {
                    @extend %theme__t5;
                    color: $color-white;
                }
                &b {
                    @extend %theme__t5;
                    color: $color-black;
                }

                &1 {
                    @extend %theme__t5;
                    color: $color-one;
                }
                &2 {
                    @extend %theme__t5;
                    color: $color-two;
                }
                &3 {
                    @extend %theme__t5;
                    color: $color-three;
                }
                &4 {
                    @extend %theme__t5;
                    color: $color-four;
                }
                &5 {
                    @extend %theme__t5;
                    color: $color-five;
                }
            }
        }
    }

    &__p {
        &1 {
            font: 400 $P1 $font-paragraph;
            line-height: 170%;
            letter-spacing: 0.2px;

            p {
                font: inherit;
                letter-spacing: inherit;
                color: inherit;
                letter-spacing: inherit;
                margin: 0;
            }

            @include large-device-down {
                font-size: $P1-mobile;
            }

            &-c {
                &w {
                    @extend %theme__p1;
                    color: $color-white;
                }
                &b {
                    @extend %theme__p1;
                    color: $color-black;
                }

                &1 {
                    @extend %theme__p1;
                    color: $color-one;
                }
                &2 {
                    @extend %theme__p1;
                    color: $color-two;
                }
                &3 {
                    @extend %theme__p1;
                    color: $color-three;
                }
                &4 {
                    @extend %theme__p1;
                    color: $color-four;
                }
                &5 {
                    @extend %theme__p1;
                    color: $color-five;
                }
            }
        }

        &2 {
            font: 400 $P2 $font-paragraph;
            line-height: 140%;
            letter-spacing: 0.2px;

            p {
                font: inherit;
                letter-spacing: inherit;
                color: inherit;
                letter-spacing: inherit;
                margin: 0;
            }

            @include large-device-down {
                font-size: $P2-mobile;
                line-height: 170%;
            }

            &-c {
                &w {
                    @extend %theme__p2;
                    color: $color-white;
                }
                &b {
                    @extend %theme__p2;
                    color: $color-black;
                }

                &1 {
                    @extend %theme__p2;
                    color: $color-one;
                }
                &2 {
                    @extend %theme__p2;
                    color: $color-two;
                }
                &3 {
                    @extend %theme__p2;
                    color: $color-three;
                }
                &4 {
                    @extend %theme__p2;
                    color: $color-four;
                }
                &5 {
                    @extend %theme__p2;
                    color: $color-five;
                }
            }
        }
    }

    &__menu-mobile {
        /* edita apenas o btn de menu mobile */
        @extend %theme__p1-c1;

        &__icon {
            width: 2rem;
            height: 2rem;

            // Fazer ajustes das barras ou dos pontos aqui para ficar igual ao design no cliente;
            // span {
            //     // height: 3px;
            //     // background-color: $color-white;
            // }
        }
    }

    &__banner {
        width: 100%;
        // height: 545px;

        @extend %theme__padding;
        padding-top: 9rem;
        padding-bottom: 9rem;

        @include bg;
        background-color: $color-four;

        @include disFlex(column, center, start);

        &__title {
            color: #FFF;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
        }

        &__subtitle {
            @extend %theme__t3-c3;
        }

        &__paragraph {
            @extend %theme__p1-c2;
        }
    }

    &__cta {
        @include disFlex;
        width: fit-content;
        padding: 0.75rem 3rem;

        background-color: #95D059;
        border: none;
        border: 1px solid #95D059;

        font-family: $font-primary;
        color: #1A2069;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        // clip-path: polygon(20% 0%, 100% 1%, 100% 100%, 0 100%, 10% 50%);
        transform: skew(-10deg, 0deg) !important;
        transition: 0.5s all ease;

        &:focus {
            /* uso do !important para resetar o valor do fancybox */
            outline: none !important;
        }

        &:hover {
            background-color: transparent;
            border: 1px solid #95D059;
            color: #95D059;
        }
    }

    &__cta--two {
        @include disFlex;
        width: fit-content;
        padding: 0.75rem 3rem;

        background-color: #1A2069;
        border: none;
        border: 1px solid #1A2069;

        font-family: $font-primary;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        // clip-path: polygon(20% 0%, 100% 1%, 100% 100%, 0 100%, 10% 50%);
        transform: skew(-10deg, 0deg) !important;
        transition: 0.5s all ease;

        &:focus {
            /* uso do !important para resetar o valor do fancybox */
            outline: none !important;
        }

        &:hover {
            background-color: transparent;
            border: 1px solid #1A2069;
            color: #1A2069;
        }
    }

    &__play-button {
        background-color: transparent;
        border: none;
        outline: none;
        height: auto;
        width: 80px;
        aspect-ratio: 1/1;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        * {
            height: 100%;
            width: 100%;
        }
    }

    &__category {
        @include disFlex(row, center, center);
        gap: 1rem;

        width: fit-content;
        padding: 0.75rem 3rem;
        outline: none;
        border: none;

        background-color: $color-five;
        @extend %theme__t4-cb;

        &.active {
            background-color: $color-four;
        }
    }

    &__pagination {
        .swiper-pagination-bullets {
            margin-top: 2rem;
            text-align: center;
            .swiper-pagination-bullet {
                width: 15px;
                height: 15px;

                border-radius: 100%;
                background-color: #FFF;
                opacity: 1;

                &-active {
                    opacity: 1;
                    background-color: #95D059;
                }
            }
        }
    }

    &__pagination--two {
        .swiper-pagination-bullets {
            margin-top: 2rem;
            text-align: center;
            .swiper-pagination-bullet {
                width: 15px;
                height: 15px;

                border-radius: 100%;
                
                background-color: #FFF;
                opacity: 1;

                &-active {
                    background-color: #1A2069;
                    opacity: 1;
                }
            }
        }
    }

    &__nav {
        // VARIÁVEIS QUE ALTERAM AS SETAS DE NAVEGAÇÃO
        --swiper-navigation-size: 0.75rem; /* Variável que define o tamanho do botão e do after */
        --swiper-navigation-color: $color-one; /* Variável que define a cor do after (setas) */

        // O CSS DEVE SER RETIRADO QUANDO NÃO HOUVER UM CONTAINER PARAR SEGURAR OS BOTÕES DE NAVEGAÇÃO (&__nav)
        position: relative;
        width: 5rem; /* Tamanho do botão interno * 2 + GAP */
        height: 2rem; /* Garante que o tamanho do botão esteja dentro do box. Caso o size seja alterado, deve-se alterar o tamanho do height */
        margin: 3rem auto 0;
        @include disFlex(row, space-between, center);

        &:has(.swiper-button-lock) {
            display: none;
        }

        // .swiper-button-next,
        // .swiper-button-prev {
        // O CSS DEVE SER RETIRADO QUANDO NÃO HOUVER UM BG NOS BOTÕES DE NAVEGAÇÃO
        // position: relative;
        // width: auto;
        // aspect-ratio: 1/1;

        // margin: unset;
        // top: unset;
        // right: unset;
        // left: unset;

        // border-radius: 50%;
        // background-color: $color-one;

        // &::after {
        //     color: $color-five;
        //     font-size: 0.75rem; /* tamanho da seta */
        // }
        // }
    }

    &__accordion {
        &__item {
            border-bottom: solid 1px rgba(#2E368E, 0.5);

            &[open] &__title::after {
                transform: rotate(180deg);
                transition: transform 0.2s linear;
            }

            &__title {
                padding: 1rem 0.5rem;
                color: #272727;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;

                &::after {
                    position: absolute;
                    right: 0.5rem;

                    width: 1.5rem;
                    height: 1.25rem;

                    content: "";
                    background-color: #1A2069;
                    clip-path: polygon(50% 100%, 0 0, 100% 0);

                    transition: transform 0.2s ease-out;
                }

                &__icon {
                    width: 2rem;
                    height: auto;
                    aspect-ratio: 1/1;

                    margin-right: 1.25rem;

                    object-fit: contain;
                    object-position: center;
                }
            }

            &__paragraph {
                color: #FFF;
                font-family: $font-primary;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                padding: 1rem 3rem;

                background-color: #1A2069;
            }
        }
    }
}

/*******************************************************************************************************************************************/

.form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0;
}

#root {
    overflow-x: hidden;
    width: 100%;
    display: block;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba($color-one, 0.5);
}

body::-webkit-scrollbar-thumb {
    background: rgba($color-one, 0.8);
}

body::-webkit-scrollbar-thumb:hover {
    background: $color-one;
}

// VAI FICAR OBSOLETO
.content {
    position: relative;
}

.link-full {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
    top: 0;
    left: 0;
}
// VAI FICAR OBSOLETO
.text-primary {
    color: $color-one !important;
}
// VAI FICAR OBSOLETO
.text-secondary {
    color: $color-two !important;
}

// VAI FICAR OBSOLETO
// Font sizes (Custom)
.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-17 {
    font-size: 17px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-19 {
    font-size: 19px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-26 {
    font-size: 26px !important;
}

.font-28 {
    font-size: 28px !important;
}

// VAI FICAR OBSOLETO
// Font Weight
.fw-medium {
    font-weight: 600;
}

.fw-semibold {
    font-weight: 900;
}

// VAI FICAR OBSOLETO
// Width
.w-10 {
    width: 10% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-40 {
    width: 40% !important;
}
.w-60 {
    width: 60% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}
.w-90 {
    width: 90% !important;
}
/* VAI FICAR OBSOLETO */
@include x-small-device {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100% !important;
        padding: 0 !important;
    }
}

@include small-device {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100% !important;
        padding: 0 !important;
    }
}

@include medium-device {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 95% !important;
        padding: 0 !important;
    }
}

@include large-device {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90% !important;
        padding: 0 !important;
    }
}

@include x-large-device-up {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: $max-width-container-fluid !important;
    }
}

@include xx-large-device-up {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: $max-width-container-fluid !important;
    }
}

/*_______________________________ */

.btn-icon {
    transform: scale(1);
    transition: ease all 0.4s;
    &:hover {
        transform: scale(1.15);
        transition: ease all 0.4s;
    }
}

// Object Fit
.object-fit-contain {
    object-fit: contain;
}
.object-fit-cover {
    object-fit: cover;
}
.object-fit-none {
    object-fit: none;
}
.object-fit-fill {
    object-fit: fill;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba($color-one, 50%);
}

.btn-primary,
.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: $color-one;
    border-color: $color-one;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: #fff;
        background-color: rgba($color-one, 0.9);
        border-color: rgba($color-one, 0.9);
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($color-one, 0.5);
    }
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba($color-one, 0.9);
    border-color: rgba($color-one, 0.9);
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba($color-one, 0.5);
}

.form-control:focus {
    color: #212529;
    background-color: initial;
    border-color: initial;
    outline: 0;
    box-shadow: none;
}

.body-section {
    width: $wp-90;
    max-width: $wp-90;
    margin: 0 auto;
}

.parsley-error {
    border-color: $color-danger;
}

.parsley-errors-list {
    padding-left: 0;
    font-size: 13px;
    color: $color-danger;
    li {
        list-style: none;
    }
}

.transition {
    transition: ease all 0.2s;
    -webkit-transition: ease all 0.2s;
}

.dropdown-menu {
    padding: 0.3rem;
    animation-name: DropDownSlide;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    top: 100%;

    &.show {
        top: 100% !important;
    }

    i {
        display: inline-block;
    }
}

.dropdown-menu-end {
    right: 0 !important;
    left: auto !important;
}

.dropdown-menu[data-popper-placement^="right"],
.dropdown-menu[data-popper-placement^="top"],
.dropdown-menu[data-popper-placement^="left"] {
    top: auto !important;
    animation: none !important;
}

@keyframes DropDownSlide {
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(15px);
    }
}

body {
    .owl-nav {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button.owl-next,
        button.owl-prev {
            background-color: $color-one !important;
            color: $color-white !important;
            border-radius: 100%;
            display: flex;
            width: 30px;
            height: 30px;
            font-size: 34px !important;
            justify-content: center;
            line-height: 22px !important;
            margin: 0 3px;
            &:hover {
                background-color: $color-two;
                color: $color-black;
            }
        }
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .owl-dot {
            background-color: #1a216984;
            color: #1a216984;
            border-radius: 100%;
            display: block;
            width: 15px;
            height: 15px;
            margin: 0 3px;
            // &:hover {
            //     background-color: #1A2069;
            // }
            &.active {
                background-color: #1A2069;
            }
        }
    }
}

// FIXED FLOATING TOP
.fixed-floating {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    &.top {
        top: 0;
    }
}

// MENU ARROW
.menu-arrow {
    display: inline-table;
    vertical-align: middle;
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

// INICIO FORM101
.form101 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container--pd {
        padding: 91px 0 45px 0 !important;

        @include small-device {
            padding: 73px 0 45px 0 !important;
            max-width: 83% !important;
        }
    }
    &__boxLeft {
        &__subtitle {
            max-width: 367px;
            background-color: $color-three;
            color: $color-two;
            min-height: 40px;
            padding: 8px;
            font-size: $T4;
            margin-bottom: 18px;
            font-weight: $weight-700;

            @include small-device {
                font-size: $T4-mobile;
                max-width: 229px;
            }
        }
        &__title {
            font-size: $T2;
            color: $color-black;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-weight: $weight-700;

            @include small-device {
                font-size: $T2-mobile;
                margin-bottom: 17px;
            }
        }
        &__paragraph {
            width: 499px;

            @include small-device {
                width: 100%;
            }

            p {
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-two;

                @include small-device {
                    font: $paragraph-min;
                }
            }
        }
    }
    &__boxRight {
        margin-top: 67px;

        @include small-device {
            margin-top: 50px;
        }

        &__form {
            display: flex;

            div {
                padding: 0;
            }
        }
        input {
            height: 42px;
            background: $color-white !important;
            border: 0;
            border-radius: 0;
            padding: 0 15px;

            &::placeholder {
                background-color: $color-white !important;
            }
        }

        &__cta {
            background-color: $color-white;
            color: $color-one;
            height: 45px;
            width: 177px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            border: 0;
            font: $paragraph;
            font-weight: $weight-700;
            margin-left: auto;
            transition: 0.5s all ease;

            @include small-device {
                height: 39px;
                width: 153px;
                margin-top: 18px;
            }

            &:hover {
                background-color: $color-black;
                color: $color-white;
                transition: 0.5s all ease;
            }

            img {
                width: 25.16px;
                height: 25.16px;
                margin-right: 16.87px;
                transition: 0.5s all ease;

                @include small-device {
                    width: 21px;
                    height: 21px;
                    margin-right: 14.58px;
                }
            }
            &:hover img {
                filter: invert(1) grayscale(1);
                transition: 0.5s all ease;
            }
        }
    }
}
//FIM FORM101
// INICIO form102
.form102 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container--pd {
        padding: 58px 0 58px 0 !important;

        @include large-device-down {
            width: 71% !important;
        }
    }
    &__content {
        @include large-device-down {
            margin-bottom: 32px;
            width: 100%;
            max-width: 100%;
        }
        &__subtitle {
            color: $color-one;
            font-size: $T3;
            font-weight: $weight-700;
            margin-bottom: 0;
            max-width: 328px;

            @include small-device {
                font-size: $T3-mobile;
            }

            @include large-device-down {
                max-width: inherit;
            }
        }

        &__paragraph {
            width: 499px;

            @include small-device {
                width: 100%;
            }

            p {
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-two;

                @include small-device {
                    font: $paragraph-min;
                }
            }
        }

        &__inputs {
            flex-wrap: wrap;
        }
        .input__item {
            width: 48%;

            @include large-device-down {
                width: 100%;
                max-width: 100%;
            }
        }
        &__form {
            display: flex;

            @include large-device-down {
                flex-wrap: wrap;
            }
            div {
                padding: 0;
            }

            &__checkbox-label {
                display: flex;
                align-items: center;

                input:checked {
                    background-color: $color-black !important;
                    border-color: $color-black;
                }
                a {
                    margin-left: 5px;
                }
            }
        }
        .form-check-input {
            height: 14px;
            width: 14px;
            padding: 0;
            margin-bottom: 0;
        }
        input {
            height: 42px;
            background: $color-white !important;
            border: 0;
            border-radius: 0;
            padding: 0 15px;

            &::placeholder {
                background-color: $color-white !important;
            }
        }

        &__cta {
            margin-left: 109px;
            margin-top: -21px;
            background-color: $color-white;
            color: $color-one;
            height: 45px;
            width: 100%;
            max-width: 177px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            font: $paragraph;
            font-weight: $weight-700;
            transition: 0.5s all ease;

            @include large-device-down {
                margin: 0 auto;
                margin-top: 18px;
                max-width: inherit;
                width: 80%;
            }

            &:hover {
                background-color: $color-black;
                color: $color-white;
                transition: 0.5s all ease;
            }

            img {
                width: 25.16px;
                height: 25.16px;
                margin-right: 16.87px;
                transition: 0.5s all ease;

                @include small-device {
                    width: 21px;
                    height: 21px;
                    margin-right: 14.58px;
                }
            }
            &:hover img {
                filter: invert(1) grayscale(1);
                transition: 0.5s all ease;
            }
        }
    }
}
//FIM FORM102
// INICIO FORM01
.form01 {
    @include disFlex(row-reverse, space-between);
    flex-wrap: wrap;
    @extend %theme__padding;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #95D059;
    position: relative;
    height: 350px;

    &__main {
        @include disFlex(column, center);
        width: 50%;

        @include large-device-down {
            width: 100%;
            margin-bottom: 2.5rem;
        }

        &__information {
            margin-bottom: 1rem;

            &__title {
                color: #1A2069;
                font-family: $font-primary;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 0;
                width: 100%;
                max-width: 420px;

                span {
                    color: #FFF;
                }
            }

            &__paragraph {
                @extend %theme__p1-c1;
            }
        }

        &__form {
            width: 100%;
            @include disFlex;
            flex-wrap: wrap;
            gap: 8px;

            .input__item {
                width: calc(50% - 4px);

                @include large-device-down {
                    width: 100%;
                }
            }

            &__footer {
                width: 100%;
                @include disFlex(row, space-between, center);
                gap: 0.5rem;
                flex-wrap: wrap;

                &__compliance {
                    color: #FFF;
                    font-family: $font-primary;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    opacity: 0.8;

                    &__link {
                        color: #FFF;
                        font-family: $font-primary;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        opacity: 0.8;
                        text-decoration: underline;
                    }

                    &__checkbox[type="checkbox"] {
                        border: 1px solid $color-black;

                        &:checked {
                            accent-color: $color-one;
                        }
                    }
                }

                &__cta {
                    @extend %theme__cta--two;

                    span {
                        transform: skew(10deg, 0deg) !important;
                    }
                }
            }
        }
    }

    &__image {
        width: 50%;
        margin-top: -100px;
        // height: auto;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;

        @include large-device {
            width: 65%;
        }

        @include large-device-down {
            width: 100%;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

// INICIO FORM02
.form02 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container--pd {
        padding: 91px 0 45px 0 !important;

        @include medium-device-down {
            padding: 73px 0 45px 0 !important;
            max-width: 83% !important;
        }
    }
    &__content {
        &__title {
            font-size: $T3;
            color: $color-black;
            margin-bottom: 17px;
            font-weight: $weight-700;

            @include small-device {
                font-size: $T3-mobile;
            }
        }
        &__paragraph {
            max-width: 592px;
            margin: 0 auto;
            width: 100%;
            text-align: center;

            @include small-device {
                width: 100%;
            }

            p {
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-one;

                @include small-device {
                    font: $paragraph-min;
                }
            }
        }

        &__form {
            display: flex;
            margin-top: 48px;

            div {
                padding: 0;

                @include medium-device-down {
                    flex-direction: column;
                }
            }
        }
        .input__item {
            width: 32.333333%;

            @include medium-device-down {
                width: 100%;
            }
        }
        label {
            width: auto !important;
        }
        input {
            height: 42px;
            background: $color-white !important;
            border: 0;
            border-radius: 0;
            padding: 0 15px;

            &::placeholder {
                background-color: $color-white !important;
            }
        }

        &__cta {
            background-color: $color-white;
            color: $color-one;
            height: 45px;
            width: 177px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            border: 0;
            font: $paragraph;
            font-weight: $weight-700;
            margin-left: auto;
            transition: 0.5s all ease;

            @include small-device {
                height: 39px;
                width: 153px;
                margin-top: 18px;
            }

            &:hover {
                background-color: $color-black;
                color: $color-white;
                transition: 0.5s all ease;
            }

            img {
                width: 25.16px;
                height: 25.16px;
                margin-right: 16.87px;
                transition: 0.5s all ease;

                @include small-device {
                    width: 21px;
                    height: 21px;
                    margin-right: 14.58px;
                }
            }
            &:hover img {
                filter: invert(1) grayscale(1);
                transition: 0.5s all ease;
            }
        }
    }
}
.lifo {
    max-width: 1225px;
    width: 100%;
    background-color: #b3b3b3;
    background-position: center;
    background-size: cover;
    padding: 93px;
    padding-bottom: 0;

    @include medium-device-down {
        padding: 38px !important;
        padding-bottom: 38px;
    }

    .row--container {
        gap: 0 73.48px;
    }

    &__boxLeft {
        max-width: 443px;
        width: 100%;

        &__title {
            font-size: $T3;
            color: $color-black;
            text-transform: uppercase;
            margin-bottom: 3px;
            font-weight: $weight-700;

            @include small-device {
                font-size: $T3-mobile;
                margin-bottom: 17px;
            }
        }
        &__paragraph {
            width: 499px;

            @include small-device {
                width: 100%;
            }

            p {
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-two;

                @include small-device {
                    font: $paragraph-min;
                }
            }
        }

        &__form {
            display: flex;
            margin-top: 48px;
            flex-direction: column;

            .input__item {
                width: 100%;
                padding: 0;
            }
        }
        &__inputs {
            width: 100%;
        }
        label {
            width: auto !important;
        }
        input {
            height: 42px;
            background: $color-white !important;
            border: 0;
            border-radius: 0;
            padding: 0 15px;

            &::placeholder {
                background-color: $color-white !important;
            }
        }

        &__cta {
            background-color: $color-white;
            color: $color-one;
            height: 45px;
            width: 177px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            border: 0;
            font: $paragraph;
            font-weight: $weight-700;
            margin-left: auto;
            transition: 0.5s all ease;

            @include small-device {
                height: 39px;
                width: 153px;
                margin-top: 18px;
            }

            &:hover {
                background-color: $color-black;
                color: $color-white;
                transition: 0.5s all ease;
            }

            img {
                width: 25.16px;
                height: 25.16px;
                margin-right: 16.87px;
                transition: 0.5s all ease;

                @include small-device {
                    width: 21px;
                    height: 21px;
                    margin-right: 14.58px;
                }
            }
            &:hover img {
                filter: invert(1) grayscale(1);
                transition: 0.5s all ease;
            }
        }
    }
    &__boxRight {
        @include small-device-down {
            display: none;
        }
        &__image {
            height: 592px;
            max-width: 451px;
            width: 100%;
            background: #ffff;
            margin-left: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .carousel__button.is-close {
        right: 17px;
        top: 17px;
        left: inherit;
        width: 31px;
        height: 31px;
        background: #000000;
        border-radius: 5px;
        color: $color-white;
        font-size: 11px;
    }
    .fancybox__backdrop {
        background: $color-one !important;
    }
}
//FIM FORM02
// INICIO form03
.form03 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #efefef;

    .container--pd {
        padding: 58px 0 58px 0 !important;

        @include large-device-down {
            width: 71% !important;
        }
    }
    &__boxLeft {
        width: 100%;
        max-width: 583px;
        padding: 0;
        @include medium-device-down {
            margin-bottom: 52px;
        }

        &__title {
            font-size: $T2;
            color: $color-one;
            font-weight: $weight-700;
            margin-bottom: 0;

            @include medium-device-down {
                font-size: $T2-mobile;
            }
        }

        &__subtitle {
            color: $color-three;
            font-size: $T4;
            font-weight: $weight-700;
            margin-bottom: 0;

            @include small-device {
                font-size: $T4-mobile;
            }
        }

        &__paragraph {
            margin-top: 18px;
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-one;
            letter-spacing: 0.2px;

            p {
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-one;
                letter-spacing: 0.2px;

                @include medium-device-down {
                    font: $paragraph-min;
                }
            }
        }
        &__buttons {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px 0;
            width: 66%;
            @include medium-device-down {
                width: 100%;
            }

            &__cta {
                display: flex;
                color: $color-black;
                font-weight: 700;
                font-size: $T5;
                align-items: center;
                gap: 0 13.45px;
                width: 50%;

                @include medium-device-down {
                    width: 100%;
                }

                img {
                    width: 25.13px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
    &__boxRight {
        flex-direction: column;
        align-items: flex-start !important;
        text-align: left;
        max-width: 443px;
        width: 100%;
        padding: 0;

        &__title {
            font-size: $T2;
            color: $color-black;
            margin-bottom: 15px;
            line-height: 46px;
            font-weight: $weight-700;

            @include medium-device-down {
                font-size: $T2-mobile;
            }
        }

        &__paragraph {
            $paragraph: $P1;
            font-weight: 400;
            letter-spacing: 0.2px;
            color: $color-one;
            margin-bottom: 45px;

            @include medium-device-down {
                font-size: $P1-mobile;
            }

            p {
                $paragraph: $P1;
                font-weight: 400;
                letter-spacing: 0.2px;
                color: $color-one;
                margin-bottom: 0;

                @include medium-device-down {
                    font-size: $P1-mobile;
                }
            }
        }

        &__inputs {
            flex-wrap: wrap;
        }
        .input__item {
            width: 100%;
        }
        &__form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            @include large-device-down {
            }
            div {
                padding: 0;
            }
        }
        input {
            height: 42px;
            background: $color-white !important;
            border: 0;
            border-radius: 0;
            padding: 0 15px;

            &::placeholder {
                background-color: $color-white !important;
            }
        }

        &__cta {
            margin-left: 109px;
            margin-top: -21px;
            background-color: $color-white;
            color: $color-one;
            height: 45px;
            width: 100%;
            max-width: 177px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            font: $paragraph;
            font-weight: $weight-700;
            transition: 0.5s all ease;
            margin-left: auto;
            margin-top: 0;

            @include large-device-down {
                margin-top: 18px;
                max-width: inherit;
                width: 80%;
                font: $paragraph-min;
            }

            &:hover {
                background-color: $color-black;
                color: $color-white;
                transition: 0.5s all ease;
            }

            img {
                width: 25.16px;
                height: 25.16px;
                margin-right: 16.87px;
                transition: 0.5s all ease;

                @include small-device {
                    width: 21px;
                    height: 21px;
                    margin-right: 14.58px;
                }
            }
            &:hover img {
                filter: invert(1) grayscale(1);
                transition: 0.5s all ease;
            }
        }
    }
}
//FIM form03
.form__file input {
    display: none;
}
.jq-toast-wrap {
    width: 330px;
}
.jq-toast-single {
    font-family: $font-paragraph;
    font-size: 13px;
    font-weight: $weight-400;
    letter-spacing: 1px;
}
.jq-toast-single h2 {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: $weight-700;
    letter-spacing: 1px;
}
.close-jq-toast-single {
    top: 7px;
    right: 7px;
    font-size: 29px;
}

// BEGIN FORM

.form-placeholder {
    position: relative;
    background-color: #FFF;

    .placeholder--custom {
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        display: block;
        padding-left: 15px;
        transform: translate(0, -50%);
        transition: ease all 0.3s;
    }
    &.select {
        .placeholder--custom {
            opacity: 0;
            visibility: hidden;
        }
    }

    &.select {
        &.focusing {
            .placeholder--custom {
                opacity: 1;
                visibility: visible;
            }
            > select {
                padding-top: 10px;
                padding-bottom: 0;
            }
        }
    }

    > select {
        transition: ease all 0.3s;
        background-color: #fff !important;
        height: 40px;
    }

    > input {
        transition: ease all 0.3s;
        background-color: transparent !important;
        height: 40px;
        position: relative;
        z-index: 2;
    }

    &.focusing {
        .placeholder--custom {
            font-size: 12px;
            color: #777777;
            top: 0;
            transform: translate(0);
            transition: ease all 0.3s;
        }
        > input {
            padding-top: 18px;
            height: 40px;
            transition: ease all 0.3s;
        }
    }
}

.confirmation-page {
    position: relative;

    padding-bottom: 5rem;

    @include disFlex(column, start, center);
    display: flex !important;
    width: 100%;
    flex-wrap: wrap;
    gap: 24px;

    position: relative;

    &__title {
        @extend %theme__padding;
        padding-bottom: 0;
        @extend %theme__t3-c4;
        text-align: center;

        &::after {
            left: 50%;
            translate: -50% 0;
            content: "";
            width: 60px;
            height: 1px;
            background-color: $color-two;
            position: relative;
            margin-top: 1.25rem;
            display: block;
        }
    }

    &__paragraph {
        @extend %theme__p1-cb;
        text-align: center;
        margin-top: 1.5rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    svg {
        width: 100%;
    }
}

// ANIMAÇÃO

.blur-5 {
    filter: blur(5px);
}

.animation {
    opacity: 0;
}

.animated {
    opacity: 1;
    animation-duration: 0.8s !important;

    &.blur-5 {
        filter: blur(0px);
    }

    &.fadeIn {
        animation: fadeIn;
    }

    &.fadeInUp {
        animation: fadeInUp;
    }

    &.fadeInDown {
        animation: fadeInDown;
    }

    &.fadeInRight {
        animation: fadeInRight;
    }
    &.fadeInLeft {
        animation: fadeInLeft;
    }
}

.hover-image-box {
    overflow: hidden;
    &__target {
        transition: all 0.4s ease;
    }

    &:hover &__target {
        scale: 1.1;
        transition: all 0.4s ease;
    }
}
