// BEGIN CONFIG THEME

// MAIN WRAP
$max-width-container-fluid: 1112px;

// TITLE SIZES
$T1: 3.125rem;
$T2: 2.5rem;
$T3: 1.875rem;
$T4: 1.25rem;
$T5: 1.125rem;

$T1-mobile: 2.5rem;
$T2-mobile: 1.875rem;
$T3-mobile: 1.563rem;
$T4-mobile: 1.125rem;
$T5-mobile: 1.063rem;


// PARAGRAPHS SIZES
$P1: 1rem;
$P2: 0.875rem;

$P1-mobile: 0.938rem;
$P2-mobile: 0.813rem;


// COLORS THEME
$color-one: #404040;
$color-two: #7C7C7C;
$color-three: #B3B3B3;
$color-four: #CACACA;
$color-five: #EFEFEF;
$color-six:#E6E6E6;
$color-seven:#F2F2F2;
$color-eight:#282828;



$color-white: #fff;
$color-black: #000;
$color-black-opacity: #000;

$color-info: #0D84F5;
$color-warning: #f5980d;
$color-danger: #c90000;

// FONTS FAMILY
$font-primary: 'Ubuntu', sans-serif, arial;
$font-secondary: 'Ubuntu', sans-serif, arial;
$font-paragraph: 'Montserrat', sans-serif, arial;

// FONT PARAGRAPH
$paragraph: $P1 $font-paragraph;
$paragraph-min: $P2 $font-paragraph;

$paragraph-mobile: $P1-mobile $font-paragraph;
$paragraph-min-mobile: $P2-mobile $font-paragraph;

// END CONFIG THEME

// GRAYSCALE
$gray-100: #f7f8f9;
$gray-200: #eceff1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #98a6ad;
$gray-700: #6c757d;
$gray-800: #343a40;
$gray-900: #323a46;

// BACKGROUNDS
$bg-main: $color-one;
$bg-secondary: $color-two;
$bg-extra: $color-three;
$bg-soft: $color-four;
$bg-light: $color-five;
$bg-white: $color-white;
$bg-black: $color-black;
$bg-gray: $gray-300;

$bg-info: $color-info;
$bg-warning: $color-warning;
$bg-danger: $color-danger;

// WIDTH PERCENT SECTION BODY
$wp-100: 100%;
$wp-90: 90%;
$wp-80: 80%;
$wp-70: 70%;
$wp-60: 60%;
$wp-50: 50%;
$wp-40: 40%;
$wp-30: 30%;
$wp-20: 20%;
$wp-10: 10%;

// EDGE
$edge-rounded-none: 0;
$edge-rounded-soft: 5px;
$edge-rounded: 50px;
$edge-rounded-full: 100%;

// FONT SIZE
$font-0: 0rem;
$font-10: 0.625rem;
$font-11: 0.6875rem;
$font-12: 0.75rem;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.315rem;
$font-24: 1.5rem;
$font-26: 1.615rem;
$font-28: 1.75rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-34: 2.125rem;
$font-36: 2.25rem;
$font-38: 2.375rem;
$font-40: 2.5rem;
$font-42: 2.625rem;
$font-44: 2.75rem;
$font-46: 2.875rem;
$font-48: 3rem;
$font-50: 3.125rem;

// WEIGHT
$weight-100: 100;
$weight-200: 200;
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-900: 900;
