/* grayscale */

$gray-100: #f7f8f9;
$gray-200: #eceff1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #98a6ad;
$gray-700: #6c757d;
$gray-800: #343a40;
$gray-900: #323a46;


/* colors theme */

$color-main: #6F3BED;
$color-secondary: #5CFFC4;
$color-extra: #0D84F5;
$color-soft: #CCCEE5;
$color-light: #EFF0F7;
$color-white: #fff;
$color-black: #000;

$color-info: #0D84F5;
$color-warning: #f5980d;
$color-danger: #c90000;

/* Weight */

$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-900: 900;


/* Fonts Family */

$font-primary: 'Poppins', sans-serif, arial;
$font-secondary: 'Poppins', sans-serif, arial;
$font-paragraph: 'Montserrat', sans-serif, arial;

/* backgrounds */

$bg-main: $color-main;
$bg-secondary: $color-secondary;
$bg-extra: $color-extra;
$bg-soft: $color-soft;
$bg-light: $color-light;
$bg-white: $color-white;
$bg-black: $color-black;
$bg-gray: $gray-300;

$bg-info: $color-info;
$bg-warning: $color-warning;
$bg-danger: $color-danger;

/* Width percent section body */

$wp-100: 100%;
$wp-90: 90%;
$wp-80: 80%;
$wp-70: 70%;
$wp-60: 60%;
$wp-50: 50%;
$wp-40: 40%;
$wp-30: 30%;
$wp-20: 20%;
$wp-10: 10%;

// EDGE
$edge-rounded-none: 0;
$edge-rounded-soft: 5px;
$edge-rounded: 50px;
$edge-rounded-full: 100%;

// FONT SIZE
$font-0: 0rem;
$font-10: 0.625rem;
$font-11: 0.6875rem;
$font-12: 0.75rem;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.315rem;
$font-24: 1.5rem;
$font-26: 1.615rem;
$font-28: 1.75rem;
$font-30: 1.875rem;
$font-30: 2rem;
