@import 'variables';

/* BEGIN STYLE */
.prod02{
    background-color: $color-five;

    .container--edit{
        padding: 76px 0 43px 0;
        // max-width: 1175px !important;
    }
    &__navigation{
        &__content{
            padding-bottom: 32.48px;
            border-bottom: 1px solid $color-one;
            margin-bottom: 29.89px;
            

            &__encompass{
                max-width: 265px;

                &__title{
                    color:$color-one;
                    font-size: $T2;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    margin-bottom: 18px;
                }
                &__subtitle{
                    color: $color-three;
                    font-size: $T4;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                }
            }
            
            &__nav__desktop{
                display: flex;
                width: 79.5%;

                ul{
                    gap:0 46px;
                    

                    li{
                        @include listapadrao;

                        a{
                            font-size: $T5;
                            color: $color-black;
                            font-family: $font-primary;
                            font-weight: $weight-700;
                        }
                    }
                }

                &__cta{
                    font: $prod02-nav-desktop-cta-font;
                    font-weight: $prod02-nav-desktop-cta-font-weight;
                    color: $prod02-nav-desktop-cta-color;
                    max-width: $prod02-nav-desktop-cta-max-width;
                    height: auto;
                    padding: $prod02-nav-desktop-cta-padding;
                    background-color: $prod02-nav-desktop-cta-background-color;
            
                    @include small-down{
                        font: $prod02-nav-desktop-cta-font-responsive;
                    }
            
                    &:hover{
                        color: $prod02-item-cta-color-hover;
                        background-color: $prod02-nav-desktop-cta-background-color-hover;
            
                        .prod02__navigation__content__nav__desktop__cta__icon{
                            filter: $prod02-nav-desktop-cta-icon-filter-hover;
                        }
                    }
                } 
               
            }
        }
        &__nav__mobile{

            display: none !important;
            gap:0 46px;

            li{
                @include listapadrao;
                display: flex;

                a{
                    font-size: $T5;
                    color: $color-black;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                }
            }
        }
        &__paragraph{
            p{
                color:$color-two;
                font:$paragraph;
                font-weight: $weight-400;
                margin-bottom: 0;
            }
        }
    }
    // END __navigation

    &__content__product{
        margin-top: 54px;

        &__item{
            position: relative;
            min-height: 447px;
            height: 447px;

            &__description{
                position: $prod02-item-description-position;
                top: $prod02-item-description-top;
                left: $prod02-item-description-left;
                padding: $prod02-item-description-padding;


                &__title{
                    font-size: $T5;
                    color: $color-black;
                    font-family: $font-paragraph;
                    font-weight: $weight-700;
                }
                &__paragraph{
                    color: $color-two;
                    font: $paragraph-min;
                    font-weight: $weight-400;
                }
                &__paragraph p{
                    color: $color-two;
                    font: $paragraph-min;
                    font-weight: $weight-400;
                    margin-bottom: $prod02-item-paragraph-p-margin-bottom;
                }
            }
            
            &__cta{
                font: $prod02-item-cta-font;
                font-weight: $prod02-item-cta-font-weight;
                color: $prod02-item-cta-color;
                max-width: $prod02-item-cta-max-width;
                height: auto;
                padding: $prod02-item-cta-padding;
                background-color: $prod02-item-cta-background-color;
        
                @include small-down{
                    font: $prod02-item-cta-font-responsive;
                }
        
                &:hover{
                    color: $prod02-item-cta-color-hover;
                    background-color: $prod02-item-cta-background-color-hover;
        
                    .prod02__content__product__item__cta__icon{
                        filter: $prod02-item-cta-icon-filter-hover;
                    }
                }
            } 
            &__item a{
                color:$color-black;     
            }
        }
        .carousel-prod02 .owl-dots{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            margin-top: 28px;
            gap: 0 5px;
        }
        .carousel-prod02 .owl-dots .owl-dot{
            width: 22px;
            height: 16px;
            background-color: $color-three;
            @include dflex;
        }
        .carousel-prod02 .owl-dots .owl-dot.active{
            background-color: $color-one;
        }
    }

    // END content_product
    
    
}



///page

.prod02__page{

    &__header{
        height: 304px;
        padding: 0 16px;
        padding-bottom: 61px;

        &__title{
            font-size: $T1;
            color: $color-black;
            font-family: $font-paragraph;
            font-weight: $weight-700;

            @include small-down{
                font-size: $T1-mobile;
                text-align: center;
                max-width: 309px;
            }
        }
       
    }

    &__content{
        margin-top: -23px;

        @include small-down{
            padding: 0 48px;
            overflow: hidden;
        }

        &__category{
            gap: 14px;

            @include small-down{
                margin-left: 63px;
                margin-bottom: 0;
            }

            li{
                padding: 9px 39px;
                @include listapadrao;
                background-color: $color-five;

                @include small-down{
                   width: 100% !important;
                }

                a{
                    font-size: $T5;
                    color: $color-two;
                    font-family: $font-paragraph;
                    font-weight: $weight-700;

                    img{
                        width: 36px;
                        height: auto;
                        object-fit: contain;
                        margin-right: 20px;

                        @include small-down{
                            width: 36px !important;
                            height: 37px !important;
                        }
                    }
                   
                   
                }

                &:hover{
                    background: $color-black;

                    a{
                        color: $color-white; 
                    }
                    img{
                        filter:invert(1) grayscale(1);
                    }
                }
            }
        }
        @include small-down{
            .caroussel_prod02-page .owl-dots{
                display: none !important;
            }
            .caroussel_prod02-page .owl-nav{
                display: none !important;
            }
        }
        &__product{
            
            margin-top: 89px;

            @include small-down{
                padding: 0 48px !important;
                margin-top: 51.28px;
            }

            .prod02__page__content--row{
                gap: 26px 0;
            }

            &__item{
                position: relative;
                min-height: 447px;
                height: 447px;
    
                &__description{
                    position: $prod02-item-description-position;
                    top: $prod02-item-description-top;
                    left: $prod02-item-description-left;
                    padding: $prod02-item-description-padding;
    
    
                    &__title{
                        font-size: $T5;
                        color: $color-black;
                        font-family: $font-paragraph;
                        font-weight: $weight-700;
                    }
                    &__paragraph{
                        color: $color-two;
                        font: $paragraph-min;
                        font-weight: $weight-400;
                    }
                    &__paragraph p{
                        color: $color-two;
                        font: $paragraph-min;
                        font-weight: $weight-400;
                        margin-bottom: $prod02-item-paragraph-p-margin-bottom;
                    }
                }
                
                &__cta{
                    font: $prod02-item-cta-font;
                    font-weight: $prod02-item-cta-font-weight;
                    color: $prod02-item-cta-color;
                    max-width: $prod02-item-cta-max-width;
                    height: auto;
                    padding: $prod02-item-cta-padding;
                    background-color: $prod02-item-cta-background-color;
            
                    @include small-down{
                        font: $prod02-item-cta-font-responsive;
                    }
            
                    &:hover{
                        color: $prod02-item-cta-color-hover;
                        background-color: $prod02-item-cta-background-color-hover;
            
                        .prod02__page__content__product__item__cta__icon{
                            filter: $prod02-item-cta-icon-filter-hover;
                        }
                    }
                } 
                &__item a{
                    color:$color-black;     
                }
            }
        }
    }
}    


.lightbox-prod02{
    width: $lightbox-prod02-width;
    display: $lightbox-prod02-display;
    padding: $lightbox-prod02-padding;

    &__subtitle{
        font-size: $T4;
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__title{
        font-size: $T2;
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__line{
        margin-top: $lightbox-prod02-line-margin-top;
        margin-bottom: $lightbox-prod02-line-margin-bottom;
    }
    &__paragraph{
        font: $paragraph;
        color: $color-one;
        font-weight: $weight-400;
    }
    .carousel__button.is-close{
        right: 17px;
        top: 17px;
        left: inherit;
        width: 31px;
        height: 31px;
        background: #000000;
        border-radius: 5px;
        color: $color-white;
        font-size:11px;
    }
    .fancybox__backdrop{
        background: $color-one !important;
    }

    @include small-down{
        text-align: center;
    }
}

// END .lightbox