@mixin listapadrao {
    list-style: none;
}
@mixin dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

$prod02-item-description-position: absolute;
$prod02-item-description-top: 0;
$prod02-item-description-left: 0;
$prod02-item-description-padding: 48.66px 53px;
$prod02-item-paragraph-p-margin-bottom:0;

// CARROSSEL


//Responsive
$prod02-container-mobile-padding:61px 0 36px 0 !important;

$prod02-item-mobile-padding: 0 44px !important;  
$prod02-item-mobile-margin-top: 43px;

$prod02-item-item-min-height: 414px;
$prod02-item-item-height: 414px;


// CTA
$prod02-cta-font: $paragraph;
$prod02-cta-font-weight: $weight-700;
$prod02-cta-color: $color-three;
$prod02-cta-max-width: 177px;
$prod02-cta-padding: 10px 50px;
$prod02-cta-background-color: $color-five;
// HOVER
$prod02-cta-color-hover: $color-white;
$prod02-cta-background-color-hover: $bg-black;
$prod02-cta-icon-filter-hover: invert(1) grayscale(1);

// RESPONSIVE
$prod02-cta-font-responsive: $paragraph-mobile;