@mixin listapadrao {
    list-style: none;
}

// CTA
$prod02-cta-font: $paragraph;
$prod02-cta-font-weight: $weight-700;
$prod02-cta-color: $color-black;
$prod02-cta-max-width: 177px;
$prod02-cta-padding: 10px 50px;
$prod02-cta-background-color: $bg-soft;
// HOVER
$prod02-cta-color-hover: $color-white;
$prod02-cta-background-color-hover: $bg-black;
$prod02-cta-icon-filter-hover: invert(1) grayscale(1);

// RESPONSIVE
$prod02-cta-font-responsive: $paragraph-mobile;