@import 'variables';

/* BEGIN STYLE */
.cota01-show{
    &__banner{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ccc;
        padding: 87px 17%;
        text-align: center;

        &__title{
            font-size: $T1;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-black;

            @include small-down{
                font-size: $T1-mobile;
            }
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-one;
            margin: 30px 0 0 0;

            @include small-down{
                font: $paragraph-mobile;
            }
        }
    }
    // END __banner

    &__form-section{
        padding: 87px 0;
        background-color: $color-five;

        &__header{
            text-align: center;
            margin-bottom: 90px;
            padding: 0 17%;
        }
        &__title{
            font-size: $T2;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-black;

            @include small-down{
                font-size: $T2-mobile;
            }
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-one;
            margin: 30px 0 0 0;

            @include small-down{
                font: $paragraph-mobile;
            }
        }
    }
    // END __form-section

    &__form{
        &__header{
            max-width: 85%;

            &__title{
                font-size: $T2;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-black;

                @include small-down{
                    font-size: $T2-mobile;
                }
            }
            &__paragraph{
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-one;
                margin: 30px 0 0 0;

                @include small-down{
                    font: $paragraph-mobile;
                }
            }
        }
        &__item{
            margin-top: 55px;

            &__input{
                input, select, textarea{
                    border-color: transparent;
                    border-radius: 0;
                    padding: 10px 10px;
                    &:focus{
                        border-color: $color-black;
                        background-color: $color-white;
                        box-shadow: 0 0 0 0.25rem #d0d0d0;
                    }
                }
            }
            &__submit{
                border: none;
                border-radius: 0;
                padding: 10px 30px;
                background-color: $color-white;
                color: $color-black;
                font: $paragraph;
                font-weight: $weight-700;

                &:hover{
                    background-color: $color-black;
                    color: $color-white;
                    .icon__button{
                        filter: invert(1) grayscale(1);
                    }
                }
            }
        }
        &__compliance{
            font: $paragraph-min;
            font-weight: $weight-400;
            color: $color-two;
            &__link{
                font: $paragraph-min;
                font-weight: $weight-700;
                color: $color-two;
                text-decoration: underline;
            }
        }
    }
    // END __form

    &__topics-form{
        padding-left: 130px;
        &__item{
            margin-bottom: 50px;
        }
        &__icon{
            width: 25px;
            margin-right: 15px;
        }
        &__description{

        }
        &__title{
            font-size: $T3;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;

            @include small-down{
                font-size: $T2-mobile;
            }
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-two;
            margin: 10px 0 0 0;

            @include small-down{
                font: $paragraph-mobile;
            }
        }
    }
    // END __topics-form

    &__topics-section{
        padding: 80px 0 0 0;
    }

    &__topics{
        &__item{
            margin-bottom: 50px;
        }
        &__image{
            object-fit: contain;
            height: 433px;
            object-position: bottom;
        }
        &__icon{
            width: 25px;
            margin-right: 15px;
        }
        &__description{

        }
        &__title{
            font-size: $T3;
            font-family: $font-primary;
            font-weight: $weight-700;
            color: $color-one;

            @include small-down{
                font-size: $T2-mobile;
            }
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-two;
            margin: 10px 0 0 0;

            @include small-down{
                font: $paragraph-mobile;
            }
        }
    }
}
