@import "variables";

.foot02 {
    background-color: $color-three;

    &__navigation {
        position: relative;
        @extend %theme__padding;
        @include disFlex;
        gap: 1rem;
        flex-wrap: wrap;

        &__client-info {
            @include disFlex(column, center, center);
            gap: 3rem;
            margin-right: 2rem;

            @include large-device-down {
                width: 100%;
                margin-bottom: 2rem;
                margin-right: unset;
            }

            &__logo {
                width: 12.5rem;
                height: auto;
                aspect-ratio: 200/96;

                object-fit: contain;
                object-position: center;
            }

            &__socials {
                @include disFlex(row, center, center);
                gap: 0.75rem;

                list-style: none;

                &__item {
                    position: relative;
                    width: 1.75rem;
                    height: auto;
                    aspect-ratio: 1/1;

                    &__icon {
                        width: 100%;
                        height: 100%;

                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }

        &__pages {
            list-style: none;
            flex: 1 0 auto;

            &__header {
                @extend %theme__t4-cb;

                &__link {
                    font: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: inherit;
                }
            }

            &__item {
                @extend %theme__p1-cb;

                &__link {
                    font: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: inherit;
                }
            }
        }

        &__client-contact {
            list-style: none;
            flex: 1 0 auto;

            &__header {
                @extend .foot02__navigation__pages__header;
            }

            &__item {
                @extend .foot02__navigation__pages__item;

                &__link {
                    @extend .foot02__navigation__pages__item__link;
                }
            }
        }

        &__button {
            @include disFlex;
            position: absolute;
            bottom: 0;
            right: 5%;
            height: 5rem;
            width: 3.5rem;

            border: none;
            outline: none;
            background-color: $color-three;

            img {
                height: 23px;
            }
        }
    }

    &__copyright {
        @extend %theme__padding;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include disFlex(row, space-between, center);

        @include large-device-down {
            flex-direction: column;
            gap: 1.5rem;
        }

        &__compliances {
            list-style: none;

            &__item {
                @extend %theme__p2-c1;

                &__list {
                    font: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: inherit;
                }
            }
        }

        &__hoom {
            width: 9.25rem;
            height: auto;
            aspect-ratio: 148/72;

            &__img {
                width: 100%;
                height: 100%;

                object-fit: contain;
                object-position: center;
            }
        }
    }
}
