@import "variables";

.foot02 {
    background-color: #1A2069;

    &__navigation {
        position: relative;
        @extend %theme__padding;
        padding-left: 10vw;
        padding-right: 10vw;
        @include disFlex(row, space-between);
        // gap: 1rem;
        flex-wrap: wrap;

        &__client-info {
            @include disFlex(column, center, center);
            gap: 3rem;
            margin-right: 11rem;

            @include large-device-down {
                width: 100%;
                margin-bottom: 2rem;
                margin-right: unset;
            }

            &__logo {
                width: 13.5rem;
                height: auto;
                aspect-ratio: 200/206;

                object-fit: contain;
                object-position: center;
            }

            &__socials {
                @include disFlex(row, center, center);
                gap: 25px;

                list-style: none;

                &__item {
                    position: relative;
                    width: 1.75rem;
                    height: auto;
                    aspect-ratio: 1/1;

                    &__icon {
                        width: 100%;
                        height: 100%;

                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }

        &__pages {
            list-style: none;
            // flex: 1 0 auto;
            @include disFlex(column, flex-start);
            gap: 19px;

            &__header {
                @extend %theme__t4-cb;

                &__link {
                    font: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: inherit;
                }
            }

            &__item {
                color: #FFF;
                font-family: $font-primary;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;

                &__link {
                    font: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: inherit;
                }
            }
        }

        &__client-contact {
            list-style: none;
            // flex: 1 0 auto;

            &__header {
                color: #FFF;
                font-family: $font-primary;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 24px;
            }

            &__item {
                @extend .foot02__navigation__pages__item;

                &__link {
                    @extend .foot02__navigation__pages__item__link;
                }
            }
        }

        &__button {
            @include disFlex(row, center, flex-start);
            position: absolute;
            bottom: 0;
            right: 8%;
            height: 5rem;
            width: 2.5rem;

            border: none;
            outline: none;
            background-color: #2E368E;
            border-radius: 21px 21px 0 0;
            padding: 10px 0 0 0;

            img {
                height: 23px;
            }
        }
    }

    &__copyright {
        @extend %theme__padding;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include disFlex(row, space-between, center);

        background-color: #2E368E;

        @include large-device-down {
            flex-direction: column;
            gap: 1.5rem;
        }

        &__compliances {
            list-style: none;

            &__item {
                color: #FFF;
                font-family: $font-primary;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &__list {
                    font: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: inherit;
                }
            }
        }

        &__hoom {
            width: 9.25rem;
            height: auto;
            aspect-ratio: 148/72;

            &__img {
                width: 100%;
                height: 100%;

                object-fit: contain;
                object-position: center;
            }
        }
    }
}
