@import 'variables';

/* BEGIN STYLE */

#SERV01 {
    background-color: $serv01_bg_section;
    .header-service {
        width: $wp-100;
        text-align: $serv01_text_align_header;
        .title {
            font-family: $serv01_title_header;
            font-size: $serv01_size_title_header;
            color: $serv01_color_title_header;
            &:after {
                content: '';
                width: $serv01_width_after_title_header;
                height: $serv01_height_after_title_header;
                background-color: $serv01_color_after_title_header;
                display: block;
                margin: 15px auto;
            }
        }
        p {
            width: $serv01_paragraph_header;
        }
    }
    .wrap-box-service {
        .carousel-box-service {
            .owl-dots {
                width: 100%;
                text-align: center;
                margin-top: 50px;
                .owl-dot {
                    width: 13px;
                    height: 13px;
                    display: inline-block;
                    margin-right: 19px;
                    background-color: $serv01_dot_bg_color;
                    border-radius: 50%;
                    padding: 0;
                    border: none;
                    transition: ease all 0.3s;
                    &:hover,
                    &.active {
                        background-color: $serv01_dot_bg_color_active;
                        transition: ease all 0.3s;
                    }
                }
            }
        }
    }
}