@import 'variables';

/* BEGIN STYLE */
#SERV01{

    /*
    ==================================
    ========= BEGIN SECTION ==========
    ==================================
    */
    &.serv01{
        padding: 70px 0;
        @include small-device{
            padding: 35px 0;
        }
    }
    .serv01{
        &__header{
            text-align: center;
            &__container{
                margin-bottom: 25px;
            }
            &__title{
                font-size: $T2;
                font-family: $font-primary;
                color: $color-one;
                display: block;
            }
            &__subtitle{
                font-size: $T4;
                font-family: $font-primary;
                color: $color-three;
                display: block;
            }
            &__line{
                background-color: $color-one;
            }
            &__paragraph{
                font: $paragraph;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 50px;
                margin-top: 25px;

                @include small-device{
                    width: 90%;
                }
            }
        }
        // END __header

        &__container-box{
            @include small-device{
                width: 70%;
            }
            .owl-stage-outer{
                @include small-device{
                    overflow: visible;
                }
            }
            &__item{
                padding-right: 0.25rem;
                padding-left: 0.25rem;
                .content{
                    padding: 0 20px;

                    &:hover{
                        transform: scale(1.01);
                        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
                        .serv01__container-box__link{
                            background-color: #c0c0c0;
                            color: $color-two;
                            &__icon{
                                filter: grayscale(1) invert(1);
                            }
                        }
                    }
                }
            }

            &__info{
                position: relative;
                z-index: 1;
                min-height: 330px;
            }
            &__image{
                margin-bottom: 28px;
                img{
                    width: 60px;
                }
            }
            &__description{
                text-align: center;
            }
            &__title{
                font-size: $T5;
                font-family: $font-primary;
                color: $color-black;
            }
            &__paragraph{
                font: $paragraph-min;
                color: $color-two;
                font-weight: $weight-500;
                width: 60%;
                @include small-device{
                    width: 100%;
                }
            }
            &__link{
                font: 1rem "Montserrat";
                color: $color-one;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%);
                z-index: 2;
                min-width: 177px;
                padding: 10px 15px;
                font-weight: 700;
                background-color: #EFEFEF;
                text-align: center;

                &__icon{
                    width: 25px;
                }
            }
        }
        // END __container-box
    }
    // END .serv01

    /*
    ==================================
    =========== BEGIN PAGE ===========
    ==================================
    */
    .serv01-page{
        &__header{
            text-align: center;
            background-color: #EFEFEF;
            padding: 87px 0;
            margin: 0 0 72px 0;
            &__container{
                margin-bottom: 25px;
            }
            &__title{
                font-size: $T2;
                font-family: $font-primary;
                color: $color-one;
                display: block;
            }
            &__subtitle{
                font-size: $T4;
                font-family: $font-primary;
                color: $color-three;
                display: block;
            }
            &__line{
                background-color: $color-one;
            }
            &__paragraph{
                font: $paragraph;
                width: 60%;
                margin: 0 auto;
                margin-bottom: 50px;
                margin-top: 25px;

                @include small-device{
                    width: 90%;
                }
            }
        }
        // END __header

        &__container-box{
            @include small-device{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
            .owl-stage-outer{
                @include small-device{
                    overflow: visible;
                }
            }
            &__item{
                padding-right: 0.25rem;
                padding-left: 0.25rem;
                margin-bottom: 59px;
                .content{
                    padding: 0 20px;

                    &:hover{
                        transform: scale(1.01);
                        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
                        .serv01__container-box__link{
                            background-color: #c0c0c0;
                            color: $color-two;
                            &__icon{
                                filter: grayscale(1) invert(1);
                            }
                        }
                    }
                }
            }

            &__info{
                position: relative;
                z-index: 1;
                min-height: 330px;
            }
            &__image{
                margin-bottom: 28px;
                img{
                    width: 60px;
                }
            }
            &__description{
                text-align: center;
            }
            &__title{
                font-size: $T5;
                font-family: $font-primary;
                color: $color-black;
            }
            &__paragraph{
                font: $paragraph-min;
                color: $color-two;
                font-weight: $weight-500;
                width: 60%;
                @include small-device{
                    width: 100%;
                }
            }
            &__link{
                font: 1rem "Montserrat";
                color: $color-one;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%);
                z-index: 2;
                min-width: 177px;
                padding: 10px 15px;
                font-weight: 700;
                background-color: #EFEFEF;
                text-align: center;

                &__icon{
                    width: 25px;
                }
            }
        }
        // END __container-box
    }
    // END .serv01

    /*
    ==================================
    ========== BEGIN SHOW ============
    ==================================
    */
    &.serv01-show{
        padding: 0;
    }
    .serv01-show{
        &__header{
            padding: 80px 0 100px 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include small-device{
                padding: 80px 30px 100px 30px;
            }
            &__title{
                font-size: $T1;
                font-weight: $weight-700;
                font-family: $font-primary;
                color: $color-black;
                text-align: center;
            }
            &__links{
                margin-top: 40px;
                @include small-device{
                    width: 85%;
                }
                .owl-stage-outer{
                    @include small-device{
                        overflow: visible;
                        display: block;
                        width: 100%;
                    }
                }
            }
            &__link-item{
                font-size: $T5;
                font-weight: $weight-700;
                font-family: $font-primary;
                color: $color-two;
                margin: 0 24px;
                padding: 0 10px;

                @include small-device{
                    background-color: #B3B3B3;
                    margin: 0 auto;
                    display: table;
                    padding: 10px 30px;
                    width: 100%;
                    text-align: center;
                }

                &::after{
                    content: '';
                    border-top: 13px solid $color-black;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    display: table;
                    margin: 0 auto;
                    margin-top: 5px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s all ease;

                    @include small-device{
                        display: none;
                    }
                }
                &:hover{
                    color: $color-black;
                    @include small-device{
                        color: #fff;
                        background-color: #000;
                    }
                    &::after{
                        opacity: 1;
                        visibility: visible;
                        transition: 0.2s all ease;
                    }
                }
            }
            // END __link-item

            &__link-item--active{
                color: $color-black;
                @include small-device{
                    color: #fff;
                    background-color: #000;
                }
                &::after{
                    opacity: 1;
                    visibility: visible;
                    transition: 0.2s all ease;
                }
            }
        }
        // END __header

        &__content{
            padding: 66px 0;

            @include small-device{
                padding: 50px 0 !important;
            }
            &__info{
                display: table;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                position: relative;
                &__link{
                    position: absolute;
                    right: 0;
                    left: initial;
                    top: 20px;
                    bottom: initial;
                    display: table;
                }
            }
            &__icon{
                width: 36px;
                margin: 0 0 15px 0;
            }
            &__subtitle{
                font-size: $T5;
                font-weight: $weight-700;
                display: block;
            }
            &__title{
                font-size: $T2;
                font-weight: $weight-700;
                display: block;
            }
            &__line{
                background-color: $color-one;
                margin: 2rem 0;
            }
            &__description{
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-two;
                text-align: center;
                padding: 0 80px;
                @include small-device{
                    padding: 0 20px !important;
                }
            }
        }
        // END __content


        &__topics{
            padding: 70px 0;
            background-color: $bg-soft;
            @include small-device{
                padding: 35px 0;
            }
            &__header{
                text-align: center;
                &__container{
                    margin-bottom: 25px;
                }
                &__title{
                    font-size: $T2;
                    font-family: $font-primary;
                    color: $color-one;
                    display: block;
                }
                &__subtitle{
                    font-size: $T4;
                    font-family: $font-primary;
                    color: $color-two;
                    display: block;
                }
                &__line{
                    background-color: $color-one;
                }
                &__paragraph{
                    font: $paragraph;
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    margin-top: 25px;

                    @include small-device{
                        width: 90%;
                    }
                }
            }
            // END __header

            &__container-box{
                @include small-device{
                    width: 70%;
                    margin-left: 20px;
                }
                .owl-stage-outer{
                    @include small-device{
                        overflow: visible;
                    }
                }
                &__item{
                    padding-right: 0.25rem;
                    padding-left: 0.25rem;
                    .content{
                        padding: 0 20px;

                        &:hover{
                            transform: scale(1.01);
                            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
                            .serv01-topics__container-box__link{
                                background-color: #c0c0c0;
                                color: $color-two;
                                &__icon{
                                    filter: grayscale(1) invert(1);
                                }
                            }
                        }
                    }
                }

                &__info{
                    position: relative;
                    z-index: 1;
                    min-height: 330px;
                }
                &__image{
                    margin-bottom: 28px;
                    img{
                        width: 60px;
                    }
                }
                &__description{
                    text-align: center;
                }
                &__title{
                    font-size: $T5;
                    font-family: $font-primary;
                    color: $color-black;
                }
                &__paragraph{
                    font: $paragraph-min;
                    color: $color-two;
                    font-weight: $weight-500;
                    width: 60%;
                    @include small-device{
                        width: 100%;
                    }
                }
                &__link{
                    font: 1rem "Montserrat";
                    color: $color-one;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translate(-50%);
                    z-index: 2;
                    min-width: 177px;
                    padding: 10px 15px;
                    font-weight: 700;
                    background-color: #EFEFEF;
                    text-align: center;

                    &__icon{
                        width: 25px;
                    }
                }
            }
            // END __container-box
        }
        // END __topics

        &__portfolios{
            padding: 70px 0;
            background-color: $bg-white;
            @include small-device{
                padding: 35px 0;
            }
            &__header{
                text-align: center;
                &__container{
                    margin-bottom: 25px;
                }
                &__title{
                    font-size: $T2;
                    font-family: $font-primary;
                    color: $color-one;
                    display: block;
                }
                &__subtitle{
                    font-size: $T4;
                    font-family: $font-primary;
                    color: $color-two;
                    display: block;
                }
                &__line{
                    background-color: $color-one;
                }
                &__paragraph{
                    font: $paragraph;
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    margin-top: 25px;

                    @include small-device{
                        width: 90%;
                    }
                }
            }
            // END __header

            &__container-box{
                @include small-device{
                    width: 70%;
                    margin-left: 20px;
                }
                .owl-stage-outer{
                    @include small-device{
                        overflow: visible;
                    }
                }
                &__item{
                    padding-right: 0.25rem;
                    padding-left: 0.25rem;
                    .content{
                        padding: 0 20px;

                        &:hover{
                            transform: scale(1.01);
                            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
                            .serv01-portfolios__container-box__link{
                                background-color: #c0c0c0;
                                color: $color-two;
                                &__icon{
                                    filter: grayscale(1) invert(1);
                                }
                            }
                        }
                    }
                }

                &__info{
                    position: relative;
                    z-index: 1;
                    min-height: 370px;
                }
                &__description{
                    text-align: left;
                    .icon{
                        width: 36px;
                    }
                }
                &__title{
                    font-size: $T5;
                    font-weight: $weight-700;
                    font-family: $font-primary;
                    color: $color-black;
                }
                &__paragraph{
                    font: $paragraph-min;
                    color: $color-two;
                    font-weight: $weight-500;
                    width: auto;
                    @include small-device{
                        width: 100%;
                    }
                }
                &__link{
                    font: 1rem "Montserrat";
                    color: $color-one;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translate(-50%);
                    z-index: 2;
                    min-width: 177px;
                    padding: 10px 15px;
                    font-weight: 700;
                    background-color: #EFEFEF;
                    text-align: center;

                    &__icon{
                        width: 25px;
                    }
                }
            }
            // END __container-box
        }
        // END __portfolios
    }
    // END .serv01-show

    .carousel-serv01-show__portfolios{
        .owl-stage-outer{
            overflow: visible;
        }
        .owl-dots{
            text-align: center;
            margin-top: 50px;
            .owl-dot{
                width: 26px;
                height: 19px;
                display: inline-block;
                background-color: #ccc;
                margin: 0 6px;
                &.active{
                    background-color: #3f3f3f;
                }
                &:hover{
                    background-color: #3f3f3f;
                }
            }
        }
    }
}
.serv01-show{
    &__portfolios{
        &__lightbox{
            width: 100%;
            max-width: 1300px;
            padding: 0;
            height: 472px;

            @include small-device{
                height: auto;
                padding: 20px;
            }
            @include medium-device{
                height: auto;
                padding: 20px;
            }

            &__image{
                height: 472px;
                object-fit: cover;
                object-position: center;
                &__legend{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    color: #fff;
                    font: $paragraph;
                    font-family: $font-paragraph;
                    font-weight: $weight-400;
                    padding: 40px 10px 20px 10px;
                    background: linear-gradient(0deg, rgba(0,0,0,0.8883928571428571) 0%, rgba(0,0,0,0.39539565826330536) 65%, rgba(0,0,0,0) 100%);
                }
            }
            &__description{
                padding: 80px 40px 0 70px;
                overflow-y: auto;
                height: 100%;

                @include small-device{
                    padding: 40px;
                    height: auto;
                }
                @include medium-device{
                    height: auto;
                    padding: 40px;
                }
            }
            &__title{
                font-size: $T2;
                font-weight: $weight-700;
                font-family: $font-primary;
                color: $color-one;
                margin-bottom: 41px;
            }
            &__paragraph{
                font: $paragraph;
                font-weight: $weight-400;
                font-family: $font-paragraph;
                line-height: 30px;
            }
            &__carousel-image{
                .owl-nav{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    transform: translate(0, -50%);
                    .owl-prev{
                        float: left;
                        margin-left: 15px;
                    }
                    .owl-next{
                        float: right;
                        margin-right: 15px;
                    }
                    .owl-prev,
                    .owl-next{
                        display: table;
                        border-radius: 100%;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        background-color: #fff !important;
                        font-size: 30px !important;
                        line-height: 0 !important;
                        padding-bottom: 7px;
                        transition: all .2s ease;

                        &:hover{
                            background-color: $color-two !important;
                            transition: all .2s ease;
                        }

                        span{
                            margin-top: -3px;
                            display: block;
                        }
                    }
                }
            }
        }
        // END __lightbox
    }
    // END __portfolios
}
// END .serv01-show
