$serv01_bg_section: rgb(243, 243, 243);

/* Begin header */

$serv01_text_align_header: center;

/* Begin header title */

$serv01_title_header: $font-primary;
$serv01_size_title_header: $text-size-primary;
$serv01_color_title_header: $text-primary;
$serv01_width_after_title_header: $wp-20;
$serv01_height_after_title_header: 5px;
$serv01_color_after_title_header: $primary;

/* Begin header paragraph */

$serv01_paragraph_header: $wp-50;

/* Dot service color */

$serv01_dot_bg_color_active: $primary;
$serv01_dot_bg_color: $gray-400;