@import 'variables';

/* BEGIN STYLE */

.topi05{
    .container--pd{
        padding: 82px 0 72px 0 !important;

        @include small-device {
            padding: 68px 42px 68px 42px !important;
        }

    }

    &__box{
        gap:0 20px;

        &__image{
            height: 319px;
            @include small-device{
                height: 267px;
            }
        }
        &__description{
            padding: 31px 40px;

            @include small-device{
                padding: 24px 40px 29px 40px;
            }

            &__title{
                font-size: $T4;
                color: $color-black;
                font-family: $font-primary;
                font-weight: $weight-700;
                margin-bottom: 10px;

                @include small-device {
                    font-size: $T4-mobile;
                }
            }
            &__paragraph{
                p{
                    font-family: $font-primary;
                    font-weight: $weight-400;
                    font:$paragraph;
                    color:$color-two;

                    @include small-device {
                        font:$paragraph-min;
                    }
                }
            }
        }
    }
}
// END .topi05
