@import "variables";

/* BEGIN STYLE */
.blog01 {
    overflow: hidden; /* prevenção do shift da animação*/
    @extend %theme__padding;
    background-color: #1A2069;

    &__header {
        margin-bottom: 5rem;

        &__title {
            color: #95D059;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 240px;
                height: 1px;
                background-color: #FFF;
                bottom: -30px;
                left: -70px;
            }
        }
        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__paragraph {
            width: 100%;
            max-width: 938px;

            @extend %theme__p1-c2;
            text-align: center;
        }
    }

    &__main {
        &__carousel {
            height: auto;
            @extend %theme__pagination;

            overflow: hidden;
            @include large-device-down {
                overflow: visible;
            }
        }

        &__item {
            position: relative;
            width: calc(33.333333% - 14px);

            height: auto;
            @include disFlex(column);
            background-color: #FFF;

            @include large-device-down {
                width: calc(33.33% - 14px);
            }

            @include medium-device-down {
                width: calc(50% - 10px);
            }

            @include small-device-down {
                width: 100%;
            }

            &__image {
                width: 100%;
                height: auto;
                aspect-ratio: 372/259;

                object-fit: cover;
                object-position: center;
            }

            &__description {
                padding: 1.5rem;

                &__time {
                    color: #2E368E;
                    font-family: $font-primary;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    margin-bottom: 0;
                }

                &__title {
                    color: #242424;
                    font-family: $font-primary;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    margin-bottom: 7px;
                    width: 100%;
                    max-width: 310px;

                    @include large-device-down {
                        max-width: inherit;
                    }
                }

                &__paragraph {
                    color: #242424;
                    font-family: $font-primary;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                }

                &__cta {
                    @extend %theme__cta;
                    margin: 1rem 0 1rem auto;
                    color: #FFF;

                    span {
                        transform: skew(10deg, 0deg) !important;
                    }
                }
            }
        }
    }

}

.blog01-page {
    &__banner {
        @extend %theme__padding;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        &__title {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 250px;
                height: 1px;
                background-color: #1A2069;
                left: -77px;
                bottom: -30px;

            }
        }
    }

    &__categories {
        @extend %theme__padding;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        width: 100%;

        &__item {
            @extend %theme__category;
        }
    }

    &__articles {
        @extend %theme__padding;
        padding-top: 2.5rem;
        padding-bottom: 8rem;

        @include large-device-down {
            padding-bottom: 1rem;
        }

        &__highlighted {
            margin-bottom: 5rem;
            &__carousel {
                @extend .blog01__main__carousel;
                overflow: hidden;
                height: auto;
            }

            &__item {
                width: 100%;
                @include disFlex(row, start, center);
                gap: 4.5rem;

                @include large-device-down {
                    flex-direction: column;
                }

                @include large-device-down {
                    gap: 1rem;
                }

                &__image {
                    width: 50%;
                    height: auto;
                    aspect-ratio: 636/408;

                    object-fit: cover;
                    object-position: center;

                    @include large-device-down {
                        width: 100%;
                    }
                }

                &__information {
                    width: calc(45% - 4.5rem);

                    @include large-device-down {
                        width: 100%;
                    }

                    &__category {
                        width: fit-content;
                        padding: 0.5rem 1.5rem;
                        background-color: $color-five;

                        @extend %theme__p2-cb;
                        margin-bottom: 2.5rem;
                    }

                    &__title {
                        color: #1A2069;
                        font-family: $font-primary;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 1rem;
                        width: 100%;
                        max-width: 360px;
                    }

                    &__time {
                        color: #1A2069;
                        font-family: $font-primary;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 22px;
                        margin-bottom: 4rem;

                        @include large-device-down {
                            margin-bottom: 2rem;
                        }
                    }

                    &__paragraph {
                        color: #242424;
                        font-family: $font-primary;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        width: 100%;
                        max-width: 360px;
                    }

                    &__cta {
                        @extend %theme__cta;
                        margin-left: auto;
                        margin-top: 2rem;

                        span {
                            transform: skew(10deg, 0deg) !important;
                        }
                    }
                }
            }
        }

        &__list {
            @include disFlex;
            gap: 1.25rem;
            flex-wrap: wrap;
            position: relative;
            padding-top: 1rem;

            &::before {
                content: "";
                position: absolute;
                background-color: #00000051;
                width: 100%;
                height: 1px;
                top: -30px;
                left: 0;
            }

            &__item {
                @extend .blog01__main__item;

                &__image {
                    @extend .blog01__main__item__image;
                }

                &__description {
                    @extend .blog01__main__item__description;
                    padding-right: 2.5rem;

                    @include large-device-down {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    &__time {
                        @extend .blog01__main__item__description__time;
                    }

                    &__title {
                        @extend .blog01__main__item__description__title;
                    }

                    &__paragraph {
                        @extend .blog01__main__item__description__paragraph;
                        width: 100%;
                        max-width: 300px;
                    }
                    &__cta {
                        @extend %theme__cta;
                        margin: 1rem 0 0 auto;

                        span {
                            transform: skew(10deg, 0deg) !important;
                        }
                    }
                }
            }
        }
    }
}

.blog01-show {
    &__banner {
        @extend %theme__padding;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        &__title {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 250px;
                height: 1px;
                background-color: #1A2069;
                left: -77px;
                bottom: -30px;

            }
        }
    }

    &__article {
        overflow: hidden; /* Prevenção do shift da animação */
        @extend %theme__padding;
        padding-top: 2.5rem;

        &__title {
            color:#242424;
            font-family: $font-primary;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 17px;
        }

        &__time {
            color: #1A2069;
            font-family: $font-primary;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            margin-bottom: 1.5rem;
        }

        &__description {
           color: #242424;
            font-family: $font-primary;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }

        &__image {
            width: 100%;
            height: auto;
            aspect-ratio: 1244/524;

            margin-bottom: 2.5rem;

            object-fit: cover;
            object-position: center;
        }

        &__body {
           color: #242424;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-top: 22px;
        }

        &__share {
            @extend %theme__cta;
            margin-left: auto;
            margin-top: 3rem;

            span {
                transform: skew(10deg, 0deg) !important;
            }
        }

        &__modal {
            opacity: 0;
            width: 90%;
            max-width: 462px;
            border: none;
            padding: 1.5rem;
            border-radius: 0.25rem;

            background-color: $color-three;
            transition: all ease 0.5s;

            transform: translateY(-40%);

            &.open {
                opacity: 1;
                transition: all ease 0.5s;
                transform: translateY(0%);
            }

            &::backdrop {
                background-color: rgba(0, 0, 0, 0.6);
            }

            &__header {
                @include disFlex(row, space-between, center);
                margin-bottom: 1.5rem;

                &__title {
                    @extend %theme__t4-cb;
                    margin-bottom: 0;
                }

                &__close {
                    background-color: transparent;
                    border: none;
                }
            }

            &__main {
                overflow: hidden;

                &__socials {
                    @include disFlex(row, space-around, center);
                    padding-left: 0;

                    &__item {
                        width: 5.5rem;

                        background-color: transparent;
                        border: none;
                        cursor: pointer;

                        &__figure {
                            @include disFlex(column, center, center);
                            gap: 0.25rem;
                            width: fit-content;

                            svg {
                                width: 3rem !important;
                                height: 3rem !important;
                            }

                            &__title {
                                @extend %theme__p1-cb;
                            }
                        }
                    }
                }

                &__copy {
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.5rem;
                    background-color: $color-black;

                    @include disFlex(row, space-between, center);

                    @include medium-device-down {
                        flex-direction: column;
                        gap: 0.5rem;
                    }

                    &__link {
                        @extend %theme__p2-cw;
                    }

                    &__button {
                        border: none;
                        border-radius: 0.5rem;
                        padding: 0.5rem 1rem;
                        background-color: $color-five;
                        @extend %theme__p2-cb;

                        @include medium-device-down {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &__related {
        @extend %theme__padding;
        padding-bottom: 7rem;
        position: relative;

        @include large-device-down {
            padding-bottom: 2rem;
        }

        &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 1px;
            background-color: #1a216988;
            top: 0;
            left: 0;
            transform: translate(5%, -50%);
        }

        &__title {
            color: #242424;
            font-family: $font-primary;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 27px;
        }

        &__carousel {
            @extend .blog01__main__carousel;
        }

        &__item {
            @extend .blog01__main__item;

            &__image {
                @extend .blog01__main__item__image;
            }

            &__description {
                @extend .blog01__main__item__description;
                padding-right: 2.5rem;

                @include large-device-down {
                    padding-left: 0;
                    padding-right: 0;
                }
                
                &__time {
                    @extend .blog01__main__item__description__time;
                }
                &__title {
                    @extend .blog01__main__item__description__title;
                }

                &__paragraph {
                    @extend .blog01__main__item__description__paragraph;
                    width: 100%;
                    max-width: 300px;
                }

                &__cta {
                    @extend %theme__cta;
                    margin: 2rem 0 0 auto;

                    span {
                        transform: skew(10deg, 0deg) !important;
                    }
                }
            }
        }
    }
}
