@import 'variables';

/* BEGIN STYLE */
#HEAD02{
    border-bottom: 9px solid $color-two;
    .container-header{
        min-height: 100px;

        @include medium-device-down {
            min-height: auto;
        }

        #logoHeader{
            img{
                width: 185px;

                @include medium-device-down {
                    width: 155px;
                }
            }
        }
    }
    .container-navigation{
        .menu-list{
            margin-right: 35px;
            padding-right: 35px;
            border-right: 1px solid adjust-color($color-black, $alpha: -0.9);
            .menu-item{
                margin-right: 44px;
                position: relative;

                &:after{
                    content: '';
                    width: 100%;
                    height: 9px;
                    display: block;
                    background-color: transparent;
                    position: absolute;
                    bottom: -42px;
                    left: 0;
                    transition: ease all 0.2s;
                }
                &:hover{
                    &:after{
                        background-color: #8a8a8a;
                        transition: ease all 0.2s;
                    }
                }
                .link{
                    font: $paragraph;
                    color: $color-two;
                    &:hover{
                        color: $color-black;
                    }
                }
                &:last-child{
                    margin-right:0;
                }

                .sublink--menu{
                    background-color:$bg-main;
                    border-radius:0 10px 10px;
                    min-width:165px;
                    padding:10px;

                    .sublink-item{
                        font: $paragraph-min;
                        color: $color-white;
                        margin-bottom: 11px;
                        display: table;

                        &:nth-of-type(2n+0),
                        &:last-of-type{
                            padding-right: 0;
                            margin-right: 0;
                            border: none
                        }
                        &:after{
                            content: "";
                            width: 30px;
                            height: 1px;
                            background-color: $color-white;
                            display: block;
                            margin-top: 2px;
                            transition: ease all 0.2s;
                        }
                        &:hover{
                            color: $color-two;

                            &:after{
                                width: 90%;
                            }
                        }
                    }
                }
            }

        
            @include large-device-down {
                display: none;
            }
        }

        .container-cta{
            margin-right: 35px;
            padding-right: 35px;
            border-right: 1px solid adjust-color($color-black, $alpha: -0.9);
            .btn-cta{
                background-color: $bg-black;
                border-radius: $edge-rounded;
                min-width: 125px;
                display: table;
                text-align: center;
                color: $color-white;
                padding: 1px 15px;

                &.show{
                    border-radius: 17px 17px 0 0;
                    background-color: $bg-secondary;
                }
                &:hover{
                    background-color: $bg-secondary;
                }

                .menu-arrow{
                    border-top-color: $color-white;
                    margin-left: 10px;
                    margin-right: -25px;
                    margin-bottom: 3px;
                }
            }
            .sublink--cta-right{
                background-color:$bg-main;
                border-radius:0 10px 10px;
                min-width:260px;
                flex-wrap: wrap;
                padding:10px;

                &.show{
                    display: flex;
                }
                &:after{
                    content: '';
                    width: 90%;
                    height: 1px;
                    background-color: $bg-white;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                }
                .sublink-item{
                    font: $paragraph-min;
                    color: $color-white;
                    border-right: 1px solid adjust-color($color-white, $alpha: -0.8);
                    padding-right: 11px;
                    margin-right: 11px;
                    display: table;
                    &:nth-of-type(2n+0),
                    &:last-of-type{
                        padding-right: 0;
                        margin-right: 0;
                        border: none
                    }
                    &:hover{
                        color: $color-two;
                    }
                }
            }

            @include large-device-down {
                display: none;
            }
        }
        .link-translate{
            .btn-translate{
                font-size: $font-15;
                font-family: $font-primary;
                font-weight: $weight-600;
                color: $color-one;
                border-right: 1px solid adjust-color($color-one, $alpha: -0.7);
                line-height: 15px;
            }
        }
        .social-network{
            margin-right: 20px;
            .social-link{
                color: #404040;
                font-size: 22px;
                margin: 0 5px;

                &:hover{
                    color: #7C7C7C;
                }
            }
            @include medium-device-down{
                display: none !important;
            }
        }

        .menu-sidebar-header{
            display: none;
            margin-left: 35px;
            .lines{
                width: 38px;
                >i{
                    height: 2px;
                    display: block;
                    background-color: #000;
                }
            }
            &:active{
                .lines{
                    >i{
                        background-color: rgb(138, 138, 138);
                    }
                }
            }
            @include large-device-down {
                display: block;
            }
        }
    }
}
