@import "variables";

.head02 {
    width: 100%;
    // padding-right: 5vw;
    // padding-left: 5vw;

    @include disFlex(row, space-between);

    &__logo {
        position: relative;
        background-color: #1A2069;

        // width: 12.5rem;
        // height: auto;
        // aspect-ratio: 200/90;
        height: 100%;
        padding: 0.5rem 5rem;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);

        &__img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__navigation {
        @include disFlex(row, end);
        list-style: none;
        gap: 44px;
        width: calc(100% - 15rem);

        &__item {
            position: relative;
            @include disFlex(row, center, center);

            @include large-device-down {
                display: none;
            }

            &__link {
                color: #1A2069;
                text-align: center;
                font-family: $font-primary;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                text-decoration: none;

                border-bottom: 2px solid transparent;
                padding-bottom: 5px;
                transition: 0.5s all ease;

                &:hover {
                    border-bottom: 2px solid #1A2069;
                    transition: 0.5s all ease;
                }

                &:active {
                    border-bottom: 2px solid #1A2069;
                    transition: 0.5s all ease;
                }
            }

            &__btn {
                @extend .head02__navigation__item__link;
            }

            /* Estilização do menu-dropdown */
            &__content {
                padding: 0.5rem;
                top: 60%;
                left: 0;

                &__item {
                    width: 100%;
                }
            }

            &__cta {
                background-color: #212121;
                color: #ffffff;
                text-align: center;
                font-family: $font-primary;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;

                height: 100%;
                @include disFlex(row, center, center);
                width: 170px;

                clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
                transition: 0.5s all ease;

                &:hover {
                    background-color: #1A2069;
                    color: #FFF;
                    transition: 0.5s all ease;
                }

                // corpo do dropdown
                &__content {
                    top: 71%;
                    padding: 0.75rem;
                    border-radius: 0 0 0.5rem 0.5rem;

                    // item do dropdown
                    &__item {
                        @extend %theme__p2-cb;
                    }
                }
            }

            /* Modificador das redes socais */
            &--socials {
                @extend .head02__navigation__item;
                gap: 0.5rem;

                &__item {
                    width: 1.5rem;
                    height: auto;
                    aspect-ratio: 1/1;

                    &__icon {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }

            /* Modificador dos idiomas */
            // &--languages {
            //     @include disFlex(row, center, center);
            //     gap: 0.5rem;

            //     &__item {
            //         @extend .head02__navigation__item__link;
            //     }
            // }

            /* Modificador do menu mobile */
            &--menu-mobile {
                display: none;
                position: relative;

                @include large-device-down {
                    @include disFlex(row, center, center);
                }

                &__item {
                    @extend %theme__menu-mobile;

                    @include large-device-down {
                        position: relative;
                        right: 2rem;
                    }

                    &__icon {
                        @extend %theme__menu-mobile__icon;
                    }
                }
            }
        }
    }
}