// HEAD02
$head02-border-bottom: 9px solid $color-two;

// CONTAINER HEADER
$head02-container-header-height: 100px;

// MENU LIST
$head02-menu-list-margin-right: 35px;
$head02-menu-list-padding-right: 35px;
$head02-menu-list-border-right: 1px solid adjust-color($color-black, $alpha: -0.9);

// MENU ITEM
$head02-menu-item-margin-right: 44px;

// MENU ITEM AFTER
$head02-menu-item-after-height: 9px;
$head02-menu-item-after-bottom: -42px;
$head02-menu-item-after-background-color: transparent;
$head02-menu-item-after-background-color-hover: $bg-black;

// MENU LIST LINK
$head02-link-font: $paragraph-regular;
$head02-link-color: $color-two;
$head02-link-color-hover: $color-black;

// CONTAINER CTA
$head02-container-cta-margin-right: 35px;
$head02-container-cta-padding-right: 35px;
$head02-container-cta-border-right: 1px solid adjust-color($color-black, $alpha: -0.9);

// BTN CTA
$head02-btn-cta-background-color: $bg-black;
$head02-btn-cta-border-radius: $edge-rounded;
$head02-btn-cta-min-width: 125px;
$head02-btn-cta-text-align: center;
$head02-btn-cta-color: $color-white;
$head02-btn-cta-padding: 1px 15px;

// BTN CTA SHOW
$head02-btn-cta-show-border-radius: 17px 17px 0 0;
$head02-btn-cta-show-background-color: $bg-secondary;
$head02-btn-cta-background-color-hover: $bg-secondary;

// BTN CTA MENU ARROW
$head02-btn-cta-menu-arrow-border-top-color: $color-white;
$head02-btn-cta-menu-arrow-margin-left: 10px;
$head02-btn-cta-menu-arrow-margin-right: -25px;
$head02-btn-cta-menu-arrow-margin-bottom: 3px;

// BTN CTA DROPDOWN
$head02-btn-cta-dropdown-background-color: $bg-main;
$head02-btn-cta-dropdown-border-radius: 0 10px 10px;
$head02-btn-cta-dropdown-min-width: 260px;
$head02-btn-cta-dropdown-padding: 10px;

// BTN CTA DROPDOWN SHOW
$head02-btn-cta-dropdown-show-display: flex;

// BTN CTA DROPDOWN AFTER
$head02-btn-cta-dropdown-after-width: 90%;
$head02-btn-cta-dropdown-after-height: 1px;
$head02-btn-cta-dropdown-after-background-color: $bg-white;
$head02-btn-cta-dropdown-after-bottom: 0;
$head02-btn-cta-dropdown-after-left: 50%;
$head02-btn-cta-dropdown-after-transform: translate(-50%);

// BTN CTA DROPDOWN LINK
$head02-btn-cta-dropdown-link-font: $paragraph-min-regular;
$head02-btn-cta-dropdown-link-color: $color-white;
$head02-btn-cta-dropdown-link-border-right: 1px solid adjust-color($color-white, $alpha: -0.8);
$head02-btn-cta-dropdown-link-padding-right: 11px;
$head02-btn-cta-dropdown-link-margin-right: 11px;
$head02-btn-cta-dropdown-link-color-hover: $color-two;

// BTN TRANSLATE
$head02-btn-translate-font: $font-15;
$head02-btn-translate-family: $font-primary;
$head02-btn-translate-weight: $weight-600;
$head02-btn-translate-color: $color-one;


// SOCIAL NETWORK
$head02-social-network-margin-right: 20px;
$head02-social-network-link-color: #404040;
$head02-social-network-link-font-size: 22px;
$head02-social-network-link-margin: 0 5px;
$head02-social-network-link-color-hover: #7C7C7C;
