@import "variables";

/* BEGIN STYLE */
.abou04 {
    overflow: hidden;
    @extend %theme__padding;
    @include disFlex(row, space-between, center);

    @include large-device-down {
        flex-direction: column;
        justify-content: start;
        gap: 2rem;
    }

    &__image {
        width: calc(50% - 120px);

        @include large-device-down {
            width: 100%;
        }

        &__img {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center;
        }
    }

    &__header {
        width: 50%;
        @include disFlex(column);

        @include large-device-down {
            width: 100%;
        }

        &__title {
            @extend %theme__t2-cb;
            text-align: left;
        }

        &__subtitle {
            @extend %theme__t4-cb;
            text-align: left;
            margin-bottom: 2rem;
        }

        &__paragraph {
            width: 100%;
            @extend %theme__p1-cb;
            text-align: left;
        }

        &__cta {
            @extend %theme__cta;
        }
    }
}

.abou04-page {
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__content {
        @extend %theme__padding;
        @include disFlex(row, space-between);

        @include large-device-down {
            flex-direction: column-reverse;
        }

        &__image {
            width: 34%;
            height: auto;
            object-fit: contain;
            object-position: center bottom;

            @include large-device-down {
                width: 100%;
                margin-top: 59px;
            }
        }

        &__information {
            width: 52%;

            @include large-device-down {
                width: 100%;
            }

            &__title {
                @extend %theme__t2-c1;
                text-align: left;
            }

            &__subtitle {
                @extend %theme__t4-c1;
                text-align: left;
                margin-bottom: rem(26);
            }

            &__paragraph {
                @extend %theme__p1-c1;
            }
        }
    }

    &__gallery {
        @extend %theme__padding;
        @include disFlex(column, start, center);

        &__header {
            @include disFlex(column, start, center);
            margin-bottom: rem(22);

            &__title {
                @extend %theme__t2-c1;
                text-align: center;
            }

            &__paragraph {
                @extend %theme__t4-c1;
                text-align: center;
            }
        }

        &__item {
            width: 100%;

            & + & {
                margin-top: rem(60);
            }

            &__title {
                @extend %theme__t4-c1;
                text-align: left;
            }

            &__paragraph {
                @extend %theme__p2-c1;
                margin-bottom: rem(22);
            }

            &__list {
                @include disFlex();
                flex-wrap: wrap;
                gap: 0.75rem;

                &__item {
                    @include disFlex(row, start, end);
                    width: calcWidth(4, 0.75rem);
                    height: auto;
                    aspect-ratio: 319/288;
                    position: relative;
                    padding: 2rem;
                    overflow: hidden;
                    cursor: pointer;

                    @include large-device-down() {
                        width: calcWidth(3, 0.75rem);
                    }

                    @include medium-device-down() {
                        width: calcWidth(2, 0.75rem);
                    }

                    @include small-device-down() {
                        width: 100%;
                    }

                    &__image {
                        position: absolute;
                        z-index: 0;
                        inset: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &__title {
                        @extend %theme__t4-c1;
                        text-align: left;
                        position: relative;
                        z-index: 5;
                    }
                }
            }
        }

        &__cta {
            @extend %theme__cta;
            margin-top: rem(118);
        }
    }

    &__topics {
        @extend %theme__padding;

        &__item {
            @include disFlex(column);

            padding: rem(55) rem(30) rem(45);
            background-color: $color-four;

            &__header {
                @include disFlex(row, start, center);
                width: 100%;
                gap: rem(19);
                margin-bottom: rem(27);

                &__icon {
                    width: 2rem;
                    height: auto;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                    object-fit: center;
                }

                &__title {
                    @extend %theme__t3-cb;
                    text-align: left;
                }
            }

            &__paragraph {
                width: 100%;
                @extend %theme__p1-c2;
            }
        }
    }
}
