@import "variables";

/* BEGIN STYLE */

.topi11 {
    @extend %theme__padding;
    padding-bottom: 0;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 5rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }
        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__line {
            width: 100%;
            margin-bottom: 2rem;

            border-top: solid 1px $color-three;
        }

        &__paragraph {
            width: 100%;
            max-width: 938px;

            @extend %theme__p1-cb;
            text-align: center;
        }
    }

    &__main {
        @include disFlex(row, space-between, center);
        gap: 10rem;

        &__topics {
            width: calc(100% - 10rem + 22.5rem);
            padding-bottom: 2.5rem;

            &__item {
                // &[open] &__paragraph{
                //     max-height: 100vh;
                // }
                &__title {
                }
                &__paragraph {
                    // height: auto;
                    // max-height: 0;

                    // transition: max-height ease .3s 4s;



                }
            }
        }

        &__image {
            width: 22.5rem;
            height: auto;
            aspect-ratio: 361/468;

            align-self: end;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center bottom;
            }
        }
    }
}
// END .topi11
