@import "variables";

/* BEGIN STYLE */

.topi11 {
    overflow: hidden; /* Prevenção do shift da animação */
    @extend %theme__padding;
    padding-bottom: 0;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 5rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }
        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__line {
            width: 100%;
            margin-bottom: 2rem;

            border-top: solid 1px $color-three;
        }

        &__paragraph {
            width: 100%;
            max-width: 938px;

            @extend %theme__p1-cb;
            text-align: center;
        }
    }

    &__main {
        @include disFlex(row, space-between, center);
        gap: 10rem;

        @include large-device-down {
            flex-direction: column;
            gap: 3.25rem;
        }

        &__topics {
            width: calc(100% - 10rem + 22.5rem);
            padding-bottom: 2.5rem;

            @include large-device-down {
                width: 100%;
                padding-bottom: 0
            }

            &__item {
                @extend %theme__accordion__item;

                &__title {
                    @extend %theme__accordion__item__title;

                    &__icon {
                        @extend %theme__accordion__item__title__icon;
                    }
                }

                &__paragraph {
                    @extend %theme__accordion__item__paragraph;
                }
            }
        }

        &__image {
            width: 22.5rem;
            height: auto;
            aspect-ratio: 361/468;

            align-self: end;

            @include large-device-down {
                width: 100%;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center bottom;
            }
        }
    }
}
