@import "variables";

/* BEGIN STYLE */
#WOWI01 {
    /*
    ==================================
    ========= BEGIN SECTION ==========
    ==================================
    */

    &.wowi01 {
        padding: 70px 0;
        @include small-device {
            padding: 35px 0;
        }
    }
    .wowi01 {
        &__header {
            @include backG;
            text-align: center;

            &__container {
                margin-bottom: 25px;
            }
            &__title {
                font-size: $T2;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-one;
                display: block;
                @include small-device {
                    font-size: $T2-mobile;
                }
            }
            &__subtitle {
                font-size: $T4;
                font-weight: $weight-700;
                font-family: $font-primary;
                color: $color-two;
                display: block;

                @include small-device {
                    font-size: $T4-mobile;
                }
            }
            &__line {
                background-color: $color-one;
            }
            &__paragraph {
                font: $paragraph;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 50px;
                margin-top: 25px;
                @include small-device {
                    width: 90%;
                }
            }
        }
        // END __header

        &__container-box {
            @include small-device {
                width: 70%;
            }
            .owl-stage-outer {
                @include small-device {
                    overflow: visible;
                }
            }
            &__item {
                padding-right: 0.25rem;
                padding-left: 0.25rem;
                .content {
                    padding: 0 20px;

                    &:hover {
                        transform: scale(1.01);
                        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
                        .wowi01__container-box__link {
                            background-color: #c0c0c0;
                            color: $color-two;
                            &__icon {
                                filter: grayscale(1) invert(1);
                            }
                        }
                    }
                }
            }

            &__info {
                position: relative;
                z-index: 1;
                min-height: 330px;
            }
            &__image {
                margin-bottom: 28px;
                img {
                    width: 60px;
                }
            }
            &__description {
                text-align: center;
            }
            &__title {
                font-size: $T5;
                font-family: $font-primary;
                color: $color-black;
            }
            &__paragraph {
                font: $paragraph-min;
                color: $color-two;
                font-weight: $weight-500;
                width: 60%;
                @include small-device {
                    width: 100%;
                }
            }
            &__link {
                font: 1rem "Montserrat";
                color: $color-one;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%);
                z-index: 2;
                min-width: 177px;
                padding: 10px 15px;
                font-weight: 700;
                background-color: #efefef;
                text-align: center;

                &__icon {
                    width: 25px;
                }
            }
        }
        // END __container-box
    }
    // END .wowi01

    /*
    ==================================
    =========== BEGIN SHOW ===========
    ==================================
    */

    .wowi01-show {
        &__header {
            @include backG;
            text-align: center;
            background-color: #efefef;
            padding: 87px 0;
            margin: 0;
            &__container {
                margin-bottom: 25px;
            }
            &__title {
                font-size: $T1;
                font-family: $font-primary;
                color: $color-black;
                display: block;

                @include small-device {
                    font-size: $T1-mobile;
                }
            }
        }
        // END __header

        &__content {
            padding: 45px 0 120px;
            &__icon {
                width: 36px;
                margin: 10px auto;
                display: table;
            }
            &__container {
                text-align: center;
                margin-bottom: 35px;
            }
            &__title {
                font-size: $T2;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-one;
                display: block;

                @include small-device {
                    font-size: $T2-mobile;
                }
            }
            &__subtitle {
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-one;
                display: block;

                @include small-device {
                    font-size: $T4-mobile;
                }
            }
            &__line {
                width: 100%;
                background-color: $color-one;
                margin-bottom: 35px;
            }
            &__paragraph {
                font: $paragraph;
                font-weight: $weight-500;
                padding: 0 30px;
                color: $color-one;
                line-height: 25px;
                text-align: center;

                @include small-device {
                    font: $paragraph-mobile;
                }
            }
        }
        // END __content

        &__container-box {
            @include small-device {
                width: 70%;
            }
            .owl-stage-outer {
                @include small-device {
                    overflow: visible;
                }
            }
            &__wrapper {
                background-color: $color-five;
                padding: 80px 0;
            }
            &__header {
                text-align: center;
                &__container {
                    margin-bottom: 25px;
                }
                &__title {
                    font-size: $T2;
                    font-family: $font-primary;
                    color: $color-one;
                    display: block;
                }
                &__subtitle {
                    font-size: $T4;
                    font-family: $font-primary;
                    color: $color-three;
                    display: block;
                }
                &__line {
                    background-color: $color-one;
                }
                &__paragraph {
                    font: $paragraph;
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    margin-top: 25px;

                    @include small-device {
                        width: 90%;
                    }
                }
            }
            // END __header

            &__item {
                padding-right: 0.25rem;
                padding-left: 0.25rem;
                .content {
                    padding: 0;

                    &:hover {
                        transform: scale(1.01);
                        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
                        .wowi01__container-box__link {
                            background-color: #c0c0c0;
                            color: $color-two;
                            &__icon {
                                filter: grayscale(1) invert(1);
                            }
                        }
                    }
                }
            }

            &__info {
                position: relative;
                z-index: 1;
                min-height: auto;
                padding: 30px 20px;
                background-color: #fff;
            }
            &__image {
                max-height: 296px;
                object-fit: cover;
                object-position: center;
            }
            &__icon {
                margin-bottom: 28px;
                margin-top: -60px;
                justify-content: center;
                display: flex;
                img {
                    width: 60px;
                }
            }
            &__description {
                text-align: center;
            }
            &__title {
                font-size: $T5;
                font-family: $font-primary;
                color: $color-black;
            }
            &__paragraph {
                font: $paragraph-min;
                color: $color-two;
                font-weight: $weight-500;
                width: 60%;
                @include small-device {
                    width: 100%;
                }
            }
            &__link {
                font: 1rem "Montserrat";
                color: $color-one;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%);
                z-index: 2;
                min-width: 177px;
                padding: 10px 15px;
                font-weight: 700;
                background-color: #efefef;
                text-align: center;

                &__icon {
                    width: 25px;
                }
            }
        }
        // END __container-box

        &__content-section {
            padding: 80px 0 0;
            background-color: $color-four;
            &__header {
                text-align: center;
                margin-bottom: 75px;

                &__container {
                    margin-bottom: 25px;
                }
                &__title {
                    font-size: $T2;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    color: $color-one;
                    display: block;
                }
                &__subtitle {
                    font-size: $T4;
                    font-family: $font-primary;
                    color: $color-three;
                    display: block;
                }
                &__line {
                    background-color: $color-one;
                }
                &__paragraph {
                    font: $paragraph;
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    margin-top: 25px;

                    @include small-device {
                        width: 90%;
                    }
                }
            }
            // END __header

            &__info {
                &__image {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: end;

                    &__item {
                        width: 430px;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                // END __image
                &__description {
                }
                &__container {
                    margin-bottom: 25px;
                }
                &__title {
                    font-size: $T4;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    color: $color-one;
                    display: block;

                    @include small-device {
                        font-size: $T4-mobile;
                    }
                }
                &__subtitle {
                    font-size: $T2;
                    font-family: $font-primary;
                    color: $color-black;
                    display: block;

                    @include small-device {
                        font-size: $T2-mobile;
                    }
                }
                &__line {
                    background-color: $color-one;
                }
                &__paragraph {
                    font: $paragraph;
                    margin-bottom: 50px;
                    margin-top: 25px;

                    @include small-device {
                        width: 90%;
                    }
                }
                &__cta {
                    font: $paragraph;
                    font-weight: $weight-700;
                    color: $color-one;
                    max-width: 177px;
                    padding: 10px 45px;
                    background-color: $bg-white;

                    @include small-device {
                        font: $paragraph-mobile;
                    }

                    &:hover {
                        color: $color-white;
                        background-color: $bg-black;

                        .wowi01-show__content-section__info__cta__icon {
                            filter: invert(1) grayscale(1);
                        }
                    }
                }
            }
            // END __info
        }
        //  END __content-section
    }
    // END .wowi01-show
}
