/* BEGIN STYLE */
@import 'variables';

.copa04-page {
    &__hero {
        position: relative;
        z-index: 0;
        @extend %theme__padding;
        /* background-color: var(--color-bgcolor); */
        background-color: gray;
        @include disFlex(row, space-between, start);
        flex-wrap: wrap;
        gap: 4rem 4.5rem;

        &::after {
            position: absolute;
            display: block;
            content: '';
            width: calc(100% + 10vw);
            height: calc(5rem + 3%);
            z-index: -1;
            left: -5vw;
            background-color: $color-white;
            bottom: 0;
        }

        @include large-device-down {
            flex-direction: column;

        }

        &__aside {
            width: 100%;
            @include disFlex(row, space-between, start);

            &__logo {
                width: 9rem;
                height: auto;
                aspect-ratio: 144/58;
                object-fit: cover;
                object-position: center;
            }

            &__cta {
                @extend %theme__cta;
            }

        }

        &__information {
            width: calc(100% - 44% - 4.5rem);
            height: auto;
            @include disFlex(column, start, start);

            @include large-device-down {
                width: 100%
            }

            &__header {
                @include disFlex;
                gap: 2rem;

                &__title {
                    @extend %theme__t2-cb;
                }

                &__icon {
                    width: 4rem;
                    height: auto;
                    object-fit: contain;
                    object-position: center;
                }
            }

            &__paragraph {
                @extend %theme__p1-cb;
                margin-top: 3rem;
            }

            &__cta {
                margin-top: 2rem;
                @extend %theme__cta;
            }
        }

        &__image {
            padding-top: 0.625rem;
            width: 44%;
            height: auto;
            aspect-ratio: 538/481;
            object-fit: cover;
            object-position: center;

            @include large-device-down {
                width: 100%
            }
        }

    }

    &__video-section {
        @extend %theme__padding;

        &__title {
            @extend %theme__t2-cb;
            text-align: center;
            max-width: 888px;
            margin-inline: auto;
        }

        &__subtitle {
            @extend %theme__t4-c2;
            text-align: center;
            max-width: 888px;
            margin: 0.75rem auto 0;
        }

        &__paragraph {
            @extend %theme__p1-cb;
            text-align: center;
            max-width: 888px;
            margin: 0.75rem auto 0;

        }

        &__video {
            @include disFlex(row, center, center);
            max-width: 60%;
            height: auto;
            aspect-ratio: 883/439;
            margin: 1.25rem auto 0;

            @include large-device-down {
                max-width: 100%;
            }


            &__button {
                outline: none;
                border: none;
                background-color: transparent;
            }

            &__iframe {
                width: 100%;
                height: 100%;
            }
        }

    }

    &__highlighted {
        background-color: $color-six;
        @extend %theme__padding;
        @include disFlex(row, space-between, center);
        gap: 14.5rem;

        @include large-device-down {
            flex-direction: column;
            align-items: start;
            gap: 5rem;
        }

        &__information {
            width: calc(100% - 33.33% - 14.5rem);
            height: auto;

            @include large-device-down {
                width: 100%;
            }


            &__title {
                @extend %theme__t2-cb;
                text-align: left;

            }

            &__subtitle {
                @extend %theme__t4-c2;
                text-align: left;
                margin-top: 0.75rem;
            }

            &__paragraph {
                @extend %theme__p1-cb;
                margin-top: 1.5rem;
            }

            &__cta {
                @extend %theme__cta;
                margin-top: 0.75rem;
            }
        }

        &__image {
            width: 33.33%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;

            @include large-device-down {
                width: 100%;
            }

        }

    }

    &__topics {
        @extend %theme__padding;

        &__header {
            width: 100%;

            &__title {
                @extend %theme__t2-cb;
                margin-bottom: 0;
                text-align: center;
            }

            &__subtitle {
                @extend %theme__t4-c2;
                text-align: center;
                margin-top: 0.75rem;
            }

            &__paragraph {
                @extend %theme__p1-cb;
                margin-top: 0.75rem;
                text-align: center;
            }
        }

        &__main {
            margin-top: 1.25rem;
            @include disFlex(row, start, start);
            flex-wrap: wrap;
            gap: 3.5rem 2.5rem;

            &__item {
                background-color: $color-five;
                width: calc(50% - 1.25rem);
                flex: 1 0 auto;
                padding: 2rem;

                @include disFlex(column, start, center);
                gap: 1.5rem;

                @include large-device-down {
                    width: 100%;
                }

                &__icon {
                    width: 3.75rem;
                    height: auto;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                    object-position: center;
                }

                &__title {
                    @extend %theme__t5-cb;
                }

                &__paragraph {
                    @extend %theme__p2-cb
                }
            }
        }


        &__cta {
            @extend %theme__cta;
            margin: 3.25rem auto 0;
        }
    }

    &__topics-carousel {
        @extend %theme__padding;

        &__header {
            width: 100%;

            &__title {
                @extend %theme__t2-cb;
                margin-bottom: 0;
                text-align: center;
            }

            &__subtitle {
                @extend %theme__t4-c2;
                text-align: center;
                margin-top: 0.75rem;
            }

            &__paragraph {
                @extend %theme__p1-cb;
                margin-top: 0.75rem;
                text-align: center;
            }
        }

        &__carousel {
            overflow: hidden;

            @include large-device-down {
                overflow: visible;
            }

            &__item {
                width: calc(25% - 9px);

                @include disFlex(column, start, center);
                gap: 1.5rem;

                &__icon {
                    width: 3.75rem;
                    height: auto;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                    object-position: center;
                }

                &__title {
                    @extend %theme__t5-cb;
                }

                &__paragraph {
                    @extend %theme__p2-cb
                }
            }
        }

        &__cta {
            margin: 0 auto;
            @extend %theme__cta;

        }
    }
}


.swiper {
    @extend %theme__padding;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #7c7c7c;
    justify-content: center;
    align-items: center;
    width: 298.29px;
    height: 270.21px;
    @include disFlex(column, center, center);
}

.swiper-slide img {
    width: 57.02px;
    height: 57.02px;
}