@import "variables";

/* BEGIN STYLE */
.side03 {
    &--show,
    &.open {
        left: 0;
        top: 0;
        transition-duration: 0.6s;
        display: flex;

        transition: all 0.7s ease-in;
    }

    &__network {
        gap: 0 9.87px;
        margin-top: 90px;

        a {
            img {
                object-fit: contain;
                height: 25.15px;
                width: 25.13px;
            }
        }
    }

    &__privacy {
        margin-top: 45.84px;

        ul {
            border: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;

                a {
                    font: $paragraph;
                    font-weight: $weight-400;
                    color: $color-one;
                }
                &::after {
                    content: "";
                    width: 1px;
                    height: 15px;
                    background: $color-black;
                    display: flex;
                    margin: 0 20px;
                }

                &:last-of-type::after,
                &:last-of-type::marker {
                    display: none !important;
                }
            }
        }
    }
}
.side03 {
    position: fixed;
    left: -100%;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: #222222;
    z-index: 1000;

    border-bottom: 8px solid $color-two;

    transition: all 0.7s ease-in-out;

    @include disFlex(row, start, center);

    &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
        background: rgba($color-one, 0.5);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color-one, 0.8);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $color-one;
    }

    &:has(.open) &__button-close {
        display: block;
    }

    &__button-close {
        display: none;
        position: fixed;
        left: 1.25rem;
        top: 1rem;
    }

    &__image {
        width: 50%;
        height: 100%;
        @include disFlex(row, center, end);
        align-self: end;

        background-color: $color-nine;

        &__img {
            width: 32.25rem;
            height: auto;

            aspect-ratio: 516/709;
            object-fit: contain;
            object-position: center;
        }

        @include large-device-down {
            display: none;
        }
    }

    &__navigation {
        width: 50%;
        height: 100%;
        @extend %theme__padding;

        @include disFlex(column, start, center);
        gap: 1.5rem;

        list-style: none;

        @include large-device-down {
            width: 100%;
        }

        @include small-device-down {
            max-width: 280px;
        }

        &__logo {
            width: 18rem;
            height: auto;
            aspect-ratio: 288/129;

            object-fit: contain;
            object-position: center;
        }

        &__item {
            position: relative;
            width: fit-content;

            &__link {
                width: 100%;

                @extend %theme__t5-cb;
                text-align: center;

                &:hover,
                &:active,
                &:focus {
                    border-bottom: $color-black;
                }
            }

            &__btn {
                @extend .side03__navigation__item__link;
            }

            &__content {
                left: 50%;
                transform: translate(
                    -50%,
                    0
                ) !important; /*Uso do !important para resetar os valores padrões do .quedinha__content, pois este possui 4 níveis de especificidade*/

                &--sub-menu {
                    top: 100% !important;
                    left: 0 !important;
                    right: unset !important;

                    /* Uso do important para resetar os valores de estilos que são inseridos via JS pelo plugin*/
                }
            }
        }
    }
}
