@import 'variables';

/* BEGIN STYLE */

.bapa01 {
    &__banner {
        @extend %theme__banner;
        padding-top: 14rem;
        margin-top: 4.6rem;
        background-size: contain;
        background-position: bottom;

        &__title {
            @extend %theme__banner__title;
            width: 100%;
            max-width: 200px;
        }
    }
}