@import "variables";

/* BEGIN STYLE */
.unit03-page {
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__categories {
        @extend %theme__padding;

        &__carousel {
            width: 100%;

            &__item {
                @extend %theme__category;
            }
        }
    }

    &__list {
        @extend %theme__padding;
        @include disFlex();
        gap: 30px 24px;
        flex-wrap: wrap;

        &__item {
            position: relative;
            width: calcWidth(4, 1.5rem);

            @include large-device-down {
                width: calcWidth(3, 1.5rem);
            }

            @include medium-device-down {
                width: calcWidth(2, 1.5rem);
            }

            @include small-device-down {
                width: 100%;
            }

            &__top {
                @include disFlex(row, start, end);
                position: relative;
                width: 100%;
                height: auto;
                aspect-ratio: 316/307;
                overflow: hidden;
                padding: 22px 34px;

                &__bg {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    z-index: 1;
                }

                &__title {
                    @extend %theme__p1-c1;
                    font-weight: 700;

                    z-index: 5;
                }
            }

            &__bottom {
                @include disFlex(row, center, center);
                position: relative;
                width: 100%;
                height: auto;
                aspect-ratio: 316/162;
                background-color: $color-five;

                &__icon {
                    height: 40%;
                    width: auto;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }
}

.unit03-show {
    &__banner {
        @extend %theme__banner;

        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__contact {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-areas:
            "socials form"
            "topics form";
        width: 100%;

        &:not(:has(&__form)) {
            grid-template-columns: 100%;
            grid-template-areas:
                "socials"
                "topics";

            @include large-device-down {
                grid-template-areas:
                    "socials"
                    "topics";
            }
        }

        @include large-device-down {
            grid-template-columns: 100%;
            grid-template-areas:
                "socials"
                "topics"
                "form";
        }

        &__socials {
            grid-area: socials;

            @include disFlex(row, start, center);
            flex-wrap: wrap;
            @extend %theme__padding;
            padding-top: 2.5rem;
            background-color: $color-three;
            width: 100%;
            overflow: hidden;

            &__image {
                width: 100%;
                max-width: 268px;
                height: auto;
                aspect-ratio: 268/193;
                object-fit: contain;
                object-position: center;

                @include large-device-down {
                    margin-inline: auto;
                }
            }

            &__information {
                @include disFlex(column);
                width: calc(100% - 298px);
                padding-left: 2rem;

                @include large-device-down {
                    width: 100%;
                    padding-left: 0;
                    margin-top: 2.5rem;
                }

                &__subtitle {
                    @extend %theme__t5-cb;
                    text-align: left;
                }

                &__title {
                    @extend %theme__t2-c1;
                    text-align: left;
                }

                &__category {
                    @include disFlex(row, start, center);
                    gap: 16px;
                    @extend %theme__p1-cb;
                    font-weight: 700;
                    margin-bottom: 1.25rem;

                    &__icon {
                        width: 2.25rem;
                        height: auto;
                        aspect-ratio: 1/1;
                        object-fit: contain;
                        object-position: center;
                    }
                }

                &__list {
                    @include disFlex(row, start, center);
                    gap: 12px;
                    list-style-type: none;
                    padding-left: 0;

                    &__item {
                        height: 2rem;
                        width: 2rem;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }
            }
        }

        &__topics {
            grid-area: topics;
            @extend %theme__padding;
            width: 100%;

            &__carousel {
                width: 100%;
                overflow: hidden;

                @include large-device-down {
                    overflow: visible;
                }

                &__item {
                    display: grid !important;
                    grid-template-columns: 3.5rem auto;
                    gap: 0 16px;
                    grid-template-areas:
                        "icon title"
                        "icon paragraph";

                    width: calcWidth(3, 20px);

                    @include large-device-down {
                        width: 165px;
                    }

                    &__icon {
                        width: 56px;
                        height: 56px;
                        object-fit: contain;
                        object-position: center;
                        grid-area: icon;
                    }

                    &__title {
                        grid-area: title;
                        @extend %theme__t5-cb;
                        text-align: left;
                    }

                    &__paragraph {
                        grid-area: paragraph;
                        @extend %theme__p1-c2;
                        text-align: left;
                    }
                }
            }
        }

        &__form {
            grid-area: form;
            padding: 2.5rem;
            background-color: $color-four;

            &__subtitle {
                @extend %theme__t5-cb;
                text-align: left;
            }

            &__title {
                @extend %theme__t2-c1;
                text-align: left;
                margin-bottom: 1.25rem;
            }

            .input-item {
                border-radius: 0;
            }

            &__cta {
                @extend %theme__cta;
            }
        }
    }

    &__content {
        @extend %theme__padding;
        @include disFlex(row, space-between, center);
        flex-wrap: wrap;

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }

        @include large-device-down {
            flex-direction: column;
        }

        &__carousel {
            width: 49%;
            height: auto;
            aspect-ratio: 655/473;
            overflow: hidden;

            @include large-device-down {
                width: 100%;
                margin-bottom: 2rem;
            }

            &__item {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        &__information {
            @include disFlex(column, center, start);
            width: 47%;

            @include large-device-down {
                width: 100%;
            }

            &__subtitle {
                @extend %theme__t5-cb;
                text-align: left;
            }

            &__title {
                @extend %theme__t2-c1;
                text-align: left;
                margin-bottom: 10px;
            }

            &__text {
                @extend %theme__t1-c2;
            }

            &__cta {
                @extend %theme__cta;
                align-self: end;
                margin-top: 1rem;
            }
        }
    }

    &__gallery {
        @extend %theme__padding;

        &__header {
            @include disFlex(column, center, center);
            margin-bottom: 3.75rem;

            &__subtitle {
                @extend %theme__t5-cb;
            }

            &__title {
                @extend %theme__t2-c1;
            }
        }

        &__list {
            @include disFlex;
            flex-wrap: wrap;
            gap: 30px 24px;

            &__item {
                @include disFlex(row, start, end);
                position: relative;
                width: calcWidth(4, 24px);
                height: auto;
                padding: 32px;
                aspect-ratio: 1/1;
                overflow: hidden;

                @include large-device-down {
                    width: calcWidth(3, 24px);
                }

                @include medium-device-down {
                    width: calcWidth(2, 24px);
                }

                &.video::before {
                    content: "";
                    background-color: $color-three;
                    width: 20%;
                    max-width: 120px;
                    height: auto;
                    aspect-ratio: 1/1;
                    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
                    clip-path: polygon(0 0, 0% 100%, 100% 50%);
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0.8;
                }

                &--big {
                    @extend .unit03-show__gallery__list__item;
                    width: 100% !important;
                    aspect-ratio: 1341/488 !important;

                    @include medium-device-down {
                        aspect-ratio: 1/1 !important;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                }

                &__title {
                    @extend %theme__p1-c1;
                    font-weight: 700;
                    z-index: 5;
                    width: 100%;
                }
            }
        }
    }
}
