#top-bar {
    font-family: $font-primary;
    border-bottom: 4px solid $border-gray-500;
    .logo-top-bar {
        background-color: $bg-gray-100;
    }
    .menu-top-bar {
        height: 92px;
        ul {
            li {
                a {
                    color: $text-gray-900;
                    padding-bottom: 35px;
                    border-bottom: 4px solid transparent;
                    margin-bottom: -4px;
                }
                &:hover {
                    a {
                        color: $text-primary;
                        border-color: $primary
                    }
                }
            }
        }
    }
    .social-top-bar {
        border-left: 2px solid $border-gray-100;
    }
}
