@import 'variables';
/* BEGIN STYLE */
#HEAD01{
    background-color: $bg-gray;

    .btn-rounded-edge-theme{
        border-radius: $edge-rounded;
    }
    .btn-bg-theme{
        background-color: $bg-secondary;
        &:hover{
            background-color: adjust-color($bg-secondary, $red: 50, $green: 50, $blue: 50);
        }
    }
    .btn-color-theme{
        color: $color-black;
    }
    .navigation-header{
        .content-btn-cta{
            .btn-cta{
                font-size: 14px;
                font-family: $font-primary;
                font-weight: 700;
            }
        }
        .link-translate{
            .btn-translate{
                font-size: 15px;
                font-family: $font-primary;
                font-weight: 600;
                border-right: 1px solid #fff;
                line-height: 15px;
            }
        }
        .btn-menu-default-header{
            .btn-menu-theme-1{

            }
        }
    }
}
