
// HEADER
$head01-main-background-color: $bg-gray;

// CALL TO ACTION
$head01-cta-size: $font-14;
$head01-cta-family: $font-primary;
$head01-cta-color: $color-black;
$head01-cta-weight: $weight-700;
$head01-cta-border-radius: $edge-rounded;
$head01-cta-bg-color: $bg-secondary;
$head01-cta-bg-hover: $bg-main;
$head01-cta-color-hover: $color-white;

// BTN TRANSLATE
$head01-btn-translate-font: $font-15;
$head01-btn-translate-family: $font-primary;
$head01-btn-translate-weight: $weight-600;
$head01-btn-translate-color: $color-black;

// BTN MENU SIDEBAR
$head01-title-menu-color: $color-main;
$head01-title-menu-size: $font-15;
