/* Setting Top Bar */

$top_bar_bg_color: $white;
$top_bar_border_bottom: 4px solid $border-gray-500;
$top_bar_logo_bg_color: $bg-gray-100;

/* Menu Top Bar */

$menu_top_bar_height: 92px;
$menu_top_bar_link_color_menu: $text-gray-900;
$menu_top_bar_link_border_color: 4px solid transparent;
$menu_top_bar_link_color_active: $text-primary;
$menu_top_bar_link_border_color_active: $primary;
$menu_top_bar_link_color_hover: $text-primary;
$menu_top_bar_link_border_color_hover: $primary;

/* Social Top Bar */

$social_top_bar_border_left: 2px solid $border-gray-100;
