@import "variables";

/* BEGIN STYLE */

.freq01-page {
    background-color: #FFF;

    &__faq {
        @extend %theme__padding;
        padding-bottom: 9rem;

        &__title {
            color: #2E368E;
            font-family: $font-primary;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
        }

        &__item {
            @extend %theme__accordion__item;

            &__title {
                @extend %theme__accordion__item__title;
            }

            &__paragraph {
                @extend %theme__accordion__item__paragraph;
            }
        }
    }
}
