@import 'variables';

/* BEGIN STYLE */
#CONT01{
    background-color: $bg-secondary;
    .description {
        .title{
            color: $color-one;
            font-size: $font-28;
            font-family: $font-primary;
            font-weight: $weight-300;
        }
        .subtitle{
            color: $color-one;
            font-size: 5rem;
            font-family: $font-primary;
            font-weight: $weight-700;
            text-shadow: -5px 0 0 $color-white;
            letter-spacing: 2px;
        }
    }
}
