@import "variables";

/* BEGIN STYLE */
.sche01 {
    overflow: hidden; /* prevenção do shift da animação*/
    width: 100%;
    @include disFlex(column);
    @extend %theme__padding;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 3rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }
    }

    &__carousel {
        position: relative;
        width: 100%;

        &__nav {
            @extend %theme__nav;
        }

        &__item {
            width: 301px;
            height: auto;

            @include disFlex(column);

            &__image {
                width: 100%;
                height: auto;
                aspect-ratio: 301/197;
                object-fit: cover;
                object-position: center;
            }

            &__information {
                @include disFlex(column, center, center);
                padding: 1.25rem 2.5rem;
                background-color: $color-three;

                &__title {
                    @extend %theme__t5-cb;
                    text-align: center;
                }

                &__subtitle {
                    @extend %theme__p2-cb;
                    text-align: center;
                    margin-bottom: 0.75rem;
                }

                &__paragraph {
                    @extend %theme__p2-c2;
                    text-align: center;
                    margin-bottom: 1.25rem;
                }

                &__cta {
                    @extend %theme__cta;
                }
            }
        }
    }

    &__cta {
        @extend %theme__cta;
        align-self: end;
    }
}

.sche01-page {
    width: 100%;

    &__banner {
        @extend %theme__banner;
        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__content {
        @extend %theme__padding;

        @include disFlex(row, space-between, start);
        flex-wrap: wrap;
        width: 100%;

        &__main {
            width: 60%;

            @include large-device-down {
                width: 100%;
                margin-bottom: 2.5rem;
            }

            &__top {
                @include disFlex(column, start, start);
                margin-bottom: 2.5rem;
                border-bottom: solid 1px $color-black;

                &__title {
                    @extend %theme__t2-cb;
                }

                &__subtitle {
                    @extend %theme__t4-c2;
                }
            }

            &__list {
                @include disFlex(column);
                gap: 35px;

                &__item {
                    width: 100%;

                    & + & {
                        padding-top: 80px;
                        border-top: solid 1px $color-one;
                    }

                    &__header {
                        @include disFlex(row, start, start);
                        gap: 1.75rem;

                        &__date {
                            @include disFlex(column, center, center);
                            width: 120px;
                            height: 120px;
                            background-color: $color-nine;

                            &__day {
                                @extend %theme__t3-c1;
                                margin-bottom: 2px;
                            }

                            &__month {
                                @extend %theme__t4-c1;
                            }

                            &__year {
                                @extend %theme__t5-c1;
                            }
                        }

                        &__information {
                            width: calc(100% - 150px);
                            margin-bottom: 1.75rem;

                            &__title {
                                @extend %theme__t2-cb;
                                text-align: left;
                            }

                            &__topics {
                                @include disFlex(row, start, center);
                                flex-wrap: wrap;
                                gap: 1.25rem;
                                width: 100%;
                                padding: 0;

                                &__item {
                                    @include disFlex(row, start, center);
                                    gap: 10px;

                                    @extend %theme__t4-c1;

                                    &__icon {
                                        width: 1.25rem;
                                        height: auot;
                                        aspect-ratio: 1/1;
                                        object-fit: contain;
                                        object-position: center;
                                    }
                                }
                            }
                        }
                    }

                    &__img {
                        width: 100%;
                        height: auto;
                        margin-bottom: 1.75rem;
                    }

                    &__paragraph {
                        @extend %theme__p1-c1;
                    }

                    &__cta {
                        @extend %theme__cta;
                    }
                }
            }
        }

        .pagination {
            @include disFlex(row, center, center);
            width: 100%;
            gap: 0.5rem;
            margin-top: 3.5rem;
            list-style-type: none;

            .page-item {
                height: 2rem;
                width: 2rem;

                .page-link {
                    @include disFlex(row, center, center);
                    border: none;
                    width: 100%;
                    height: 100%;
                    vertical-align: center;

                    @extend %theme__p2-c1;
                    font-weight: 500;
                    background-color: $color-nine;

                    &:hover {
                        background-color: $color-one;
                        color: $color-nine;
                    }
                }

                &:first-of-type,
                &:last-of-type {
                    .page-link {
                        background-color: transparent !important;
                        color: $color-one;
                        font-size: 2rem;
                    }
                }

                &.active {
                    .page-link {
                        background-color: $color-one;
                        color: $color-nine;
                    }
                }
            }
        }

        &__aside {
            width: 33%;
            gap: 60px;

            @include large-device-down {
                width: 100%;
            }

            &__form {
                @include disFlex(column);
                background-color: $color-four;
                padding: 1.5rem 1.75rem 2rem;

                &__header {
                    @include disFlex(column);

                    &__subtitle {
                        @extend %theme__t4-c2;
                        margin-bottom: 0.25rem;
                    }

                    &__title {
                        @extend %theme__t2-c1;
                    }

                    &__paragraph {
                        @extend %theme__p2-c1;
                    }
                }

                &__inputs {
                    @include disFlex(column);

                    &__compliance {
                        width: fit-content;

                        &__link,
                        .form-check-label {
                            @extend %theme__p1-cb;
                        }

                        .form-check-input {
                            box-shadow: none;
                            margin-top: 0.25em;
                        }
                    }

                    &__cta {
                        @extend %theme__cta;
                        margin: 0 0 0 auto;
                    }
                }
            }

            &__month-categories {
                list-style-type: none;
                @include disFlex(column);

                &__item {
                    @include disFlex(row, space-between, center);
                    position: relative;
                    padding: 0.75rem 0 1rem 1.5rem;
                    border-bottom: solid 1px #0000004d;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 28px;
                        background-color: $color-one;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &__title {
                        @extend %theme__t4-cb;
                        vertical-align: middle;
                        margin-bottom: 0;
                    }

                    &__subtitle {
                        @include disFlex(row, center, center);
                        @extend %theme__p2-c2;
                        text-align: center;
                        margin-bottom: 0;

                        &__counter {
                            @extend %theme__p2-cw;
                            @include disFlex(row, center, center);
                            margin-left: 0.75rem;
                            vertical-align: middle;
                            height: 1.75rem;
                            width: 1.75rem;
                            border-radius: 50%;
                            background-color: $color-one;
                        }
                    }
                }
            }
        }
    }
}

.sche01-show {
    width: 100%;

    &__banner {
        @extend %theme__banner;
        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__content {
        @extend .sche01-page__content;

        &__main {
            @extend .sche01-page__content__main;
            @extend .sche01-page__content__main__list__item;

            &__header {
                @extend .sche01-page__content__main__list__item__header;

                &__date {
                    @extend .sche01-page__content__main__list__item__header__date;

                    &__day {
                        @extend .sche01-page__content__main__list__item__header__date__day;
                    }

                    &__month {
                        @extend .sche01-page__content__main__list__item__header__date__month;
                    }

                    &__year {
                        @extend .sche01-page__content__main__list__item__header__date__year;
                    }
                }

                &__information {
                    @extend .sche01-page__content__main__list__item__header__information;

                    &__title {
                        @extend .sche01-page__content__main__list__item__header__information__title;
                    }

                    &__topics {
                        @extend .sche01-page__content__main__list__item__header__information__topics;

                        &__item {
                            @extend .sche01-page__content__main__list__item__header__information__topics__item;

                            &__icon {
                                @extend .sche01-page__content__main__list__item__header__information__topics__item__icon;
                            }
                        }
                    }
                }
            }
        }

        &__aside {
            width: 33%;
            gap: 60px;

            @include medium-device-down {
                width: 100%;
            }
        }
    }

    &__content {
        width: 60%;

        @include medium-device-down {
            width: 100%;
            margin-bottom: 40px;
        }

        &__header {
            gap: 30px;

            &__topics {
                @include Flex($justify: start);
                flex-wrap: wrap;
                gap: 22px;
                width: 100%;
                padding: 0;

                &__item {
                    @include Flex($justify: start);
                    gap: 10px;
                    font-size: $T4;
                    font-family: $font-primary;
                    font-weight: 700;
                    color: $color-one;

                    @include medium-device-down {
                        font-size: $T4-mobile;
                    }
                }
            }
        }

        &__date {
            width: 120px;
            height: 120px;
            background-color: $color-nine;
        }

        &__day {
            font-size: $T3;
            font-family: $font-primary;
            font-weight: 700;
            color: $color-one;
            line-height: $T3;
            margin-bottom: 2px;

            @include medium-device-down {
                font-size: $T3-mobile;
            }
        }

        &__month {
            font-size: $T4;
            font-family: $font-primary;
            font-weight: 700;
            line-height: 120%;
            color: $color-one;

            @include medium-device-down {
                font-size: $T4-mobile;
            }
        }

        &__year {
            font-size: $T5;
            font-family: $font-primary;
            font-weight: 700;
            line-height: 120%;
            color: $color-one;

            @include medium-device-down {
                font-size: $T5-mobile;
            }
        }

        &__right {
            width: calc(100% - 150px);
            margin-bottom: 28px;
        }

        &__title {
            font-family: $font-primary;
            font-size: $T2;
            font-weight: 700;
            line-height: $font-46;
            color: $color-black;
            text-align: left;

            @include medium-device-down {
                font-size: $T2-mobile;
            }
        }

        &__line {
            opacity: 1;
            width: 100%;
            border-top: 1px solid $color-one;
            margin: 21px 0;
        }

        &__img {
            width: 100%;
            height: auto;
            margin-bottom: 12px;
        }

        &__subtitle {
            font-family: $font-primary;
            font-size: $T3;
            font-weight: 700;
            line-height: $font-46;
            color: $color-one;
            text-align: left;
            margin: 32px 0;

            @include medium-device-down {
                font-size: $T3-mobile;
            }
        }

        &__desc {
            width: 100%;

            font: $paragraph;
            font-weight: 400;
            color: $color-one;

            @include medium-device-down {
                font: $paragraph-mobile;
            }

            p {
                font: inherit;
                color: inherit;
                font-weight: inherit;
                margin-bottom: 0;
            }
        }

        &__cta {
            @include Flex();
            gap: 16px;
            align-self: start;
            white-space: nowrap;
            background-color: $color-four;
            padding: 10px 40px;
            margin-top: 42px;

            font: $paragraph-min;
            font-weight: 700;
            color: $color-one;

            &:hover {
                background-color: $color-one;
                color: $color-four;
            }

            &__icon {
                height: 19px;
                width: 19px;
                object-fit: contain;
                object-position: center;
                @include trans($transition: 0.5s);
            }

            &:hover &__icon {
                filter: brightness(1) contrast(1) invert(1) grayscale(1);
            }
        }
    }
}
