@import "variables";

/* BEGIN STYLE */
.sche01 {
    overflow: hidden; /* prevenção do shift da animação*/
    width: 100%;
    @include disFlex(column);
    @extend %theme__padding;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 3rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }

        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }
    }

    &__carousel {
        position: relative;
        width: 100%;

        &__nav {
            @extend %theme__nav;
        }

        &__item {
            width: 301px;
            height: auto;
            position: relative;

            @include disFlex(column);

            &__image {
                width: 100%;
                height: auto;
                aspect-ratio: 301/197;
                object-fit: cover;
                object-position: center;
            }

            &__information {
                background-color: $color-three;
                padding: 1.75rem 0.75rem;
                @include disFlex;
                gap: 0.75rem;

                &__date {
                    @include disFlex(column, center, center);

                    &__day {
                        @extend %theme__t3-c1;
                        margin-bottom: 2px;
                    }

                    &__month {
                        @extend %theme__t4-c1;
                    }

                    &__year {
                        @extend %theme__t5-c1;
                    }
                }

                &__header {
                    @include disFlex(column, center, start);

                    &__title {
                        @extend %theme__t5-cb;
                        text-align: center;
                    }

                    &__subtitle {
                        @extend %theme__p2-cb;
                        text-align: center;
                        margin-bottom: 0.75rem;
                    }

                    &__paragraph {
                        @extend %theme__p2-c2;
                        text-align: center;
                        margin-bottom: 1.25rem;
                    }
                }
            }
        }
    }

    &__cta {
        @extend %theme__cta;
        align-self: end;
    }
}

.sche01-page {
    width: 100%;

    &__banner {
        @extend %theme__banner;
        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__content {
        @extend %theme__padding;

        @include disFlex(row, space-between, start);
        flex-wrap: wrap;
        width: 100%;

        &__main {
            width: 60%;

            @include large-device-down {
                width: 100%;
                margin-bottom: 2.5rem;
            }

            &__top {
                @include disFlex(column, start, start);
                margin-bottom: 2.5rem;
                border-bottom: solid 1px $color-black;

                &__title {
                    @extend %theme__t2-cb;
                }

                &__subtitle {
                    @extend %theme__t4-c2;
                }
            }

            &__list {
                @include disFlex(column);
                gap: 35px;

                &__item {
                    width: 100%;

                    & + & {
                        padding-top: 80px;
                        border-top: solid 1px $color-one;
                    }

                    &__header {
                        @include disFlex(row, start, start);
                        gap: 1.75rem;

                        &__date {
                            @include disFlex(column, center, center);
                            width: 120px;
                            height: 120px;
                            background-color: $color-nine;

                            &__day {
                                @extend %theme__t3-c1;
                                margin-bottom: 2px;
                            }

                            &__month {
                                @extend %theme__t4-c1;
                            }

                            &__year {
                                @extend %theme__t5-c1;
                            }
                        }

                        &__information {
                            width: calc(100% - 150px);
                            margin-bottom: 1.75rem;

                            &__title {
                                @extend %theme__t2-cb;
                                text-align: left;
                            }

                            &__topics {
                                @include disFlex(row, start, center);
                                flex-wrap: wrap;
                                gap: 1.25rem;
                                width: 100%;
                                padding: 0;

                                &__item {
                                    @include disFlex(row, start, center);
                                    gap: 10px;

                                    @extend %theme__t4-c1;

                                    &__icon {
                                        width: 1.25rem;
                                        height: auot;
                                        aspect-ratio: 1/1;
                                        object-fit: contain;
                                        object-position: center;
                                    }
                                }
                            }
                        }
                    }

                    &__img {
                        width: 100%;
                        height: auto;
                        margin-bottom: 1.75rem;
                    }

                    &__paragraph {
                        @extend %theme__p1-c1;
                    }

                    &__cta {
                        @extend %theme__cta;
                    }
                }
            }
        }

        .pagination {
            @include disFlex(row, center, center);
            width: 100%;
            gap: 0.5rem;
            margin-top: 3.5rem;
            list-style-type: none;

            .page-item {
                height: 2rem;
                width: 2rem;

                .page-link {
                    @include disFlex(row, center, center);
                    border: none;
                    width: 100%;
                    height: 100%;
                    vertical-align: center;

                    @extend %theme__p2-c1;
                    font-weight: 500;
                    background-color: $color-nine;

                    &:hover {
                        background-color: $color-one;
                        color: $color-nine;
                    }
                }

                &:first-of-type,
                &:last-of-type {
                    .page-link {
                        background-color: transparent !important;
                        color: $color-one;
                        font-size: 2rem;
                    }
                }

                &.active {
                    .page-link {
                        background-color: $color-one;
                        color: $color-nine;
                    }
                }
            }
        }

        &__aside {
            width: 33%;
            gap: 60px;

            @include large-device-down {
                width: 100%;
            }

            &__form {
                @include disFlex(column);
                background-color: $color-four;
                padding: 1.5rem 1.75rem 2rem;

                &__header {
                    @include disFlex(column);

                    &__subtitle {
                        @extend %theme__t4-c2;
                        margin-bottom: 0.25rem;
                    }

                    &__title {
                        @extend %theme__t2-c1;
                        text-align: left;
                    }

                    &__paragraph {
                        @extend %theme__p2-c1;
                    }
                }

                &__inputs {
                    @include disFlex(column);

                    &__compliance {
                        width: fit-content;

                        &__link,
                        .form-check-label {
                            @extend %theme__p1-cb;
                        }

                        .form-check-input {
                            box-shadow: none;
                            margin-top: 0.25em;
                        }
                    }

                    &__cta {
                        @extend %theme__cta;
                        margin: 0 0 0 auto;
                    }
                }
            }

            &__month-categories {
                list-style-type: none;
                @include disFlex(column);

                &__item {
                    @include disFlex(row, space-between, center);
                    position: relative;
                    padding: 0.75rem 0 1rem 1.5rem;
                    border-bottom: solid 1px #0000004d;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 28px;
                        background-color: $color-one;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &__title {
                        @extend %theme__t4-cb;
                        text-align: left;
                        vertical-align: middle;
                        margin-bottom: 0;
                    }

                    &__subtitle {
                        @include disFlex(row, center, center);
                        @extend %theme__p2-c2;
                        text-align: center;
                        margin-bottom: 0;

                        &__counter {
                            @extend %theme__p2-cw;
                            @include disFlex(row, center, center);
                            margin-left: 0.75rem;
                            vertical-align: middle;
                            height: 1.75rem;
                            width: 1.75rem;
                            border-radius: 50%;
                            background-color: $color-one;
                        }
                    }
                }
            }
        }
    }
}

.sche01-show {
    width: 100%;

    &__banner {
        @extend %theme__banner;
        &__title {
            @extend %theme__banner__title;
        }

        &__subtitle {
            @extend %theme__banner__subtitle;
        }
    }

    &__content {
        @extend .sche01-page__content;

        &__main {
            @extend .sche01-page__content__main__list__item;
            width: 60%;

            @include large-device-down {
                width: 100%;
                margin-bottom: 2.5rem;
            }

            &__header {
                @extend .sche01-page__content__main__list__item__header;

                &__date {
                    @extend .sche01-page__content__main__list__item__header__date;

                    &__day {
                        @extend .sche01-page__content__main__list__item__header__date__day;
                    }

                    &__month {
                        @extend .sche01-page__content__main__list__item__header__date__month;
                    }

                    &__year {
                        @extend .sche01-page__content__main__list__item__header__date__year;
                    }
                }

                &__information {
                    @extend .sche01-page__content__main__list__item__header__information;

                    &__title {
                        @extend .sche01-page__content__main__list__item__header__information__title;
                    }

                    &__topics {
                        @extend .sche01-page__content__main__list__item__header__information__topics;

                        &__item {
                            @extend .sche01-page__content__main__list__item__header__information__topics__item;

                            &__icon {
                                @extend .sche01-page__content__main__list__item__header__information__topics__item__icon;
                            }
                        }
                    }
                }
            }

            &__img {
                @extend .sche01-page__content__main__list__item__img;
            }

            &__subtitle {
                @extend %theme__t3-c1;
                margin: 2rem 0;
            }

            &__paragraph {
                @extend .sche01-page__content__main__list__item__paragraph;
            }

            &__cta {
                @extend .sche01-page__content__main__list__item__cta;
            }
        }

        &__aside {
            @extend .sche01-page__content__aside;

            &__form {
                @extend .sche01-page__content__aside__form;

                &__header {
                    @extend .sche01-page__content__aside__form__header;

                    &__subtitle {
                        @extend .sche01-page__content__aside__form__header__subtitle;
                    }

                    &__title {
                        @extend .sche01-page__content__aside__form__header__title;
                    }

                    &__paragraph {
                        @extend .sche01-page__content__aside__form__header__paragraph;
                    }
                }

                &__inputs {
                    @extend .sche01-page__content__aside__form__inputs;

                    &__compliance {
                        @extend .sche01-page__content__aside__form__inputs__compliance;

                        &__link {
                            @extend .sche01-page__content__aside__form__inputs__compliance__link;
                        }
                    }

                    &__cta {
                        @extend .sche01-page__content__aside__form__inputs__cta;
                    }
                }
            }

            &__month-categories {
                @extend .sche01-page__content__aside__month-categories;

                &__item {
                    @extend .sche01-page__content__aside__month-categories__item;

                    &__title {
                        @extend .sche01-page__content__aside__month-categories__item__title;
                    }

                    &__subtitle {
                        @extend .sche01-page__content__aside__month-categories__item__subtitle;

                        &__counter {
                            @extend .sche01-page__content__aside__month-categories__item__subtitle__counter;
                        }
                    }
                }
            }
        }
    }
}
