@import 'variables';

/* BEGIN STYLE */
.port03{
    .container--port03{
        padding: 5.25rem 0 !important;
    }
    &__header {
        margin-bottom: 3rem;

        &__title {
            font-size: $T2;
            font-family: $font-primary;
            color: $color-black;
            font-weight: $weight-700;
            @include medium-device-down {
                font: $T2-mobile;
            }
        }
        &__subtitle {
            font-size: $T4;
            color: $color-two;
            font-family: $font-primary;
            font-weight: $weight-700;
            margin-bottom: 0;

            @include medium-device-down {
                font: $T4-mobile;
            }
        }
        &__line {
            width: 100%;
            margin-top: 18px;
            margin-bottom: 0;
        }
    }
    &__content{

    }
    &__box{
        padding-top: 3rem;

        @include small-device-down{
            padding-bottom: 5rem;
            margin-bottom: -79px;
        }

        &__engImage{
            &__content{
                position: relative;
                &__flow{
                    position: relative;
                    overflow: hidden;
                    @include small-device-down{
                        overflow: visible  !important;
                    }
                    
                    &__images{
                        position: relative;
                        width: 100%;
                        height: 463px;

                        @include small-device-down{
                            height: auto;
                            display: flex;
                            gap: 0.62rem 0;
                            flex-direction: column;
                        }
                        .img:nth-of-type(odd){
                      

                            @include small-device-down{
                                &::before{
                                    content: 'Antes';
                                }
                            }

                        }
                       .img:nth-of-type(even){
                    
                            @include small-device-down{
                                &::before{
                                    content: 'Depois';
                                }
                            }
                        }
                        &__img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;

                            @include small-device-down{
                                width: 100%  !important;
                                height: 13.5rem  !important;
                                position: relative  !important;
                                left: inherit  !important;
                                top: inherit  !important;
                                clip-path:inherit !important;
                            }

                            &:nth-of-type(odd){
                                z-index: 2;
                                clip-path: inset(0% 50% 0% 0%);

                             

                            }
                            &:nth-of-type(even){
                                z-index: 1;
                                clip-path: inset(0% 0% 0% 50%);

                            
                            }
                        }
                    }
                }
                &__divider {
                    position: absolute;
                    top: -40px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1px;
                    height: 119%;
                    background-color: $color-one;
                    cursor: ew-resize;
                    z-index: 10;

                    @include small-device-down{
                        background: transparent;
                    }

                    .before-text{
                        position: absolute;
                        top: 47%;
                        left: -44px;
                        transform: translateX(-50%);
                        font:$paragraph;
                        font-weight: 500;

                        @include small-device-down{
                            top: 39%;
                            left: -50%;
                            transform: translateX(-50%);
                        }
                    }

                    .after-text{
                        position: absolute;
                        top: 47%;
                        left: 47px;
                        transform: translateX(-50%);
                        font:$paragraph;
                        font-weight: 500;

                        @include small-device-down{
                            top: 57%;
                            left: -50%;
                            transform: translateX(-50%);
                        }
                    }

                    &:before{
                        content: "";
                        width: 9px;
                        height: 8px;
                        position: absolute;
                        top: -7px;
                        background-color: $color-one;
                        left: -4px;

                        @include small-device-down{
                            display: none;
                        }
                    }
                    &:after{
                        content: "";
                        width: 9px;
                        height: 8px;
                        position: absolute;
                        bottom: -7px;
                        background-color: $color-one;
                        left: -4px;

                        @include small-device-down{
                            display: none;
                        }
                    }
                    
                }
            }   
        }
        &__description{
            padding-top: 5.25rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include small-device-down{
                padding-top: 1.5rem;
                padding-left: 0.81rem;
                padding-right: 0.81rem;
                padding-bottom: 4rem;
            }

            &__left{
                &__title{
                    font-size: $T4;
                    font-family: $font-primary;
                    color: $color-black;
                    font-weight: $weight-700;
                    @include medium-device-down {
                        font-size: $T4-mobile;
                    }
                }
                &__subtitle{
                    font: $paragraph;
                    font-family: $font-primary;
                    color: $color-black;
                    font-weight: $weight-400;

                    @include medium-device-down {
                        font: $paragraph-mobile;
                    }
                }
            }
            &__btn{
                @include Flex;
                color: $color-black;
                background: $color-five;
                width: 100%;
                max-width: 177px;
                height: 45px;
                font-family: $font-primary;
                font-weight: $weight-700;
                margin: 24px 0 0 auto;
                transition: all ease 0.3s;

                @include medium-device-down {
                    position: relative;
                    z-index: 100;
                    font: $paragraph-mobile;
                    font-weight: $weight-700;
                    width: 147px;
                }

                @include small-device-down{
                    margin-left: auto !important;
                    margin-right: initial !important;
                    margin-bottom: -50px;
                }

                img {
                    height: 25px !important;
                    width: 25px !important;
                    object-fit: contain;
                    transition: all ease 0.3s;
                }

                &:hover {
                    color: $color-white;
                    background-color: $bg-black;
                    transition: all ease 0.3s;

                    img{
                        filter: invert(1) grayscale(1);
                        transition: all ease 0.3s;
                    }
                }
            }
        }
    }
    .carousel-port03{
        .owl-nav{
            display: flex !important;
            z-index: 1;
            gap: 0 0.5rem;
            margin-top: -23px;
            position: relative;
            justify-content: center;

            @include small-device-down{
                gap: 0 0.5rem;
                margin-top: -3.7rem;
                position: relative;
                justify-content: flex-start;
                margin-left: 0.81rem;
            }

            .owl-prev, .owl-next{
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 100%;
                background-color: $color-black !important;
                border: 1px solid $color-black;
                line-height: initial !important;
                font-size: 29px !important;
                margin: initial !important;

                @include small-device-down{
                    margin: initial !important;
                }

                span{
                    height: 1.15rem;
                    display: flex;
                    align-items: center;
                }

                &:hover{
                    background-color: transparent !important;
                    span{
                        color: $color-black;
                    }
                }
            }
        }
    } 
}
// fim-port03
.popa {
    &__banner {
        &__container {
            height: 280px;
            position: relative;

            &:after{
                content: '';
                background-color: #000;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

            }
        }
        &__image {
            height: 100%;
            padding-top: 100px;

            @include backG;
        }
        &__header {
            z-index: 100;
            position: relative;

            @include medium-device-down {
                width: 90%;
                margin: 0 auto;
            }
            &__title {
                font-family: $font-primary;
                font-size: $T1;
                font-weight: $weight-700;
                letter-spacing: 0.2px;
                color: $color-one;

                text-align: center;

                @include medium-device-down {
                    font-size: $T1-mobile;
                    font-weight: $weight-700;
                }
            }
            &__line {
                margin: 24px 0 64px;
            }
        }
    }

    &__portfolio {
        padding: 54px 0 80px;
        background-color: $color-five;

        &__header {
            & > .container{
                padding-bottom: 4.63rem !important;

                @include small-device-down{
                    padding-bottom: 4.56rem !important;
                }
            }
           &__top{
                display: flex;
                align-items: center;
                justify-content: center;

                &__left{
                    margin-right: 0.58rem;

                    &__icon{
                        width: 3.875rem;
                        height: 3.875rem;
                        object-fit: contain;
                    }
                }
                &__right{
                    &__title {
                        font-family: $font-primary;
                        font-size: $T2;
                        font-weight: $weight-700;
                        color: $color-one;
                        margin-bottom: 0;
                        text-align: center;

                        @include medium-device-down {
                            font-size: $T2-mobile;
                        }
                    }
                    &__subtitle {
                        font-family: $font-primary;
                        font-size: $T4;
                        font-weight: $weight-700;
                        color: $color-two;
                        text-align: center;

                        @include medium-device-down {
                            font-size: $T4-mobile;
                        }
                    }
                }
           }
            &__bottom{
                    &__line {
                        margin: 24px 32px;
                    }
                    &__description {
                        font: $paragraph;
                        color: $color-ten;
                        font-weight: $weight-400;

                        text-align: center;
                        line-height: 170%;
                        letter-spacing: 0.2px;

                        p {
                            font: $paragraph;
                            color: $color-ten;
                            font-weight: $weight-400;
                            margin-bottom: 0;
                        }
                    }
            }  
        }
        &__categories {
            background-color: $color-four;

            & > .container {
                padding-top: 2.12rem !important;
                padding-bottom: 2.12rem !important;

                @include medium-device-down{
                    max-width: 90% !important;
                    padding-top: 2.63rem !important;
                    padding-bottom: 2.63rem !important;
                }
            }
            &__carousel {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1.06rem;
            }
            &__list {
        
               

                @include medium-device-down {
                    display: none;
                }

                &__item {
                    padding: 16px 13px;
                    background: #efefef;
                    font-family: $font-primary;
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: #7c7c7c;
                    width: 15.35%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.active,
                    &:hover {
                        background-color: $color-one;
                        color: $color-white;
                        img {
                            filter: brightness(1) contrast(1) invert(1)
                                grayscale(1);
                        }
                    }

                    a {
                        font: inherit;
                        color: inherit;
                        text-decoration: inherit;
                        justify-content: center !important;
                        gap: 0 0.5rem;
                    }

                    &__icon {
                        width: 32px !important;
                        height: 32px;
                    }
                }
            }
            /* Só aparece abaixo de medium-device-up, ou seja, a partir de 767.98px */
            &__dropdown-mobile {
                display: none;

                @include medium-device-down {
                    display: flex;
                }

                &__item {
                    a,
                    button {
                        @include Flex($justify: start);
                        gap: 1rem;
                        padding: 15px 26px;
                        background-color: #EFEFEF;
                        white-space: nowrap;

                        font-size: $T5-mobile;
                        font-family: $font-primary;
                        font-weight: 700;
                        color: $color-black;

                        @include small-device-down{
                            padding: 31px 26px;
                        }

                        img {
                            height: 25px;
                            width: 25px;
                            object-fit: contain;
                            object-position: center;
                            @include trans($transition: 0.5s);
                        }
                    }
                }

                .accordion-flush {
                    width: 100%;
                }

                .accordion-item {
                    margin: 0 auto;
                    color: $color-one !important;
                    font: $paragraph !important;

                    .accordion-body {
                        padding: 0;

                        ul {
                            padding: 0;
                        }

                        li {
                            list-style: none;
                            color: $color-one !important;
                            font: $paragraph !important;
                        }
                    }
                }

                .accordion-button::after {
                    // border-left: 8px solid transparent;
                    // border-right: 7px solid transparent;
                    // border-top: 11px solid $color-black;
                    width: 16px;
                    height: 9px;
                    background-image: url('../images/arrow-1.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .accordion-button:not(.collapsed)::after {
                    // border-left: 8px solid transparent;
                    // border-right: 7px solid transparent;
                    // border-top: 11px solid $color-black;
                    // transform: rotate(184deg);
                    // width: auto;
                    // height: auto;
                }
            }
        }

        &__content {
            padding-top: 5.56rem !important;
            padding-bottom: 8.69rem !important;

            @include medium-device-down{
                padding-top: 3.5rem !important;
                padding-bottom: 4.81rem !important;
                max-height: 90% !important;
                margin: 0 auto;
            }

            .row{
                gap:2.37rem 0;
                @include medium-device-down{
                    margin: 0 auto;
                }
            }
        
            &__item {
                padding: 0 !important;
                &__encompass{
                    padding-right: calc(var(--bs-gutter-x) * .5);
                    padding-left: calc(var(--bs-gutter-x) * .5); 
                }
                &__images{
                    &__image{
                        height: 23.4375rem;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .carousel-box-image{
                        .owl-dots{
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 0);
                            bottom: 20px;

                            .owl-dots{
                                background-color: #D9D9D9 !important;

                                &.active, &:hover{
                                    background-color: #404040 !important;
                                }
                            }
                        }
                    }
                }
                &__description{
                    padding-top: 1.69rem;

                    &__title{
                        font-family: $font-primary;
                        font-size:$T4; 
                        font-weight: $weight-700;
                        color: $color-one;
                        display: flex;
                        gap:0 0.44rem;
                        position: relative;
                        

                        &:before{
                            content: "";
                            width: 1.6875rem;
                            height: 1.5625rem;
                            display: flex;
                            background-color: $color-one;
                        }

                        &:after{
                            content: "";
                            width: 31%;
                            height: 1.5625rem;
                            display: flex;
                            border-bottom: 1px solid #404040;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                        
                    }
                    &__paragraph{
                        font:$paragraph;
                        font-weight: $weight-400;
                        color: $color-one;

                        p{
                            font:$paragraph;
                            font-weight: $weight-400;
                            color: $color-one;
                            margin-bottom: 0;
                        }
                    }
                }
            }

        }
    }
}
// fim port03-page
.posh{
    .container--posh{
        padding: 5.25rem 0 !important;

        @include medium-device-down{
            max-width: 90% !important;
        }
    }
    &__header {
        margin-bottom: 97px;

        @include small-device-down{
            margin-bottom: 0;
        }

        &__title {
            font-size: $T3;
            font-family: $font-primary;
            color: $color-black;
            font-weight: $weight-700;
            @include medium-device-down {
                font: $T3-mobile;
            }
        }
        &__subtitle {
            font: $paragraph;
            font-family: $font-primary;
            color: $color-black;
            font-weight: $weight-400;

            @include medium-device-down {
                font: $paragraph-mobile;
            }
        }
        &__line {
            width: 100%;
            margin-top: 18px;
            margin-bottom: 0;
        }
    }
    &__content{

    }
    &__box{
        padding-top: 3rem;

        @include small-device-down{
            padding-bottom: 5rem;
            margin-bottom: -79px;
        }

        &__engImage{
            &__content{
                position: relative;
                &__flow{
                    position: relative;
                    overflow: hidden;
                    @include small-device-down{
                        overflow: visible  !important;
                    }
                    
                    &__images{
                        position: relative;
                        width: 100%;
                        height: 463px;

                        @include small-device-down{
                            height: auto;
                            display: flex;
                            gap: 0.62rem 0;
                            flex-direction: column;
                        }
                        .img:nth-of-type(odd){
                      

                            @include small-device-down{
                                &::before{
                                    content: 'Antes';
                                }
                            }

                        }
                       .img:nth-of-type(even){
                    
                            @include small-device-down{
                                &::before{
                                    content: 'Depois';
                                }
                            }
                        }
                        &__img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;

                            @include small-device-down{
                                width: 100%  !important;
                                height: 13.5rem  !important;
                                position: relative  !important;
                                left: inherit  !important;
                                top: inherit  !important;
                                clip-path:inherit !important;
                            }

                            &:nth-of-type(odd){
                                z-index: 2;
                                clip-path: inset(0% 50% 0% 0%);

                             

                            }
                            &:nth-of-type(even){
                                z-index: 1;
                                clip-path: inset(0% 0% 0% 50%);

                            
                            }
                        }
                    }
                }
                &__divider {
                    position: absolute;
                    top: -40px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1px;
                    height: 119%;
                    background-color: $color-one;
                    cursor: ew-resize;
                    z-index: 10;

                    @include small-device-down{
                        background: transparent;
                    }

                    .before-text{
                        position: absolute;
                        top: 47%;
                        left: -44px;
                        transform: translateX(-50%);
                        font:$paragraph;
                        font-weight: 500;

                        @include small-device-down{
                            top: 39%;
                            left: -50%;
                            transform: translateX(-50%);
                        }
                    }

                    .after-text{
                        position: absolute;
                        top: 47%;
                        left: 47px;
                        transform: translateX(-50%);
                        font:$paragraph;
                        font-weight: 500;

                        @include small-device-down{
                            top: 57%;
                            left: -50%;
                            transform: translateX(-50%);
                        }
                    }

                    &:before{
                        content: "";
                        width: 9px;
                        height: 8px;
                        position: absolute;
                        top: -7px;
                        background-color: $color-one;
                        left: -4px;

                        @include small-device-down{
                            display: none;
                        }
                    }
                    &:after{
                        content: "";
                        width: 9px;
                        height: 8px;
                        position: absolute;
                        bottom: -7px;
                        background-color: $color-one;
                        left: -4px;

                        @include small-device-down{
                            display: none;
                        }
                    }
                    
                }
            }   
        }
        &__description{
            padding-top: 5.25rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include small-device-down{
                padding-top: 1.5rem;
                padding-left: 0.81rem;
                padding-right: 0.81rem;
                padding-bottom: 4rem;
            }

            &__left{
                &__title{
                    font-size: $T4;
                    font-family: $font-primary;
                    color: $color-black;
                    font-weight: $weight-700;
                    @include medium-device-down {
                        font-size: $T4-mobile;
                    }
                }
                &__subtitle{
                    font: $paragraph;
                    font-family: $font-primary;
                    color: $color-black;
                    font-weight: $weight-400;

                    @include medium-device-down {
                        font: $paragraph-mobile;
                    }
                }
            }
            &__btn{
                @include Flex;
                color: $color-black;
                background: $color-five;
                width: 100%;
                max-width: 177px;
                height: 45px;
                font-family: $font-primary;
                font-weight: $weight-700;
                margin: 24px 0 0 auto;
                transition: all ease 0.3s;

                @include medium-device-down {
                    position: relative;
                    z-index: 100;
                    font: $paragraph-mobile;
                    font-weight: $weight-700;
                    width: 147px;
                }

                @include small-device-down{
                    margin-left: auto !important;
                    margin-right: initial !important;
                    margin-bottom: -50px;
                }

                img {
                    height: 25px !important;
                    width: 25px !important;
                    object-fit: contain;
                    transition: all ease 0.3s;
                }

                &:hover {
                    color: $color-white;
                    background-color: $bg-black;
                    transition: all ease 0.3s;

                    img{
                        filter: invert(1) grayscale(1);
                        transition: all ease 0.3s;
                    }
                }
            }
        }
    }
}
// fim port03-show