@import "variables";

/* BEGIN STYLE */
@import "variables";

/* BEGIN STYLE */
.bran04 {
    overflow: hidden; /*previne o shift da animação*/
    @extend %theme__padding;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 3rem;

        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
        }
        &__subtitle {
            @extend %theme__t4-c3;
            margin-bottom: 2rem;
        }

        &__line {
            width: 100%;
            margin-bottom: 2rem;

            border-top: solid 1px $color-three;
        }

        &__paragraph {
            width: 100%;
            max-width: 70%;

            @extend %theme__p1-c2;
            text-align: center;
        }
    }

    &__content {
        @include disFlex;
        flex-wrap: wrap;
        gap: 1.5rem 1.25rem;

        &__item {
            position: relative;
            width: calc(25% - 0.9375rem);
            height: auto;
            aspect-ratio: 320/136;

            @include disFlex(row, center, center);

            @include bg;

            @include large-device-down {
                width: calc(33.33% - 0.84rem);
            }

            @include medium-device-down {
                width: calc(50% - 0.625rem);
            }

            &__icon {
                width: 3.75rem;
                height: auto;

                object-fit: contain;
                object-position: center;
            }
        }
    }
}
