@import 'variables';

/* BEGIN STYLE */
.cont06{
    padding: $cont06-padding;

    &__boxVideo{

        @include small-device {
            width:$cont06-boxvideo-mobile-width;
        }

        &__content{
            width:$cont06-boxvideo-content-width;
            height: $cont06-boxvideo-content-height;
            margin: $cont06-boxvideo-content-margin;
            position: $cont06-boxvideo-content-position;
            background-repeat: $cont06-boxvideo-content-background-repeat;
            background-position: $cont06-boxvideo-content-background-position;
            background-size: $cont06-boxvideo-content-background-size;

            .play{
                width: $cont06-boxvideo-content-play-width;
                height: $cont06-boxvideo-content-play-height;
            }

            iframe{
                width:$cont06-boxvideo-content-iframe-width;
                height: $cont06-boxvideo-content-iframe-height;
            }
            &__video{
                height: $cont06-boxvideo-content-video-height;
            }

            @include small-device {
                width:$cont06-boxvideo-content-mobile-width;
                height: $cont06-boxvideo-content-mobile-height;

                .play{
                    width: $cont06-boxvideo-content-play-mobile-width;
                    height: $cont06-boxvideo-content-play-mobile-height;
                }

                iframe{
                    width:$cont06-boxvideo-content-iframe-mobile-width;
                    height: $cont06-boxvideo-content-iframe-mobile-height;
                }

            }
        }

        &__cta{
            font: $cont06-cta-font;
            font-weight: $cont06-cta-font-weight;
            color: $cont06-cta-color;
            display: $cont06-cta-display;
            margin: $cont06-cta-margin;
            max-width: $cont06-cta-max-width;
            padding: $cont06-cta-padding;
            background-color: $cont06-cta-background-color;

            @include small-device{
                font: $cont06-cta-font-responsive;
                margin: 36px auto 0;
                width: 147px;
            }

            &:hover{
                color: $cont06-cta-color-hover;
                background-color: $cont06-cta-background-color-hover;

                .cont06__cta__icon{
                    filter: $cont06-cta-icon-filter-hover;
                }
            }
        }
    }
}
