@import 'variables';
/* BEGIN STYLE */

.abou02{
    @include bgpadrao;

    &__container{
        padding:$abou02-container-padding;
    }

    &__boxLeft{
        padding: $abou02-boxleft-padding;
        min-height: $abou02-boxleft-min-height;

        &__subtitle{
            padding: $abou02-boxleft-subtitle-padding;
            max-width: $abou02-boxleft-subtitle-max-width;
            background-color: $color-four;
            font-size: $T4;
            font-family: $font-paragraph;
            color: $color-one;
            font-weight: $weight-700;
            margin-bottom: $abou02-boxleft-subtitle-margin-bottom;
        }
        &__title{
            font-size: $T2;
            color: $color-black;
            font-family: $font-paragraph;
            font-weight: $weight-700;
        }
        &__line{
            margin: $abou02-boxleft-line-margin;
        }
        &__paragraph{
            color: $color-one;
            font-weight: $weight-400;
            font: $paragraph;
        }
        &__paragraph p{
            color: $color-one;
            font-weight: $weight-400;
            font: $paragraph;
            margin-bottom: $abou02-boxleft-paragraph-p-margin-bottom;
        }
        &__cta{
            font: $abou02-cta-font;
            font-weight: $abou02-cta-font-weight;
            color: $abou02-cta-color;
            display: $abou02-cta-display;
            margin-top: $abou02-cta-margin-top;
            max-width: $abou02-cta-max-width;
            padding: $abou02-cta-padding;
            background-color: $abou02-cta-background-color;

            &:hover{
                color: $abou02-cta-color-hover;
                background-color: $abou02-cta-background-color-hover;

                .abou02__boxLeft__cta__icon{
                    filter: $abou02-cta-icon-filter-hover;
                }
            }
        }
        @include small-device{
            padding: $abou02-boxleft-mobile-padding;
            min-height: $abou02-boxleft-mobile-min-height;

            &__subtitle{
                font-size:$T4-mobile;
                margin-bottom: $abou02-boxleft-subtitle-margin-bottom;
                max-width: $abou02-boxleft-subtitle-max-width;
            }
            &__title{
                font-size:$T2-mobile;
            }
            &__line{
                margin-top: $abou02-boxleft-line-margin-top;
                margin-bottom: $abou02-boxleft-line-margin-bottom;
            }
            &__paragraph{
                font: $paragraph-mobile;
            }
            &__paragraph p{
                font: $paragraph-mobile;
            }
        }


    }

    &__boxRight{

        &__item{
            position: relative;
            min-height: 447px;;
            height: 447px;;
        }
        &__description{
            position: $abou02-boxright-description-position;
            top: $abou02-boxright-description-top;
            left: $abou02-boxright-description-left;
            padding: $abou02-boxright-description-padding;
        }
        &__title{
            font-size: $T5;
            color: $color-black;
            font-family: $font-paragraph;
            font-weight: $weight-700;
        }
        &__paragraph{
            color: $color-two;
            font: $paragraph-min;
            font-weight: $weight-400;
        }
        &__paragraph p{
            color: $color-two;
            font: $paragraph-min;
            font-weight: $weight-400;
            margin-bottom: $abou02-boxright-paragraph-p-margin-bottom;
        }
        &__item a{
            color:$color-black;
        }


        .carousel_abou02 .owl-nav{
            display: $carousel-abou02-owl-nav-display;
            margin-top: $carousel-abou02-owl-nav-margin-top;
            gap: $carousel-abou02-owl-nav-gap;
        }
        .carousel_abou02 .owl-nav .owl-prev,
        .carousel_abou02 .owl-nav .owl-next{
            height: $carousel-abou02-owl-nav-prev-next-height;
            width: $carousel-abou02-owl-nav-prev-next-width;
            border-radius: $carousel-abou02-owl-nav-prev-next-border-radius;
            background-color: $color-one;
            @include dflex;
        }
        .carousel_abou02 .owl-nav .owl-prev span,
        .carousel_abou02 .owl-nav .owl-next span{
            color:$carousel-abou02-owl-nav-prev-next-span-color;
            font-size: $carousel-abou02-owl-nav-prev-next-span-font-size;
            height: $carousel-abou02-owl-nav-prev-next-span-height;
        }

        @include small-device{
            padding: $abou02-boxright-mobile-padding;
            margin-top: $abou02-boxright-mobile-margin-top;

            &__item{
                min-height: $abou02-boxright-item-min-height;
                height: $abou02-boxright-item-height;
            }
            &__title{
                font-size: $T5-mobile;
            }
            &__paragraph{
                font: $paragraph-min-mobile;
            }
            &__paragraph p{
                font: $paragraph-min-mobile;
            }
        }

    }

    @include small-device{
        &__container{
            padding:$abou02-container-mobile-padding;
        }
    }
}

// END .abou02

.abou02-page{
    &__header{
        @include bgpadrao;
        height: $abou02-page-header-height;

        .container--abou02-header{
            padding: $abou02-page-header-container-padding;
        }
        &__title{
            font-size: $T1;
            font-family: $font-paragraph;
            color: $color-black;
            margin-bottom: $abou02-page-header-title-margin-bottom;
            font-weight: $weight-700;
        }
        &__subtitle{
            font-size: $T4;
            color: $color-two;
            font-family: $font-paragraph;
            font-weight: $weight-700;
        }
        &__line{
            width: $abou02-page-line-width;
            margin-top: $abou02-page-header-line-margin-top;
        }
        @include small-device{
            &__title{
                font-size: $T2-mobile;
                margin-bottom: $abou02-page-header-title-mobile-margin-bottom;
            }
            &__subtitle{
                font-size: $T4-mobile;
            }
            &__line{
                margin-top: $abou02-page-header-line-mobile-margin-top;
                margin-bottom: $abou02-page-header-line-mobile-margin-bottom;
            }
            &__content{
                padding: $abou02-page-header-content-mobile-padding;
            }
        }
    }
    &__content{
        padding:$abou02-page-content-padding;
    }
    &__content__subtitle{
        font-size: $T4;
        color:$color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
        margin-bottom: $abou02-page-content-subtitle-margin-bottom;
    }
    &__content__title{
        font-size: $T2;
        color:$color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__content__line{
        width: $abou02-page-content-line-width;
        margin-top: $abou02-page-content-line-margin-top;
        margin-bottom: $abou02-page-content-line-margin-bottom;
    }
    &__content__paragraph{
        font:$paragraph;
        color:$color-one;
        font-weight: $weight-400;
    }
    &__content__paragraph p{
        font:$paragraph;
        color:$color-one;
        font-weight: $weight-400;
        margin-bottom: $abou02-page-content-paragraph-p-margin-bottom;
    }
    &__content__paragraph ul{
        display:$abou02-page-content-paragraph-ul-display;
        justify-content: $abou02-page-content-paragraph-ul-justify-content;
        flex-wrap: $abou02-page-content-paragraph-ul-flex-wrap;
        margin: $abou02-page-content-paragraph-ul-margin;
        padding: $abou02-page-content-paragraph-ul-padding;
        margin-top: $abou02-page-content-paragraph-ul-margin-top;
        gap: $abou02-page-content-paragraph-ul-gap;

        li{
            display:$abou02-page-content-paragraph-ul-li-display;
            width: $abou02-page-content-paragraph-ul-li-width;
            min-width: $abou02-page-content-paragraph-ul-li-min-width;
            text-align: $abou02-page-content-paragraph-ul-li-text-align;
            align-items: $abou02-page-content-paragraph-ul-li-align-items;

            &:before{
                content:$abou02-page-content-paragraph-ul-li-before-content;
                width: $abou02-page-content-paragraph-ul-li-before-width;
                height: $abou02-page-content-paragraph-ul-li-before-height;
                display: $abou02-page-content-paragraph-ul-li-before-display;
                background: $color-one;
                border-radius: $abou02-page-content-paragraph-ul-li-before-border-radius;
                margin-right: $abou02-page-content-paragraph-ul-li-before-margin-right;
                flex: $abou02-page-content-paragraph-ul-li-before-flex;
                margin-top: $abou02-page-content-paragraph-ul-li-before-margin-top;
            }
        }
    }
    @include small-device{
        &__content{
            padding:$abou02-page-content-mobile-padding;
        }
        .container--abou02-page{
            padding: $abou02-page-container-mobile-padding;
        }
        &__content_container{
           margin-bottom: $abou02-page-content-container-mobile-margin-bottom;
        }
        &__content__subtitle{
            font-size: $T4-mobile;
        }
        &__content__title{
            font-size: $T2-mobile;
        }
        &__content__line{
            margin-top: $abou02-page-content-line-margin-top;
            margin-bottom: $abou02-page-content-line-margin-bottom;
        }
        &__content__paragraph{
            font:$paragraph-min;
            padding: $abou02-page-content-paragraph-padding;
        }
        &__content__paragraph p{
            font:$paragraph-min;
        }
    }

}


.abou02-page__topic{
    .container--abou02-page__topic{
        padding:$abou02-page-topic-container-padding;
    }
    &__encompass__title{
        font-size: $T2;
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
        margin-bottom: $abou02-page-topic-title-margin-bottom;
    }
    &__encompass__subtitle{
        font-size: $T4;
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__encompass__line{
        margin-top: $abou02-page-topic-encompass-line-margin-top;
        margin-bottom: $abou02-page-topic-encompass-line-margin-bottom;
    }
    &__item{
        position: relative;
        min-height: 487px;
        height: 487px;
    }
    &__description{
        position: $abou02-page-topic-item-description-position;
        top: $abou02-page-topic-item-description-top;
        left: $abou02-page-topic-item-description-left;
        padding: $abou02-page-topic-item-description-padding;
    }
    &__title{
        font-size: $T5;
        color: $color-black;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__paragraph{
        color: $color-two;
        font: $paragraph-min;
        font-weight: $weight-400;
    }
    &__paragraph p{
        color: $color-two;
        font: $paragraph-min;
        font-weight: $weight-400;
        margin-bottom: $abou02-page-topic-item-paragraph-p-margin-bottom;
    }
    &__item a{
        color:$color-black;
    }

    .carousel-abou02-topic{
        margin-top: $carousel-abou02-topic-margin-top;
    }
    .carousel-abou02-topic .owl-nav{
        display: $carousel-abou02-topic-owl-nav-display;
        margin-left: $carousel-abou02-topic-owl-nav-margin-left;
        margin-top: $carousel-abou02-topic-owl-nav-margin-top;
        gap: $carousel-abou02-topic-owl-nav-gap;
    }
    .carousel-abou02-topic .owl-nav .owl-prev,
    .carousel-abou02-topic .owl-nav .owl-next{
        height: $carousel-abou02-topic-owl-nav-prev-next-height;
        width: $carousel-abou02-topic-owl-nav-prev-next-width;
        border-radius: $carousel-abou02-topic-owl-nav-prev-next-border-radius;
        background-color: $color-one;
        @include dflex;
    }
    .carousel-abou02-topic .owl-nav .owl-prev span,
    .carousel-abou02-topic .owl-nav .owl-next span{
        color:$carousel-abou02-topic-owl-nav-prev-next-span-color;
        font-size: $carousel-abou02-topic-owl-nav-prev-next-span-font-size;
        height: $carousel-abou02-topic-owl-nav-prev-next-span-height;
    }

    @include small-device{
        overflow: hidden;
        &__encompass__title{
            font-size: $T2-mobile;
        }
        &__encompass__subtitle{
            font-size: $T4-mobile;
        }
        &__encompass__line{
            margin-top: $abou02-page-topic-encompass-line-mobile-margin-top;
            margin-bottom: $abou02-page-topic-encompass-line-mobile-margin-bottom;
        }
        .container--abou02-page__section{
            padding-top: $abou02-page-topic-container-mobile-padding-top;
        }
        &__content{
            width: $abou02-page-topic-content-mobile-width;
            display: $abou02-page-topic-content-mobile-display;
            margin: $abou02-page-topic-content-mobile-margin;
        }
        &__item_content{
            padding-left:$abou02-page-topic-item-content-mobile-padding-left;
        }
        &__description{
            padding: $abou02-page-topic-description-mobile-padding;
        }
        &__title{
            font-size: $T5-mobile;
        }
        &__paragraph{
            color: $color-two;
            font: $paragraph-min;
        }
        &__paragraph p{
            font: $paragraph-min-mobile;
        }
        .abou02-page__topic .carousel-abou02-topic .owl-nav{
            margin-left: 38%;
        }
    }

    @include small-device{
        .carousel-abou02-topic .owl-nav {
            margin-left: $carousel-abou02-topic-owl-nav-mobile-margin-left;
        }
    }


}
// END .abou02-page

.abou02-page__section{
    .container--abou02-page__section{
        padding-top: $abou02-page-section-container-padding-top;
    }
    &__image{
        height: $abou02-page-section-image-height;
        width: $abou02-page-section-image-width;
        border-radius: $abou02-page-section-image-border-radius;
    }
    &__description{
        padding-left: $abou02-page-section-description-padding-left;
        padding-right:$abou02-page-section-description-padding-right;
    }
    &__title{
        font-size: $T2;
        color: $color-black;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__subtitle{
        font-size: $T4;
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__line{
        margin-top: $abou02-page-section-line-margin-top;
        margin-bottom: $abou02-page-section-line-margin-bottom;
    }
    &__paragraph{
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-400;
    }
    &__paragraph p{
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-400;
        margin-bottom: $abou02-page-section-paragraph-p-margin-bottom;
    }
    &__cta{
        font: $abou02-cta-font;
        font-weight: $abou02-cta-font-weight;
        color: $abou02-cta-color;
        display: $abou02-cta-display;
        margin-top: $abou02-cta-margin-top;
        max-width: $abou02-cta-max-width;
        padding: $abou02-cta-padding;
        background-color: $abou02-cta-background-color;


        &:hover{
            color: $abou02-cta-color-hover;
            background-color: $abou02-cta-background-color-hover;

            .abou02-page__section__cta__icon{
                filter: $abou02-cta-icon-filter-hover;
            }
        }
    }
    @include small-device{
        &__image{
            order: $abou02-page-section-mobile-image-order;
            width: $abou02-page-section-mobile-image-width;
            padding: $abou02-page-section-mobile-image-padding;
            height: $abou02-page-section-mobile-image-height;
        }
        &__description{
            order: $abou02-page-section-mobile-description-order;
            padding: $abou02-page-section-mobile-description-padding;
            margin-bottom: $abou02-page-section-mobile-description-margin-bottom;
        }
        &__title{
            font-size: $T2-mobile;
            margin-bottom: $abou02-page-section-mobile-title-margin-bottom;
        }
        &__subtitle{
            font-size: $T4-mobile;
        }
        &__line{
            margin-top: abou02-page-section-mobile-line-margin-top;
        }
        &__paragraph{
            font-family: $font-paragraph;
        }
        &__paragraph p{
            font-family: $font-paragraph;
        }
    }
}

// END .abou02-page__section



.lightbox-abou02{
    width: $lightbox-abou02-width;
    display: $lightbox-abou02-display;
    padding: $lightbox-abou02-padding;

    &__subtitle{
        font-size: $T4;
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__title{
        font-size: $T2;
        color: $color-one;
        font-family: $font-paragraph;
        font-weight: $weight-700;
    }
    &__line{
        margin-top: $lightbox-abou02-line-margin-top;
        margin-bottom: $lightbox-abou02-line-margin-bottom;
    }
    &__paragraph{
        font: $paragraph;
        color: $color-one;
        font-weight: $weight-400;
    }
    .carousel__button.is-close{
        right: 17px;
        top: 17px;
        left: inherit;
        width: 31px;
        height: 31px;
        background: #000000;
        border-radius: 5px;
        color: $color-white;
        font-size:11px;
    }
    .fancybox__backdrop{
        background: $color-one !important;
    }

    @include small-device{
        text-align: center;
    }
}

// END .lightbox


