// Mixins
@mixin bgpadrao {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin dflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ======= SECTION HOME ======= */

    $abou02-container-padding:99px 0 40px 0 !important;

    // BOXLEFT

    $abou02-boxleft-padding:0 68px;
    $abou02-boxleft-min-height:447px;
    $abou02-boxleft-subtitle-padding:6px 15px;
    $abou02-boxleft-subtitle-max-width:200px;
    $abou02-boxleft-subtitle-margin-bottom:22.03px;
    $abou02-boxleft-line-margin:27px 0 39px 0;
    $abou02-boxleft-paragraph-p-margin-bottom:0;

    //Responsive

    $abou02-boxleft-mobile-padding: 0 45px; 
    $abou02-boxleft-mobile-min-height: auto;
    $abou02-boxleft-subtitle-margin-bottom: 18px;
    $abou02-boxleft-subtitle-max-width: 174px;
    $abou02-boxleft-line-margin-top: 27px;
    $abou02-boxleft-line-margin-bottom: 49px;

    // CTA

    $abou02-cta-font: $paragraph-min;
    $abou02-cta-font-weight: $weight-700;
    $abou02-cta-color: $color-one;
    $abou02-cta-display: flex;
    $abou02-cta-margin-top: 37px;
    $abou02-cta-max-width: 177px;
    $abou02-cta-padding: 10px 15px;
    $abou02-cta-background-color: $bg-soft;

    // HOVER

    $abou02-cta-color-hover: $color-white;
    $abou02-cta-background-color-hover: $bg-black;
    $abou02-cta-icon-filter-hover: invert(1) grayscale(1);


    // BOXRIGHT
    // $abou02-boxright-position: relative;
    // $abou02-boxright-min-height: 447px;
    // $abou02-boxright-height: 447px;

    $abou02-boxright-description-position: absolute;
    $abou02-boxright-description-top: 0;
    $abou02-boxright-description-left: 0;
    $abou02-boxright-description-padding: 48.66px 53px;
    $abou02-boxright-paragraph-p-margin-bottom:0;

    // CARROSSEL
    $carousel-abou02-owl-nav-display: flex;
    $carousel-abou02-owl-nav-margin-top: 30px;
    $carousel-abou02-owl-nav-gap: 0 20.5px;
    $carousel-abou02-owl-nav-prev-next-height: 29px;
    $carousel-abou02-owl-nav-prev-next-width: 29px;
    $carousel-abou02-owl-nav-prev-next-border-radius: 100%;

    $carousel-abou02-owl-nav-prev-next-span-color:#fff;
    $carousel-abou02-owl-nav-prev-next-span-font-size: 32px;
    $carousel-abou02-owl-nav-prev-next-span-height: 58px;

    //Responsive
    $abou02-container-mobile-padding:61px 0 36px 0 !important;

    $abou02-boxright-mobile-padding: 0 44px !important;  
    $abou02-boxright-mobile-margin-top: 43px;

    $abou02-boxright-item-min-height: 414px;
    $abou02-boxright-item-height: 414px;

   
/* ======= PAGE ======= */

    /* ======= SECTION PAGE ======= */
    $abou02-page-content-padding: 51px 0 118px !important;
    $abou02-page-content-subtitle-margin-bottom: 1px;
    $abou02-page-content-line-width:100%; 
    $abou02-page-content-line-margin-top: 20.99px;
    $abou02-page-content-line-margin-bottom: 30.01px;
    $abou02-page-content-paragraph-p-margin-bottom: 0;
    $abou02-page-content-text-align: center;

    $abou02-page-content-paragraph-ul-display:flex;
    $abou02-page-content-paragraph-ul-justify-content: space-between;
    $abou02-page-content-paragraph-ul-flex-wrap: wrap;
    $abou02-page-content-paragraph-ul-margin: 0;
    $abou02-page-content-paragraph-ul-padding: 0;
    $abou02-page-content-paragraph-ul-margin-top: 20px;
    $abou02-page-content-paragraph-ul-gap: 20px 0;

    $abou02-page-content-paragraph-ul-li-display:flex;
    $abou02-page-content-paragraph-ul-li-width: 50%;
    $abou02-page-content-paragraph-ul-li-min-width: 300px;
    $abou02-page-content-paragraph-ul-li-text-align: left;
    $abou02-page-content-paragraph-ul-li-align-items: flex-start;
    
    $abou02-page-content-paragraph-ul-li-before-content: "";
    $abou02-page-content-paragraph-ul-li-before-width: 7px;
    $abou02-page-content-paragraph-ul-li-before-height: 7px;
    $abou02-page-content-paragraph-ul-li-before-display: flex;
    $abou02-page-content-paragraph-ul-li-before-border-radius: 100%;
    $abou02-page-content-paragraph-ul-li-before-margin-right: 8px;
    $abou02-page-content-paragraph-ul-li-before-flex: none;
    $abou02-page-content-paragraph-ul-li-before-margin-top: 5px;

    //Responsive

    $abou02-page-content-mobile-padding:0 !important;
    $abou02-page-container-mobile-padding: 46px 0 81px 0!important;
    $abou02-page-content-container-mobile-margin-bottom: 0;
    $abou02-page-content-line-margin-top: 25px;
    $abou02-page-content-line-margin-bottom: 21px;
    $abou02-page-content-paragraph-padding: 0 30px;

    // HEADER
    $abou02-page-header-height: 352px;
    $abou02-page-header-container-padding: 112px 0 92px 0 !important;
    $abou02-page-header-title-margin-bottom: 25px;
    $abou02-page-line-width: 100%;
    $abou02-page-header-line-margin-top: 28.81px;

    //Responsive
    $abou02-page-header-title-mobile-margin-bottom: 0;
    $abou02-page-header-line-mobile-margin-top: 25px;
    $abou02-page-header-line-mobile-margin-bottom: 21px;
    $abou02-page-header-content-mobile-padding: 46px 0 81px !important;

    /* ======= SECTION TOPIC ======= */

    $abou02-page-topic-container-padding:52px 0  32px 0 !important;
    $abou02-page-topic-title-margin-bottom: 23.97px;
    $abou02-page-topic-encompass-line-margin-top: 26.02px;
    $abou02-page-topic-encompass-line-margin-bottom: 0;

    $abou02-page-topic-item-description-position: absolute;
    $abou02-page-topic-item-description-top: 0;
    $abou02-page-topic-item-description-left: 0;
    $abou02-page-topic-item-description-padding: 48.66px 53px;
    $abou02-page-topic-item-paragraph-p-margin-bottom: 0;

    $carousel-abou02-topic-margin-top: 59.02px;
    $carousel-abou02-topic-owl-nav-display: flex;
    $carousel-abou02-topic-owl-nav-margin-left: 32%;
    $carousel-abou02-topic-owl-nav-margin-top: 35px;
    $carousel-abou02-topic-owl-nav-gap: 0 20.5px;
    
    $carousel-abou02-topic-owl-nav-prev-next-height: 29px;
    $carousel-abou02-topic-owl-nav-prev-next-width: 29px;
    $carousel-abou02-topic-owl-nav-prev-next-border-radius: 100%;

    $carousel-abou02-topic-owl-nav-prev-next-span-color:#fff;
    $carousel-abou02-topic-owl-nav-prev-next-span-font-size: 32px;
    $carousel-abou02-topic-owl-nav-prev-next-span-height: 58px;

    //Responsive

    $abou02-page-topic-encompass-line-mobile-margin-top: 15px;
    $abou02-page-topic-encompass-line-mobile-margin-bottom: 28px;
    $abou02-page-topic-container-mobile-padding-top: 78px;

    $abou02-page-topic-content-mobile-padding-left:38px !important;
    $abou02-page-topic-item-content-mobile-padding-left:0px !important;
    $abou02-page-topic-description-mobile-padding: 48.66px 53px;

    $carousel-abou02-topic-owl-nav-mobile-margin-left: 13%;

    /* ======= SECTION ======= */
    $abou02-page-section-container-padding-top: 68.54px !important;
    $abou02-page-section-image-height: 592px;
    $abou02-page-section-image-width: 429px;
    $abou02-page-section-image-border-radius: 0px; 
    
    $abou02-page-section-description-padding-left: 170.46px;
    $abou02-page-section-description-padding-right:0;

    $abou02-page-section-line-margin-top: 28.91px;
    $abou02-page-section-line-margin-bottom: 39px;
    $abou02-page-section-paragraph-p-margin-bottom: 0;

    //Responsive

    $abou02-page-section-mobile-image-order: 1;
    $abou02-page-section-mobile-image-width: 100%;
    $abou02-page-section-mobile-image-padding: 0 41.33px;
    $abou02-page-section-mobile-image-height: 468.14px;

    $abou02-page-section-mobile-description-order: 0;
    $abou02-page-section-mobile-description-padding: 0 41.33px;
    $abou02-page-section-mobile-description-margin-bottom: 49.43px;

    $abou02-page-section-mobile-title-margin-bottom: 0;
    $abou02-page-section-mobile-line-margin-top: 29px;

/* ======= SHOW ======= */
    /* ======= LIGHTBOX ======= */
    $lightbox-abou02-width: 100%;
    $lightbox-abou02-display: none;
    $lightbox-abou02-padding: 0;

    $lightbox-abou02-line-margin-top: 22px;
    $lightbox-abou02-line-margin-bottom: 61px;









