// Mixins
@mixin bgpadrao {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin dflex(){
    display: flex;
    align-items: center;
    justify-content: center;
}











