@import 'variables';

/* BEGIN STYLE */
.cont13{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 73%);
    }

    .container--cont13{
        padding: 46px 0 120px 0;
        z-index: 100;
        position: relative;

        @include medium-device-down{
            max-width: 100% !important;
            padding: 0 0 120px 0 !important;
        }
    }
    &__header{
        padding-top: 6.73rem;


        &__title {
            font-family: $font-primary;
            font-weight: 700;
            font-size: $T2;
            color: $color-black;
            line-height: normal;
            text-align: center;
    
            @include medium-device-down {
                font-size: $T2-mobile;
            }
        }
        &__subtitle {
            font-family: $font-primary;
            font-weight: 700;
            font-size: $T4;
            color: $color-two;
            line-height: normal;
            text-align: center;
    
            @include medium-device-down {
                font-size: $T4-mobile;
            }
        }
        &__line {
        }
    }
    &__main{
        margin-top: 6.12rem;

        @include medium-device-down{
            margin: 0 auto;
            margin-top: 6.12rem;
            max-width: 90%;
        }
        
        &__left{
            padding-left: 0;
            padding-right: 8rem;

            @include medium-device-down{
                max-width: 100%;
                width: 100%;
                padding: 0;
            }

            &__content{
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem 0.31rem;
                margin-bottom: 4.56rem;

                .pd-carrossel{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem 0.31rem;
                }

                &__box{
                    height: 10.125rem;
                    width: 32.69%;

                    @include small-device-down{
                        width: 48.69%;
                    }
    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            &__rede{
                background-color: $color-one;
                padding: 0.63rem;
                padding-bottom: 1.75rem;
                margin-bottom: 1.19rem;
                text-align: center;


                &__title{
                    font-size: $T3;
                    font-weight: $weight-700;
                    font-family: $font-primary;
                    margin-bottom: 1.19rem;
                }
                &__links{
                    display: flex;
                    gap:0 2.25rem;
                    justify-content: center;
                    flex-wrap: wrap;

                    a{
                        img{
                            width: 2.375rem;
                            height: 2.4375rem;
                            object-fit: contain;
                        }
                    }
                }
            }

            &__paragraph{
                p{

                }
            }
        }
        &__right{
            @include medium-device-down{
                max-width: 100%;
                width: 100%;
                margin-top: 4.13rem;
            }

            &__image{
                width: 100%;
                max-width: 27.8125rem;
                height: auto;
                margin-left: auto;

                @include medium-device-down{
                    margin: 0 auto;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.carousel-cont13 .owl-nav{
    display: flex !important;
    justify-content: flex-start;
    margin-top:2.49rem;
    gap: 0 0.56rem;
}
.carousel-cont13 .owl-nav .owl-prev,
.carousel-cont13 .owl-nav .owl-next{
    width: 2.375rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        height: 30px;
    }
}
// fim-cont13

.lics{
    display: none;
    width: 100%;
    height: auto;
    padding: 5.25rem 4.94rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 73%);
    }

    @include medium-device-down{
        padding: 4.25rem 0;
    }


    .container--lightbox-lics-show{
        z-index: 100;
        position: relative;
    }
    &__main{
            &__left{
                padding-right: 4.69rem;
                padding-left: 0;

                @include medium-device-down{
                    max-width: 100%;
                    width: 100%;
                    padding-right: 0;
                }

                &__header{
                    &__title {
                        font-family: $font-primary;
                        font-weight: 700;
                        font-size: $T2;
                        color: $color-black;
                        line-height: normal;
                
                        @include medium-device-down {
                            font-size: $T2-mobile;
                            text-align: center;
                        }
                    }
                    &__subtitle {
                        font-family: $font-primary;
                        font-weight: 700;
                        font-size: $T4;
                        color: $color-two;
                        line-height: normal;
                
                        @include medium-device-down {
                            font-size: $T4-mobile;
                            text-align: center;
                        }
                    }
                    &__paragraph{
                        max-width: 31.125rem;

                        @include medium-device-down{
                            max-width: 90%;
                            margin: 0 auto;
                        }

                        p{
                            margin-bottom: 0;
                        }
                    }
                    &__line {
                        width: 100%;
                    }
                }
                &__engBox{
                    margin-top: 2.74rem;

                    @include medium-device-down{
                        margin: 0 auto;
                        margin-top: 2.74rem;
                    }

                    &__box{
                        width: 100%;
                        height: 29.0625rem;

                        @include medium-device-down{
                            height: 16.0625rem;
                        }

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

            }
            &__right{
                padding-left: 0;
                padding-right: 0;
                padding-top: 4rem;

                @include medium-device-down{
                    max-width: 90%;
                    width: 100%;
                    margin: 0 auto;
                }


                &__iframe{
                    width: 100%;
                    height: 40.625rem;

                    @include medium-device-down{
                        height: 25.6875rem;
                    }

                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    }
}

.fancybox__slide{
    padding: 0 !important;
}
.lics .carousel__button{
    top: 12px !important;
    right: 12px !important;
    color: #000 !important;
    box-shadow: none !important;
    opacity: 1 !important;
}


.carousel-lics .owl-nav{
    display: flex !important;
    justify-content: flex-start;
    margin-top:2.49rem;
    gap: 0 0.56rem;
}
.carousel-lics .owl-nav .owl-prev,
.carousel-lics .owl-nav .owl-next{
    width: 2.375rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        height: 30px;
    }
}

// fim-lightbox-cont13-show