@import "variables";

/* BEGIN STYLE */
.cont14 {
    @extend %theme__padding;
    display: grid;
    grid-template-areas:
        "title information"
        "categories information";

    grid-template-columns: 30% 60%;
    grid-template-rows: auto 1fr;
    gap: rem(87) rem(124);

    @include large-device-down {
        grid-template-areas:
            "title"
            "categories"
            "information";

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 3rem;
    }

    &__title {
        grid-area: title;
        @extend %theme__t2-cb;
        text-align: left;
        margin-bottom: 0;
    }

    &__categories {
        grid-area: categories;
        overflow: hidden;

        &__item {
            background-color: $color-five;
            border: none;
            outline: none;
            width: 100%;
            height: auto;
            padding: 1rem 2rem;
            @extend %theme__p1-cb;
            font-weight: 700;

            &.active {
                background-color: $color-three;
            }

            @include large-device-down {
                width: fit-content;
            }
        }
    }

    &__information {
        grid-area: information;
        overflow: hidden;

        &__item {
            @include disFlex(column, start, start);

            &__title {
                @extend %theme__t2-cb;
            }

            &__subtitle {
                @extend %theme__t3-c2;

            }

            &__image {
                margin-top: rem(26);
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
                aspect-ratio: 702/395;
            }

            &__iframe {
                margin-top: rem(26);
                width: 100%;
                height: auto;

                aspect-ratio: 702/395;
            }

            &__paragraph {
                @extend %theme__p1-cb;
                margin-top: 2.5rem;
            }
        }
    }
}
