@import "variables";

/* BEGIN STYLE */
.topi102 {
    overflow: hidden; /* prevenção do shift de animação */
    @extend %theme__padding;
    @include disFlex(row, space-between, start);
    flex-wrap: wrap;

    &__header {
        width: 30%;
        @include large-device-down {
            margin-bottom: 2rem;
            width: 100%;
        }
        &__title {
            @extend %theme__t2-c1;
            margin-bottom: 0.25rem;
            text-align: left;

            @include large-device-down {
                text-align: center;
            }
        }
        &__subtitle {
            @extend %theme__t4-c3;
            @include large-device-down {
                text-align: center;
            }
        }
    }

    &__navigation {
        width: 60%;
        height: auto;

        overflow: hidden;
        @include large-device-down {
            overflow: visible;
            width: 100%;
        }

        &__item {
            width: fit-content;
            max-width: 190px;
            height: auto;
            padding: 0.75rem 3rem;

            @include disFlex(column, center, center);

            background-color: $color-four;

            &__count {
                @extend %theme__t3-cb;
                text-align: center;
            }

            &__title {
                @extend %theme__p2-cb;
                text-align: center;
            }
        }
    }

    &__topics {
        margin-top: 3.5rem;

        width: 100%;
        overflow: hidden;

        @include large-device-down {
            overflow: visible;
        }

        &__item {
            position: relative;
            width: 25%;
            height: auto;
            aspect-ratio: 318/484;

            padding: 1.5rem 3rem;

            @include disFlex(column, end, start);

            &::before {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                inset: 0;
                opacity: 0;

                background-color: $color-one;
                content: "";

                transition: opacity ease 0.3s;
            }

            &:hover {
                &::before {
                    opacity: 1;
                    transition: opacity ease 0.3s;
                }
            }

            &:hover &__paragraph {
                max-height: 100%;

                transition: max-height 0.6s ease;
            }
            @include large-device-down {
                width: 33.33%;
            }
            @include medium-device-down {
                width: 50%;
            }
            @include small-device-down {
                width: 80%;
            }

            &__bg {
                position: absolute;
                z-index: -2;
                width: 100%;
                height: 100%;
                inset: 0;

                object-fit: cover;
                object-position: center;
            }

            &__title {
                @extend %theme__t4-c5;
            }

            &__paragraph {
                overflow: hidden;
                height: auto;
                max-height: 0;

                @extend %theme__p1-cw;

                transition: max-height 0.6s ease;
            }
        }

        &__nav {
            @extend %theme__nav;
        }
    }
}

.topi102-show {
    @include backG;
    @include Flex($align: stretch, $justify: space-between);
    width: 95%;
    max-height: 95vh;
    padding: 5%;
    overflow-y: scroll;

    display: none;

    @include large-device-down {
        flex-direction: column-reverse;
        max-height: unset;
    }

    > .carousel__button.is-close {
        top: 1rem;
        right: 1rem;
    }

    &__left {
        @include Flex($direction: column, $align: stretch, $justify: start);
        width: 45%;
        padding-bottom: 10%;

        @include large-device-down {
            width: 100%;
        }
    }

    &__title {
        font-family: $font-primary;
        font-size: $T2;
        font-weight: 700;
        color: $color-black;
        text-align: start;

        @include medium-device-down {
            font-size: $T2-mobile;
        }
    }

    &__subtitle {
        font-family: $font-primary;
        font-size: $T4;
        font-weight: 700;
        color: $color-two;
        text-align: start;

        @include medium-device-down {
            font-size: $T4-mobile;
        }
    }

    &__line {
        border-top: $color-one solid 1px;
        opacity: 1;
        width: 100%;
        margin: 20px 0 34px 0;
    }

    &__description {
        font: $paragraph;
        color: $color-one;
        text-align: left;

        margin-bottom: 24px;

        @include medium-device-down {
            font: $paragraph-mobile;
        }

        p {
            font: inherit;
            color: inherit;
            text-align: inherit;
        }
    }

    &__cta {
        @include Flex;
        gap: 1rem;
        padding: 0.75rem 1.5rem;
        align-self: start;

        background-color: $color-white;
        font: $paragraph;
        font-weight: 700;
        color: $color-two;

        &__icon {
            width: 25px;
            height: auto;
            object-fit: contain;
            object-position: center;
        }
    }

    &__image {
        width: 50%;
        height: auto;
        aspect-ratio: 682/583;

        object-fit: cover;
        object-position: center;

        @include large-device-down {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}
