@import 'variables';

/* BEGIN STYLE */
.topi102 {
    .carousel-topi102 .owl-nav {
        display: flex !important;
        gap: 0 18px;
        justify-content: center;
        margin-top: 27px;
    }

    .carousel-topi102 .owl-nav .owl-prev,
    .carousel-topi102 .owl-nav .owl-next {
        height: 29px;
        width: 29px;
        border-radius: 100%;
        background-color: $color-one;
        @include Flex;
        border: none;
    }

    .carousel-topi102 .owl-nav .owl-prev span,
    .carousel-topi102 .owl-nav .owl-next span {
        color: #fff;
        font-size: 32px;
        height: 32px;
    }

    .container--pd {
        padding: 38px 0 99px 0 !important;

        @include medium-device-down {
            max-width: 100% !important;
            padding: 38px 0 99px 26px !important;
        }
    }

    &__text {
        border-bottom: 1px solid #404040;
        padding-bottom: 26px;
        margin-bottom: 56px;

        @include medium-device-down {
            flex-direction: column;
            border: none;
            padding-bottom: 0;
            margin-bottom: 53px;
        }
    }

    &__encompass {
        @include medium-device-down {
            text-align: center;
            border-bottom: 1px solid #404040;
            padding-bottom: 14px;
            margin-bottom: 24px;
        }

        &__title {
            font-size: $T2;
            color: $color-one;
            font-family: $font-primary;
            font-weight: $weight-700;
            margin-bottom: 10px;

            @include medium-device-down {
                font-size: $T2-mobile;
                margin-bottom: 5px;
            }
        }

        &__subtitle {
            font-size: $T4;
            color: $color-three;
            font-family: $font-primary;
            font-weight: $weight-700;
            margin-bottom: 10px;

            @include medium-device-down {
                font-size: $T4-mobile;
                margin-bottom: 0px;
            }
        }
    }

    @include medium-device-down {
        .carousel-topi02-navigation {
            padding-left: 0 !important;
        }
    }

    &__navigation {
        margin-bottom: 26px;

        ul {
            @include Flex($direction: row);
            gap: 0 64px;

            li {
                @include medium-device-down {
                    width: 76%;
                }

                list-style: none;

                @include Flex($direction: column);
                background: #CACACA;
                padding: 13px 38px;

                .title {
                    font-size: $T3;
                    color: $color-black;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    margin-bottom: 3px;

                    @include medium-device-down {
                        font-size: $T3-mobile;
                    }
                }

                span {
                    font-size: $T5;
                    color: $color-black-opacity;
                    font-family: $font-primary;
                    font-weight: $weight-700;

                    @include medium-device-down {
                        font-size: $T5-mobile;
                    }
                }
            }
        }
    }

    &__content {
        &__box {
            position: relative;

            @include medium-device-down {
                width: 85% !important;
            }

            height:484px;

            &__image {
                width: 100% !important;
                height: 100% !important;

                img {
                    @include Img($ObjectFit: cover);
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            &__description {
                @include Pos;
                @include Flex($direction: column);
                padding: 0 53px;

                &__title {
                    font-size: $T4;
                    color: $color-black;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    margin-bottom: 10px;

                    @include medium-device-down {
                        font-size: $T4-mobile;
                    }
                }

                &__paragraph {
                    // @include medium-device-down  {
                    //     width: 49%;
                    // }


                    p {
                        font-family: $font-primary;
                        font-weight: $weight-400;
                        font: $paragraph;
                        color: #FFFFFF;
                        margin-bottom: 0;

                        @include medium-device-down {
                            font: $paragraph-min;
                        }
                    }
                }
            }
        }
    }
}
