@import "variables";

/* BEGIN STYLE */
.side02 {
    width: 100vw;
    height: 100vh;

    position: fixed;
    inset: 0;
    z-index: 10;

    @extend %theme__padding;
    padding-top: 1rem;
    padding-bottom: 1rem;


    @include disFlex(column, start, center);

    border-bottom: 8px solid $color-two;
    background-color: $color-white;
    list-style: none;

    transform: translate(
        -100%,
        0
    ); /* O default de animaçào da abertura é da esquerda para a direita */

    transition: transform ease 0.6s;

    &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
        background: rgba($color-one, 0.5);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color-one, 0.8);
        &:hover {
            background: $color-one;
        }
    }

    &.open {
        left: 0;
        // transition-duration: 0.6s;

        transform: translate(0, 0);
        transition: transform ease 0.6s;
    }

    /* ANIMAÇÕES DE ABERTURA */
    /* top to bottom - de cima para baixo*/
    &--ttb {
        @extend .side02;
        transform: translate(0, -100%);
    }

    /*right to left - de esquerda para direita*/
    &--rtl {
        @extend .side02;
        transform: translate(100%, 0);
    }

    /* bottom to top - de baixo para cima */
    &--btt {
        @extend .side02;
        transform: translate(0, 100%);
    }

    &__header {
        width: 100%;
        margin-bottom: 2rem;
        @include disFlex(row, space-between, center);

        &__button-close {
            &__icon {
                path {
                    fill: $color-two;
                }

                &:hover {
                    path {
                        fill: $color-one;
                    }
                }
            }
        }
        /*
        &__languages {
            @include disFlex;

            &__item {
                padding: 0.5rem;
                @extend %theme__t5-cb;
                font-weight: 400;
                color: $color-black;
                border-right: 1px solid $color-one;

                &:last-of-type {
                    border: none;
                }

                &:hover {
                    color: $color-four;
                }
            }
        }
        */
    }

    &__logo {
        width: 12.5rem;
        height: auto;
        aspect-ratio: 200/90;

        margin: 0 auto 2.5rem;

        object-fit: contain;
        object-position: center;
    }

    &__navigation {
        width: 100%;
        max-width: 280px;

        margin-bottom: 4.5rem;

        list-style: none;

        @include disFlex(column, center, center);
        gap: 1.5rem;

        &__item {
            position: relative;
            width: fit-content;

            &__link {
                width: 100%;

                @extend %theme__t5-cb;
                text-align: center;

                &:hover,
                &:active,
                &:focus {
                    border-bottom: $color-black;
                }
            }

            &__btn {
                @extend .side02__navigation__item__link;
            }

            &__content {
                left: 50%;
                transform: translate(
                    -50%,
                    0
                ) !important; /*Uso do !important para resetar os valores padrões do .quedinha__content, pois este possui 4 níveis de especificidade*/

                &--sub-menu {
                    top: 100% !important;
                    left: 0 !important;
                    right: unset !important;

                    /* Uso do important para resetar os valores de estilos que são inseridos via JS pelo plugin*/
                }
            }
        }
    }

    &__cta {
        width: fit-content;
        padding: 0.25rem 1.5rem;

        @include disFlex(row, center, center);
        gap: 0.75rem;

        border: solid 1px $color-black;
        border-radius: 0.75rem;

        background-color: $color-black;

        @extend %theme__p1-cw;
        white-space: nowrap;

        // setinha do dropdown (quando houver)
        &::after {
            position: relative;
            top: unset;
            right: unset;
            transform: unset;

            display: block;

            width: 0.5rem;

            background-color: $color-four;
        }
        // corpo do dropdown
        &__content {
            top: 71%;
            padding: 0.75rem;
            border-radius: 0 0 0.5rem 0.5rem;

            // item do dropdown
            &__item {
                @extend %theme__p2-cb;
            }
        }
    }

    &__socials {
        @include disFlex(row, center, center);
        gap: 0.5rem;
        margin: 8.75rem 0 2.75rem;

        &__item {
            width: 1.5rem;
            height: auto;
            aspect-ratio: 1/1;

            &__icon {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__footer {
        @include disFlex(row, center, center);
        gap: 0.5rem;

        &__item {
            @extend %theme__p2-cb;
        }
    }
}
