@import "variables";

.cont08 {
    overflow: hidden; /* Previne o sfhit da animação */
    @extend %theme__padding;
    padding-bottom: 0;
    @include disFlex($justify: space-between, $align: start);

    @include large-device-down {
        flex-direction: column-reverse;
        gap: 80px;
    }

    &__image {
        width: 34%;
        height: auto;
        aspect-ratio: 430/593;
        max-height: 593px;

        align-self: flex-end;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        @include large-device-down {
            width: 100%;
            max-height: 593px;
        }
    }

    &__information {
        width: 53%;
        padding-bottom: 3rem;
        @include disFlex(column);

        @include large-device-down {
            width: 100%;
        }

        &__header {
            width: 100%;
            @include disFlex(column);

            &__title {
                @extend %theme__t2-c1;
                text-align: left;
                margin-bottom: 0.25rem;
            }
            &__subtitle {
                @extend %theme__t4-c3;
                margin-bottom: 2rem;
            }

            &__line {
                width: 100%;
                margin-bottom: 1rem;

                border-top: solid 1px $color-three;
            }
        }

        &__description {
            @extend %theme__p1-cb;
            margin-bottom: 1rem;
        }

        &__topics {
            overflow: hidden;
            margin-bottom: 3rem;

            @include large-device-down {
                overflow: visible;
            }

            &__item {
                @include disFlex(column, center, center);
                gap: 12px;

                /* (quantidade de gap * tamanho do gap / quantidade de elementos) */
                width: calc(33.33% - 58px);

                @include medium-device-down {
                    width: calc(50% - 44px);
                }

                &__icon {
                    width: 3.5rem;
                    height: auto;
                    aspect-ratio: 1/1;
                }

                &__description {
                    @extend %theme__p1-c1;
                    text-align: center;
                    max-width: 166px;
                }
            }
        }

        &__cta {
            @extend %theme__cta;
            margin-left: auto;

            @include large-device-down {
                align-self: center;
            }
        }
    }
}
