@import 'variables';

/* BEGIN STYLE */
@import "variables";

/* BEGIN STYLE */

.cont08 {
    padding: 64px 0 64px 2.5vw;
    @include Flex($justify: space-between, $align: start);
    gap: 152px;

    @include large-device-down{
        flex-direction: column-reverse;
        gap: 80px;
    }

    &__image {
        width: 50%;
        height: 439px;
        margin: 0;
        align-self: flex-end;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include large-device-down {
            width: 100%;
        }
    }

    &__information {
        width: 50%;
        @include Flex($direction: column, $justify: start, $align: stretch);

        @include large-device-down {
            width: 100%;
        }

        &__header {
            margin-bottom: 32px;
            padding: 12px 2.5vw 0 0; /* insrido para colar o carousel à esquerda sem necessidade de overflow-x */
            &__title {
                font-size: $T2;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-black;

                @include medium-device-down {
                    font-size: $T2-mobile;
                    font-weight: $weight-700;
                }
            }
            &__subtitle {
                margin-bottom: 16px;

                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-700;
                color: $color-one;


                @include medium-device-down {
                    font-size: $T4-mobile;
                    font-weight: $weight-700;
                }
            }
            &__line {
                margin-bottom: 16px;
                height: 1px;
                color: $color-two;
            }

        }
        &__description {
            margin-bottom: 42px;

            font: $paragraph-min $weight-400;
            color: $color-one;
            letter-spacing: 0.2px;
            line-height: 140%;
        }

        &__content {
            &__carousel {
                /*              EXPLICAÇÕES
        1. Caso deseje-se controlar a largura das boxes é necessário realizar a adição da propriedade autoWidht: true e inserir os valores width nos items (classe logo abaixo);

        2. .owl-dots adotado como padrão, caso deseje-se alterar basta mudar no js. Não precisa colocar display: none !important para ocultar um e display: flex !important em outro para fazê-lo aparecer;

        3. As classes de ambos já estão inseridas abaixo, basta apenas configurá-las da maneira como o layout solicitar;
*/
                .owl-nav {
                    justify-content: start;
                    .owl-prev,
                    .owl-next {
                        background-color: $color-three !important;
                        &:hover {
                            background-color: $color-one !important;
                        }
                    }
                }

                .owl-dots {
                    display: flex !important;
                    justify-content: start;

                    .owl-dot {
                        width: 16px;
                        height: 16px;
                        border-radius: 0;
                        background-color: $color-three;

                        &.active,
                        &:hover {
                            background-color: $color-one;
                        }
                    }
                }
            }

            &__item {
                @include Flex($direction: column);
                gap: 12px;

                &__icon {
                    /* COM !IMPORTANT POR CONTA DO OWL CAROUSEL */
                    width: 56px !important;
                    height: 56px !important;
                }

                &__description{
                    font: $paragraph;
                    color: $color-one;
                    letter-spacing: 0.2px;
                    max-width: 166px;
                    text-align: center;
                }
            }
        }

        &__cta {
            margin: 48px 2.5vw 0 0;

            align-self: flex-end;

            @include Flex;
            gap: 16px;

            background-color: $color-white;
            color: $color-black;
            padding: 8px 48px;
            text-decoration: none;

            &__icon {
                width: 24px;
                height: 24px;
            }

            &:hover{
                color: $color-white;
                background-color: $bg-black;

                .cont07__cta__icon{
                    filter: invert(1) grayscale(1);
                }
            }

            @include large-device-down {
                align-self: center;
            }
        }
    }
}
