@import "variables";

.cont08 {
    overflow: hidden; /* Previne o sfhit da animação */
    @extend %theme__padding;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 260px;
    @include disFlex($justify: space-between, $align: start);

    @include large-device-down {
        flex-direction: column-reverse;
        gap: 80px;
    }

    &__image {
        width: 34%;
        height: auto;
        aspect-ratio: 430/593;
        max-height: 593px;

        align-self: flex-end;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        @include large-device-down {
            width: 100%;
            max-height: 593px;
        }
    }

    &__information {
        width: 100%;
        @include disFlex(row, space-between, stretch);

        @include large-device-down {
            width: 100%;
        }

        
        &__header {
            width: 44%;
            @include disFlex(column);
            
            &__title {
                color: #1A2069;
                font-family: $font-primary;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 0;
            }
            &__subtitle {
                @extend %theme__t4-c3;
                margin-bottom: 2rem;
            }

            &__line {
                width: 100%;
                margin-bottom: 1rem;

                border-top: solid 1px $color-three;
            }
        }

        &__description {
            color: #242424;
            font-family: $font-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 520px;
                height: 1px;
                background-color: #1A2069;
                right: -77px;
                bottom: -50px;
            }
        }

        &__topics {
            overflow: hidden;
            margin-bottom: 3rem;
            margin-top: 120px;

            @include large-device-down {
                overflow: visible;
            }

            &__swiper-wrapper {
                @include disFlex(row, space-between);
                flex-wrap: wrap;
                gap: 40px;
            }

            &__item {
                @include disFlex(column, center, center);
                gap: 12px;

                /* (quantidade de gap * tamanho do gap / quantidade de elementos) */
                width: calc(50% - 58px);

                &__title {
                    color: #2E368E;
                    text-align: center;
                    font-family: $font-primary;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 0
                }

                &__description {
                    color: #242424;
                    font-family: $font-primary;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }
            }
        }

        &__cta {
            @extend %theme__cta;
            margin-left: auto;

            @include large-device-down {
                align-self: center;
            }
        }
    }
}
.right {
    width: 40%;
}