.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    height: 200px;
    color: #181818;
}

.dropify-wrapper .dropify-message span p {
    font-size: 16px !important;
}

.btn-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 22px;
    color: #98a6ad;
}

.btn-icon:hover {
    color: #fff;
    text-decoration: none;
}

.jq-icon-success {
    background-color: #5ba035;
    border-color: #5ba035;
}

.jq-icon-error {
    background-color: #bf441d;
    color: #dfdfdf;
    border-color: #bf441d;
}

.jq-icon-info {
    background-color: #3b98b5;
    border-color: #3b98b5;
}

.sortable-placeholder {
    height: 61px;
}