@import "variables";

/* BEGIN STYLE */
.cont04 {
    @include backG;
    padding-top: 45px;

    &__header {
        margin-bottom: 70px;

        &__title {
            font-size: $T2;
            font-family: $font-primary;
            font-weight: 700;
            color: $color-one;
            line-height: $font-40;

            @include medium-device-down {
                font-size: $T2-mobile;
            }
        }

        &__subtitle {
            font-size: $T4;
            font-weight: 700;
            font-family: $font-primary;
            color: $color-four;

            @include medium-device-down {
                font-size: $T4-mobile;
            }
        }

        &__line {
            opacity: 1;
            border-top: solid 1px $color-one;
            width: 100%;
        }

        &__desc {
            width: 100%;
            max-width: 1096px;

            font: $paragraph;
            color: $color-two;

            @include medium-device-down {
                font: $paragraph-mobile;
            }
        }
    }

    &__main {
        @include Flex($align: start, $justify: space-between);

        @include small-device-down {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__image {
            height: auto;
            width: 34%;
            object-fit: contain;
            object-position: center bottom;

            @include small-device-down {
                width: 95%;
            }
        }

        &__content {
            width: 52%;

            @include small-device-down {
                width: 95%;
                margin-bottom: 2rem;
            }
        }

        &__subtitle {
            font-size: $T4;
            font-family: $font-primary;
            font-weight: 700;
            color: $color-one;

            @include medium-device-down {
                font-size: $T4-mobile;
            }
        }

        &__title {
            font-size: $T2;
            font-family: $font-primary;
            font-weight: 700;
            color: $color-one;

            @include medium-device-down {
                font-size: $T2-mobile;
            }
        }

        &__line {
            width: 100%;
            opacity: 1;
            margin-bottom: 2rem;
            border-top: solid 1px $color-two;
        }

        &__desc {
            font: $paragraph;
            color: $color-one;

            @include medium-device-down {
                font-size: $paragraph-mobile;
            }
        }

        &__cta {
            @include Flex();
            align-self: end;
            white-space: nowrap;
            background-color: $color-white;
            padding: 10px 34px;
            margin-top: 3rem;
            gap: 15px;

            font: $paragraph;
            font-weight: 700;
            color: $color-one;

            &:hover {
                background-color: $color-one;
                color: $color-white;
            }

            &__icon {
                height: 25px;
                width: 25px;
                object-fit: contain;
                object-position: center;
                @include trans($transition: 0.5s);
            }

            &:hover &__icon {
                filter: brightness(1) contrast(1) invert(1) grayscale(1);
            }
        }
    }
}
