@import "variables";

.port05 {
    @extend %theme__padding;
    overflow: hidden; /* prevenção do shift da animação */

    &__header {
        margin-bottom: 3.25rem;
        &__title {
            @extend %theme__t2-cb;
        }
        &__subtitle {
            @extend %theme__t4-c2;
            text-align: center;
        }
    }

    &__categories {
        margin-bottom: 2.25rem;
        &__item {
            @extend %theme__category;
        }
    }

    &__list {
        @include disFlex(row, start, start);
        flex-wrap: wrap;
        gap: 2rem 1rem;

        &__item {
            margin: 0;
            overflow: hidden;
            position: relative;
            width: calc(33.33% - 11px);
            aspect-ratio: 415/375;

            @include large-device-down {
                width: calc(50% - 0.5rem);
            }

            @include small-device-down {
                width: 100%;
            }

            &:hover &__description {
                translate: -50% 0;
                opacity: 1;

                @include large-device-down {
                    translate: none;
                    opacity: unset;
                }
            }

            &__image {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }

            &__description {
                position: absolute;
                bottom: 0;
                left: 50%;
                translate: -50% 100%;

                padding: 0.5rem 2rem;

                background-color: $color-five;
                @extend %theme__p1-cb;

                opacity: 0;

                transition: translate ease 0.3s, opacity ease 0.3s;
            }
        }
    }

    &__cta {
        @extend %theme__cta;
    }
}

.port05-page {
    &__banner {
        @extend %theme__banner;
        &__title {
            @extend %theme__banner__title;
        }
    }

    &__categories {
        @extend %theme__padding;

        &__swiper-wrapper {
            height: fit-content;
        }

        &__item {
            @extend %theme__category;
        }
    }

    &__list {
        @extend %theme__padding;
        padding-top: 0;
        @extend .port05__list;

        &__item {
            @extend .port05__list__item;

            &__image {
                @extend .port05__list__item__image;
            }

            &__description {
                @extend .port05__list__item__description;
            }
        }
    }
}
