.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    height: 200px;
    color: #181818;
}

.dropify-wrapper .dropify-message span p {
    font-size: 16px !important;
}

.btn-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 22px;
    color: #98a6ad;
}

.btn-icon:hover {
    color: #fff;
    text-decoration: none;
}
