@import 'variables';

/* BEGIN STYLE */
.topi101{
    .container--topic101{
        padding:37px 0 39px 0 !important;

        @include medium-device-down{
            max-width: 100%;
            width: 96%;
        }
    }
    .carousel-topi101 .owl-nav{
        display: flex;
        justify-content: center;
        margin-top: 56px;
        gap: 0 27px;
        width: 84%;

        @include medium-device-down{
            width: 100%;
        }
    }

    .carousel-topi101 .owl-nav .owl-prev{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: $color-one;
        transition: 0.5s all ease;
    }
    .carousel-topi101 .owl-nav .owl-next{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: $color-one;
        transition: 0.5s all ease;
    }
    .carousel-topi101 .owl-nav .owl-next span{
        color:$color-white;
        font-size: 35px;
        line-height: 22px;
        transition: 0.5s all ease;
    }

    .carousel-topi101 .owl-nav .owl-prev span{
        color:$color-white;
        font-size: 35px;
        line-height: 22px;
        transition: 0.5s all ease;
    }
    .carousel-topi101 .owl-nav .owl-prev:hover{
        background: transparent;
        transition: 0.5s all ease;
    }
    .carousel-topi101 .owl-nav .owl-next:hover{
        background: transparent;
        transition: 0.5s all ease;
    }
    .carousel-topi101 .owl-nav .owl-prev:hover span{
        color: $color-one;
        transition: 0.5s all ease;
    }
    .carousel-topi101 .owl-nav .owl-next:hover span{
        color: $color-one;
        transition: 0.5s all ease;
    }
    .carousel-topi101 .owl-item:nth-of-type(even) .topi101__box__top{
        order: 2;
        justify-content: flex-end;

        @include small-device-down{
            height: 162px;
        }
    }
    .carousel-topi101 .owl-item:nth-of-type(even) .topi101__box__bottom{
        order:1;
        justify-content: flex-end;

    }

    .carousel-topi101 .owl-item:nth-of-type(even) .topi101__box__engLine{
        display: flex;
        position: absolute;
        bottom: -72px;
        left: 0;
        width: 100%;
        top: inherit;

        @include medium-device-down{
            bottom: -83px;
        }
    }
    .carousel-topi101 .owl-item:nth-of-type(even) .topi101__box__thickline{
        background: $color-three;
    }

    .carousel-topi101 .owl-item:nth-of-type(even) .topi101__box__thickline::after{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 5px);
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 24px solid $color-three;
        border-top: inherit !important;
        top: -28px;
    }
    .carousel-topi101 .owl-item:nth-of-type(even) .topi101__box__line{
        bottom: -57px;
        transform: translate(-50%, -42%);
        top: inherit;
    }

    &__encompass{
        margin-bottom:57px;

        &__title{
            font-size: $T2;
            font-weight: $weight-700;
            color: $color-one;
            display: block;

            @include medium-device-down{
                font-size: $T2-mobile;
            }
        }
        &__subtitle{
            font-size: $T4;
            font-weight: $weight-700;
            color: $color-three;

            @include medium-device-down{
                font-size: $T4-mobile;
            }
        }
        &__line{
            color: $color-one;
            margin-top: 14px;
        }
    }
    // &__content{
    //     // margin-left: 41px;
    // }
    &__box{
        gap: 114px 0;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        @include medium-device-down{
            gap: 135px 0;
        }
        &__top{
            // margin-bottom: 92px;
            height: 162px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            &__image{
                height: 253px;
                width: 100%;
                display: flex;

                @include small-device-down{
                    height: 161px;
                }

                img{
                    width:100%;
                    height:100%;
                    object-fit:contain;
                }
            }
        }
        &__engLine{
            display: flex;
            position: absolute;
            top: -48px;
            left: 0;
            width: 100%;

            @include medium-device-down{
                top: -57px;
            }
        }
        &__thickline{
            width: 100%;
            height: 5px;
            display: flex;
            background: $color-black;

            &::after{
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 5px);
                width: 0;
                height: 0;
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-top: 24px solid $color-black;
            }
        }
        &__line{
            width: 1px;
            height: 28px;
            display: block;
            background: $color-black;
            position: absolute;
            top: -37px;
            left: 50%;
            transform: translate(-50%, -42%);
        }
        &__bottom{
            height: 162px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;

            &__description{
                display:flex;
                padding: 0 25px;
                align-items: flex-start;
                // padding-top: 23px;
                text-align: center;

                @include medium-device-down{
                    padding-top: 0;
                    padding: 0 !important;
                }

                &__paragraph{
                    font: $paragraph;
                    font-weight: $weight-500;
                    color: $color-two;
                    max-height: 276px;
                    overflow: auto;

                    p{
                        font: $paragraph;
                        font-weight: $weight-500;
                        color: $color-two;
                        margin-bottom:0;

                        @include medium-device-down{
                            font: $paragraph-mobile;
                        }
                    }

                    @include medium-device-down{
                        font: $paragraph-mobile;
                    }

                }
            }
        }
    }
}
