@import 'variables';

/* BEGIN STYLE */
#TOPI01{
    padding: 70px 0;
    @include small-device{
        padding: 35px 0;
    }
    .header-topic{
        text-align: center;
        .container-title{
            margin-bottom: 25px;
            .title{
                font-size: $T2;
                font-family: $font-primary;
                color: $color-one;
                display: block;
            }
            .subtitle{
                font-size: $T4;
                font-family: $font-primary;
                color: $color-three;
                display: block;
            }
        }
        .paragraph{
            width: 60%;
            margin: 0 auto;
            margin-bottom: 50px;
            margin-top: 25px;

            @include small-device{
                width: 90%;
            }
        }
        .line{
            background-color: $color-one;
        }
    }
    .container-box {
        @include small-device{
            width: 70%;
        }
        .owl-stage-outer{
            @include small-device{
                overflow: visible;
            }
        }
        .box-topic{
            padding-right: 0.25rem;
            padding-left: 0.25rem;

            .content{
                padding: 0 20px;
                .container-info{
                    position: relative;
                    z-index: 1;
                    min-height: 240px;
                    .image{
                        img{
                            width: 50px;
                        }
                    }
                    .description{
                        text-align: center;
                        .title{
                            font-size: $T5;
                            font-family: $font-primary;
                            color: $color-black;
                        }
                        .paragraph{
                            font: $paragraph-min;
                            color: $color-two;
                            font-weight: $weight-500;
                        }
                    }
                }

                &:hover{
                    transform: scale(1.01);
                    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
                }
            }
        }
    }
}
