@import "variables";

/* BEGIN STYLE */
.topi01 {
    overflow: hidden; /* prevenção do shift da animação*/
    @extend %theme__padding;

    &__header {
        width: 100%;
        @include disFlex(column, center, center);

        margin-bottom: 3rem;

        &__title {
            @extend %theme__t2-c1;
        }
        &__subtitle {
            @extend %theme__t4-c3;
        }

        &__line {
            width: 100%;
            border-top: solid 1px $color-three;
            margin-bottom: 2rem;
        }

        &__paragraph {
            @extend %theme__p1;
            text-align: center;
        }
    }

    &__topics {
        /* Este bloco existe caso o design solicite que haja overflow hidden. Por padráo, o swiper entrega overflow visible

&__swiper-wrapper {
            overflow: hidden;

            @include large-device-down{
                overflow: visible;
            }
        } */
        &__item {
            position: relative;
            /* Qtde de gaps * tamanho do gap / qtde de elementos */
            width: calc(20% - 7px);
            height: 100%;
            padding: 1rem 2.5rem;

            @include disFlex(column, end, center);

            @include x-large-device-down {
                width: calc(25% - 6px);
            }

            @include large-device-down {
                width: calc(33.33% - 5px);
            }
            @include medium-device-down {
                width: calc(50% - 4px);
            }
            @include small-device-down {
                width: 100%;
            }

            &__bg {
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                object-position: center;
                object-fit: cover;
                z-index: -1; /* envia para o fundo o bg do topico */
            }

            &__icon {
                width: 3rem;
                height: 3rem;
                object-fit: contain;

                margin-bottom: 1.5rem;
            }
            &__title {
                @extend %theme__t5-cb;

                margin-bottom: 0.75rem;
            }
            &__paragraph {
                @extend %theme__p2-c2;
                text-align: center;
            }
        }
    }
}
