@import 'variables';

/* BEGIN STYLE */

#TOPI01 {
    background-color: $topi01_bg_section;
    .header-topic {
        width: $wp-100;
        text-align: $topi01_text_align_header;
        .title {
            font-family: $topi01_title_header;
            font-size: $topi01_size_title_header;
            color: $topi01_color_title_header;
            &:after {
                content: '';
                width: $topi01_width_after_title_header;
                height: $topi01_height_after_title_header;
                background-color: $topi01_color_after_title_header;
                display: block;
                margin: 15px auto;
            }
        }
        p {
            width: $topi01_paragraph_header;
        }
    }
    .wrap-box-topic {
        .box-topic {
            .content {
                display: flex;
                align-items: center;
                border: 1px solid #ccc;
                padding: 22px;
                .image {
                    width: 80px;
                    height: 80px;
                    display: block;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    overflow: hidden;
                }
                .description {
                    width: calc(100% - 80px);
                    padding-left: 20px;
                    .title {
                        font-family: $font-primary;
                        font-size: 14px;
                        color: $text-primary
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        .carousel-box-topic {
            .owl-dots {
                width: 100%;
                text-align: center;
                margin-top: 50px;
                .owl-dot {
                    width: 13px;
                    height: 13px;
                    display: inline-block;
                    margin-right: 19px;
                    background-color: $topi01_dot_bg_color;
                    border-radius: 50%;
                    padding: 0;
                    border: none;
                    transition: ease all 0.3s;
                    &:hover,
                    &.active {
                        background-color: $topi01_dot_bg_color_active;
                        transition: ease all 0.3s;
                    }
                }
            }
        }
    }
}