/* Topic section Settings */

$topi01_bg_section: rgb(243, 243, 243);

/* Begin header */

$topi01_text_align_header: center;

/* Begin header title */

$topi01_title_header: $font-primary;
$topi01_size_title_header: $text-size-primary;
$topi01_color_title_header: $text-primary;
$topi01_width_after_title_header: $wp-20;
$topi01_height_after_title_header: 5px;
$topi01_color_after_title_header: $primary;

/* Begin header paragraph */

$topi01_paragraph_header: $wp-50;

/* Begin topic box */


/* Dot Topic color */

$topi01_dot_bg_color_active: $primary;
$topi01_dot_bg_color: $gray-400;