// HEAD01
$topi01-TOPI01-padding: 70px 0;

// HEADER TOPIC
$topi01-header-topic-text-align: center;

// HEADER CONTAINER
$topi01-header-container-title-margin-bottom: 25px;

// HEADER TITLE
$topi01-header-title-font-size: $T2;
$topi01-header-title-font-family: $font-primary;
$topi01-header-title-color: $color-one;

// HEADER SUBTITLE
$topi01-header-subtitle-font-size: $T4;
$topi01-header-subtitle-font-family: $font-primary;
$topi01-header-subtitle-color: $color-three;

// HEADER PARAGRAPH
$topi01-header-paragraph-width: 60%;
$topi01-header-paragraph-margin: 0 auto;
$topi01-header-paragraph-margin-bottom: 50px;
$topi01-header-paragraph-margin-top: 25px;
// HEADER PARAGRAPH RESPONSIVE
$topi01-header-paragraph-width-responsive: 90%;

// HEADER LINE
$topi01-header-line-background-color: $color-one;

// BOX TOPIC
$topi01-box-topic-padding-right: 0.25rem;
$topi01-box-topic-padding-left: 0.25rem;

// BOX TOPIC CONTENT
$topi01-box-topic-content-padding: 0 20px;

// BOX TOPIC CONTAINER INFO
$topi01-box-topic-container-info-min-height: 240px;

// BOX TOPIC IMAGE
$topi01-box-topic-image-width: 50px;

// BOX TOPIC DESCRIPTION
$topi01-box-topic-description-text-align: center;

// BOX TOPIC TITLE
$topi01-box-topic-title-font-size: $T5;
$topi01-box-topic-title-font-family: $font-primary;
$topi01-box-topic-title-color: $color-black;

// BOX TOPIC PARAGRAPH
$topi01-box-topic-paragraph-font: $paragraph-min;
$topi01-box-topic-paragraph-color: $color-two;
$topi01-box-topic-paragraph-font-weight: $weight-500;
$topi01-box-topic-paragraph-transform-hover: scale(1.01);
$topi01-box-topic-paragraph-box-shadow-hover: 0px 0px 5px 0px rgb(0 0 0 / 25%);
