/* Topic section Settings */


/* Begin header */

$topic_text_align_header: center;

/* Begin header title */

$topic_title_header: $font-primary;
$topic_size_title_header: $text-size-primary;
$topic_color_title_header: $text-primary;
$topic_width_after_title_header: $wp-20;
$topic_height_after_title_header: 5px;
$topic_color_after_title_header: $primary;

/* Begin header paragraph */

$topic_paragraph_header: $wp-50;

/* Begin topic box */


/* Dot Topic color */

$topic_dot_bg_color_active: $primary;
$topic_dot_bg_color: $gray-400;