@import 'variables';

/* BEGIN STYLE */

#footer-bar {
    .title-footer-bar {
        font-family: $font-primary;
        font-size: $footer_bar_title_size;
        color: $footer_bar_title_color;
    }
    .social-footer-bar {
        a:first-of-type {
            margin-left: 0 !important;
        }
    }
    .sitemap-footer-bar {
        .border-sitemap-footer-bar {
            border-right: 1px solid $border-gray-200;
        }
        ul {
            li {
                a {
                    color: $footer_bar_sitemap_link_color;
                    &:hover,
                    &.active {
                        font-weight: $footer_bar_sitemap_link_font_weight_active_hover;
                        color: $footer_bar_sitemap_link_color_active_hover;
                        transition: ease all 0.3s;
                    }
                }
            }
        }
    }
    .contact-footer-bar {
        .phone {
            font-size: $footer_bar_contact_phone_size;
            font-family: $font-secondary;
            font-weight: $footer_bar_contact_phone_font_weight;
        }
    }
}

#credits-footer-bar {
    background-color: $gray-200;
}
