/* Setting Footer Bar */

$footer_bar_title_size: $text-size-tertiary;
$footer_bar_title_color: $text-primary;

/* Sitemap Footer Bar */

$footer_bar_sitemap_link_color: $text-gray-700;
$footer_bar_sitemap_link_color_active_hover: $primary;
$footer_bar_sitemap_link_font_weight_active_hover: bold;

/* Contact Footer bar */

$footer_bar_contact_phone_size: 18px;
$footer_bar_contact_phone_font_weight: $font-weight-primary;
