@import 'variables';

/* BEGIN STYLE */
.link-full {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.serv04{
    padding: 76px 0 33px 0;
        @include medium-device-down{
            padding: 37px 34px 58.16px 34px;
        }

    &__header{


        &__title{
            font-size: $T2;
            color: $color-one;
            font-family: $font-paragraph;
            font-weight: $weight-700;

            @include medium-device-down{
                font-size: $T2-mobile;
                font-weight: $weight-700;
                margin-bottom: 0px;

            }
        }
        &__subtitle{
            font-size: $T4;
            font-family: $font-paragraph;
            color: $color-three;
            font-weight: $weight-700;

            @include medium-device-down{
                font-size: $T4-mobile;
                font-weight: $weight-700;
            }
        }
        &__line{
            margin-top: 22.14px;
            margin-bottom: 29.89px;

            @include medium-device-down{
                margin-top: 22.14px;
                margin-bottom: 29.89px;
            }
        }
        &__paragraph{
            color: $color-two;
            font-weight: $weight-400;
            font: $paragraph;
            max-width: 1036px;
            width: 100%;

            @include medium-device-down{
                font: $paragraph-mobile;
                font-weight: $weight-400;
            }

            p{
                color: $color-two;
                font-weight: $weight-400;
                font: $paragraph;
                margin-bottom: 0;

                @include medium-device-down{
                    font: $paragraph-mobile;
                    font-weight: $weight-400;
                }
            }
        }

    }

    &__content{
        margin-top: 58.01px;
        display: flex;

        .container{
            @include medium-device-down{
                padding: 0 !important;
            }

        }
    }

    &__box{
        position: relative;
        display: flex;
        margin-bottom: 45px;
        box-sizing: border-box;

        @include small-device-down{
            padding: 0 !important;
        }

        &__content{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height:488.33px;
            height: 100%;
            position: relative;
            width: 100%;

            @include small-device-down{
                min-height:402px;
            }

        }
        &__bg{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__description{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 74px 45px;
            text-align: center;
        }
        &__image{
            width: 62.29px;
            height: 62.29px;
            margin-bottom: 35.9px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__title{
            font-size: $T5;
            color: $color-black;
            font-family: $font-paragraph;
            font-weight: $weight-700;
            margin-bottom: 14.03px;

            @include medium-device-down{
                font-size: $T5-mobile;
                font-weight: $weight-700;
                margin-bottom: 11px;

            }
        }
        &__paragraph{
            color: $color-two;
            font-weight: $weight-400;
            font: $paragraph;
            max-width: 890px;
            width: 100%;

            @include medium-device-down{
                font: $paragraph-mobile;
                font-weight: $weight-400;
            }

            p{
                color: $color-two;
                font-weight: $weight-400;
                font: $paragraph;
                margin-bottom: 0;

                @include medium-device-down{
                    font: $paragraph-mobile;
                    font-weight: $weight-400;
                }
            }
        }
        &__cta{
            @include Flex;
            color: $color-black;
            background: $color-five;
            width: 100%;
            max-width: 177px;
            height: 57.38px;
            font-family:$font-primary;
            font-weight: $weight-700;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -10px;

            &__icon{
                height: 25px !important;
                width: 25px !important;
                object-fit:contain;
            }

            @include medium-device-down{
                font: $paragraph-mobile;
                font-weight: $weight-700;
                margin-top: 39px;
                max-width: 177px;
                height: 45px;
            }

            &:hover{
                color: $color-white;
                background-color: $bg-black;

                .serv04__box__cta__icon{
                    filter: invert(1) grayscale(1);
                }
            }
        }
    }
    &__cta{
        @include Flex;
        color: $color-black;
        background: $color-five;
        width: 100%;
        max-width: 177px;
        height: 45px;
        font-family:$font-primary;
        font-weight: $weight-700;
        margin-left: auto;
        margin-top: -21px;

        @include small-device-down{
            margin-top: -32px;
            z-index: 100;
            position: relative;
            font: $paragraph-mobile;
            font-weight: $weight-700;
            margin-top: -34px;
            width: 147px;
            width: 147px;
        }

        &__icon{
            height: 25px !important;
            width: 25px !important;
            object-fit:contain;
        }


        &:hover{
            color: $color-white;
            background-color: $bg-black;

            .serv04__cta__icon{
                filter: invert(1) grayscale(1);
            }
        }
    }
    .carousel-serv04{
        @include medium-device-down{
            margin: 0 auto;
        }
        .owl-stage-outer{
            padding: 0;
        }
        .owl-dots{
            text-align: center;
            margin-top: 17.67px;
            display: flex !important;
            justify-content: center;
            gap: 0 4px;

            @include medium-device-down{
                justify-content: flex-start;
                text-align: left;
            }

            .owl-dot{
                width: 22px;
                height: 22px;
                display: inline-block;
                background-color: #fff;
                margin: 0 5px;
                &.active,
                &:hover{
                    background-color: #969696;
                }
            }
        }
    }
}

// Fim section SERV04
.serv04-page{
    &__header{
        text-align: center;
        background-color: $color-five;
        padding: 84px 0;
        margin: 0;

        @include medium-device-down{
            padding: 54px 0;
        }

        &__container{
            margin-bottom: 25px;
        }
        &__title{
            font-size: $T1;
            font-family: $font-primary;
            color: $color-black;
            font-weight: $weight-700;
            display: block;
            margin-bottom: 17px;

            @include medium-device-down{
                font-size: $T2-mobile;
                font-weight: $weight-700;
            }
        }
        &__paragraph{
            color: $color-two;
            font-weight: $weight-400;
            font: $paragraph;
            max-width: 929px;
            width: 100%;

            @include medium-device-down{
                font: $paragraph-mobile;
                font-weight: $weight-400;
            }

            p{
                color: $color-two;
                font-weight: $weight-400;
                font: $paragraph;
                margin-bottom: 0;

                @include medium-device-down{
                    font: $paragraph-mobile;
                    font-weight: $weight-400;
                }
            }
        }
        &__line{
            width: 100%;
            max-width: 610px;
            background-color: $color-one;
        }
    }
    // END __header
    &__navigation{
        background-color: $color-five;
        border-bottom: 13px solid $color-two;

        .container--navi{
            @include medium-device-down{
                padding: 0;
                margin: 0 auto;
                max-width: 91%;
            }
        }
        ul{
            display: flex;
            align-items: center;
            gap:0 51px;
            list-style: none;

            @include medium-device-down{
                display: none;
            }
        }
        li{
            margin-bottom: 31px;
            position: relative;

            &:after{
                content: '';
                height: 13px;
                background: $color-two;
                width: 100%;
                position: absolute;
                bottom: -47px;
                opacity: 0;
                transition: all 0.3s ease;
            }

            &:hover:after, &.active:after{
                opacity: 1;
                transition: all 0.3s ease;
            }
            a{
                font-size: $T3;
                font-family: $font-primary;
                color: $color-black;
                font-weight: $weight-700;
                display: block;

                @include medium-device-down{
                    font-size: $T3-mobile;
                    font-weight: $weight-400;
                }
            }
        }

        &__select{
            display: none;
            align-items: center;
            margin-bottom: 31px;
            position: relative;

            @include medium-device-down{
                display: flex;
                align-items: center;
            }
            select{
                width: 100%;
                height: 100%;
                font-size: $T3;
                font-family: $font-primary;
                color: $color-black;
                font-weight: $weight-700;
                background: transparent !important;
                border: none !important;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
                text-align: center;
            }
            &:after{
                content: '';
                display: flex;
                width: 0;
                height: 0;
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-top: 22px solid $color-one;
            }
            &:before{
                content: "";
                height: 13px;
                background: #7C7C7C;
                width: 100%;
                position: absolute;
                bottom: -31px;
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
    }

    .container--sepa{
        @include medium-device-down{
            padding: 0;
            margin: 0 auto;
            padding-bottom: 108px;
            max-width: 91%;
        }
    }
    &__content{

    }
    .row--sepa{
        @include medium-device-down{
            flex-direction: column;
        }
    }
    &__box{
        text-align: center;
        padding: 97px 0 226px 0;

        @include medium-device-down{
            padding: 62px 0 33px 0;
        }

        &__description{
            text-align: left;
            padding-left: 54.21px;
            padding-right: 0;

            @include medium-device-down{
                width: 100% !important;
                padding-left: 0 !important;
            }
        }
        &__title{
            font-size: $T2;
            font-family: $font-primary;
            color: $color-black;
            display: block;
            margin-bottom:46px;
            font-weight: $weight-700;

            @include medium-device-down{
                font-size: $T2-mobile;
                font-weight: $weight-700;
                margin-bottom:20px;
            }
        }
        &__paragraph{
            font: $paragraph;
            font-weight: $weight-400;
            color: $color-two;
            line-height: 25px;

            p{
                font: $paragraph;
                font-weight: $weight-400;
                color: $color-two;
                line-height: 25px;

                @include medium-device-down{
                    font: $paragraph-mobile;
                }
            }
            @include medium-device-down{
                font: $paragraph-mobile;
            }
        }
        &__image{
            height: 267px;
            max-width: 198px;
            width: 100%;

            @include medium-device-down{
                margin: 0 auto;
                justify-content: center;
                order: 1;
                margin-top: 61px;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__subcategory{
        background-color: #CACACA;
        display: flex;

        .container--seps{
           padding-bottom: 108px;

           @include medium-device-down{
            padding: 0;
            margin: 0 auto;
            padding-bottom: 108px;
            max-width: 91%;
           }
        }
        &__nav{
            margin-bottom: 100px;
            margin-top: -143px;
        }
        &__eng{
            list-style: none;
        }
        &__box{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            height:286.97px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 95%;

            &__image{
                width: 62.29px !important;
                height: 62.29px !important;
                margin: 0 auto;
                margin-bottom: 35.9px;



                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__description{
                width: 100%;
            }
            &__title{
                font-size: $T3;
                font-family: $font-primary;
                color: $color-black;
                font-weight: $weight-700;
                display: block;
                margin-bottom:0;

                @include medium-device-down{
                    font-size: $T3-mobile;
                    font-weight: $weight-700;
                }
            }
        }

        &__content{
            &__box{
                margin-bottom: 54.32px;
                margin-top: -49px;

                &__image{
                    height: 479px;
                    max-width: 354px;
                    width: 100%;

                    @include medium-device-down{
                        order: 1;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        margin-top: 61px;
                        display: flex;
                        height: 409px;
                        max-width: 302px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &__description{
                    padding-left: 81.38px;
                    padding-right: 0;

                    @include medium-device-down{
                        padding-left: 0;
                    }
                }
                &__title{
                    font-size: $T2;
                    font-family: $font-primary;
                    color: $color-black;
                    display: block;
                    font-weight: $weight-700;

                    @include medium-device-down{
                        font-size: $T2-mobile;
                        font-weight: $weight-700;
                    }
                }
                &__subtitle{
                    font-size: $T4;
                    font-family: $font-primary;
                    color: $color-one;
                    display: block;
                    font-weight: $weight-700;
                    margin-bottom: 17px;

                    @include medium-device-down{
                        font-size: $T4-mobile;
                        margin-bottom: 23px;
                    }
                }
                &__paragraph{
                    font: $paragraph;
                    font-weight: $weight-500;
                    color: $color-one;
                    line-height: 25px;

                    p{
                        font: $paragraph;
                        font-weight: $weight-500;
                        color: $color-one;
                        line-height: 25px;

                        @include medium-device-down{
                            font: $paragraph-mobile;
                        }
                    }
                    @include medium-device-down{
                        font: $paragraph-mobile;
                    }
                }
            }
            .accordion{
                background: transparent !important;
                --bs-accordion-bg:transparent !important;
                border: none !important;
                box-shadow: none !important;
            }
            &__accordion{
                &__boxQuestion{
                    display: flex;
                    background: transparent !important;
                    flex-direction: column;
                    border: none !important;
                    box-shadow: none !important;


                    &__title{
                        font: $paragraph;
                        font-family: $font-primary !important;
                        color: $color-black !important;
                        font-weight: $weight-400 !important;
                        display: block;
                        margin-bottom:0;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        padding-bottom: 31px;
                        border-bottom: 1px solid $color-one !important;
                        background: transparent !important;

                        box-shadow: none !important;

                        @include medium-device-down{
                            font-size: $paragraph-min;
                            font-weight: $weight-400;
                        }
                        &:before{
                            content: '';
                            display: flex;
                            width: 14px;
                            height: 14px;
                            background: $color-one;
                            margin-right: 29px;
                        }
                        &:after{
                            content: '';
                            display: flex;
                            width: 0;
                            height: 0;
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            border-top: 22px solid $color-one;
                        }
                    }
                    &__texto{
                        font: $paragraph;
                        font-weight: $weight-400;
                        color: $color-white;
                        background-color: $color-one;
                        padding: 48px;

                        p{
                            font: $paragraph;
                            font-weight: $weight-400;
                            color: $color-white;

                            @include medium-device-down{
                                font: $paragraph-mobile;
                            }
                        }
                        @include medium-device-down{
                            font: $paragraph-mobile;
                        }
                    }
                }
            }
        }
        .carousel-serv04-page__subcategory .owl-nav{
            display: flex !important;
            @include medium-device-down{
                display: none !important;
            }
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-prev,
        .carousel-serv04-page__subcategory .owl-nav .owl-next{
            position: absolute;
            top:58%;
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-prev{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: $color-one;
            transition: 0.5s all ease;
            left: -76px;
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-next{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: $color-one;
            transition: 0.5s all ease;
            right: -76px;
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-next span{
            color:#fff;
            font-size: 35px;
            line-height: 22px;
            transition: 0.5s all ease;
        }

        .carousel-serv04-page__subcategory .owl-nav .owl-prev span{
            color:#fff;
            font-size: 35px;
            line-height: 22px;
            transition: 0.5s all ease;
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-prev:hover{
            background: transparent;
            transition: 0.5s all ease;
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-next:hover{
            background: transparent;
            transition: 0.5s all ease;
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-prev:hover span{
            color: $color-one;
            transition: 0.5s all ease;
        }
        .carousel-serv04-page__subcategory .owl-nav .owl-next:hover span{
            color: $color-one;
            transition: 0.5s all ease;
        }
    }
    // END __subcategory
}
// END .serv04-page
// .carousel-serv04-page .owl-nav{
//     display: flex;
//     justify-content: center;
//     margin-top: 52px;
//     gap: 0 27px;
// }

// .carousel-serv04-page .owl-nav .owl-prev{
//     width: 40px;
//     height: 40px;
//     border-radius: 100%;
//     background: #fff;
//     transition: 0.5s all ease;
// }
// .carousel-serv04-page .owl-nav .owl-next{
//     width: 40px;
//     height: 40px;
//     border-radius: 100%;
//     background: #fff;
//     transition: 0.5s all ease;
// }
// .carousel-serv04-page .owl-nav .owl-next span{
//     color:#9DAFBD;
//     font-size: 35px;
//     line-height: 22px;
//     transition: 0.5s all ease;
// }

// .carousel-serv04-page .owl-nav .owl-prev span{
//     color:#9DAFBD;
//     font-size: 35px;
//     line-height: 22px;
//     transition: 0.5s all ease;
// }
// .carousel-serv04-page .owl-nav .owl-prev:hover{
//     background: #000;
//     transition: 0.5s all ease;
// }
// .carousel-serv04-page .owl-nav .owl-next:hover{
//     background: #000;
//     transition: 0.5s all ease;
// }
// .carousel-serv04-page .owl-nav .owl-prev:hover span{
//     color: #fff;
//     transition: 0.5s all ease;
// }
// .carousel-serv04-page .owl-nav .owl-next:hover span{
//     color: #fff;
//     transition: 0.5s all ease;
// }


