@import 'variables';

/* BEGIN STYLE */

.serv04{
    
    &__header{
        .container--serv04{
            padding: 51px 0 46px 0;
    
            @include medium-device-down{
                padding: 37px 34px 58.16px 34px;
            }
        }
        &__title{
            font-size: $T1;
            color: $color-one;
            font-family: $font-paragraph;
            font-weight: $weight-700;
            margin-bottom: 20px;
            
            @include medium-device-down{
                font-size: $T1-mobile;
                font-weight: $weight-700;
                margin-bottom: 0px;
                
            }
        }
        &__subtitle{
            font-size: $T3;
            font-family: $font-paragraph;
            color: $color-three;
            font-weight: $weight-700;
            margin-bottom: 22.03px;

            @include medium-device-down{
                font-size: $T3-mobile;
                font-weight: $weight-700;
            }
        }
        &__line{
            margin-top: 25px;
            @include medium-device-down{
                margin: 23px 0; 
            }
        }
        &__paragraph{
            color: $color-one;
            font-weight: $weight-400;
            font: $paragraph;
            max-width: 890px;
            width: 100%;

            @include medium-device-down{
                font: $paragraph-mobile;
                font-weight: $weight-400;
            }

            p{
                color: $color-one;
                font-weight: $weight-400;
                font: $paragraph;
                margin-bottom: 0;

                @include medium-device-down{
                    font: $paragraph-mobile;
                    font-weight: $weight-400;
                }
            }
        }
        
    }

    &__content{
        margin-top: 58.01px;
        display: flex;
    }

    &__box{
        position: relative;
        @include small-device-down{
            padding: 0 !important;
        }

        &__content{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height:488.33px;
            height: 100%;
        }
        &__bg{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
        &__description{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
        }
        &__image{
            width: 62.29px;
            height: 62.29px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}


