@mixin bgpadrao {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

