@import 'variables';

/* BEGIN STYLE */

.feed03{
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;

    .container--feed03{
        padding: 159px 0 69px 0;

        @include small-down{
            padding: 132px 0 42px 0;
        }
    }

    &__header{
        width: 100%;
        border-bottom:1px solid $color-four;
        padding-bottom:45.99px;
        margin-bottom: 80px;

        @include small-down{
            padding-bottom:35px;
            margin-bottom: 59px;
        }

        &__image{
            width:74px;
            height: 74px;
            margin-right: 28px;

            @include small-down{
                width:64px;
                height: 64px;
                margin-right: 24px;
            }
            img{
              object-fit: cover;
            }
        }
        &__texto{
            &__subtitle{
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-700;
                margin-bottom: 10px;
                color:$color-two;

                @include small-down{
                    font-size: $T4-mobile;
                }
            }
            &__title{
                font-size: $T2;
                font-family: $font-primary;
                font-weight: $weight-700;
                color:$color-one;

                @include small-down{
                    font-size: $T2-mobile;
                }
            }
        }
    }
    &__content{
        &__item{
            &__top{
                &__image{
                    width: 55px;
                    height: 55px;

                    @include small-down{
                        width: 50px;
                        height: 50px;
                    }
                }
                &__titulo{
                    font-size: $T4;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    color:$color-black;
                    margin-left: 5px;

                    @include small-down{
                        font-size: $T4-mobile;
                    }
                }
            }
            &__description{
                margin-top: 29px;

                @include small-down{
                    margin-top: 24px;
                }

                p{
                    font: $paragraph;
                    font-family: $font-primary;
                    font-weight: $weight-400;
                    color:$color-black;

                    @include small-down{
                        font: $paragraph-mobile;
                    }
                }
            }
        }
    }
    .carousel-feed03 .owl-nav{
        display: flex;
        justify-content: center;
        margin-top: 52px;
        gap: 0 27px;

        @include small-down {
            margin-top: 59px;
        }
    }

    .carousel-feed03 .owl-nav .owl-prev{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #fff;
        transition: 0.5s all ease;
    }
    .carousel-feed03 .owl-nav .owl-next{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #fff;
        transition: 0.5s all ease;
    }
    .carousel-feed03 .owl-nav .owl-next span{
        color:#9DAFBD;
        font-size: 35px;
        line-height: 22px;
        transition: 0.5s all ease;
    }

    .carousel-feed03 .owl-nav .owl-prev span{
        color:#9DAFBD;
        font-size: 35px;
        line-height: 22px;
        transition: 0.5s all ease;
    }
    .carousel-feed03 .owl-nav .owl-prev:hover{
        background: #000;
        transition: 0.5s all ease;
    }
    .carousel-feed03 .owl-nav .owl-next:hover{
        background: #000;
        transition: 0.5s all ease;
    }
    .carousel-feed03 .owl-nav .owl-prev:hover span{
        color: #fff;
        transition: 0.5s all ease;
    }
    .carousel-feed03 .owl-nav .owl-next:hover span{
        color: #fff;
        transition: 0.5s all ease;
    }
}
