@import 'variables';

/* BEGIN STYLE */

.feed03{
    // background-position: center;
    // background-size: cover;
    // background-repeat:no-repeat;
    @extend %theme__padding;
    padding-top: 0;

    @include large-device-down {
        padding-top: 2rem;
    }

    &__header{
        // width: 100%;
        // border-bottom:1px solid $color-four;
        // padding-bottom:45.99px;
        margin-bottom: 80px;

        @include medium-device-down{
            // padding-bottom:35px;
            margin-bottom: 59px;
        }

        &__texto{

            &__title{
                color: #1A2069;
                font-family: $font-primary;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &__line{
                // margin: 30px auto;
                // color:$color-one;
                color: #1A2069;
                width: 29%;
                margin-top: 2rem;
                position: relative;
                left: -70px;

                @include large-device-down {
                    width: 85%;
                    left: -20px;
                }
            }
        }
    }
    &__content{

        &__item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 44px;

            &__top{
                &__image{
                    width: 142px;
                    height: auto;
                    aspect-ratio: 142/142;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__right {

                &__titulo{
                    color: #242424;
                    font-family: $font-primary;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    margin-bottom: 5px;
                }

                &__subtitulo{
                    color: #95D059;
                    font-family: $font-primary;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    margin-bottom: 10px;
                }

                &__description{
    
                    p{
                        color: #242424;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
