@import 'variables';

/* BEGIN STYLE */

.feed03{
    .container--feed03{
        padding: 159px 0 69px 0;
    }

    &__header{
        width: 100%;
        border-bottom:1px solid $color-four;
        padding-bottom:45.99px;
        margin-bottom: 80px;

        &__image{
            width:74px;
            height: 74px;
            margin-right: 28px;

            img{
              object-fit: cover;
            }
        }
        &__texto{
            &__subtitle{
                font-size: $T4;
                font-family: $font-primary;
                font-weight: $weight-700;
                margin-bottom: 10px;
                color:$color-two;
            }
            &__title{
                font-size: $T2;
                font-family: $font-primary;
                font-weight: $weight-700;
                color:$color-one;
            }
        }
    }
    &__content{
        &__item{
            &__top{
                &__image{
                    width: 55px;
                    height: 55px;
                }
                &__titulo{
                    font-size: $T4;
                    font-family: $font-primary;
                    font-weight: $weight-700;
                    color:$color-black;
                    margin-left: 5px;
                }
            }
            &__description{
                margin-top: 29px;

                p{
                    font: $paragraph;
                    font-family: $font-primary;
                    font-weight: $weight-400;
                    color:$color-black;
                }
            }
        }
    }
    .carousel-feed03 .owl-nav{
        display: flex;
    }
    .carousel-feed03 .owl-nav .owl-next,
    .carousel-feed03 .owl-nav .owl-prev{

    }
    .carousel-feed03 .owl-nav .owl-next{

    }
    .carousel-feed03 .owl-nav .owl-prev{

    }
}
